.tele-fax,.tele-fax select, .tele-fax input{max-width:120px;width:120px;}
.component-width,.component-width select,.component-width input{width:190px}
.ui-fileupload-files,.ui-fileupload-content{border:none;padding:0;margin: 0}
.ui-fileupload-content td{display:none}
.ui-fileupload-progress{text-align: center}
.ui-fileupload-content .ui-progressbar{width:100px}
.no-border-margin,table.no-border-margin td{border-collapse: collapse;border:0;padding: 0;margin: 0;}

.component-width input.hasDatepicker,.component-width,.component-width input,.component-width select{
    width:160px;
}  
.uppercase input{text-transform: uppercase}
.number-entry-4-2 ,.number-entry-10-0{text-align: right}
.dialog-component-width input.hasDatepicker,.dialog-component-width,.dialog-component-width input,.dialog-component-width select{
    width:120px;
}