<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[


                    $(document).ready(function() {
                        $("#tabview1\\:chk_all").attr("checked",true);  
                    });                   

                    function validate_view_status_click(){
                        var v_valid=true;
                        $('#err_cal_from_date').text('');
                        $('#err_cal_to_date').text('');
                        if(check_validation_chk_all()==false){
                            v_valid=false;
                        }
                        if($('#tabview1\\:cal_from_date_input').val()==''){
                            $('#err_cal_from_date').text('Select From Date');
                            v_valid=false;
                        }
                        if($('#tabview1\\:cal_to_date_input').val()==''){
                            $('#err_cal_to_date').text('Select To Date');
                            v_valid=false;
                        }
                        return v_valid;
                    }

                    function check_validation_chk_all(){
                        $("#err_ddl_org_unit_list").text('');
                        if($('#tabview1\\:ddl_org_unit_list_input').val()==''){
                            $("#err_ddl_org_unit_list").text('Please Select Valid Organization Unit Srno');
                            $("#tabview1\\:chk_all").attr("checked",true);
                            return false;
                        }
                        return true;
                    }

                    function chk_for_secondhalf_onstart(){
                        if($('#tabview1\\:chk_for_secondhalf:checked').length==1){
                            document.getElementById('tabview1:rdb_place_secondhalf:0').disabled=false;
                            document.getElementById('tabview1:rdb_place_secondhalf:1').disabled=false;
                        }else if($('#tabview1\\:chk_for_secondhalf:checked').length==0){
                            document.getElementById('tabview1:rdb_place_secondhalf:0').disabled=true;
                            document.getElementById('tabview1:rdb_place_secondhalf:1').disabled=true;
                        }
                    }
                    
                    function validate_dlg_update(){
                        var v_valid=true;
                        if($('#tabview1\\:chk_from_half_input').prop('checked')==false
                            && $('#tabview1\\:chk_to_half_input').prop('checked')==false){
                            alert('first select any Half');
                            v_valid=false;
                        }
                        return v_valid;
                    }
                   
                    function btn_mark_attendance_onSuccess(){
                        $("#tabview1\\:chk_all").attr("checked",true);    
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content" >   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />
                        <p:menuitem value="Utilities" url="#{PIS_GlobalSettings.brTas_utilities}" />
                        <p:menuitem value="Bulk Attendance" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin" align="left">
                            <p:panel header="Daily Update" >
                                <div align="left">
                                    <h:panelGroup id="pnl_detail" >
                                        <div  class="scrolling-div">
                                            <table width="100%" class="element-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="entry-component-label">From Date: <label class="mandatory-text">*</label></td>
                                                        <td><p:calendar id="cal_from_date"
                                                                        value="#{PIS_Daily_Update.cal_from_date}"
                                                                        readonlyInput="true"
                                                                        pages="4"
                                                                        navigator="true"
                                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                                        />
                                                            <br/><div id="err_cal_from_date" class="error-message"/>
                                                        </td>
                                                        <td class="entry-component-label">To Date: <label class="mandatory-text">*</label></td>
                                                        <td><p:calendar id="cal_to_date"
                                                                        readonlyInput="true"
                                                                        value="#{PIS_Daily_Update.cal_to_date}"
                                                                        pages="4"
                                                                        navigator="true"
                                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                                        />
                                                            <br/><div id="err_cal_to_date" class="error-message"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="entry-component-label">Organization Unit No.:<label class="mandatory-text">*</label>
                                                        </td>
                                                        <td colspan="3">
                                                            <p:selectOneMenu id="ddl_org_unit_list"
                                                                             value="#{PIS_Daily_Update.ddl_org_unit_list}"
                                                                             valueChangeListener="#{PIS_Daily_Update.ddl_org_unit_list_valuechange}">
                                                                <f:selectItems value="#{PIS_Daily_Update.ddl_org_unit_list_options}"/>
                                                                <p:ajax event="change"
                                                                        process="ddl_org_unit_list,
                                                                        chk_all"
                                                                        update="picklst_emp,
                                                                        chk_all"/>
                                                            </p:selectOneMenu>
                                                            <br/><div id="err_ddl_org_unit_list" class="error-message"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <p:selectBooleanCheckbox id="chk_all"
                                                                                     label="All Employees"
                                                                                     value="#{PIS_Daily_Update.chk_all}"
                                                                                     valueChangeListener="#{PIS_Daily_Update.chk_all_valuechange}">
                                                                <p:ajax event="change"
                                                                        onstart="if(!check_validation_chk_all()){return false;}"
                                                                        process="chk_all,ddl_org_unit_list"
                                                                        update="picklst_emp"
                                                                        />
                                                            </p:selectBooleanCheckbox>
                                                            <label for="chk_all" class="entry-component-label">All Employees</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="17%" class="entry-component-label">Select Employees: </td>
                                                        <td colspan="3">
                                                            <p:pickList id="picklst_emp"
                                                                        value="#{PIS_Daily_Update.picklst_emp}"
                                                                        effect="bounce"
                                                                        var="lstemp"
                                                                        showSourceControls="true"
                                                                        showTargetControls="true"
                                                                        itemLabel="#{lstemp}"
                                                                        itemValue="#{lstemp}">
                                                                <f:facet name="sourceCaption">All Employees</f:facet>  
                                                                <f:facet name="targetCaption">Selected Employees</f:facet>  
                                                            </p:pickList>
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td colspan="4" height="17px"></td>
                                                    </tr>
                                                    <tr align="center">
                                                        <td colspan="4"><p:commandButton id="btn_view_status"
                                                                                         style="width:170px"
                                                                                         actionListener="#{PIS_Daily_Update.btn_view_status_action}"
                                                                                         value="View Status"
                                                                                         icon="ui-icon-disk"
                                                                                         update="pnl_tbl_view_status,:form1:growl1"
                                                                                         process="chk_all,picklst_emp,
                                                                                         cal_from_date,cal_to_date,
                                                                                         ddl_org_unit_list,btn_view_status"
                                                                                         onclick="return validate_view_status_click()"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup id="pnl_tbl_view_status">
                                        <div  class="scrolling-div component-margin">
                                            <p:dataTable id="tbl_lst_FtasDaily"
                                                         value="#{PIS_Daily_Update.tbl_lst_FtasDaily}"
                                                         paginator="true"
                                                         rows="5"
                                                         paginatorPosition="top"
                                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                         rowsPerPageTemplate="5,10,15"
                                                         var="item">
                                                <p:column headerText="ID">#{item.dly_srg_key}</p:column>
                                                <p:column sortBy="#{item.user_id}" 
                                                          filterBy="#{item.user_id}" 
                                                          headerText="User Id">#{item.user_id}</p:column>
                                                <p:column headerText="Attendance Date">
                                                    <h:outputText  value="#{item.att_date}">
                                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Attendance Time">#{item.att_time}</p:column>
                                                <p:column headerText="First Half">#{item.from_half}</p:column>
                                                <p:column headerText="First Half Time">#{item.from_half_time}</p:column>
                                                <p:column headerText="Second Half">#{item.to_half}</p:column>
                                                <p:column headerText="Second Half Time">#{item.to_half_time}</p:column>
                                                <p:column>
                                                    <p:commandButton id="btn_update"
                                                                     rendered="#{item.to_half==null || item.from_half==null || item.to_half=='Z' || item.from_half=='Z'}"
                                                                     value="Update"
                                                                     process="pnl_tbl_view_status"
                                                                     update="pnl_dlg_update"
                                                                     onclick="pw_dlg_update_rowdata.show();"
                                                                     >
                                                        <f:setPropertyActionListener value="#{item}"
                                                                                     target="#{PIS_Daily_Update.ent_selected_rec}"/>
                                                    </p:commandButton>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <p:dialog id="dlg_update_rowdata"
                                          header="Update Halves"
                                          height="180"
                                          width="400"
                                          widgetVar="pw_dlg_update_rowdata"
                                          >
                                    <h:panelGroup id="pnl_dlg_update">
                                        <table class="element-table" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="20%"></td>
                                                    <td><label for="chk_from_half" class="entry-component-label">From Half:</label>
                                                    </td>
                                                    <td>
                                                        <p:selectBooleanCheckbox id="chk_from_half"
                                                                                 value="#{PIS_Daily_Update.chk_from_half}">

                                                        </p:selectBooleanCheckbox>
                                                    </td>
                                                    <td>
                                                        <p:selectOneRadio id="rdb_dlg_from_half" value="#{PIS_Daily_Update.rdb_dlg_from_half}">
                                                            <f:selectItem itemValue="p" itemLabel="Office" />
                                                            <f:selectItem itemValue="v" itemLabel="Field"/>
                                                        </p:selectOneRadio>
                                                    </td>
                                                    <td width="20%"></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td> <label for="chk_to_half" class="entry-component-label">To Half:</label></td>
                                                    <td><p:selectBooleanCheckbox id="chk_to_half"
                                                                                 value="#{PIS_Daily_Update.chk_to_half}">

                                                        </p:selectBooleanCheckbox></td>
                                                    <td>
                                                        <p:selectOneRadio id="rdb_dlg_to_half" value="#{PIS_Daily_Update.rdb_dlg_to_half}">
                                                            <f:selectItem itemValue="p" itemLabel="Office" />
                                                            <f:selectItem itemValue="v" itemLabel="Field"/>
                                                        </p:selectOneRadio>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="2">
                                                        <p:commandButton id="btn_dlg_update"
                                                                         value="Update"
                                                                         process="pnl_dlg_update"
                                                                         update=":form1:growl1,pnl_tbl_view_status"
                                                                         onstart="return validate_dlg_update()"
                                                                         oncomplete="pw_dlg_update_rowdata.hide();"
                                                                         actionListener="#{PIS_Daily_Update.btn_dlg_update_action}"/>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h:inputHidden id="hdn_user_id" value="#{PIS_Daily_Update.hdn_user_id}"/>
                                        <h:inputHidden id="hdn_oum" value="#{PIS_Daily_Update.hdn_oum}"/>
                                        <h:inputHidden id="hdn_att_date" value="#{PIS_Daily_Update.hdn_att_date}"/>
                                        <h:inputHidden id="hdn_from_half" value="#{PIS_Daily_Update.hdn_from_half}"/>
                                        <h:inputHidden id="hdn_to_half" value="#{PIS_Daily_Update.hdn_to_half}"/>
                                    </h:panelGroup>
                                </p:dialog>
                            </p:panel>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>