<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">

            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" target="_blank">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />   
                        <p:menuitem value="Utilities" url="#{PIS_GlobalSettings.brTas_utilities}" />
                        <p:menuitem value="Unlock Attendance" url="#" />  
                    </p:breadCrumb>  
                    <div class="component-margin">
                        <table class="element-table">
                            <tr>
                                <td class="entry-component-label" style="width:100px">
                                    User Status:
                                </td>                                
                                <td>
                                    <p:selectOneRadio id="rdb_user_status"
                                                      value="#{PIS_Unlock_Attendance.rdb_user_status}"
                                                      valueChangeListener="#{PIS_Unlock_Attendance.rdb_user_status_changed}"                                                      
                                                      >
                                        <p:ajax event="change"
                                                process="rdb_user_status"
                                                update="@form"/>
                                        <f:selectItem itemValue="A" itemLabel="All"/>
                                        <f:selectItem itemValue="C" itemLabel="Active Only"/>
                                        <f:selectItem itemValue="R" itemLabel="Relieved/Terminated"/>
                                    </p:selectOneRadio>
                                </td>
                            </tr>                            
                            <tr>
                                <td class="entry-component-label">
                                    User:
                                </td>                                
                                <td>
                                    <p:selectOneMenu id="ddl_user"
                                                     value="#{PIS_Unlock_Attendance.ddl_user}"
                                                     valueChangeListener="#{PIS_Unlock_Attendance.ddl_user_changed}"
                                                     converter="omnifaces.SelectItemsConverter"
                                                     var="user"
                                                     style="width:200px"
                                                     disabled="#{!PIS_Unlock_Attendance.globalData.systemUserFHRD}"
                                                     >
                                        <p:ajax process="ddl_user"
                                                update="@form"/>
                                        <f:selectItem itemLabel="--- Select ---"
                                                      itemValue="#{null}" 
                                                      itemDisabled="true"/>
                                        <f:selectItems value="#{PIS_Unlock_Attendance.ddl_user_options}"
                                                       itemLabel="#{item.userName}"
                                                       itemValue="#{item}"
                                                       var="item"/>                                       

                                        <p:column>
                                            <h:outputText value="Emp No" rendered="#{user==null}" style="font-weight: bold;white-space: nowrap;"/>
                                            <h:outputText value="#{user.empno}" rendered="#{user!=null}"/>
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="User Id" rendered="#{user==null}" style="font-weight: bold;white-space: nowrap;"/>
                                            <h:outputText value="#{user.userId}" rendered="#{user!=null}"/>
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="User Name" rendered="#{user==null}" style="font-weight: bold;white-space: nowrap;"/>
                                            <h:outputText value="#{user.userName}" rendered="#{user!=null}"/>
                                        </p:column>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr style="#{PIS_Unlock_Attendance.ddl_user==null?'display:none':''}">
                                <td class="entry-component-label">
                                    Attendance Period:
                                </td>
                                <td>
                                    <h:outputText value="#{PIS_Unlock_Attendance.out_unlock_period}"/>

                                </td>
                            </tr>
                            <tr style="#{PIS_Unlock_Attendance.ddl_user==null?'display:none':''}">
                                <td class="entry-component-label">Download Report:</td>
                                <td>
                                    <h:commandButton 
                                        image="http://database.fes.org.in/web-resources/fes-integrated/images/pdf-icon.png"
                                        style="width: 40px;border:none;padding: 10px"
                                        title="Download Previous Leave Balance Report"
                                        actionListener="#{PIS_Unlock_Attendance.runGeneralReport}"
                                        />
                                </td>
                            </tr>
                            <tr style="#{PIS_Unlock_Attendance.ddl_user==null?'display:none':''}">
                                <td>

                                </td>
                                <td>
                                    <p:commandButton icon="ui-icon-disk"                                                     
                                                     value="Unlock Attendance"
                                                     actionListener="#{PIS_Unlock_Attendance.showConfirmDialog}"
                                                     process="@this"
                                                     update="dlg_confirm_change"/>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                    <h:panelGroup id="pnl_dlg_confirm_change">
                        <p:confirmDialog id="dlg_confirm_change"
                                         widgetVar="pw_dlg_confirm_change"
                                         header="Confirmation"
                                         message="#{PIS_Unlock_Attendance.out_confirmation_message}"
                                         width="400"
                                         >
                            <p:commandButton icon="ui-icon-disk"                                                     
                                             value="Unlock Attendance"
                                             actionListener="#{PIS_Unlock_Attendance.btn_save_action}"
                                             process="@this"
                                             update="@form"/>
                            <p:commandButton icon="ui-icon-close" value="Cancel"
                                             onclick="pw_dlg_confirm_change.hide();return false;"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                    <p:growl id="growl1" sticky="true" showDetail="true"/>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

