<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">                
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                    $(document).ready(function() {
                        // $('#pnl_view_pending_emp').hide();
                        // $('#cal_for_month_input').val(new Date());
                    });  
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />   
                        <p:menuitem value="Utilities" url="#{PIS_GlobalSettings.brTas_utilities}" />
                        <p:menuitem value="Attendance Submission" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div  class="component-margin" align="left">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">Organization Unit:<label class="mandatory-text">*</label></td>
                                    <td class="entry-component-detail" >
                                        <p:selectOneMenu id="ddl_oum_unit_srno"
                                                         styleClass="component-width"
                                                         value="#{PIS_Attendance_Lock.ddl_oum_unit_srno}"
                                                         valueChangeListener="#{PIS_Attendance_Lock.ddl_oum_unit_srno_changed}">
                                            <f:selectItems value="#{PIS_Attendance_Lock.ddl_oum_unit_srno_options}"/>
                                            <p:ajax event="change"
                                                    process="@this"
                                                    update="pnl_tbl_emp_list,pnl_tbl_pending_emp_list,growl1"/>
                                        </p:selectOneMenu>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label" width="1px;">For Year:<label class="mandatory-text">*</label></td>
                                    <td><p:selectOneMenu id="ddl_year"
                                                         styleClass="component-width"
                                                         value="#{PIS_Attendance_Lock.ddl_year}"
                                                         valueChangeListener="#{PIS_Attendance_Lock.ddl_year_changed}">
                                            <f:selectItems value="#{PIS_Attendance_Lock.ddl_year_options}" />
                                            <p:ajax
                                                event="change"
                                                process="ddl_year"
                                                update="ddl_month,pnl_tbl_emp_list,pnl_tbl_pending_emp_list,growl1"
                                                />
                                        </p:selectOneMenu>
                                        <br/><div  id="err_year" class="error-message"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">For Month:<label class="mandatory-text">*</label></td>
                                    <td> <p:selectOneMenu id="ddl_month"
                                                          styleClass="component-width"
                                                          value="#{PIS_Attendance_Lock.ddl_month}"
                                                          valueChangeListener="#{PIS_Attendance_Lock.ddl_month_changed}">
                                            <f:selectItems value="#{PIS_Attendance_Lock.ddl_month_options}"/>
                                            <p:ajax event="change"
                                                    process="ddl_month"
                                                    update="pnl_tbl_emp_list,pnl_tbl_pending_emp_list,growl1"
                                                    />
                                        </p:selectOneMenu>
                                        <br/>
                                        <div  id="err_month" class="error-message"/>
                                    </td>
                                </tr>
                            </table>
                            <div class="component-margin">
                                <div align="right">
                                    <p:commandLink id="lnk_view_pending_emp"
                                                   value="Pending Employee List(need to complete attendance for whole month)"
                                                   process="@this"
                                                   update="@this"
                                                   onclick="pw_dlg_view_pending_emp.show();"/>
                                </div>
                                <div style="margin-top: 5px;">
                                    <h:panelGroup id="pnl_tbl_emp_list">
                                        <p:dataTable id="tbl_emp_list"
                                                     value="#{PIS_Attendance_Lock.tbl_emp_list}"
                                                     var="item"
                                                     widgetVar="pw_tbl_emp_list"
                                                     style="width:100%"
                                                     rows="5"
                                                     rowKey="#{item.rowid}"
                                                     paginator="true"
                                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                     rowsPerPageTemplate="5,10,25,50"
                                                     paginatorPosition="top"   
                                                     rowSelectMode="add"
                                                     selection="#{PIS_Attendance_Lock.selectedEmployees}">
                                            <p:column selectionMode="multiple" style="width:18px"/>
                                            <p:column headerText="User Id">#{item.user_id}</p:column>
                                            <p:column headerText="User Name">#{item.user_name}</p:column>
                                            <p:column headerText="From Date">
                                                <h:outputText value="#{item.from_date}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="To Date">
                                                <h:outputText value="#{item.to_date}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Leaves">#{item.leaves}</p:column>
                                            <p:column width="1">
                                                <p:commandButton process="@this"                                                         
                                                                 icon="ui-icon-search"
                                                                 title="View Detail"
                                                                 id="btn_view_detail"
                                                                 onclick="setHighLight(this)"
                                                                 update=":form1:pnl_dlg_view_detail"
                                                                 actionListener="#{PIS_Attendance_Lock.btn_view_detail_click}">
                                                    <f:setPropertyActionListener value="#{item}" 
                                                                                 target="#{PIS_Attendance_Lock.ent_view_detail}"/>
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </div>
                            </div>
                            <div  align="center" class="component-margin">
                                <table width="100%" border="0">
                                    <tr>
                                        <td>
                                            <div align="center"  >
                                                <p:button
                                                    value=" Submit Attendance"
                                                    onclick="if(pw_tbl_emp_list.getSelectedRowsCount()==0){
                                                        SetAndShowDialog('GeneralDialog','Select Employee(s)','Please select atleast one Employee to sumit attendance');                                           
                                                    }else{
                                                        $('#out_confirm_message').text('Total '+pw_tbl_emp_list.getSelectedRowsCount()+' Attendance will be submitted, Do you want to continue?');
                                                        $('#btn_lock').show();
                                                        pw_confirmDialog.show();
                                                    } return false;"                                        
                                                    icon="ui-icon-disk"                                                                                
                                                    />
                                            </div>
                                        </td>
                                    </tr>
                                </table>                                    
                            </div>
                            <p:dialog id="dlg_view_pending_emp"
                                      widgetVar="pw_dlg_view_pending_emp"
                                      header="Pending Employee List(need to complete attendance for whole month)"
                                      modal="true">
                                <h:panelGroup id="pnl_view_pending_emp">
                                    <div class="component-margin">
                                        <h:panelGroup id="pnl_tbl_pending_emp_list">
                                            <p:dataTable id="tbl_pending_emp_list"
                                                         value="#{PIS_Attendance_Lock.tbl_pending_emp_list}"
                                                         var="item"
                                                         widgetVar="pw_pending_tbl_emp_list"
                                                         style="width:100%"
                                                         rows="5"
                                                         paginator="true"
                                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                         rowsPerPageTemplate="5,10,25,50"
                                                         paginatorPosition="top">
                                                <p:column headerText="User Id">#{item.user_id}</p:column>
                                                <p:column headerText="User Name">#{item.user_name}</p:column>
                                                <p:column headerText="From Date">
                                                    <h:outputText value="#{item.from_date}">
                                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="To Date">
                                                    <h:outputText value="#{item.to_date}">
                                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                    </h:outputText>
                                                </p:column>
                                                <p:column headerText="Leaves">#{item.leaves}</p:column>
                                                <p:column headerText="Pending Days">#{item.pending_days}</p:column>
                                                <p:column headerText="Other Reason">#{item.other_reason}</p:column>
                                            </p:dataTable>
                                        </h:panelGroup>

                                    </div>
                                    <br/><br/>
                                </h:panelGroup>
                            </p:dialog>
                        </div>
                        <p:confirmDialog widgetVar="pw_confirmDialog" message="" 
                                         style="width:300px">
                            <f:facet name="message">
                                <h:outputText value="" id="out_confirm_message" />
                            </f:facet>
                            <p:commandButton 
                                id="btn_lock"
                                value="Submit"                              
                                process="btn_lock,pnl_tbl_emp_list"
                                update="growl1,pnl_tbl_emp_list"
                                icon="ui-icon-disk"                                        
                                actionListener="#{PIS_Attendance_Lock.btn_lock_clicked}"                                        
                                oncomplete="pw_confirmDialog.hide()"
                                />
                            <p:commandButton value="Cancel"
                                             onclick="pw_confirmDialog.hide();return false;"/>
                        </p:confirmDialog>
                        <p:dialog id="dlg_view_detail"
                                  widgetVar="pw_dlg_view_detail"
                                  modal="true" 
                                  header="View Applications">
                            <h:panelGroup id="pnl_dlg_view_detail">
                                <div align="left">
                                    <table>
                                        <tr><td class="static-text-label">User Name:</td>
                                            <td class="static-text-detail">#{PIS_Attendance_Lock.ent_view_detail.user_id} - #{PIS_Attendance_Lock.ent_view_detail.user_name}</td></tr>
                                    </table>
                                </div>
                                <p:dataTable
                                    value="#{PIS_Attendance_Lock.tbl_leave_detail}"
                                    var="item" style="width:100%"
                                    rows="5"
                                    paginator="true"
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,25,50"
                                    paginatorPosition="top"            >
                                    <p:column headerText="SrNo." sortBy="#{item.srno}">#{item.srno}</p:column>
                                    <p:column headerText="UserId" sortBy="#{item.userid}">#{item.userId.userId}</p:column>
                                    <p:column headerText="Name" sortBy="#{item.user_name}">#{item.userId.userName}</p:column>
                                    <p:column headerText="From Date-Half" sortBy="#{item.fromDate}">
                                        <h:outputText value="#{item.fromDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                        <br/>                                                                    
                                        <h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />
                                    </p:column>
                                    <p:column headerText="To Date-Half">
                                        <h:outputText value="#{item.toDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                        <br/> 
                                        <h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />
                                    </p:column>
                                    <p:column headerText="Days">#{item.days}</p:column>
                                    <p:column headerText="Application Category">
                                        <h:outputText value="#{(item.applicationFlag=='L')?'LEAVE':(item.applicationFlag=='T')?'TOUR':(item.applicationFlag=='R')?'TRAINING':''}" />
                                    </p:column>
                                    <p:column headerText="Application Type">
                                        <h:outputText value="#{(item.appliType=='S')?'SINGLE':(item.appliType=='C')?'CLUB':''}" />
                                    </p:column>
                                    <p:column headerText="Reason">#{item.reason1}</p:column>
                                </p:dataTable>

                            </h:panelGroup>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

