<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[

                    $(document).ready(function() {
                        $("#chk_all").attr("checked",true); 
                        document.getElementById('rdb_place_firsthalf:0').disabled=true;
                        document.getElementById('rdb_place_firsthalf:1').disabled=true;
                        document.getElementById('rdb_place_secondhalf:0').disabled=true;
                        document.getElementById('rdb_place_secondhalf:1').disabled=true;
                    });                   

                    function check_validation_chk_all(){
                        var v_valid=true;
                        $('#err_cal_from_date').text('');
                        $('#err_cal_to_date').text('');
                        $('#err_chk_for_half').text('');
                        $('#err_ddl_org_unit_list').text('');
                        
                        if($('#cal_from_date_input').val()==''){
                            $('#err_cal_from_date').text('Select From Date');
                            v_valid=false;
                        }
                        if($('#cal_to_date_input').val()==''){
                            $('#err_cal_to_date').text('Select To Date');
                            v_valid=false;
                        }
                        if($('#chk_for_firsthalf').prop('checked')==false
                            && $('#chk_for_secondhalf').prop('checked')==false){
                            $('#err_chk_for_half').text('Select any Half');
                            v_valid=false;
                        }
                        if($('#ddl_org_unit_list_input').val()==''){
                            $('#err_ddl_org_unit_list').text('Please Select Valid Organization Unit Srno');
                            $("#chk_all").attr("checked",true);
                            v_valid=false;
                        }
                        if(v_valid==false){
                            pw_chk_all.check();
                        }
                        return v_valid;
                    }

                    function chk_for_secondhalf_onstart(){
                        if($('#chk_for_secondhalf:checked').length==1){
                            document.getElementById('rdb_place_secondhalf:0').disabled=false;
                            document.getElementById('rdb_place_secondhalf:1').disabled=false;
                        }else if($('#chk_for_secondhalf:checked').length==0){
                            document.getElementById('rdb_place_secondhalf:0').disabled=true;
                            document.getElementById('rdb_place_secondhalf:1').disabled=true;
                        }
                    }

                    function chk_for_firsthalf_onstart(){
                        if($('#chk_for_firsthalf:checked').length==1){
                            document.getElementById('rdb_place_firsthalf:0').disabled=false;
                            document.getElementById('rdb_place_firsthalf:1').disabled=false;
                        }else if($('#chk_for_firsthalf:checked').length==0){
                            document.getElementById('rdb_place_firsthalf:0').disabled=true;
                            document.getElementById('rdb_place_firsthalf:1').disabled=true;
                        }
                    }                    
                    
                    function validate_ok_click(){
                        var v_valid=true;
                        $('#err_cal_from_date').text('');
                        $('#err_cal_to_date').text('');
                        $('#err_chk_for_half').text('');
                        $('#err_picklst_emp').text('');
                        if(check_validation_chk_all()==false){
                            v_valid=false;
                        }
                        if($('#cal_from_date_input').val()==''){
                            $('#err_cal_from_date').text('Select From Date');
                            v_valid=false;
                        }
                        if($('#cal_to_date_input').val()==''){
                            $('#err_cal_to_date').text('Select To Date');
                            v_valid=false;
                        }
                        if($('#chk_for_firsthalf').prop('checked')==false
                            && $('#chk_for_secondhalf').prop('checked')==false){
                            $('#err_chk_for_half').text('Select any Half');
                            v_valid=false;
                        } 
                        if(!$('#chk_all_input').prop('checked')){
                            if($('#picklst_emp_target').val()==null){
                                $('#err_picklst_emp').text('Select Any Employee');
                                v_valid=false;
                            }
                        }
                        
                        return v_valid;
                    }   
                    
                    
                    function btn_mark_attendance_onSuccess(){
                        pw_chk_all.check();                            
                        document.getElementById('rdb_place_firsthalf:0').disabled=true;
                        document.getElementById('rdb_place_firsthalf:1').disabled=true;
                        document.getElementById('rdb_place_secondhalf:0').disabled=true;
                        document.getElementById('rdb_place_secondhalf:1').disabled=true;
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content" >   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />
                        <p:menuitem value="Utilities" url="#{PIS_GlobalSettings.brTas_utilities}" />
                        <p:menuitem value="Bulk Attendance" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin" align="left">                              
                            <div align="left">
                                <p:panel id="pnl_mark_att" header="Mark Bulk Attendance" >
                                    <div  class="scrolling-div">
                                        <h:panelGroup id="pnl_set_employee">
                                            <table class="element-table" width="100%" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="entry-component-label" width="1px">From Date:<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-detail"><p:calendar id="cal_from_date"
                                                                                                       readonlyInput="true"
                                                                                                       value="#{PIS_Bulk_Attendance.cal_from_date}"
                                                                                                       pages="4"
                                                                                                       navigator="true"
                                                                                                       pattern="#{GlobalUtilities.dateFormat}"
                                                                                                       >
                                                                <p:ajax event="dateSelect"
                                                                        listener="#{PIS_Bulk_Attendance.cal_select_event}"
                                                                        process="cal_from_date"
                                                                        update="cal_from_date,cal_to_date,
                                                                        picklst_emp,pnl_tbl_view_unsaved"/>
                                                            </p:calendar>
                                                            <br/><div id="err_cal_from_date" class="error-message"/>
                                                        </td>
                                                        <td class="entry-component-label" width="1px">To Date:<label class="mandatory-text">*</label></td>
                                                        <td width="10px;"><p:calendar id="cal_to_date"
                                                                                      readonlyInput="true"
                                                                                      mindate="#{PIS_Bulk_Attendance.min_to_date}"
                                                                                      value="#{PIS_Bulk_Attendance.cal_to_date}"
                                                                                      pages="4"
                                                                                      navigator="true"
                                                                                      pattern="#{GlobalUtilities.dateFormat}"
                                                                                      >
                                                                <p:ajax event="dateSelect"
                                                                        listener="#{PIS_Bulk_Attendance.cal_select_event}"
                                                                        process="cal_to_date"
                                                                        update="cal_from_date,cal_to_date,pnl_tbl_view_unsaved"/>
                                                            </p:calendar>
                                                            <br/><div id="err_cal_to_date" class="error-message"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="entry-component-label">Presence:<label class="mandatory-text">*</label></td>
                                                        <td style="white-space: nowrap" class="entry-component-detail">
                                                            <table>
                                                                <tr>
                                                                    <td><h:selectBooleanCheckbox id="chk_for_firsthalf"
                                                                                                 value="#{PIS_Bulk_Attendance.chk_for_firsthalf}"
                                                                                                 onchange="chk_for_firsthalf_onstart()"/>
                                                                        <label for="chk_for_firsthalf" class="entry-component-label">First Half</label></td>
                                                                    <td><h:selectOneRadio  id="rdb_place_firsthalf"
                                                                                           style="display:inline;"
                                                                                           value="#{PIS_Bulk_Attendance.rdb_place_firsthalf}"
                                                                                           >
                                                                            <f:selectItems value="#{PIS_Bulk_Attendance.rdb_place_firsthalf_options}"/>
                                                                        </h:selectOneRadio></td>
                                                                </tr>
                                                            </table>
                                                            <br/><div id="err_chk_for_half" class="error-message"/>
                                                        </td>
                                                        <td class="entry-component-label">Presence:<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-detail" style="white-space: nowrap">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <h:selectBooleanCheckbox id="chk_for_secondhalf"
                                                                                                 value="#{PIS_Bulk_Attendance.chk_for_secondhalf}"
                                                                                                 onchange="chk_for_secondhalf_onstart()"/>
                                                                        <label for="chk_for_secondhalf" class="entry-component-label">Second Half</label>
                                                                    </td>
                                                                    <td>
                                                                        <h:selectOneRadio  id="rdb_place_secondhalf"
                                                                                           value="#{PIS_Bulk_Attendance.rdb_place_secondhalf}"
                                                                                           style="display:inline;"
                                                                                           >
                                                                            <f:selectItems value="#{PIS_Bulk_Attendance.rdb_place_secondhalf_options}"/>
                                                                        </h:selectOneRadio>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="entry-component-label">Organization Unit No.:<label class="mandatory-text">*</label></td>
                                                        <td colspan="3">
                                                            <p:selectOneMenu id="ddl_org_unit_list"
                                                                             value="#{PIS_Bulk_Attendance.ddl_org_unit_list}"
                                                                             valueChangeListener="#{PIS_Bulk_Attendance.ddl_org_unit_list_valuechange}">
                                                                <f:selectItems value="#{PIS_Bulk_Attendance.ddl_org_unit_list_options}"/>
                                                                <p:ajax event="change"
                                                                        process="ddl_org_unit_list,chk_all"
                                                                        update="picklst_emp,chk_all,growl1"
                                                                        />
                                                            </p:selectOneMenu>
                                                            <br/><div id="err_ddl_org_unit_list" class="error-message"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <p:selectBooleanCheckbox id="chk_all"
                                                                                     widgetVar="pw_chk_all"
                                                                                     label="All Employees"
                                                                                     value="#{PIS_Bulk_Attendance.chk_all}"
                                                                                     valueChangeListener="#{PIS_Bulk_Attendance.chk_all_valuechange}"
                                                                                     >
                                                                <p:ajax event="change"  
                                                                        onstart="return check_validation_chk_all()"
                                                                        process="chk_all,ddl_org_unit_list,
                                                                        cal_from_date,cal_to_date"
                                                                        update="picklst_emp"
                                                                        />
                                                            </p:selectBooleanCheckbox>
                                                            <label for="chk_all" class="entry-component-label">All Employees</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="17%" class="entry-component-label">Select Employees: </td>
                                                        <td colspan="3">
                                                            <p:pickList id="picklst_emp"
                                                                        value="#{PIS_Bulk_Attendance.picklst_emp}"
                                                                        effect="bounce"
                                                                        var="lstemp"
                                                                        showSourceControls="true"
                                                                        showTargetControls="true"
                                                                        itemLabel="#{lstemp}"
                                                                        itemValue="#{lstemp}">
                                                                <f:facet name="sourceCaption">All Employees</f:facet>  
                                                                <f:facet name="targetCaption">Selected Employees</f:facet>  
                                                            </p:pickList>
                                                            <div id="err_picklst_emp" class="error-message" align="center"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" align="center">
                                                            <p:commandButton id="btn_ok"
                                                                             icon="ui-icon-disk"
                                                                             style="width:170px"
                                                                             process="pnl_set_employee"
                                                                             value="Mark Bulk Attendance"
                                                                             update="growl1,pnl_tbl_view_unsaved,
                                                                             picklst_emp,cal_from_date,cal_to_date,
                                                                             ddl_org_unit_list"
                                                                             onstart="return validate_ok_click()"
                                                                             actionListener="#{PIS_Bulk_Attendance.btn_ok_action}"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </h:panelGroup>
                                    </div>
                                    <div  class="scrolling-div">
                                        <h:panelGroup id="pnl_tbl_view_unsaved" style="display:#{(PIS_Bulk_Attendance.unsaved)?'block':'none'}">
                                            <p:dataTable id="tbl_view_unsaved"
                                                         value="#{PIS_Bulk_Attendance.tbl_view_unsaved}"
                                                         paginator="true"
                                                         rows="5"
                                                         paginatorPosition="top"
                                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                         rowsPerPageTemplate="5,10,15"
                                                         var="item">
                                                <p:column headerText="User Id">#{item.fhrdEmpmst.userId}</p:column>
                                                <p:column headerText="Name">#{item.fhrdEmpmst.userName}</p:column>
                                                <p:column headerText="Date">
                                                    <h:outputText value="#{item.ftasBulkAttTempPK.attddt}">
                                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                    </h:outputText>
                                                </p:column>                                                
                                                <p:column headerText="First Half">#{item.fromHalf}</p:column>
                                                <p:column headerText="Second Half">#{item.toHalf}</p:column>
                                                <p:column headerText="Oum Unit Sr. No.">#{item.oumUnitSrno}</p:column>
                                                <p:column headerText="Failure message">#{item.failureDescription}</p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                    </div>
                                </p:panel>
                            </div>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>