<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <h:head>Redirecting....</h:head>       
    <h:body>
        <f:view contentType="text/html">
            <h:form>
                #{redirect.txt}
            </h:form>
        </f:view>
    </h:body>
</html>