<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>        
        <title>Personnel Information System</title>      
        <link rel="SHORTCUT ICON" href="#{GlobalResources.rsc_title_icon}"/>
        <f:facet name="first">        
            <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
            <meta content="text/html; charset=UTF-8" http-equiv="#{GlobalResources.content_type}"/>                                                
            <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"/>    
            <script type="text/javascript">
                var previous_ou;
            </script>
        </f:facet>                
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin_general_customised}"/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout}"/> 
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout_skin}"/> 
        <style type="text/css">
            #menubar_container .ui-menu,#menubar_container .ui-menuitem-text{font-weight: normal;}
            .ui-widget, html, input, textarea, keygen, select, button {font-size: #{template.font_size}px;}
            #menubar_container .ui-menu li{margin-left: 1px;margin-right: 1px;}
            .ui-menubar .ui-menuitem-text {font-size: #{template.font_size}px!important; top: -1px;}
            .ui-datatable table {table-layout:auto } 
            .ui-datepicker .ui-datepicker-buttonpane button {padding: 6px 10px 6px 10px;font-weight: bold;}
            html button[disabled] span{cursor: not-allowed;}
        </style>            
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_utilities}"/>
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_plg_date_format}"/>
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_primefaces_customised}"/>        
        <script type="text/javascript" src="#{GlobalResources.rsc_js_plg_input_currencyFormatter}"/>
        <ui:insert name="head"></ui:insert>
    </h:head>   
    <h:body>       
        <f:view contentType="text/html">
            <ui:insert name="content">Contents</ui:insert>
            <h:form id="utility_form" prependId="false">
                <script type="text/javascript">
                    var pis_trans_succeed=false;
                </script>
                <div align="left">
                    <h:panelGroup id="pnl_GeneralDialog">
                        <p:dialog  header="#{GlobalUtilities.out_GeneralDialog_header}" widgetVar="pw_GeneralDialog"
                                   modal="true"
                                   hideEffect="#{GlobalResources.generalDialog_show}"
                                   showEffect="#{GlobalResources.generalDialog_hide}"
                                   id="GeneralDialog"                                                   

                                   >
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText id="out_GeneralDialog"
                                              value="#{GlobalUtilities.out_GeneralDialog_detail}" />
                            </h:panelGrid>
                        </p:dialog>            
                    </h:panelGroup>
                </div>
                <p:ajaxStatus onstart="statusDialog.show();" onsuccess="pis_trans_succeed=true;statusDialog.hide();"
                              onerror="pis_trans_succeed=false;statusDialog.hide();ShowConnectionError('GeneralDialog');return false;"/>  
                <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                          draggable="false" closable="false"
                          resizable="false">  
                    <p:graphicImage value="#{GlobalResources.rsc_img_loading_bar}" />  
                </p:dialog>  
            

            </h:form>
        </f:view>
    </h:body>
</html>