<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>        
        <title>Personnel Information System</title>      
        <link rel="SHORTCUT ICON" href="#{GlobalResources.rsc_title_icon}"/>
        <f:facet name="first">        
            <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
            <meta content="text/html; charset=UTF-8" http-equiv="#{GlobalResources.content_type}"/>                                                
            <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"/>    
            <script type="text/javascript">
                var previous_ou;
            </script>
        </f:facet>                
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin_general_customised}"/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout}"/> 
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout_skin}"/> 
        <style type="text/css">
            div.custom-tooltip{font-size: 13px;padding:8px}
            #menubar_container .ui-menu,#menubar_container .ui-menuitem-text{font-weight: normal;}
            .ui-widget, html, input, textarea, keygen, select, button {font-size: #{template.font_size}px;}
            #menubar_container .ui-menu li{margin-left: 1px;margin-right: 1px;}
            .ui-menubar .ui-menuitem-text {font-size: #{template.font_size}px!important; top: -1px;}
            .ui-datatable table {table-layout:auto } 
            .ui-datepicker .ui-datepicker-buttonpane button {padding: 6px 10px 6px 10px;font-weight: bold;}
            html button[disabled] span{cursor: not-allowed;}
        </style>            
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_utilities}"/>                
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_plg_date_format}"/>
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_primefaces_customised}"/>        
        <script type="text/javascript" src="#{GlobalResources.rsc_js_plg_input_currencyFormatter}"/>
        <ui:insert name="head"></ui:insert>
    </h:head>   
    <h:body>       
        <f:view contentType="text/html">
            <div class="container" align="center">
                <center>
                    <div width="100%"  align="center">
                        <div id="top">
                            <h:form prependId="false" id="template_form_header">
                                <table border="0" width="100%"
                                       class="page-header"
                                       cellpadding="0" cellspacing="0"  >
                                    <tbody>
                                        <tr>
                                            <td align="left" width="170px">

                                                <a href="http://www.fes.org.in" style="outline:none;" target="_blank" class="fes-logo"/>                                                

                                            </td>
                                            <td align="left">

                                                <div style="margin-top:0px;white-space:nowrap;">
                                                    <h:outputText style="font-weight:bold;text-transform:capitalize" value="#{template.user_name}" id="user_name"/>
                                                    <label > | </label>
                                                    <a id="hyp_signout"   onclick="window.location.href='#{GlobalResources.project_path}'+'Logout'" style="cursor: pointer">Log out</a>
                                                    <br />                                                  
                                                    <h:commandLink   value="(Settings)" onclick="pw_dlg_theme_selection.show();return false;"/>                                                    
                                                    <p:dialog id="dlg_theme_selection" widgetVar="pw_dlg_theme_selection"
                                                              modal="true">
                                                        <table class="element-table"><tr><td>
                                                                    <label class="static-text-label">Theme:</label>
                                                                </td>
                                                                <td>
                                                                    <p:selectOneMenu value="#{template.selectedTheme}" id="ddl_themes"
                                                                                     style="width:90px">

                                                                        <f:selectItem itemValue="light-blue" itemLabel="Default"/>
                                                                        <f:selectItem itemValue="blue1" itemLabel="Blue"/>
                                                                        <f:selectItem itemValue="clean-weather" itemLabel="Clean Weather"/>
                                                                        <f:selectItem itemValue="rocket" itemLabel="Dark Night"/>
                                                                        <f:selectItem itemValue="green" itemLabel="Green"/>
                                                                        <f:selectItem itemValue="blue" itemLabel="Old Style"/>
                                                                        <f:selectItem itemValue="iasc" itemLabel="Red"/>
                                                                        <f:selectItem itemValue="pink" itemLabel="Pink"/>
                                                                        <f:selectItem itemValue="black" itemLabel="Black"/>  

                                                                    </p:selectOneMenu>
                                                                </td></tr>
                                                            <tr>
                                                                <td class="static-text-label">Font Size:</td>
                                                                <td>
                                                                    <p:selectOneMenu id="ddl_font_size" value="#{template.font_size}" 
                                                                                     style="width:90px">
                                                                        <f:selectItem itemValue="10" itemLabel="Small"/>
                                                                        <f:selectItem itemValue="11" itemLabel="Medium"/>
                                                                        <f:selectItem itemValue="12" itemLabel="Large"/>
                                                                    </p:selectOneMenu>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <p:commandButton
                                                                        value="Save Settings"
                                                                        icon="ui-icon-disk"
                                                                        onclick="pw_dlg_theme_selection.hide()"
                                                                        actionListener="#{template.changeTheme}"
                                                                        process="@this,ddl_themes,ddl_font_size"
                                                                        update="@this"
                                                                        oncomplete="window.location.reload();"/>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </p:dialog>

                                                </div>

                                            </td>
                                            <td align="right">
                                                <div align="right">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td align="right">
                                                                    <p style="font-weight: bold">Organisation Unit :</p>
                                                                </td>
                                                                <td align="left" >
                                                                    <h:selectOneMenu id="ddl_organisation_unit" 
                                                                                     value="#{template.ddl_organisation_unit}"
                                                                                     style="width:280px;"
                                                                                     onfocus="previous_ou=$('#template_form_header #ddl_organisation_unit').val();"
                                                                                     onchange="pw_dlg_ou_confirmation.show();$('#btn_change_organisation_unit').focus();
                                                                                     ">
                                                                        <f:selectItems value="#{template.ddl_organisation_unit_options}" />
                                                                    </h:selectOneMenu>
                                                                    <p:confirmDialog id="dlg_ou_confirmation"
                                                                                     widgetVar="pw_dlg_ou_confirmation"
                                                                                     message="Page will be refreshed"
                                                                                     width="300"                                                                                     
                                                                                     >
                                                                        <p:commandButton id="btn_change_organisation_unit"                                                                                         
                                                                                         value="OK" actionListener="#{template.btn_change_organisation_unit_clicked}"
                                                                                         onclick="pw_dlg_ou_confirmation.hide();"
                                                                                         ajax="true"
                                                                                         oncomplete="window.location.reload();"/>
                                                                        <p:commandButton value="Cancel" onclick="
                                                                            $('#template_form_header #ddl_organisation_unit').val(previous_ou);
                                                                            pw_dlg_ou_confirmation.hide();return false;"/>
                                                                    </p:confirmDialog>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                            <td width="2%"></td>
                                        </tr>
                                    </tbody>
                                </table>                            
                            </h:form>       
                            <div align="left" id="menubar_container">
                                <h:form  id="template_form_menubar" >
                                    <p:menubar id="system_menubar" model="#{template.menuModel}"/>
                                    <script type="text/javascript">
                                        $('#menubar_container').find('li').addClass('ui-state-default');
                                        $('#menubar_container').find('.ui-menubar').addClass('ui-widget-header');
                                    </script>
                                    <p:calendar style="display:none" id="cal1"/>

                                </h:form>
                                <h:form id="utility_form" prependId="false">
                                    <script type="text/javascript">
                                        var pis_trans_succeed=false;
                                    </script>
                                    <div align="left">
                                        <h:panelGroup id="pnl_GeneralDialog">
                                            <p:dialog  header="#{GlobalUtilities.out_GeneralDialog_header}" widgetVar="pw_GeneralDialog"
                                                       modal="true"
                                                       hideEffect="#{GlobalResources.generalDialog_show}"
                                                       showEffect="#{GlobalResources.generalDialog_hide}"
                                                       id="GeneralDialog"                                                   

                                                       >
                                                <h:panelGrid columns="2" cellpadding="5">
                                                    <h:outputText id="out_GeneralDialog"
                                                                  value="#{GlobalUtilities.out_GeneralDialog_detail}" />
                                                </h:panelGrid>
                                            </p:dialog>            
                                        </h:panelGroup>
                                    </div>
                                    <p:ajaxStatus onstart="statusDialog.show();" onsuccess="pis_trans_succeed=true;statusDialog.hide();"
                                                  onerror="pis_trans_succeed=false;statusDialog.hide();ShowConnectionError('GeneralDialog');return false;"/>  
                                    <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                                              draggable="false" closable="false"
                                              resizable="false">  
                                        <p:graphicImage value="#{GlobalResources.rsc_img_loading_bar}" />  
                                    </p:dialog>  
                                    <div class="template-jumpto"> 
                                        <p:commandButton id="btn_template_system_list" 
                                                         value="Systems List" 
                                                         type="button"                                                           
                                                         icon="ui-icon-triangle-1-s" 
                                                         iconPos="right"/> 
                                        <p:overlayPanel  styleClass="system-list-overlay" for="btn_template_system_list" hideEffect="fade"> 
                                            <h:outputText escape="false" value="#{systemsList.systemListHtml}"/> 
                                            <script type="text/javascript"> 
                                                $('.template-jumpto .system-list a').hover(function(){$(this).addClass('ui-state-default');$(this).css('border','none');},function(){$(this).removeClass('ui-state-default')});                 
                                            </script> 

                                        </p:overlayPanel> 
                                    </div> 

                                </h:form>
                            </div>                            

                        </div>
                    </div>
                    <div class="page-content" align="left">             
                        <ui:insert name="content">Contents</ui:insert>
                    </div>
                    <div class="footer-gap"></div>
                </center>
            </div>
            <div class="footer" align="center" >
                <table border="0" class="footer-table ui-widget-header" cellpadding="0px" cellspacing="0px" style="font-weight: normal;font-size: 11px">
                    <tbody >
                        <tr  align="center">
                            <td align="center" valign="middle" >
                                <div >
                                    <p class="footer-note">
                                        <a href="https://database.fes.org.in/fes-integrated/" target="_blank" style="font-weight: bold">FES Integrated Systems</a>
                                        | <a  href="#"  style="font-weight: bold">Help</a>
                                        | Created By <a href="http://www.fes.org.in" target="_blank" style="font-weight: bold">Foundation For Ecological Security</a> (Version : #{applicationProperties.version})
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </f:view>
    </h:body>
</html>