<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">    
                <h:form id="form1" prependId="false">
                    <p:commandButton value="TT"
                                     update="dlg_attendance_summary"/>
                    <h:panelGroup id="pnl_dlg_attendance_summary">
                    <fhrd:dlg_attendance_summary id="dlg_attendance_summary" userId="222"/>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

