<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsfExt="http://java.sun.com/jsf/extensions/dynafaces"
      >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"></link>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_stylesheet}"></link>
        <title>Financial Information System</title>
        <p:resources/>         
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin_modified}"></link>
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_utilities}"></script>
    
    </head>
    <body >
        <f:view contentType="text/html">
            <div class="FESBreadcrumbdiv">
                <table class="FESBreadcrumb" cellpadding="0" cellspacing="0" >
                    <tr valign="middle">
                        <td valign="middle">
                            <a href="#" id="hyperlink1">Financial Information System</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="container" align="center" >
                <div class="FESBreadcrumbHeaderGap">
                </div>                
                <div class="component-margin" align="left">
                    
                     <p:panel header="Foundation for Ecological Security">
                        <h:form prependId="false">                            
                            <br/>
                            <p:imageSwitch effect="FadeIn" widgetVar="fadein" slideshowAuto="false">
                                <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature1.jpg" />
                                <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature2.jpg" />
                                <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature3.jpg" />
                                <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature4.jpg" />
                            </p:imageSwitch>
                            <br/>
                            <p:commandButton onclick="fadein.previous();return false;" value="Previous"/>
                            <p:commandButton onclick="fadein.next();return false;" value="Next"/>
                            <br/>

                            <br/>
                            <p:accordionPanel autoHeight="false">
                                <p:tab title="About">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature1.jpg" width="100" height="100"/>
                                        <h:outputText
                                            value="These are text about FES" />
                                    </h:panelGrid>
                                </p:tab>
                                <p:tab title="CO-ORDINATOR OFFICE">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature2.jpg" height="100" width="100"/>
                                        <h:outputText value="Some Text About Co-ordinator office"></h:outputText>
                                    </h:panelGrid>
                                </p:tab>
                                <p:tab title="Others">
                                    <h:panelGrid columns="2" cellpadding="10">
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/nature3.jpg" height="100" width="100"/>
                                        <h:outputText value="Some Other things to be described here"></h:outputText>
                                    </h:panelGrid>
                                </p:tab>
                            </p:accordionPanel>
                        </h:form>
                    </p:panel>
                </div>
                <div class="footer_gap"></div>
            </div>
            <div class="footer" align="center">
                <table border="0" width="100%" class="footer_table ui-widget-header" cellpadding="0px" cellspacing="0px"  >
                    <tbody >
                        <tr  align="center">
                            <td align="center" valign="middle">
                                <div >
                                    <p class="footer_note"><a href="#">Help</a>
                                        | Created By <a href="http://www.fes.org.in" target="_blank">Foundation for Ecological Security</a></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </f:view>
    </body>
</html>
