<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                
                    function check_user_id(){
                        var  v_user_id=$('#txt_user_id').val();
                        var v_lbl_empnm_err=$('#lbl_empnm_err');
                        if(v_user_id==null || v_user_id==""){
                            $('#err_txt_user_id').show();
                            v_lbl_empnm_err.text("");
                            return false;
                        }else{ 
                            $('#err_txt_user_id').hide();
                            v_lbl_empnm_err.text("");
                            return true;
                        }    
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="View" url="#{PIS_GlobalSettings.brView}" />  
                        <p:menuitem value="Employee Leave Rule" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div align="left" class="component-margin scrolling-div">
                            <h:panelGroup id="pnl_user_detail" >
                                <table class="element-table" width="100%">
                                    <tr>
                                        <td width="1" class="entry-component-label">User Id:<label class="mandatory-text" >*</label></td>
                                        <td>
                                            <p:inputText tabindex="1" id="txt_user_id"
                                                         size="5"                                                                  
                                                         value="#{PIS_Emp_Leaverule.txt_user_id}"
                                                         valueChangeListener="#{PIS_Emp_Leaverule.txt_user_id_processValueChange}" 
                                                         onchange="if(!check_user_id()){return false;}">
                                                <p:ajax event="change"   
                                                        process="txt_user_id"
                                                        update="growl1,
                                                        lbl_username,lbl_empnm_err,pnl_tbl_emp_leaverule" />
                                            </p:inputText>
                                            <h:outputLabel styleClass="static-text-detail"
                                                           id="lbl_username"
                                                           style="margin-left: 5px;"
                                                           value="#{PIS_Emp_Leaverule.lbl_username}"/>
                                            <h:outputLabel  id="lbl_empnm_err"
                                                            styleClass="error-message"
                                                            style="margin-left:10px;"
                                                            value="#{PIS_Emp_Leaverule.lbl_empnm_err}" />
                                        </td>
                                        <td width="100px" class="static-text-label"></td>
                                        <td>                                          
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                            <div  class="component-margin">
                                <h:panelGroup id="pnl_tbl_emp_leaverule"
                                              style="display:#{PIS_Emp_Leaverule.lbl_username!=null?'block':'none'}">
                                    <p:dataTable id="tbl_emp_leaverule"
                                                 value="#{PIS_Emp_Leaverule.tbl_emp_leaverule}"
                                                 var="item">
                                        <p:column headerText="User Id">#{item.userId.userId}</p:column>
                                        <p:column headerText="Leavecode">#{item.elrSrgKey.lmSrgKey.leaveDesc}</p:column>
                                        <p:column headerText="Start Date"><h:outputText value="#{item.startDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="Opening Date"><h:outputText value="#{item.openingDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="Closing Date"><h:outputText value="#{item.closingDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="End Date"><h:outputText value="#{item.endDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="No of Leave">#{item.currentBal}</p:column>
                                        <p:column headerText="Min Taken">#{item.elrSrgKey.minTaken}</p:column>
                                        <p:column headerText="Max Taken">#{item.elrSrgKey.maxTaken}</p:column>
                                        <p:column>
                                            <p:commandButton process="@this"
                                                             icon="ui-icon-search"
                                                             id="btn_view_detail"
                                                             onclick="setHighLight(this)"
                                                             update=":form1:pnl_view_emp_leaverule"
                                                             actionListener="#{PIS_Emp_Leaverule.btn_view_detail_click}">
                                                <f:setPropertyActionListener value="#{item}" 
                                                                             target="#{PIS_Emp_Leaverule.ent_view_empleaverule}"/>
                                            </p:commandButton>
                                        </p:column>     
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                            <div class="component-margin">
                                <p:panel id="pnl_view_emp_leaverule"
                                         style="display:#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey!=null?'block':'none'}"
                                         closable="true"
                                         header="Detail">
                                    <table width="100%" border="1" class="element-table">
                                        <tr>
                                            <td class="static-text-label" width="1">Group:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.rmgmSrgKey.managGroupDesc}</td>
                                            <td class="static-text-label" width="1">Contract:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.ecgmSrgKey.cmSrgKey.contractDesc}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">No. of Leave:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.noOfLeave}</td>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                        </tr>  
                                        <tr>
                                            <td class="static-text-label">Start Date:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{PIS_Emp_Leaverule.ent_view_empleaverule.startDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </td>
                                            <td class="static-text-label">End Date:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{PIS_Emp_Leaverule.ent_view_empleaverule.endDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Opening Date:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{PIS_Emp_Leaverule.ent_view_empleaverule.openingDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </td>
                                            <td class="static-text-label">Closing Date:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{PIS_Emp_Leaverule.ent_view_empleaverule.closingDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Max Taken:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.maxTaken}</td>
                                            <td class="static-text-label">Min Taken:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.minTaken}</td>
                                        </tr> 
                                        <tr>
                                            <td class="static-text-label">Gender:</td>
                                            <td class="static-text-detail"><h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.genderFlag=='A')?'All':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.genderFlag=='F')?'Female':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.genderFlag=='M')?'Male':''}"/></td>
                                            <td class="static-text-label">Balance renewal date:</td>
                                            <td class="static-text-detail"><h:outputText value="#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.balanceRenewalOpeningDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText></td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Balance Earn Type:</td>
                                            <td class="static-text-detail"><h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.balanceEarnType=='P')?'Pre':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.balanceEarnType=='O')?'Post':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.balanceEarnType=='C')?'Continue':''}"/></td>
                                            <td class="static-text-label">Parent Leave Srno.</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.parentLrSrgKey.lrSrgKey}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Carry Forward:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.carryForward=='Y')?'Yes':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.carryForward=='N')?'No':''}"/>
                                            </td>
                                            <td class="static-text-label">Carry Forward Maximum:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.carryForwardMax}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Remaining Balance:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.carryForwardRemaining=='L')?'Laps':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.carryForwardRemaining=='E')?'Encash':''}"/>
                                            </td>
                                            <td class="static-text-label">Days per Leave Balance Comparison:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.daysPerLeaveBalComparison}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Leave Opening Balance:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.leaveOpenBal}</td>
                                            <td class="static-text-label">Proposed Opening Balance:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.proposedOpeningbal}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Parent Carry Forward:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentCarryForward=='Y')?'Yes':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentCarryForward=='N')?'No':''}"/>
                                            </td>
                                            <td class="static-text-label">Parent Carry Forward Max:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentCarryForwardMax}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Parent Remaining Balance:</td>
                                            <td class="static-text-detail">
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentCarryforwardRemaining=='L')?'Laps':''}"/>
                                                <h:outputText value="#{(PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentCarryforwardRemaining=='E')?'Encash':''}"/>
                                            </td>
                                            <td class="static-text-label">Parent Leave Ratio:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.parentLeaveRatio}</td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">Deduct Days:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.deductDays}</td>
                                            <td class="static-text-label">Deduct Leaves:</td>
                                            <td class="static-text-detail">#{PIS_Emp_Leaverule.ent_view_empleaverule.elrSrgKey.deductLeaves}</td>
                                        </tr>                                     
                                      <!--  <tr>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                            <td class="static-text-label"></td>
                                            <td class="static-text-detail"></td>
                                        </tr>  -->
                                    </table>
                                </p:panel>
                            </div>
                            <!--<div class="component-margin">
                                <p:panel id="pnl_view_emp_leavebal">
                                    
                                </p:panel>
                            </div>-->
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>
