<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .fare-detail-calendar input{width:115px;}
                    .add-detail-button{padding-top:10px;padding-bottom:15px}
                    .component-width,.component-width input,.component-width select{width:180px;}
                </style>
                <script type="text/javascript">
                    //<![CDATA[

                    function setNumericEntry(){
                        $('.number-entry-5-0').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false});                                                        
                    }
              

                    function isUserValid(){
                        if($('#txt_user_id').val().trim()==''){
                            $('#err_txt_user_id').text('Please enter valid user id');
                            return false;
                        }else{ 
                            $('#err_txt_user_id').text('');
                            return true;
                        }    
                    }


                    function validateEntry() {
                        var valid=true;
                        if(!isUserValid()){valid=false;}
                        if($('#txt_encash_leaves').val().trim()=='' ||
                            $('#out_current_balance').text().trim()==''||
                            $('#txt_remarks').val().trim()==''){                            
                            valid=false;                            
                        }
                        if(!valid){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields')  
                        }else{
                            if(stringToFloat($('#txt_encash_leaves').val().trim())>stringToFloat($('#out_current_balance').text().trim())){
                                SetAndShowDialog('GeneralDialog','Validation Failed','Cannot encash leave(s) more than its current balance.')  
                                valid=false;
                            }                        
                        }
                        return valid;

                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transactions" url="#{PIS_GlobalSettings.brPis_trans}"/>                           
                        <p:menuitem value="Time Attendance" url="#{PIS_GlobalSettings.brPis_trans_tas}"/>  
                        <p:menuitem value="Encashment Application" url="#" />  
                    </p:breadCrumb>  
                    <div class="component-margin" align="left">
                        <p:outputPanel styleClass="emplist-selection" rendered="#{PIS_GlobalSettings.systemUser_FHRD}">                       
                            <p:panel header="Encashment Application" id="pnl_encashment_application">
                                <table class="element-table">
                                    <tr>
                                        <td width="1px" style="white-space:nowrap;" 
                                            class="static-text-label">User ID:<label class="mandatory-text" >*</label>
                                        </td>
                                        <td style="min-width: 250px">
                                            <p:inputText tabindex="1" id="txt_user_id"                                                                 
                                                         styleClass="number-entry-5-0"      
                                                         size="5"
                                                         value="#{encashment_application.txt_user_id}"
                                                         valueChangeListener="#{encashment_application.txt_user_id_changed}" 
                                                         >
                                                <p:ajax event="change"                                                                   
                                                        process="txt_user_id"
                                                        update="@(.emplist-selection)" />
                                            </p:inputText>
                                            <p:commandLink id="lnk_emplist_working_ouwise"
                                                           value="(Users List)"                                                                   
                                                           process="@this"
                                                           style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                           update="pnl_dlg_emplist"                                                         
                                                           actionListener="#{encashment_application.lnk_view_emplist}"
                                                           />
                                            <div>
                                                <h:outputText id="err_txt_user_id"
                                                              class="error-message"  value="#{encashment_application.err_txt_user_id}"/>                                                        
                                            </div>


                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td class="static-text-label">
                                            User Name:
                                        </td>
                                        <td>
                                            #{encashment_application.selectedUser.empno} - #{encashment_application.selectedUser.userName}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1px" class="entry-component-label"  style="white-space: normal">
                                            Designation (Team/Group):
                                        </td>
                                        <td style="#{encashment_application.selectedUser==null?'display:none':''}">
                                            #{encashment_application.selectedUser.dsgmSrgKey.desigDesc} (#{encashment_application.selectedUser.postingOumUnitSrno.oumName})
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Leave:<span class="error-message">*</span>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_leave_period"
                                                             widgetVar="pw_ddl_leave_period"
                                                             value="#{encashment_application.ddl_leave_period}"
                                                             valueChangeListener="#{encashment_application.ddl_leave_period_changed}"
                                                             converter="omnifaces.SelectItemsConverter"
                                                             styleClass="component-width"
                                                             var="leavecd"  
                                                             panelStyle="max-width:700px;max-height:230px;overflow:auto;"                                                             
                                                             >                    
                                                <p:ajax  event="change"
                                                         process="ddl_leave_period"
                                                         update="out_current_balance,growl1"/>
                                                <f:selectItem itemLabel="--- Select ---" itemValue="#{null}" itemDisabled="true"/>
                                                <f:selectItems value="#{encashment_application.ddl_leave_period_options}"                                                                       
                                                               itemLabel="#{item.leavecd}-#{item.lrSrgKey.lmSrgKey.leaveDesc}"
                                                               itemValue="#{item}"
                                                               itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                               var="item"/>
                                                <p:column>  
                                                    <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:panelGroup rendered="#{leavecd!=null}">
                                                        <h:outputText value="#{leavecd.openingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText> To
                                                        <h:outputText value="#{leavecd.closingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                    </h:panelGroup>
                                                </p:column>  
                                                <p:column>
                                                    <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc} #{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?'(':''} #{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?leavecd.lrSrgKey.rmgmSrgKey.managGroupDesc:''}#{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?')':''}"  rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                            </p:selectOneMenu>    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Current Balance:
                                        </td>
                                        <td class="entry-component-detail">
                                            <h:outputText id="out_current_balance" value="#{encashment_application.ddl_leave_period.currentBal}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label" style="white-space: normal">
                                            No. of Leave to Encash:
                                        </td>
                                        <td class="entry-component-detail">
                                            <p:inputText styleClass="component-width number-entry-5-0" 
                                                         id="txt_encash_leaves"
                                                         value="#{encashment_application.txt_encash_leaves}"
                                                         />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Remarks:<span class="mandatory-text">*</span>                                            
                                        </td>
                                        <td><p:inputTextarea
                                                id="txt_remarks"
                                                value="#{encashment_application.txt_remarks}"
                                                style="resize: none;text-transform: uppercase"
                                                autoResize="false"
                                                styleClass="component-width"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Approval Authority:<label class="mandatory-text">*</label></td>
                                        <td><p:selectOneMenu
                                                id="ddl_actionby"
                                                value="#{encashment_application.ddl_actionby}"
                                                styleClass="component-width"
                                                >
                                                <f:selectItems value="#{encashment_application.ddl_actionby_options}"/>
                                            </p:selectOneMenu>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td/>
                                        <td>
                                            <p:commandButton value="Apply for Leave Encashment"
                                                             icon="ui-icon-disk"
                                                             actionListener="#{encashment_application.applyEncashment}"
                                                             onclick="if(!validateEntry()){return false;}"
                                                             process="@(.emplist-selection)"
                                                             update="@(.emplist-selection),growl1"/>
                                        </td>
                                    </tr>
                                </table>
                                <script type="text/javascript">
                                    setNumericEntry()
                                </script>
                            </p:panel>


                        </p:outputPanel>

                        <h:panelGroup id="pnl_dlg_emplist">
                            <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{encashment_application.lst_employee_selectable}" selectedUser="#{encashment_application.selectedUserFromList}"/>
                        </h:panelGroup>  
                    </div>
                    <p:growl id="growl1" sticky="true" showDetail="true"/>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

