<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:150px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                    $(document).ready(function() {
                        $('.emp-type').show();
                        $('.ed-type').hide();
                    });
                    function validate_user_paytransMonvar(){
                        var valid=true;
                        $('#err_cal_salary_from_date').text('');
                        $('#err_cal_salary_to_date').text('');
                        $('#err_ddl_employee').text('');
                        $('#err_ddl_org_unit').text('');
                        $('#err_rdb_selection').text('');
                        $('#err_ddl_ed_code').text('');
                      
                        if($('#cal_salary_from_date_input').val()==''){
                            $('#err_cal_salary_from_date').text('Select Salary From Date');
                            valid=false;
                        }
                        if($('#cal_salary_to_date_input').val()==''){
                            $('#err_cal_salary_to_date').text('Select Salary To Date');
                            valid=false;
                        }
                        if($('#rdb_selection\\:0').prop('checked')==false
                            && $('#rdb_selection\\:1').prop('checked')==false){
                            $('#err_rdb_selection').text('Select Type');
                            valid=false;
                        }
                        if($('#rdb_selection\\:0').prop('checked')){
                            if($('#ddl_employee_input').val()==''){
                                $('#err_ddl_employee').text('Select Employee');
                                valid=false;
                            }
                        }
                        if($('#rdb_selection\\:1').prop('checked')){
                            if($('#ddl_ed_code_input').val()==''){
                                $('#err_ddl_ed_code').text('Select ED Code');
                                valid=false;
                            }
                        }
                        if($('#ddl_org_unit_input').val()==''){
                            $('#err_ddl_org_unit').text('Select Organization Unit');
                            valid=false;
                        }
                        return valid;
                    }              
                  
                    function rdb_selection_onchange(){
                        //alert($('#rdb_selection\\:0').prop('checked'));
                        //alert($('#rdb_selection\\:1').prop('checked'));
                        if($('#rdb_selection\\:0').prop('checked')){
                            $('.emp-type').show();
                            $('.ed-type').hide();
                        } else if ($('#rdb_selection\\:1').prop('checked')){
                            $('.emp-type').hide();
                            $('.ed-type').show();
                        }
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans}" />  
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis}" /> 
                        <p:menuitem value="Payroll" url="#{PIS_GlobalSettings.brPis_payroll}" />
                        <p:menuitem value="Monthly Variable Form" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div align="left" class="component-margin">
                            <p:panel id="pnl_param" header="Monthly Variable Form">                            
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">Organization Unit:<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_org_unit"
                                                             value="#{PIS_Monthly_Variable.ddl_org_unit}"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_org_unit_changed}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{PIS_Monthly_Variable.ddl_org_unit_options}"/>
                                                <p:ajax event="change"
                                                        process="@this,ddl_salary_year,ddl_salary_month"
                                                        update="ddl_employee,pnl_tbl_user_paytransMonvar"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_org_unit" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label" align="right">Status:</td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_selection_type"
                                                             styleClass="component-width"
                                                             value="#{PIS_Monthly_Variable.ddl_selection_type}"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_selection_type_changed}">
                                                <f:selectItem itemLabel="All" itemValue="A"/>
                                                <f:selectItem itemLabel="Pending" itemValue="P"/>
                                                <f:selectItem itemLabel="Specified" itemValue="S"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="pnl_tbl_user_paytransMonvar,ddl_employee"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>                                     
                                        <td class="entry-component-label" width="130px">Salary Year:<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail" width="250px">
                                            <p:selectOneMenu id="ddl_salary_year"
                                                             value="#{PIS_Monthly_Variable.ddl_salary_year}"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_salary_year_changed}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{PIS_Monthly_Variable.ddl_salary_year_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="ddl_salary_month,pnl_tbl_user_paytransMonvar"/>
                                            </p:selectOneMenu>
                                        </td>
                                        <td class="entry-component-label" align="right">Salary Month:<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_salary_month"
                                                             value="#{PIS_Monthly_Variable.ddl_salary_month}"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_salary_month_changed}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{PIS_Monthly_Variable.ddl_salary_month_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="pnl_tbl_user_paytransMonvar"/>
                                            </p:selectOneMenu>
                                            <br/>
                                            <div id="err_cal_salary_from_date" class="error-message"/>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">View By:</td>
                                        <td class="entry-component-detail">
                                            <p:selectOneRadio id="rdb_selection"
                                                              value="#{PIS_Monthly_Variable.rdb_selection}"
                                                              onchange="rdb_selection_onchange()"
                                                              valueChangeListener="#{PIS_Monthly_Variable.rdb_selection_changed}">                                                
                                                <f:selectItem itemValue="E" itemLabel="Employee"/>
                                                <f:selectItem itemValue="C" itemLabel="Earn-Deduction Code"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="pnl_tbl_user_paytransMonvar,
                                                        ddl_employee,ddl_ed_code"/>
                                            </p:selectOneRadio>
                                            <br/><div id="err_rdb_selection" class="error-message"/>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label emp-type">Employee:<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail emp-type">
                                            <p:selectOneMenu id="ddl_employee"
                                                             value="#{PIS_Monthly_Variable.ddl_employee}"
                                                             styleClass="component-width"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_employee_changed}">
                                                <f:selectItems value="#{PIS_Monthly_Variable.ddl_employee_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="pnl_tbl_user_paytransMonvar"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_employee" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label ed-type">Earn-Deduction Code:<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail ed-type">
                                            <p:selectOneMenu id="ddl_ed_code"
                                                             styleClass="component-width"
                                                             value="#{PIS_Monthly_Variable.ddl_ed_code}"
                                                             valueChangeListener="#{PIS_Monthly_Variable.ddl_ed_code_changed}">
                                                <f:selectItems value="#{PIS_Monthly_Variable.ddl_ed_code_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="pnl_tbl_user_paytransMonvar"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_ed_code" class="error-message"/>
                                        </td>
                                    </tr>
                                </table>
                                <div class="component-margin">
                                    <h:panelGroup id="pnl_tbl_user_paytransMonvar">
                                        <p:dataTable id="tbl_user_paytransMonvar"
                                                     value="#{PIS_Monthly_Variable.tbl_user_paytransMonvar}"
                                                     var="item"
                                                     paginator="true"
                                                     rows="5"
                                                     paginatorPosition="top"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                     rowsPerPageTemplate="5,10,15"
                                                     >
                                            <p:column headerText="User Id">#{item.userId}</p:column>
                                            <p:column headerText="EarnDeduction Code">#{item.earndedncd}</p:column>
                                            <p:column headerText="EarnDeduction Name">#{item.earndednName}</p:column>
                                            <p:column headerText="Amount" style="width:1px">
                                                <p:inputText value="#{item.variableAmt}" style="text-align: right"/>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                    <div class="component-margin" align="center">
                                        <p:commandButton id="btn_save_all_mv_values"
                                                         process="@this,pnl_tbl_user_paytransMonvar"
                                                         update="pnl_tbl_user_paytransMonvar,growl1"
                                                         value="Set Amount"
                                                         title="Set Amount"
                                                         icon="ui-icon-disk"
                                                         onclick="if(!validate_user_paytransMonvar()){return false}"
                                                         actionListener="#{PIS_Monthly_Variable.btn_save_all_mv_values_clicked}"/>
                                    </div>
                                </div>
                            </p:panel>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

