<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:150px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                    $(document).ready(function() {
                        $('.emp-type').hide();
                        $('.ed-type').hide();
                    });
                    
                    function btn_save_validations(){
                        var valid=true;
                        
                        return valid;
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans}" />  
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis}" /> 
                        <p:menuitem value="Payroll" url="#{PIS_GlobalSettings.brPis_payroll}" />
                        <p:menuitem value="PF Entry Form" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div align="left" class="component-margin">
                            <p:panel id="pnl_tbl_emp_pf" header="PF Entry">                            
                                <p:dataTable id="tbl_emp_pf"
                                             value="#{PIS_PF_Entry.tbl_emp_pf}"
                                             var="item"
                                             paginator="true"
                                             rows="10"
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="10,25,50" 
                                             filterDelay="600"
                                             filteredValue="#{PIS_PF_Entry.tbl_emp_pf_filtered}">
                                    <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column headerText="User Id">#{item.userID}</p:column>
                                    <p:column headerText="Empno">#{item.empno}</p:column>
                                    <p:column headerText="User Name">#{item.userName}</p:column>
                                    <p:column headerText="Year">#{item.year}</p:column>
                                    <p:column headerText="Month">#{item.month}</p:column>
                                    <p:column headerText="PF Account Number">#{item.ntgcfPFNo}</p:column>
                                    <p:column headerText="PF">#{item.pfEmpPf}</p:column>
                                    <p:column headerText="VPF">#{item.pfEmpVpf}</p:column>
                                    <p:column headerText="FPF">#{item.pfEmpFpf}</p:column>
                                    <p:column headerText="Emplr PF">#{item.pfEmprPf}</p:column>
                                    <p:column headerText="Emplr FPF">#{item.pfEmprFpf}</p:column>
                                    <p:column >
                                        <p:commandButton process="@this"
                                                         update="@this"
                                                         icon="ui-icon-pencil"
                                                         onclick="pw_dlg_set_pf_amount.show()">
                                            <f:setPropertyActionListener target="#{PIS_PF_Entry.ent_emp_pf_amount}" value="#{item}" />
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </div>
                        <p:dialog id="dlg_set_pf_amount"
                                  widgetVar="pw_dlg_set_pf_amount"
                                  header="Set PF Amounts"
                                  modal="true">
                            <h:panelGroup id="pnl_dlg_set_pf_amount">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">PF :</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_pf" value="#{PIS_PF_Entry.txt_pf}"/>
                                        </td>
                                        <td class="entry-component-label">VPF :</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_vpf" value="#{PIS_PF_Entry.txt_vpf}"/>
                                        </td>
                                        <td class="entry-component-label">FPF :</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_fpf" value="#{PIS_PF_Entry.txt_fpf}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Employer PF :</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_emplr_pf" value="#{PIS_PF_Entry.txt_emplr_pf}"/>
                                        </td>
                                        <td class="entry-component-label">Employer FPF :</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_emplr_fpf" value="#{PIS_PF_Entry.txt_emplr_fpf}"/>
                                        </td>
                                        <td class="entry-component-label"></td>
                                        <td class="entry-component-detail"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" align="center">
                                            <p:commandButton id="btn_set_pf_amounts"
                                                             value="Set Amounts"
                                                             icon="ui-icon-disk"
                                                             actionListener="#{PIS_PF_Entry.btn_set_pf_amounts_clicked}"
                                                             process="pnl_dlg_set_pf_amount"
                                                             update="pnl_dlg_set_pf_amount,
                                                             pnl_tbl_emp_pf"
                                                             onclick="if(!btn_save_validations()){return false}"/>
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

