<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                                
                    function check_validation_month(){
                        if($('#ddl_year_input').val()==''){
                            $('#ddl_month_input').val()="";
                            alert('Please Select Any Year and then Select Month....');
                            return false;
                        }else{
                            if($('#ddl_month_input').val()==''){
                                $('#txt_pay_days').text('');
                                $('#txt_working_days').text('');
                            }
                        }
                        return true;
                    }

                    function check_validation_year(p_year){
                        if(p_year.value==""){
                            $('#ddl_month select').prop('selectedIndex','0');
                            $('#ddl_org_unit_list select').prop('selectedIndex','0');
                        }
                    }
                 
                    function btn_validation(){    
                        var valid=true;
                        $('#err_org_unit_list').text('');
                        $('#err_picklst_emp').text('');
                        $('#err_year').text('');
                        $('#err_month').text('');
                        if($('#ddl_year_input').val()=='' ){
                            $('#err_year').text('Select Year');
                            valid=false;
                        }
                        if($('#ddl_month_input').val()==''){
                            $('#err_month').text('Select Month');    
                            valid=false;
                        }
                        if($('#ddl_org_unit_list_input').val()==''){
                            $('#err_org_unit_list').text('Select Organization Unit');
                            valid=false;
                        }
                        if($('#ddl_month_input').val()==''){
                            $('#err_month').text('Select any month');
                            valid=false;
                        }
                        if($('#picklst_emp_target').val()==null){
                            if($('#picklst_emp_target').val()==null){
                                $('#err_picklst_emp').text('No any Employee available For Salary Calculation');
                            }else{
                                $('#err_picklst_emp').text('Select Any Employee');
                            }
                            valid=false;
                        }
                        return valid;
                    }
                 
                    function validate_oum_unit_srno(){
                        var valid=true;
                        $('#err_year').text('');
                        $('#err_month').text('');
                        if($('#ddl_year_input').val()=='' ){
                            $('#err_year').text('Select Year');
                            valid=false;
                        }
                        if($('#ddl_month_input').val()==''){
                            $('#err_month').text('Select Month');    
                            valid=false;
                        }
                        if(!valid){
                            try{
                                pw_ddl_org_unit_list.selectValue('');
                            }catch(e){
                                $('#ddl_org_unit_list_input').val('');
                            }
                        }
                        return valid;
                    }
                 
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Personnel Information System" url="#{PIS_GlobalSettings.brPis}" />   
                        <p:menuitem value="Payroll" url="#{PIS_GlobalSettings.brPis_payroll}" />
                        <p:menuitem value="Salary Calculation" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div  class="component-margin" align="left">
                            <h:panelGroup id="pnl_salary_calc_param" >   
                                <h:panelGroup id="pnl_salary_calculation_parameter">
                                    <div  class="scrolling-div">
                                        <table width="100%" border="0" class="element-table">
                                            <tbody>
                                                <tr>
                                                    <td class="entry-component-label">Organization Unit:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:selectOneMenu id="ddl_org_unit_list"
                                                                         styleClass="component-width"
                                                                         widgetVar="pw_ddl_org_unit_list"
                                                                         value="#{PIS_Salary_Calculation.ddl_org_unit_list}"
                                                                         onchange="if(!validate_oum_unit_srno()){return false;}"
                                                                         valueChangeListener="#{PIS_Salary_Calculation.ddl_org_unit_list_valuechange}">
                                                            <f:selectItems value="#{PIS_Salary_Calculation.ddl_org_unit_list_options}"/>
                                                            <p:ajax event="change"
                                                                    process="ddl_org_unit_list,chk_all"
                                                                    update="picklst_emp"
                                                                    />
                                                        </p:selectOneMenu>
                                                        <br/><div  id="err_org_unit_list" class="error-message"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label" width="1px;">For Year:<label class="mandatory-text">*</label></td>
                                                    <td class="entry-component-detail"><p:selectOneMenu id="ddl_year"
                                                                                                        styleClass="component-width"
                                                                                                        value="#{PIS_Salary_Calculation.ddl_year}"
                                                                                                        valueChangeListener="#{PIS_Salary_Calculation.ddl_year_valueChange}">
                                                            <f:selectItems value="#{PIS_Salary_Calculation.ddl_year_options}" />
                                                            <p:ajax
                                                                event="change"
                                                                process="ddl_year"
                                                                update="picklst_emp,ddl_month"
                                                                />
                                                        </p:selectOneMenu>
                                                        <br/><div  id="err_year" class="error-message"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label" width="1px;">For Month:<label class="mandatory-text">*</label></td>
                                                    <td class="entry-component-detail"> <p:selectOneMenu id="ddl_month"
                                                                                                         styleClass="component-width"
                                                                                                         value="#{PIS_Salary_Calculation.ddl_month}"
                                                                                                         valueChangeListener="#{PIS_Salary_Calculation.ddl_month_valueChange}">
                                                            <f:selectItems  value="#{PIS_Salary_Calculation.ddl_month_options}"/>
                                                            <p:ajax event="change"
                                                                    onstart="return check_validation_month()"
                                                                    process="ddl_month"
                                                                    update="picklst_emp"
                                                                    />
                                                        </p:selectOneMenu>
                                                        <br/>
                                                        <div  id="err_month" class="error-message"/>
                                                    </td>
                                                </tr>                                                
                                                <tr>
                                                    <td/>
                                                    <td class="entry-component-detail">
                                                        <h:selectBooleanCheckbox id="chk_all"
                                                                                 label="All Employees"
                                                                                 value="#{PIS_Salary_Calculation.chk_all}"
                                                                                 valueChangeListener="#{PIS_Salary_Calculation.chk_all_valuechange}">
                                                            <p:ajax event="change"
                                                                    process="chk_all"
                                                                    update="chk_all,picklst_emp"
                                                                    />
                                                        </h:selectBooleanCheckbox>
                                                        <label for="chk_all" class="entry-component-label">All Employees</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Select Employees: <label class="mandatory-text">*</label></td>
                                                    <td class="entry-component-detail">
                                                        <p:pickList id="picklst_emp"
                                                                    value="#{PIS_Salary_Calculation.picklst_emp}"
                                                                    effect="bounce"
                                                                    var="lstemp"
                                                                    showSourceControls="true"
                                                                    showTargetControls="true"
                                                                    itemLabel="#{lstemp}"
                                                                    itemValue="#{lstemp}">
                                                            <f:facet name="sourceCaption">All Employees</f:facet>  
                                                            <f:facet name="targetCaption">Selected Employees</f:facet>  
                                                        </p:pickList>
                                                        <br/><div id="err_picklst_emp" class="error-message"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </h:panelGroup>
                                <div  align="center" class="component-margin">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td>
                                                <div align="center"  >
                                                    <p:button
                                                        value=" Calculate Salary"
                                                        onclick="if(!btn_validation()){
                                                            return false;
                                                        }else{
                                                            $('#out_confirm_message').text('Salary will be calculated for selected Employees, Do you want to continue?');
                                                            $('#btn_salary_calc').show();
                                                            pw_confirmDialog.show();
                                                        } return false;"                                        
                                                        icon="ui-icon-disk"                                                                                
                                                        />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>                                    
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="scrolling-div component-margin">
                            <h:panelGroup id="pnl_tbl_SalaryCalcLogs"
                                          style="display:#{(PIS_Salary_Calculation.errorLog)?'block':'none'}"
                                          >
                                <p:dataTable id="tbl_SalaryCalcLogs"
                                             value="#{PIS_Salary_Calculation.tbl_SalaryCalcLogs}"
                                             paginator="true"
                                             rows="5"
                                             paginatorPosition="top"
                                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="5,10,15"
                                             var="item">
                                    <p:column sortBy="#{item.fhrdPaytransSalaryErrlogPK.selUserId}"
                                              filterBy="#{item.fhrdPaytransSalaryErrlogPK.selUserId}"
                                              headerText="UserID">#{item.fhrdPaytransSalaryErrlogPK.selUserId}</p:column>
                                    <p:column headerText="From Date" style="white-space: nowrap">
                                        <h:outputText value="#{item.selOrgSalaryFromDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="To Date" style="white-space: nowrap">
                                        <h:outputText value="#{item.selOrgSalaryToDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="Error Message">#{item.selErrorMessage}</p:column>
                                    <p:column headerText="possible reason">#{item.selPossibleReason}</p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </div>
                        <p:confirmDialog widgetVar="pw_confirmDialog" message="" 
                                         style="width:300px">
                            <f:facet name="message">
                                <h:outputText value="" id="out_confirm_message" />
                            </f:facet>
                            <p:commandButton 
                                id="btn_salary_calc"
                                value="Calculate"                              
                                process="btn_salary_calc,pnl_salary_calculation_parameter"
                                update="growl1,pnl_salary_calculation_parameter,
                                pnl_tbl_SalaryCalcLogs"
                                icon="ui-icon-disk"                                        
                                actionListener="#{PIS_Salary_Calculation.btn_save_action}"                                        
                                oncomplete="pw_confirmDialog.hide()"
                                />
                            <p:commandButton value="Cancel"
                                             onclick="pw_confirmDialog.hide();return false;"/>
                        </p:confirmDialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

