<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .td-1-width{min-width:131px;width:131px;}
                    .td-2-width{min-width:190px;width:190px;}
                    .td-3-width{min-width:90px;width:90px;}
                    .component-width,.component-width select,.component-width input{width:180px}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    
                    function setCurrency(){                                                                
                        formatToCurrency('.currency-format');
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans}" />  
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis}" /> 
                        <p:menuitem value="Payroll" url="#{PIS_GlobalSettings.brPis_payroll}" /> 
                        <p:menuitem value="Salary Booking Common Pool" url="#" />    
                    </p:breadCrumb>  
                    <div align="center">                         
                        <div align="left" class="component-margin">                            
                            <h:panelGroup id="pnl1">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">For Organization:</td>
                                        <td class="entry-component-detail">#{GlobalSettings.organisationName}</td>
                                        <td class="entry-component-label">For Month and Year:</td>
                                        <td class="entry-component-detail">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="1" class="entry-component-label">Financial Year :<label class="mandatory-text">*</label></td>
                                        <td width="1" class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_finyear"
                                                             styleClass="component-width"
                                                             value="#{PIS_Salary_Booking.ddl_finyear}"
                                                             valueChangeListener="#{PIS_Salary_Booking.ddl_finyear_changed}">
                                                <f:selectItems value="#{PIS_Salary_Booking.ddl_finyear_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="ddl_agency_project"/>
                                            </p:selectOneMenu>
                                        </td>
                                        <td class="entry-component-label">Agency-Project :<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_agency_project" 
                                                             value="#{PIS_Salary_Booking.ddl_agency_project}"
                                                             valueChangeListener="#{PIS_Salary_Booking.ddl_agency_project_changed}"
                                                             styleClass="component-width" >
                                                <f:selectItems value="#{PIS_Salary_Booking.ddl_agency_project_options}" />
                                                <p:ajax 
                                                    event="change"
                                                    process="ddl_agency_project"    
                                                    update="ddl_ap_budget,ddl_budget"
                                                    oncomplete="setCurrency()"
                                                    />
                                            </p:selectOneMenu>   
                                        </td>
                                        <td>
                                            <p:commandLink actionListener="#{PIS_Salary_Booking.hyp_view_ap_detail_clicked}"
                                                           id="hyp_view_ap_detail"
                                                           value="View Detail"
                                                           styleClass="hyperlink1"
                                                           process="@this"
                                                           update="pnl_dlg_agency_project_detail"
                                                           oncomplete="pw_dlg_agency_project_detail.show();"                                                       
                                                           />

                                        </td>
                                    </tr>
                                    <tr style="display: none">
                                        <td class="entry-component-label">Agency-Project Budget :<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_ap_budget"
                                                             styleClass="component-width"
                                                             value="#{PIS_Salary_Booking.ddl_ap_budget}">
                                                <f:selectItems value="#{PIS_Salary_Booking.ddl_ap_budget_options}"/>
                                                <p:ajax event="change"
                                                        process="@this"
                                                        update="ddl_budget"/>
                                            </p:selectOneMenu>
                                        </td>
                                        <td class="entry-component-label">FES Budget :<label class="mandatory-text">*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_budget"
                                                             styleClass="component-width"
                                                             value="#{PIS_Salary_Booking.ddl_budget}">
                                                <f:selectItems value="#{PIS_Salary_Booking.ddl_budget_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label"></td>
                                        <td class="entry-component-detail"></td>
                                        <td class="entry-component-label"></td>
                                        <td class="entry-component-detail"></td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                            <h:panelGroup id="pnl_ap_detail">
                                
                            </h:panelGroup>
                            <h:panelGroup id="pnl_dlg_agency_project_detail">                            
                                <p:dialog id="dlg_agency_project_detail" widgetVar="pw_dlg_agency_project_detail"
                                          header="Agency Project Detail"
                                          hideEffect="slide" modal="true"
                                          width="500"
                                          >
                                    <h:panelGroup rendered="#{PIS_Salary_Booking.ent_agency_project_detail!=null}">
                                        <div>
                                            <table width="100%" cellpadding="10px" >
                                                <tbody>
                                                    <tr>
                                                        <td class="static-text-label" 
                                                            style="white-space: normal">
                                                            Unique Srno :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplUniqueSrno}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label" width="10px">
                                                            Agency Unique Srno :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplFamUniqueSrno.famUniqueSrno}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            Agency Short Name :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplFamUniqueSrno.famAgencyShortName}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label" valign="top">
                                                            Agency Name :
                                                        </td>
                                                        <td class="static-text-detail" style="white-space:normal;min-width:300px" >
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplFamUniqueSrno.famAgencyName}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            Project Unique Srno :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplPmUniqueSrno.pmUniqueSrno}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            Project Short Name :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplPmUniqueSrno.pmProjShortName}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label" valign="top">
                                                            Project Name :
                                                        </td>
                                                        <td class="static-text-detail" style="white-space:normal">
                                                            #{PIS_Salary_Booking.ent_agency_project_detail.aplPmUniqueSrno.pmProjName}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            Fund Type :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            <h:outputText value="Financial" rendered="#{PIS_Salary_Booking.ent_agency_project_detail.aplPmUniqueSrno.pmFundType=='F'}"/>
                                                            <h:outputText value="Leverage" rendered="#{PIS_Salary_Booking.ent_agency_project_detail.aplPmUniqueSrno.pmFundType=='L'}"/>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            From Date :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            <h:outputText value="#{PIS_Salary_Booking.ent_agency_project_detail.aplStartDate}">
                                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                            </h:outputText>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="static-text-label">
                                                            To Date :
                                                        </td>
                                                        <td class="static-text-detail">
                                                            <h:outputText value="#{PIS_Salary_Booking.ent_agency_project_detail.aplEndDate}">
                                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                            </h:outputText>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </h:panelGroup>
                                </p:dialog> 
                            </h:panelGroup>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>
