<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                     
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans}" />  
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis}" /> 
                        <p:menuitem value="Payroll" url="#{PIS_GlobalSettings.brPis_payroll}" />
                        <p:menuitem value="Salary Disbursement" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div  class="component-margin" align="left">
                            <table class="element-table" style="display: none">
                                <tr>
                                    <td class="entry-component-label">Status:</td>
                                    <td>
                                        <p:selectOneMenu id="ddl_status"
                                                         value="#{PIS_Salary_Disbursement.ddl_status}"
                                                         valueChangeListener="#{PIS_Salary_Disbursement.ddl_status_changed}"
                                                         styleClass="component-width">
                                            <f:selectItem itemValue="" itemLabel="--- All ---"/>
                                            <f:selectItem itemValue="V" itemLabel="Verified"/>
                                            <f:selectItem itemValue="A" itemLabel="Pending for admin verification"/>                                            
                                            <f:selectItem itemValue="U" itemLabel="Pending for user verification"/>                                            
                                            <f:selectItem itemValue="R" itemLabel="Rejected"/>                             
                                            <p:ajax event="change"
                                                    process="ddl_status"/>
                                        </p:selectOneMenu>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div style="display: inline" align="left"  >
                                            <p:button
                                                value="Disburse Salary"
                                                onclick="if(pw_tbl_disbursement_list.getSelectedRowsCount()==0){
                                                    SetAndShowDialog('GeneralDialog','Select Record(s)','Please select atleast one record to be disbursed');                                           
                                                }else{
                                                    $('#out_confirm_message').text('Total '+pw_tbl_disbursement_list.getSelectedRowsCount()+' Salary Record(s) will be disbursed, Do you want to continue?');
                                                    $('#btn_approve').show();
                                                    $('#btn_reject').hide();
                                                    pw_confirmDialog.show();
                                                } return false;"                                        
                                                icon="ui-icon-disk"                                                                                
                                                />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="component-margin">
                                <div align="right" >
                                    <p:commandButton 
                                        id="btn_refresh"
                                        value="Refresh"
                                        process="@this"
                                        update="pnl_tbl_disbursement_list"
                                        oncomplete="pw_tbl_disbursement_list.filter();return false"
                                        actionListener="#{PIS_Salary_Disbursement.refreshTable}"
                                        />
                                </div>

                                <h:panelGroup id="pnl_tbl_disbursement_list">
                                    <p:dataTable id="tbl_disbursement_list"
                                                 widgetVar="pw_tbl_disbursement_list"
                                                 value="#{PIS_Salary_Disbursement.tbl_disbursement_list}"
                                                 var="item"
                                                 paginator="true"
                                                 rows="10"
                                                 filterDelay="300"
                                                 paginatorPosition="top"
                                                 styleClass="p-datatable-with-refresh ui-datatable-hor-scroll"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="10,15,20"                                    
                                                 rowKey="#{item.rowid}"
                                                 selection="#{PIS_Salary_Disbursement.selectedLists}">
                                        <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column selectionMode="multiple" style="width:18px"/>
                                        <p:column headerText="User Id">#{item.user_id}</p:column>
                                        <p:column headerText="User Name">#{item.user_name}</p:column>
                                        <p:column headerText="From Month" >#{item.from_month}</p:column>
                                        <p:column headerText="To Month" >#{item.to_month}</p:column>
                                        <p:column headerText="Emp Non Payable Days" >#{item.emp_non_payable_days}</p:column>
                                        <p:column headerText="Total Pay" >#{item.total_pay}</p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>     
                        </div>
                        <p:confirmDialog widgetVar="pw_confirmDialog" message="" 
                                         style="width:300px">
                            <f:facet name="message">
                                <h:outputText value="" id="out_confirm_message" />
                            </f:facet>
                            <p:commandButton 
                                id="btn_approve"
                                value="Disburse"                              
                                process="btn_approve,pnl_tbl_disbursement_list"
                                update="growl1,pnl_tbl_disbursement_list"
                                icon="ui-icon-disk"                                        
                                actionListener="#{PIS_Salary_Disbursement.btn_confirm_clicked}"                                        
                                oncomplete="pw_confirmDialog.hide()"
                                />
                            <p:commandButton 
                                id="btn_reject"
                                value="Cancel"
                                process="@this,pnl_tbl_disbursement_list"
                                update="pnl_tbl_disbursement_list,growl1"
                                icon="ui-icon-cancel"
                                actionListener="#{PIS_Salary_Disbursement.btn_cancel_clicked}"
                                oncomplete="pw_confirmDialog.hide();"
                                />
                            <p:commandButton value="Cancel"
                                             onclick="pw_confirmDialog.hide();return false;"/>
                        </p:confirmDialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

