<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                    .training {
                        color: #043c9b;
                    }
                    .tour {
                        color: #9b0422;
                    }
                    .leave {
                        color: #000504;
                    }
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                                
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <button class="hidden-button" onclick="return false"/>
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="View" url="#{PIS_GlobalSettings.brView}" />
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brView_tas}" />   
                        <p:menuitem value="Employees Leave-Tour-Training Details" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div  class="component-margin" align="left">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">Year :<label class="mandatory-text">*</label></td>
                                    <td class="entry-component-detail">
                                        <p:selectOneMenu id="ddl_year"
                                                         value="#{PIS_Emp_Leaves.ddl_year}"
                                                         styleClass="component-width"
                                                         valueChangeListener="#{PIS_Emp_Leaves.ddl_year_changed}">
                                            <f:selectItems value="#{PIS_Emp_Leaves.ddl_year_options}"/>
                                            <p:ajax event="change"
                                                    process="@this"
                                                    update="pnl_tbl_leave_detail"/>
                                        </p:selectOneMenu>
                                    </td>
                                    <td class="entry-component-label">Leave/Tour/Training : <label class="mandatory-text">*</label></td>
                                    <td class="entry-component-detail">
                                        <p:selectOneMenu id="ddl_leavecd"
                                                         value="#{PIS_Emp_Leaves.ddl_leavecd}"
                                                         styleClass="component-width"
                                                         valueChangeListener="#{PIS_Emp_Leaves.ddl_leavecd_changed}">
                                            <f:selectItems value="#{PIS_Emp_Leaves.ddl_leavecd_options}"/>
                                            <p:ajax event="change"
                                                    process="@this"
                                                    update="pnl_tbl_leave_detail"/>
                                        </p:selectOneMenu>
                                    </td>
                                </tr>
                            </table>  
                            <div class="component-margin scrolling-div">
                                <h:panelGroup id="pnl_tbl_leave_detail">
                                    <p:dataTable id="tbl_leave_detail"
                                                 value="#{PIS_Emp_Leaves.tbl_leave_detail}"
                                                 filteredValue="#{PIS_Emp_Leaves.tbl_leave_detail_filtered}"
                                                 widgetVar="pw_tbl_leave_detail"
                                                 var="item" 
                                                 rows="5"
                                                 paginator="true"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="5,10,25,50"
                                                 rowStyleClass="#{(item.applicationFlag=='L'?'leave':item.applicationFlag=='T'?'tour':'training')}"
                                                 paginatorPosition="top">
                                        <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column headerText="User Id"
                                                  sortBy="#{item.userId.userId}"
                                                  filterBy="#{item.userId.userId}"
                                                  filterMatchMode="contains"
                                                  >#{item.userId.userId}</p:column>
                                        <p:column headerText="User Name"
                                                  sortBy="#{item.userId.userName}"
                                                  filterBy="#{item.userId.userName}"
                                                  filterMatchMode="contains"
                                                  >#{item.userId.userName}</p:column>
                                        <p:column headerText="Ou Name"
                                                  sortBy="#{item.oumUnitSrno.oumName}"
                                                  filterBy="#{item.oumUnitSrno.oumName}"
                                                  filterMatchMode="contains"
                                                  >#{item.oumUnitSrno.oumName}</p:column>
                                        <p:column headerText="From" sortBy="#{item.fromDate}" style="white-space: nowrap" width="1">
                                            <h:outputText value="#{item.fromDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                            <br/>                                                                    
                                            (<h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                                        </p:column>
                                        <p:column headerText="To"  style="white-space: nowrap" width="1">
                                            <h:outputText value="#{item.toDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                            <br/> 
                                            (<h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />)
                                        </p:column>
                                        <p:column headerText="Days">#{item.days}</p:column>
                                        <p:column headerText="Leave/ Tour/ Training">                                    
                                            <ui:repeat value="#{item.ftasAbsenteesDtlCollection}" rendered="#{item.ftasAbsenteesDtlCollection.size()==1}" var="dtl">
                                                #{dtl.lmSrgKey.leavecd} - #{dtl.lmSrgKey.leaveDesc}
                                            </ui:repeat>
                                            <h:outputText value="CLUB" rendered="#{item.ftasAbsenteesDtlCollection.size()>1}"/>
                                        </p:column>                                
                                        <p:column headerText="Reason"
                                                  sortBy="#{item.reason1}"
                                                  filterBy="#{item.reason1}"
                                                  filterMatchMode="contains"
                                                  ><h:outputText value="#{item.reason1}" escape="false"/></p:column>

                                        <p:column headerText="Status"
                                                  sortBy="#{item.aprvcomm}"
                                                  filterBy="#{item.aprvcomm==null?'P':item.aprvcomm}#{item.cabsSrgKey!=null? (item.cabsAprvcomm==null?'CP':(item.cabsAprvcomm=='Y'?'CY':'')):''}"
                                                  filterOptions="#{PIS_Emp_Leaves.filter_status_options}"
                                                  filterMatchMode="exact"
                                                  >
                                            <ui:param name="aprv_comm" value="#{item.aprvcomm==null?'P':item.aprvcomm}#{item.cabsSrgKey!=null? (item.cabsAprvcomm==null?'CP':(item.cabsAprvcomm=='Y'?'CY':'')):''}"/>
                                            <h:outputText value="Pending" rendered="#{aprv_comm=='P'}"/>
                                            <h:outputText value="Approved" rendered="#{aprv_comm=='Y'}"/>
                                            <h:outputText value="Rejected" rendered="#{aprv_comm=='N'}"/>                                            
                                            <h:outputText value="Cancellation Applied" rendered="#{aprv_comm=='YCP'}"/>
                                            <h:outputText value="Canceled" rendered="#{aprv_comm=='YCY'}"/>
                                        </p:column>
                                        <p:column filterBy="#{item.actnby.userName}" sortBy="#{item.actnby.userName}" headerText="Action By">#{item.actnby.userName}</p:column>
                                        <p:column style="width:1px">
                                            <p:commandButton title="Attendance Summary"                                                     
                                                             icon="ui-icon-calculator"
                                                             process=":form1:pnl_tbl_leave_detail"
                                                             update=":form1:pnl_dlg_attendance_summary"
                                                             action="#{dtl_attendance_summary.showDialog(item)}"/>
                                        </p:column>
                                        <p:column>
                                            <p:commandButton title="View Detail"
                                                             process=":form1:pnl_tbl_leave_detail"
                                                             update=":form1:pnl_application_dtl"
                                                             icon="ui-icon-search"
                                                             onclick="setHighLight(this)"
                                                             actionListener="#{PIS_Emp_Leaves.viewLeaveDetail(item)}">
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                    <script type="text/javascript">
                                        try{pw_tbl_leave_detail.filter();}catch(e){}
                                    </script>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div  class="component-margin" align="left">
                            <p:panel  id="pnl_application_dtl"
                                      header="Leave/Tour/Training Detail"
                                      closable="true"
                                      style="display:#{(PIS_Emp_Leaves.selectedLeave.userId!=null)?'block':'none'}">    

                                <fhrd:dtl_leave_tour_application id="dtl_leave_tour_application" absSrgKey="#{PIS_Emp_Leaves.selectedLeave}"/>

                            </p:panel>
                        </div>
                        <h:panelGroup id="pnl_dlg_attendance_summary">
                            <fhrd:dlg_attendance_summary id="dlg_attendance_summary"/>
                        </h:panelGroup>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

