<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                    
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />   
                        <p:menuitem value="Utilities" url="#{PIS_GlobalSettings.brTas_utilities}" />
                        <p:menuitem value="Pending Submit Attendace" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div  class="component-margin" align="left">
                            <table class="element-table">

                                <tr>
                                    <td class="entry-component-label" width="1px;">For Year:<label class="mandatory-text">*</label></td>
                                    <td><p:selectOneMenu id="ddl_year"
                                                         styleClass="component-width"
                                                         value="#{PIS_Pending_Submit_Attendance.ddl_year}"
                                                         valueChangeListener="#{PIS_Pending_Submit_Attendance.ddl_year_changed}">
                                            <f:selectItems value="#{PIS_Pending_Submit_Attendance.ddl_year_options}" />
                                            <p:ajax
                                                event="change"
                                                process="ddl_year"
                                                update="ddl_month,pnl_tbl_emp_list,growl1"
                                                />
                                        </p:selectOneMenu>
                                        <br/><div  id="err_year" class="error-message"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">For Month:<label class="mandatory-text">*</label></td>
                                    <td> <p:selectOneMenu id="ddl_month"
                                                          styleClass="component-width"
                                                          value="#{PIS_Pending_Submit_Attendance.ddl_month}"
                                                          valueChangeListener="#{PIS_Pending_Submit_Attendance.ddl_month_changed}">
                                            <f:selectItems value="#{PIS_Pending_Submit_Attendance.ddl_month_options}"/>
                                            <p:ajax event="change"
                                                    process="ddl_month"
                                                    update="pnl_tbl_emp_list,growl1"
                                                    />
                                        </p:selectOneMenu>
                                        <br/>
                                        <div  id="err_month" class="error-message"/>
                                    </td>
                                </tr>
                            </table>

                            <div class="component-margin">
                                <h:panelGroup id="pnl_tbl_emp_list">
                                    <p:dataTable id="tbl_emp_list"
                                                 value="#{PIS_Pending_Submit_Attendance.tbl_emp_list}"
                                                 filteredValue="#{PIS_Pending_Submit_Attendance.tbl_emp_list_filtered}"
                                                 var="item"
                                                 widgetVar="pw_tbl_emp_list"
                                                 style="width:100%"
                                                 rows="5"
                                                 paginator="true"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="5,10,25,50"
                                                 paginatorPosition="top"   >
                                        <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="page"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column headerText="User Id" filterBy="#{item.user_id}" filterMatchMode="contains" sortBy="#{item.user_id}">#{item.user_id}</p:column>
                                        <p:column headerText="User Name" filterBy="#{item.user_name}" filterMatchMode="contains" sortBy="#{item.user_name}">#{item.user_name}</p:column>
                                        <p:column headerText="OU Name" filterBy="#{item.oum_name}" filterMatchMode="contains" sortBy="#{item.oum_name}">#{item.oum_name}</p:column>
                                        <p:column headerText="From Date" sortBy="#{item.from_date}">
                                            <h:outputText value="#{item.from_date}" style="white-space: nowrap">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="To Date" sortBy="#{item.to_date}">
                                            <h:outputText value="#{item.to_date}" style="white-space: nowrap">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Leaves"
                                                  sortBy="#{item.leaves}">#{item.leaves}
                                        </p:column>
                                        <p:column headerText="Pending Days"
                                                  sortBy="#{item.pending_days}">#{item.pending_days}
                                        </p:column>
                                        <p:column headerText="Other Reason"
                                                  sortBy="#{item.other_reason}">#{item.other_reason}
                                        </p:column>
                                        <p:column width="1">
                                            <p:commandButton process="@this"                                                         
                                                             icon="ui-icon-search"
                                                             title="View Leave/Tour/Training Detail"
                                                             id="btn_view_detail"
                                                             onclick="setHighLight(this)"
                                                             update=":form1:pnl_dlg_view_detail"
                                                             actionListener="#{PIS_Pending_Submit_Attendance.btn_view_detail_click}">
                                                <f:setPropertyActionListener value="#{item}" 
                                                                             target="#{PIS_Pending_Submit_Attendance.ent_view_detail}"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <h:panelGroup id="pnl_dlg_view_detail">
                        <p:dialog id="dlg_view_detail"
                                  widgetVar="pw_dlg_view_detail"
                                  modal="true" 
                                  header="Leave/Tour/Training  Detail"
                                  width="850"
                                  >
                            <div class="dlg_view_detail">
                                <br/>
                                <div align="left">
                                    <table>
                                        <tr><td class="static-text-label">User Name:</td>
                                            <td class="static-text-detail">#{PIS_Pending_Submit_Attendance.ent_view_detail.user_id} - #{PIS_Pending_Submit_Attendance.ent_view_detail.user_name}</td></tr>
                                    </table>
                                </div>
                                <div class="component-margin">
                                    <p:dataTable
                                        value="#{PIS_Pending_Submit_Attendance.tbl_leave_detail}"
                                        var="item" 
                                        rows="5"
                                        paginator="true"
                                        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                        rowsPerPageTemplate="5,10,25,50"
                                        paginatorPosition="top"
                                        styleClass="ui-datatable-hor-scroll">
                                        <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column headerText="SrNo." sortBy="#{item.srno}">#{item.srno}</p:column>
                                        <p:column headerText="UserId" sortBy="#{item.userid}">#{item.userId.userId}</p:column>
                                        <p:column headerText="Name" sortBy="#{item.user_name}">#{item.userId.userName}</p:column>
                                        <p:column headerText="From Date-Half" sortBy="#{item.fromDate}">
                                            <h:outputText value="#{item.fromDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                            <br/>                                                                    
                                            <h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />
                                        </p:column>
                                        <p:column headerText="To Date-Half">
                                            <h:outputText value="#{item.toDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                            <br/> 
                                            <h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />
                                        </p:column>
                                        <p:column headerText="Days">#{item.days}</p:column>
                                        <p:column headerText="Application Category">
                                            <h:outputText value="#{(item.applicationFlag=='L')?'LEAVE':(item.applicationFlag=='T')?'TOUR':(item.applicationFlag=='R')?'TRAINING':''}" />
                                        </p:column>
                                        <p:column headerText="Application Type">
                                            <h:outputText value="#{(item.appliType=='S')?'SINGLE':(item.appliType=='C')?'CLUB':''}" />
                                        </p:column>
                                        <p:column headerText="Reason">#{item.reason1}</p:column>
                                        <p:column headerText="Status">
                                            <h:outputText value="Pending" rendered="#{item.aprvcomm==null}"/>
                                            <h:outputText value="Approved" rendered="#{item.aprvcomm=='Y' and item.cabsAprvcomm!='Y'}"/>
                                            <h:outputText value="Rejected" rendered="#{item.aprvcomm=='N'}"/>                                            
                                            <h:outputText value="Canceled" rendered="#{item.aprvcomm=='Y' and item.cabsAprvcomm=='Y'}"/>
                                        </p:column>
                                        <p:column headerText="Action By">#{item.actnby.userName}</p:column>
                                        <p:column><p:commandButton icon="ui-icon-search"
                                                                   actionListener="#{PIS_Pending_Submit_Attendance.viewLeaveDetail(item)}"
                                                                   update=":form1:pnl_dlg_leave_tour_application"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <br/><br/>
                            </div>
                        </p:dialog>                        
                    </h:panelGroup>
                    <h:panelGroup id="pnl_dlg_leave_tour_application">
                        <fhrd:dlg_leave_tour_application id="dlg_leave_tour_application" absSrgKey="#{PIS_Pending_Submit_Attendance.selectedLeave}"/>
                    </h:panelGroup>
                    <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>

                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

