<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">

            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:commandButton title="Attendance Summary"                                                     
                                     icon="ui-icon-calculator"
                                     update=":form1:pnl_dlg_attendance_summary"                                     
                                     action="#{dtl_attendance_summary.showDialog(GlobalSettings.ent_login_user)}"/>
                    <h:panelGroup id="pnl_dlg_attendance_summary">
                        <fhrd:dlg_attendance_summary id="dlg_attendance_summary"/>
                    </h:panelGroup>                  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

