<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:pic="http://java.sun.com/jsf/composite/components" >
    <body>
        <ui:composition template="../template_blank.xhtml">
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <pic:day_calculator id="day_calculator"/>                     
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

