<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width .hasDatepicker,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    function validateSave(){
                        var valid=true;                        
                        
                        return valid;
                    }
                                        
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">

                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Employee Account Detail" url="#" />                          
                    </p:breadCrumb>  
                    <div align="center" class="component-margin">
                        <div class="component-margin scrolling-div" align="left">
                            <h:panelGroup id="pnl_tbl_emp_info">
                                <p:dataTable
                                    id="tbl_emp_info"
                                    widgetVar="pw_tbl_emp_info"
                                    value="#{PIS_Emp_Account_Detail.tbl_emp_info}"
                                    var="item"
                                    paginator="true"
                                    rows="10"
                                    filterDelay="300"
                                    paginatorPosition="top"
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="10,15,20"                                    
                                    rowKey="#{item.userId}"
                                    filteredValue="#{PIS_Emp_Account_Detail.tbl_emp_info_filtered}">
                                    <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column sortBy="#{item.empno}"
                                              filterBy="#{item.empno}"
                                              filterMatchMode="contains"
                                              headerText="EmpNo" style="width: 10px;">
                                        #{item.empno}
                                    </p:column>
                                    <p:column sortBy="#{item.userName}" 
                                              filterBy="#{item.userName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="UserName">
                                        #{item.userName}
                                    </p:column>
                                    <p:column sortBy="#{item.postingOumUnitSrno.oumName}" 
                                              filterBy="#{item.postingOumUnitSrno.oumName}"
                                              filterMatchMode="contains"
                                              headerText="Posting Ou">
                                        #{item.postingOumUnitSrno.oumUnitSrno}-#{item.postingOumUnitSrno.oumName}
                                    </p:column>
                                    <p:column headerText="Gender">
                                        <h:outputText value="#{item.gender=='M'?'Male':''}"/>
                                        <h:outputText value="#{item.gender=='F'?'Female':''}"/>
                                    </p:column>
                                    <p:column headerText="Bank Account Number">
                                        #{item.bankAccountno}
                                    </p:column>
                                    <p:column headerText="Bank Name">
                                        #{item.bankName}
                                    </p:column>
                                    <p:column headerText="Pan Number">
                                        #{item.panno}
                                    </p:column>
                                    <p:column headerText="UAN Number">
                                        #{item.uanPfNo}
                                    </p:column>
                                    <p:column headerText="Old PF Number">
                                        #{item.ntgcfpfno}
                                    </p:column>
                                    <p:column headerText="Email Id">
                                        #{item.emailId}
                                    </p:column>
                                    <p:column >
                                        <p:commandButton title="View Details"
                                                         process=":form1:pnl_tbl_emp_info"
                                                         update=":form1:dlg_view_acc_detail"
                                                         icon="ui-icon-search"
                                                         actionListener="#{PIS_Emp_Account_Detail.btn_view_ecc_detail_clicked}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Emp_Account_Detail.viewEmployeeAccDetail}"/>
                                        </p:commandButton>
                                    </p:column>
                                    <p:column >
                                        <p:commandButton title="Set Details"
                                                         process=":form1:pnl_tbl_emp_info"
                                                         update=":form1:pnl_bank_detail"
                                                         icon="ui-icon-pencil"
                                                         actionListener="#{PIS_Emp_Account_Detail.btn_edit_ecc_detail_clicked}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Emp_Account_Detail.employeeAccDetail}"/>
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </div>             
                        <p:dialog widgetVar="pw_dlg_view_acc_detail"
                                  id="dlg_view_acc_detail"
                                  header="View Account Detail"
                                  modal="true"
                                  width="600">
                            <h:panelGroup id="pnl_dlg_view_acc_detail">
                                <table class="element-table" width="100%" border="0">
                                    <tr>
                                        <td class="static-text-label" width="125px;">EmpNo./UserId:</td>
                                        <td class="static-text-detail" width="160px;" >#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.empno} / #{PIS_Emp_Account_Detail.viewEmployeeAccDetail.userId}</td>  
                                        <td class="static-text-label" width="125px;">Name:</td>
                                        <td class="static-text-detail" width="160px;">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.userName}</td>
                                    </tr>
                                    <tr> 
                                        <td class="static-text-label">Designation:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.dsgmSrgKey.desigDesc}</td>
                                        <td class="static-text-label">Gender:</td>
                                        <td class="static-text-detail">
                                            #{PIS_Emp_Account_Detail.viewEmployeeAccDetail.gender=='M'?'Male':''}
                                            #{PIS_Emp_Account_Detail.viewEmployeeAccDetail.gender=='F'?'Female':''}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="static-text-label">Old PF No.:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.ntgcfpfno}</td>
                                        <td class="static-text-label">PF UAN No.:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.uanPfNo}</td>
                                    </tr>
                                    <tr>
                                        <td class="static-text-label">Pan No.:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.panno}</td>
                                        <td class="static-text-label">Bank Name:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.bankName}</td>
                                    </tr>
                                    <tr> 
                                        <td class="static-text-label">Bank Account No.:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.bankAccountno}</td>  
                                        <td class="static-text-label">IFSC Code.:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.ifscCode}</td>
                                    </tr>
                                    <tr> 
                                        <td class="static-text-label">Bank Location:</td>
                                        <td class="static-text-detail">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.bankLocation}</td>
                                        <td class="static-text-label">Email ID:</td>
                                        <td class="static-text-detail" colspan="3">#{PIS_Emp_Account_Detail.viewEmployeeAccDetail.emailId}</td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </p:dialog>
                        <p:dialog widgetVar="pw_dlg_acc_detail"
                                  id="dlg_acc_detail"
                                  header="Account Detail"
                                  modal="true">
                            <h:panelGroup id="pnl_bank_detail">                                
                                <table class="element-table" width="100%" border="0">
                                    <tr>
                                        <td class="entry-component-label" width="125px;">Empno/UserId:</td>
                                        <td class="entry-component-detail">#{PIS_Emp_Account_Detail.employeeAccDetail.empno} / #{PIS_Emp_Account_Detail.employeeAccDetail.userId}</td>
                                        <td class="entry-component-label" width="125px;">Name:</td>
                                        <td class="entry-component-detail">#{PIS_Emp_Account_Detail.employeeAccDetail.userName}</td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Designation:</td>
                                        <td class="entry-component-detail">#{PIS_Emp_Account_Detail.employeeAccDetail.dsgmSrgKey.desigDesc}</td>
                                        <td class="entry-component-label">Gender:</td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_gender"
                                                             value="#{PIS_Emp_Account_Detail.ddl_gender}">
                                                <f:selectItem itemLabel="---Select---" itemValue=""/>
                                                <f:selectItem itemLabel="Male" itemValue="M"/>
                                                <f:selectItem itemLabel="Female" itemValue="F"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>   
                                        <td class="entry-component-label">Old PF No.:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;"  
                                                                                        id="txt_ntgcfpf_no"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_ntgcfpf_no}"/></td>
                                        <td class="entry-component-label">PF UAN No.:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;"  
                                                                                        id="txt_uan_no"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_uan_no}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Pan No.:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;" 
                                                                                        id="txt_pan_no"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_pan_no}"/></td>
                                        <td class="entry-component-label" width="125px;">Bank Name:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;" 
                                                                                        id="txt_bank_name"
                                                                                        maxlength="70"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_bank_name}"/>
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td class="entry-component-label" width="125px;">Bank Account No.:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;"  
                                                                                        id="txt_bank_account_no"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_bank_account_no}"/></td>  

                                        <td class="entry-component-label">IFSC Code.:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;"  
                                                                                        id="txt_ifsc_code"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_ifsc_code}"/></td>
                                    </tr>
                                    <tr> 
                                        <td class="entry-component-label">Bank Location:</td>
                                        <td class="entry-component-detail"><p:inputText style="text-transform: uppercase;"  
                                                                                        id="txt_bank_location"
                                                                                        maxlength="30"
                                                                                        value="#{PIS_Emp_Account_Detail.txt_bank_location}"/></td>
                                        <td class="entry-component-label">Email ID:</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_emailid"
                                                         value="#{PIS_Emp_Account_Detail.txt_emailid}"/>
                                        </td>
                                    </tr>
                                </table>
                                <div align="center" class="component-margin">
                                    <p:commandButton id="btn_save_acc_details"
                                                     value="Save Account Details"
                                                     icon="ui-icon-disk"
                                                     process="pnl_bank_detail"
                                                     update="pnl_tbl_emp_info,growl1"
                                                     actionListener="#{PIS_Emp_Account_Detail.btn_save_acc_details_clicked}"/>
                                </div>
                            </h:panelGroup>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>