<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:pic="http://java.sun.com/jsf/composite/components"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template_without_menu.xhtml">
            <ui:define name="head">
                
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" enctype="multipart/form-data">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Employee Related" url="#{PIS_GlobalSettings.brPis_emp_related}" />                          
                        <p:menuitem  value="Edit User Detail" url="#"/>
                    </p:breadCrumb>  
                    <button class="hidden-button" onclick="return false"/>

                    <script type="text/javascript">
                        //<![CDATA[     
                        window.onbeforeunload = function(e) {
                            return "Closing/Refreshing this window will close this window or redirect to home page";                            
                        };
                        if(#{PIS_GlobalSettings.employeeForView==null and PIS_GlobalSettings.employeeForUpdate==null}){
                            window.onbeforeunload = function(e) {
                                return null;                            
                            };
                            window.close();
                            window.location='#{GlobalResources.project_path}';
                        }
                        //]]>
                    </script>
                    <pic:Add_Edit_Employee id="add_Edit_Employee"/>          
                </h:form>             
            </ui:define>
        </ui:composition>       
    </body>
</html>