<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[ 
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Personnel Information system" url="#{PIS_GlobalSettings.brPis}" />  
                        <p:menuitem value="Employee" url="#{PIS_GlobalSettings.brPis_emp}" />  
                        <p:menuitem value="Set Employee Event" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">  
                        <div class="component-margin" align="left">
                            <p:panel id="pnl_tbl_emp_info" header="All Employees">
                                <p:dataTable
                                    id="tbl_emp_info"
                                    value="#{PIS_Set_Employee_Event.tbl_emp_info}"
                                    var="item"
                                    paginator="true"
                                    rows="5"
                                    paginatorPosition="top"
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,15,20"                                    
                                    filterEvent="enter"
                                    rowKey="#{item.userId}"
                                    filteredValue="#{PIS_Set_Employee_Event.tbl_emp_info_filtered}">
                                    <p:column sortBy="#{item.userId}"
                                              filterBy="#{item.userId}"
                                              filterMatchMode="contains"
                                              headerText="User Id" style="width: 10px;">
                                        #{item.userId}
                                    </p:column>
                                    <p:column sortBy="#{item.userName}" 
                                              filterBy="#{item.userName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="UserName">
                                        #{item.userName}
                                    </p:column>
                                    <p:column sortBy="#{item.userFirstName}" 
                                              filterBy="#{item.userFirstName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="FirstName">
                                        #{item.userFirstName}
                                    </p:column>
                                    <p:column sortBy="#{item.userMiddleName}" 
                                              filterBy="#{item.userMiddleName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="MiddleName">
                                        #{item.userMiddleName}
                                    </p:column>
                                    <p:column sortBy="#{item.userLastName}" 
                                              filterBy="#{item.userLastName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="LastName">
                                        #{item.userLastName}
                                    </p:column>
                                    <p:column sortBy="#{item.gender}" 
                                              filterBy="#{item.gender}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="Gender">
                                        <h:outputText value="All" style="display:#{(item.gender=='A')?'block':'none'}"/>
                                        <h:outputText value="Female" style="display:#{( item.gender=='F')?'block':'none'}"/>
                                        <h:outputText value="Male" style="display:#{(item.gender=='M')?'block':'none'}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.postingOumUnitSrno.oumUnitSrno}" 
                                              filterBy="#{item.postingOumUnitSrno.oumUnitSrno}"
                                              filterMatchMode="contains"
                                              headerText="PostingOumUnitSrno">
                                        #{item.postingOumUnitSrno.oumUnitSrno}-#{item.postingOumUnitSrno.oumName}
                                    </p:column>
                                    <p:column > 
                                        <f:facet name="header">
                                            <center>
                                                <span class="ui-icon ui-icon-search"/>
                                            </center>
                                        </f:facet>     
                                        <p:commandButton icon="ui-icon-search" 
                                                         title="View Employee Detail"
                                                         style="white-space:nowrap;"
                                                         process="@this"
                                                         onclick="setHighLight(this)"
                                                         update=":form1:pnl_event_detail">
                                            <f:setPropertyActionListener value="#{item}" 
                                                                         target="#{PIS_Set_Employee_Event.ent_empmst_detail}"/>
                                        </p:commandButton>
                                    </p:column>                            
                                </p:dataTable>   
                            </p:panel>
                        </div>
                        <div class="component-margin" align="left">
                            <p:panel id="pnl_event_detail"  header="Event Detail"
                                     style="display:#{(PIS_Set_Employee_Event.ent_empmst_detail.userId!=null)?'block':'none'}"
                                     closable="true">
                                <div class="component-margin">
                                    <p:commandButton id="btn_set_new_event"
                                                     value="Set New Event"
                                                     icon="ui-icon-disk"
                                                     onclick="pw_dlg_set_new_event.show();return false;"/>
                                </div>
                                <div class="component-margin">
                                    <h:panelGroup id="pnl_tbl_view_event">
                                        <p:dataTable id="tbl_view_event"
                                                     value="#{PIS_Set_Employee_Event.tbl_view_event}"
                                                     var="item_view_e"
                                                     paginator="true"
                                                     rows="5"   
                                                     paginatorPosition="top"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                     rowsPerPageTemplate="5,10,15"                                    
                                                     >
                                            <p:column headerText="Event Name">#{item_view_e.emSrgKey.eventName}</p:column>
                                            <p:column headerText="Description">#{item_view_e.emSrgKey.eventDesc}</p:column>
                                            <p:column headerText="Event Date">
                                                <h:outputText value="#{item_view_e.eventDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Execute Date">
                                                <h:outputText value="#{item_view_e.eventExecuteDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Status">#{item_view_e.eventStatusFlag}</p:column>
                                            <p:column headerText="Period">#{item_view_e.eventPeriodNo}-#{item_view_e.eventPeriodUnit}</p:column>
                                            <p:column width="1">
                                                <p:commandButton title="View Detail"
                                                                 process=":form1:pnl_tbl_view_event"
                                                                 icon="ui-icon-search"
                                                                 onclick="setHighLight(this)">
                                                    <f:setPropertyActionListener value="#{item_view_e}"
                                                                                 target="#{PIS_Set_Employee_Event.ent_FhrdEmpEvent_detail}"/>
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </div>
                            </p:panel>
                        </div>
                        <p:dialog id="dlg_set_new_event"
                                  widgetVar="pw_dlg_set_new_event"
                                  modal="true"
                                  header="Set New Event">
                            <div>
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">Event:</td>
                                        <td>
                                            <p:selectOneMenu id="ddl_event"
                                                             value="#{PIS_Set_Employee_Event.ddl_event}"
                                                             styleClass="component-width"
                                                             valueChangeListener="#{PIS_Set_Employee_Event.ddl_event_changed}">
                                                <f:selectItems value="#{PIS_Set_Employee_Event.ddl_event_option}"/>
                                                <p:ajax event="change"
                                                        process="ddl_event"
                                                        update="hdn_period_required"
                                                        oncomplete="ddl_event_onchange()"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_event" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label">Event Date:</td>
                                        <td>
                                            <p:calendar id="cal_event_date"
                                                        value="#{PIS_Set_Employee_Event.cal_event_date}"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"                                                                                        
                                                        navigator="true" 
                                                        styleClass="component-width"/>
                                            <br/><div id="err_cal_event_date" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr class="event-period-required">
                                        <td class="entry-component-label event-period-required">Event Period:</td>
                                        <td class="entry-component-detail event-period-required">
                                            <p:inputText id="txt_event_period"
                                                         value="#{PIS_Set_Employee_Event.txt_event_period}"
                                                         styleClass="component-width"/>
                                        </td>
                                        <td class="entry-component-label event-period-required">Event Period Unit:</td>
                                        <td class="event-period-required">
                                            <p:selectOneMenu id="ddl_event_period_unit"
                                                             styleClass="component-width"
                                                             value="#{PIS_Set_Employee_Event.ddl_event_period_unit}">
                                                <f:selectItem itemLabel="---Select Any---"/>
                                                <f:selectItem itemValue="D" itemLabel="Day"/>
                                                <f:selectItem itemValue="M" itemLabel="Month"/>
                                                <f:selectItem itemValue="Y" itemLabel="Year"/>
                                            </p:selectOneMenu>
                                            <br/>
                                            <div id="err_ddl_event_period_unit" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Document Reference Number:</td>
                                        <td class="entry-component-detail">
                                            <p:inputText id="txt_doc_ref_no"
                                                         value="#{PIS_Set_Employee_Event.txt_doc_ref_no}"
                                                         styleClass="component-width"/>
                                        </td>
                                        <td class="entry-component-label">Event Effect Time:</td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_event_effect_time"
                                                             value="#{PIS_Set_Employee_Event.ddl_event_effect_time}">
                                                <f:selectItem itemLabel="---Select Any---"/>
                                                <f:selectItem itemLabel="Beginning of the Office Hrs" itemValue="B"/>
                                                <f:selectItem itemLabel="End of the office Hrs" itemValue="E"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_event_effect_time" class="error-message"/>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label"></td>                                        
                                        <td>
                                            <p:commandButton id="btn_add_to_list"
                                                             process="@this,ddl_event,cal_event_date,
                                                             txt_event_period,ddl_event_period_unit,
                                                             txt_doc_ref_no,ddl_event_effect_time"
                                                             update="pnl_dlg_set_new_event,ddl_event,cal_event_date,
                                                             txt_event_period,ddl_event_period_unit,
                                                             txt_doc_ref_no,ddl_event_effect_time"
                                                             icon="ui-icon-disk"
                                                             value="Add to List"
                                                             onstart="return validate_add_event_list()"
                                                             styleClass="component-width"
                                                             actionListener="#{PIS_Set_Employee_Event.btn_add_to_list_clicked}"/>
                                        </td>
                                        <td class="entry-component-label"></td>
                                        <td class="entry-component-detail"></td>
                                    </tr>                                    
                                </table>
                            </div>
                            <h:inputHidden id="hdn_period_required" 
                                           value="#{PIS_Set_Employee_Event.hdn_period_required}"/>
                            <script type="text/css">

                            </script>
                            <script type="text/javascript">
                                //<![CDATA[ 
                                function ddl_event_onchange(){
                                    if($('#hdn_period_required').val()=='Y'){
                                        $('.event-period-required').css("visibility","visible");
                                    }else{
                                        $('.event-period-required').css("visibility","collapse");
                                    }
                                }
                                function validate_add_event_list(){
                                    var valid=true;
                                    $('#err_ddl_event').text('');
                                    $('#err_cal_event_date').text('');
                                    $('#err_ddl_event_period_unit').text('');
                                    $('#err_ddl_event_effect_time').text('');
                                    if($('#ddl_event_input').val()==''){
                                        $('#err_ddl_event').text('Select any Event');
                                        valid=false;
                                    }
                                    if($('#cal_event_date_input').val()==''){
                                        $('#err_cal_event_date').text('Select Date');
                                        valid=false;
                                    }
                                    if($('#txt_event_period').val()!='' ){
                                        if($('#ddl_event_period_unit_input').val()==''){
                                            $('#err_ddl_event_period_unit').text('Select Period Unit');
                                            valid=false;
                                        }
                                    }
                                    if($('#ddl_event_effect_time_input').val()==''){
                                        $('#err_ddl_event_effect_time').text('Select event effect time');
                                        valid=false;
                                    }
                                    return valid;
                                }
                                
                                //]]>
                            </script>
                            <div class="component-margin">
                                <h:panelGroup id="pnl_dlg_set_new_event">
                                    <p:dataTable id="tbl_new_event_list"
                                                 var="item_list"
                                                 value="#{PIS_Set_Employee_Event.tbl_new_event_list}"
                                                 paginator="true"
                                                 rows="5"
                                                 paginatorPosition="top"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="5,10,15,20"                                    
                                                 filterEvent="enter">
                                        <p:column headerText="Event Name">#{item_list.emSrgKey.eventName}</p:column>
                                        <p:column headerText="Description">#{item_list.emSrgKey.eventDesc}</p:column>
                                        <p:column headerText="Event Date">
                                            <h:outputText value="#{item_list.eventDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Event Period" style="white-space: nowrap">#{item_list.eventPeriodNo} - 
                                            <h:outputText value="Day" style="display:#{(item_list.eventPeriodUnit=='D')?'block':'none'}"/>
                                            <h:outputText value="Month" style="display:#{(item_list.eventPeriodUnit=='M')?'block':'none'}"/>
                                            <h:outputText value="Year" style="display:#{(item_list.eventPeriodUnit=='Y')?'block':'none'}"/>
                                        </p:column>
                                        <p:column headerText="Document Reference No">#{item_list.eventDocRefNo}</p:column>
                                        <p:column headerText="Event Effect Time">
                                            <h:outputText value="Beginning of the Office Hrs" style="display:#{(item_list.eventEffectTime=='B')?'block':'none'}"/>
                                            <h:outputText value="End of the office Hrs" style="display:#{(item_list.eventEffectTime=='E')?'block':'none'}"/>
                                        </p:column>
                                        <p:column style="width:10px">
                                            <p:commandButton
                                                process=":form1:pnl_dlg_set_new_event"
                                                update=":form1:pnl_dlg_set_new_event,:form1:growl1"
                                                icon="ui-icon-trash" 
                                                id="btn_event_record_delete">
                                                <f:setPropertyActionListener value="#{item_list}"
                                                                             target="#{PIS_Set_Employee_Event.ent_EventDelete}" />
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                            <div class="component-margin" align="center">
                                <p:commandButton icon="ui-icon-disk"
                                                 id="btn_save_emp_event"
                                                 process="@this,tbl_new_event_list"
                                                 update="tbl_new_event_list,pnl_dlg_set_new_event,
                                                 ddl_event,cal_event_date,
                                                 txt_event_period,ddl_event_period_unit,
                                                 txt_doc_ref_no,ddl_event_effect_time,
                                                 pnl_tbl_view_event,growl1"
                                                 value="Set Employee Event"
                                                 actionListener="#{PIS_Set_Employee_Event.btn_save_emp_event_clicked}"/>
                            </div>
                            <div class="component-margin"/>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

