<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width select{
                        width:160px;
                    } 
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    function openWindow(url){
                        var params  = 'width='+screen.width;
                        params += ', height='+screen.height;
                        params += ', top=0, left=0'
                        params += ', scrollbars=1';
                        window.open(url,'_blank',params)
                    }                      
                    function validateEmail(){
                        var re=/^(\w+[\-\.])*\w+@(\w+\.)+[A-Za-z]+$/;
                        $('#err_txt_email').text('');
                        $('#err_txt_email').hide();
                        if(!re.test($('#txt_email').val())){
                            $('#err_txt_email').text('Please enter valid email');
                            $('#err_txt_email').show();
                            return false;
                        }
                        return true;
                    }
                    $(function() {
                        blinkeffect('#popup_blink');
                    })
                    function blinkeffect(selector) {
                        $(selector).delay(800).fadeOut('slow', function() {
                            $(this).fadeIn('slow', function() {
                                blinkeffect(this);
                            });
                        });
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Employee Related" url="#{PIS_GlobalSettings.brPis_emp_related}" />  
                        <p:menuitem value="Employee Information" url="#" />  
                    </p:breadCrumb>  
                    <button class="hidden-button" onclick="return false"/>
                    <div class="component-margin">
                        <h:panelGroup id="pnl_filter_tbl_emp" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">
                                        Verification Status:     
                                    </td>
                                    <td>
                                        <p:selectOneMenu id="ddl_verif_status"
                                                         value="#{PIS_Employee_Information.ddl_verif_status}"
                                                         valueChangeListener="#{PIS_Employee_Information.ddl_verif_status_changed}"
                                                         styleClass="component-width">
                                            <f:selectItem itemValue="" itemLabel="--- All ---"/>
                                            <f:selectItem itemValue="V" itemLabel="Verified"/>
                                            <f:selectItem itemValue="A" itemLabel="Pending for admin verification"/>                                            
                                            <f:selectItem itemValue="U" itemLabel="Pending for user verification"/>                                            
                                            <f:selectItem itemValue="R" itemLabel="Rejected"/>                             
                                            <p:ajax event="change"
                                                    process="ddl_verif_status"
                                                    update="pnl_tbl_emp_info"
                                                    oncomplete="pw_tbl_emp_info.filter();return false"/>
                                        </p:selectOneMenu>

                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <div id="popup_blink" align="right" class="error-message"><b>Note:</b> Allow browser to open pop-up window</div>
                    </div>


                    <div class="component-margin">
                        <div align="right" >
                            <p:commandButton 
                                id="btn_refresh"
                                value="Refresh"
                                process="@this"
                                update="pnl_tbl_emp_info"
                                oncomplete="pw_tbl_emp_info.filter();return false"
                                actionListener="#{PIS_Employee_Information.refreshTable}"
                                />
                        </div>
                        <h:panelGroup id="pnl_tbl_emp_info">
                            <p:dataTable
                                id="tbl_emp_info"
                                widgetVar="pw_tbl_emp_info"
                                value="#{PIS_Employee_Information.tbl_emp_info}"
                                var="item"
                                paginator="true"
                                rows="10"
                                filterDelay="300"
                                paginatorPosition="top"
                                styleClass="p-datatable-with-refresh ui-datatable-hor-scroll"
                                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                rowsPerPageTemplate="10,15,20"                                    
                                rowKey="#{item.userId}"
                                filteredValue="#{PIS_Employee_Information.tbl_emp_info_filtered}">
                                <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:column sortBy="#{item.userId}"
                                          filterBy="#{item.userId}"
                                          filterMatchMode="contains"
                                          headerText="User Id" style="width: 10px;">
                                    #{item.userId}
                                </p:column>
                                <p:column sortBy="#{item.empno}"
                                          filterBy="#{item.empno}"
                                          filterMatchMode="contains"
                                          headerText="EmpNo" style="width: 10px;">
                                    #{item.empno}
                                </p:column>
                                <p:column sortBy="#{item.userName}" 
                                          filterBy="#{item.userName}"
                                          filterStyle="text-transform:uppercase"
                                          filterMatchMode="contains"
                                          headerText="User Name">
                                    #{item.userName}
                                </p:column>
                                <p:column sortBy="#{item.userFirstName}" 
                                          filterBy="#{item.userFirstName}"
                                          filterStyle="text-transform:uppercase"
                                          filterMatchMode="contains"
                                          headerText="First Name">
                                    #{item.userFirstName}
                                </p:column>
                                <p:column sortBy="#{item.userLastName}" 
                                          filterBy="#{item.userLastName}"
                                          filterStyle="text-transform:uppercase"
                                          filterMatchMode="contains"
                                          headerText="Last Name">
                                    #{item.userLastName}
                                </p:column>
                                <p:column sortBy="#{item.servicetype}"  
                                          filterBy="#{item.servicetype}"
                                          filterStyle="text-transform:uppercase"
                                          filterMatchMode="contains"
                                          headerText="Service Type"
                                          rendered="false">
                                    <h:outputText value="#{item.servicetype== 'O'?'Contract':''}"/>
                                    <h:outputText value="#{item.servicetype== 'P'?'Probation':''}"/>
                                    <h:outputText value="#{item.servicetype== 'R'?'Resign':''}"/>
                                    <h:outputText value="#{item.servicetype== 'T'?'Trainee':''}"/>
                                    <h:outputText value="#{item.servicetype== 'Z'?'Retired':''}"/>
                                    <h:outputText value="#{item.servicetype== 'C'?'Confirm':''}"/>
                                    <h:outputText value="#{item.servicetype== 'D'?'Deputation':''}"/>                                        
                                </p:column>
                                <p:column width="1" sortBy="#{item.postingOumUnitSrno.oumUnitSrno}" 
                                          filterBy="#{item.postingOumUnitSrno.oumUnitSrno}"
                                          filterMatchMode="contains"
                                          headerText="Posting Ou">
                                    #{item.postingOumUnitSrno.oumUnitSrno}
                                </p:column>
                                <p:column sortBy="#{item.postingOumUnitSrno.oumName}" 
                                          filterBy="#{item.postingOumUnitSrno.oumName}"
                                          filterMatchMode="contains"
                                          headerText="Posting Ou">
                                    #{item.postingOumUnitSrno.oumName}
                                </p:column>
                                <p:column 
                                    filterBy="#{item.verificationRemark}"
                                    filterMatchMode="contains"
                                    headerText="Verification Remarks"
                                    rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                    #{item.verification=='R'?item.verificationRemark:''}
                                </p:column>
                                <p:column > 
                                    <f:facet name="header">
                                        <center>
                                            <span class="ui-icon ui-icon-search"/>
                                        </center>
                                    </f:facet>     
                                    <p:commandButton icon="ui-icon-search" 
                                                     title="View User Detail"
                                                     style="white-space:nowrap;"
                                                     process=":form1:pnl_tbl_emp_info" 
                                                     action="#{PIS_Employee_Information.returnUrlToView}">
                                        <f:setPropertyActionListener value="#{item.userId}"
                                                                     target="#{PIS_GlobalSettings.employeeForView}"/>
                                    </p:commandButton>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <center>
                                            <span class="ui-icon ui-icon-pencil"/>
                                        </center>
                                    </f:facet>
                                    <p:commandButton icon="ui-icon-pencil"
                                                     title="Edit User Detail"
                                                     process=":form1:pnl_tbl_emp_info"
                                                     rendered="#{(item.verification=='V' or item.verification=='R' or item.verification==null) or (item.verification=='U' and PIS_GlobalSettings.update_master_tbl_record_fhrd) or (item.verification=='A' and ((GlobalSettings.ent_login_user.userId==item.userId)) or !PIS_GlobalSettings.update_master_tbl_record_fhrd)}"
                                                     action="#{PIS_Employee_Information.returnUrlToUpdate()}">
                                        <f:setPropertyActionListener value="#{item.userId}"
                                                                     target="#{PIS_GlobalSettings.employeeForUpdate}"/>
                                    </p:commandButton>
                                </p:column>
                                <p:column style="width:19px" headerText="Verify">
                                    <p:commandButton icon="ui-icon-circle-check"
                                                     process=":form1:pnl_tbl_emp_info"
                                                     value="Verify"
                                                     rendered="#{((item.verification=='U') and (GlobalSettings.ent_login_user.userId==item.userId)) or ((item.verification=='A' and PIS_GlobalSettings.update_master_tbl_record_fhrd))}"                                                         
                                                     title="#{(GlobalSettings.ent_login_user.userId==item.userId)?'Verify Own Detail':'Verify Employee Detail'}"
                                                     action="#{PIS_Employee_Information.returnUrlToVerify}">
                                        <f:setPropertyActionListener value="#{item.userId}"
                                                                     target="#{PIS_GlobalSettings.employeeForView}"/>
                                    </p:commandButton>
                                </p:column>         
                            </p:dataTable>
                        </h:panelGroup>
                    </div>                          
                    <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>


                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>