<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }                
                    .entry-component-label{white-space: normal}

                </style>
                <script type="text/javascript">
                    //<![CDATA[ 
                    
                    function check_user_id(){
                        $('#err_txt_user_id').text('');
                        var  v_user_id=$('#txt_user_id').val();
                        var v_lbl_empnm_err=$('#lbl_empnm_err');
                        if(v_user_id==null || v_user_id==""){
                            $('#err_txt_user_id').text('Enter User Id');
                            v_lbl_empnm_err.text("");
                            return false;
                        }   else{return true;}
                    }
                    
                    
                    function validate_record(){
                        var valid=true
                        $('err_txt_user_id').text('');
                        $('err_ddl_selection').text('');
                        $('err_ddl_from_desig').text('');
                        $('err_ddl_to_desig').text('');
                        $('err').text('');
                        if($('#txt_user_id').val()==""){
                            $('#err_txt_user_id').text('Enter User Id');
                            valid= false;
                        }
                        
                        if($('#ddl_selection_input').val()==""){
                            $('#err_ddl_selection').text('Select Status');
                            valid= false;
                        }
                        if($('#ddl_from_desig_input').val()==""){
                            $('#err_ddl_from_desig').text('Select Current Designation');
                            valid= false;
                        }
                        if($('#ddl_to_desig_input').val()==""){
                            $('#err_ddl_to_desig').text('Select New Designation');
                            valid= false;
                        }
                        if($('#cal_event_date_input').val()==""){
                            $('#err_cal_event_date').text('Select Event Date');
                            valid= false;
                        }
                        return valid;
                        
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Personnel Information system" url="#{PIS_GlobalSettings.brPis}" />  
                        <p:menuitem value="Employee" url="#{PIS_GlobalSettings.brPis_emp}" />  
                        <p:menuitem value="Employee Increment or Redesignation" url="#" />  
                    </p:breadCrumb> 
                    <div align="center">
                        <div align="left" class="component-margin">
                            <p:panel id="pnl_user_detail" >
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">User Id:<label class="mandatory-text" >*</label></td>
                                        <td>
                                            <p:inputText tabindex="1" id="txt_user_id"
                                                         size="5"   maxlength="5"                                                                
                                                         value="#{PIS_Emp_Increment.txt_user_id}"
                                                         valueChangeListener="#{PIS_Emp_Increment.txt_user_id_processValueChange}" 
                                                         onchange="if(!check_user_id()){return false;}">
                                                <p:ajax event="change"   
                                                        process="txt_user_id"
                                                        update="growl1,ddl_from_desig,
                                                        lbl_username,lbl_empnm_err" />
                                            </p:inputText>
                                            <h:outputLabel styleClass="static-text-detail"
                                                           id="lbl_username"
                                                           style="margin-left: 5px;"
                                                           value="#{PIS_Emp_Increment.lbl_username}"/>
                                            <h:outputLabel  id="lbl_empnm_err"
                                                            styleClass="error-message"
                                                            style="margin-left:10px;"
                                                            value="#{PIS_Emp_Increment.lbl_empnm_err}" />
                                            <br/><div id="err_txt_user_id" class="error-message"/>
                                        </td><td/><td/>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Select Status:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_selection"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Increment.ddl_selection}">
                                                <f:selectItem itemLabel="---Select Any---"/>
                                                <f:selectItem itemValue="P" itemLabel="Promotion"/>
                                                <f:selectItem itemValue="I" itemLabel="Increment"/>
                                                <f:selectItem itemValue="D" itemLabel="Designation Change"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_selection" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label" align="right">Event Date:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:calendar id="cal_event_date"
                                                        styleClass="component-width"
                                                        value="#{PIS_Emp_Increment.cal_event_date}"/>
                                            <br/><div id="err_cal_event_date" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Current Designation:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_from_desig"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Increment.ddl_from_desig}"
                                                             >
                                                <f:selectItems value="#{PIS_Emp_Increment.ddl_from_desig_options}"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_from_desig" class="error-message"/>                                            
                                        </td>
                                        <td class="entry-component-label">New Designation:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_to_desig"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Increment.ddl_to_desig}"
                                                             >
                                                <f:selectItems value="#{PIS_Emp_Increment.ddl_to_desig_options}"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_to_desig" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Increment Flag:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectBooleanCheckbox id="chk_increment_flag"
                                                                     value="#{PIS_Emp_Increment.chk_increment_flag}"/>
                                        </td>
                                        <td class="entry-component-label" align="right">Remarks:</td>
                                        <td class="entry-component-detail"> 
                                            <p:inputTextarea id="txt_remarks"
                                                             maxlength="500"
                                                             styleClass="component-width"
                                                             style="text-transform: uppercase"
                                                             value="#{PIS_Emp_Increment.txt_remarks}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="center">
                                            <p:commandButton id="btn_set_promotion"
                                                             process="pnl_user_detail"
                                                             update="pnl_user_detail,growl1"
                                                             value="Set Event"
                                                             onclick="if(!validate_record()){return false;}"
                                                             actionListener="#{PIS_Emp_Increment.btn_set_promotion_clicked}"/>
                                        </td>
                                    </tr>
                                </table>
                                <script type="text/javascript">$('#txt_user_id').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false}); </script>
                            </p:panel>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>