<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:pic="http://java.sun.com/jsf/composite/components"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
            </ui:define>
            <ui:define name="content">    

                <h:form id="form1" prependId="false" enctype="multipart/form-data">
                    <h:inputHidden id="hdn_is_can_create_employee" value="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}" />
                    <script type="text/javascript">
                        //<![CDATA[         
                        if($('#hdn_is_can_create_employee').val()!='true'){window.location="/PIS";}
                        //]]>
                    </script>
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Employee Related" url="#{PIS_GlobalSettings.brPis_emp_related}" />  
                        <p:menuitem  value="Add New User" url="#"/>
                    </p:breadCrumb>                      
                    <pic:Add_Edit_Employee id="add_Edit_Employee"/>                              
                </h:form>             
            </ui:define>
        </ui:composition>       
    </body>
</html>