<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }                
                    

                </style>
                <script type="text/javascript">
                    //<![CDATA[ 
                    
                    function check_user_id(){
                        $('#err_txt_user_id').text('');
                        var  v_user_id=$('#txt_user_id').val();
                        var v_lbl_empnm_err=$('#lbl_empnm_err');
                        if(v_user_id==null || v_user_id==""){
                            $('#err_txt_user_id').text('Enter User Id');
                            v_lbl_empnm_err.text("");
                            return false;
                        }   else{return true;}
                    }
                    
                    function validate_set_status(){
                        var valid=true;
                        $('#err_txt_user_id').text('');
                        $('#err_ddl_status').text('');
                        $('#err_cal_event_date').text('');
                        if($('#txt_user_id').val()==""){
                            $('#err_txt_user_id').text('Enter User Id');
                            valid= false;
                        }
                        if($('#ddl_status_input').val()==""){
                            $('#err_ddl_status').text('Select Any');
                            valid= false;
                        }
                        if($('#cal_event_date_input').val()==""){
                            $('#err_cal_event_date').text('Select Date');
                            valid= false;
                        }
                        return valid;
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Personnel Information system" url="#{PIS_GlobalSettings.brPis}" />  
                        <p:menuitem value="Employee" url="#{PIS_GlobalSettings.brPis_emp}" />  
                        <p:menuitem value="Employee Resign/Relieve Form" url="#" />  
                    </p:breadCrumb> 
                    <div align="center">
                        <div align="left" class="component-margin">
                            <p:panel id="pnl_user_detail" >
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">User Id:<label class="mandatory-text" >*</label></td>
                                        <td colspan="3">
                                            <p:inputText tabindex="1" id="txt_user_id"
                                                         size="5"   maxlength="5"                                                                
                                                         value="#{PIS_Emp_Resign_Relieve.txt_user_id}"
                                                         valueChangeListener="#{PIS_Emp_Resign_Relieve.txt_user_id_changed}" 
                                                         onchange="if(!check_user_id()){return false;}">
                                                <p:ajax event="change"   
                                                        process="txt_user_id"
                                                        update="growl1,pnl_user_detail" />
                                            </p:inputText>
                                            <h:outputLabel styleClass="static-text-detail"
                                                           style="margin-left: 5px;"
                                                           value="#{PIS_Emp_Resign_Relieve.selectedUser.userName}"/>

                                            <br/>
                                            <h:outputText  id="err_txt_user_id"
                                                           styleClass="error-message"
                                                           value="#{PIS_Emp_Resign_Relieve.err_txt_user_id}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Select Status:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_status"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Resign_Relieve.ddl_status}"
                                                             >
                                                <f:selectItems value="#{PIS_Emp_Resign_Relieve.ddl_status_options}"/>
                                                <p:ajax update="pnl_user_detail"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_status" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label">Event Date:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:calendar id="cal_event_date"
                                                        styleClass="component-width"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        value="#{PIS_Emp_Resign_Relieve.cal_event_date}"
                                                        mindate="#{PIS_Emp_Resign_Relieve.cal_event_date_min}"
                                                        maxdate="#{PIS_Emp_Resign_Relieve.cal_event_date_max}"                                                        
                                                        navigator="true">
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_Emp_Resign_Relieve.cal_event_date_changed}"
                                                        update="pnl_user_detail"/>
                                            </p:calendar>
                                            <br/><div id="err_cal_event_date" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr style="#{((PIS_Emp_Resign_Relieve.ddl_status=='L' or PIS_Emp_Resign_Relieve.ddl_status=='T') and PIS_Emp_Resign_Relieve.cal_event_date!=null)? '':'display:none'}">
                                        <td class="entry-component-label">Notice Period:</td>
                                        <td class="entry-component-detail">
                                            <h:panelGroup id="pnl_notice_period">
                                                #{PIS_Emp_Resign_Relieve.lastContract.noticePeriod} 
                                                <p:commandLink value="(Change)" 
                                                               style="margin-left:5x"
                                                               actionListener="#{PIS_Emp_Resign_Relieve.open_notice_period_dialog}"
                                                               update="pnl_dlg_change_notice_period"/>
                                            </h:panelGroup>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Remarks:</td>
                                        <td class="entry-component-detail" colspan="3"> 
                                            <p:inputTextarea id="txt_remarks"
                                                             maxlength="500"
                                                             cols="70"
                                                             style="text-transform: uppercase"
                                                             value="#{PIS_Emp_Resign_Relieve.txt_remarks}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="4" align="center">
                                            <p:commandButton id="btn_set_status"
                                                             actionListener="#{PIS_Emp_Resign_Relieve.btn_set_status_clicked}"
                                                             value="Set Employee Status"
                                                             process="@this,pnl_user_detail"
                                                             update="pnl_user_detail,growl1"
                                                             icon="ui-icon-disk"
                                                             styleClass="component-width"
                                                             onclick="if(!validate_set_status()){return false;}"/>
                                        </td>
                                    </tr>
                                </table>
                                <script type="text/javascript">$('#txt_user_id').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false}); </script>
                            </p:panel>
                        </div>
                        <p:dialog header="Change Notice Period"
                                  id="dlg_change_notice_period"
                                  widgetVar="pw_dlg_change_notice_period"
                                  modal="true">
                            <h:panelGroup id="pnl_dlg_change_notice_period">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label" style="width:1px">
                                            User:
                                        </td>
                                        <td>
                                            #{PIS_Emp_Resign_Relieve.selectedUser.userId} - #{PIS_Emp_Resign_Relieve.selectedUser.userName}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Contract Start Date : 
                                        </td>
                                        <td>
                                            <h:outputText value="#{PIS_Emp_Resign_Relieve.lastContract.startDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Contract End Date : 
                                        </td>
                                        <td>
                                            <h:outputText value="#{PIS_Emp_Resign_Relieve.lastContract.endDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Notice Period:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:inputText id="txt_notice_period"
                                                         value="#{PIS_Emp_Resign_Relieve.txt_notice_period}"
                                                         maxlength="5"
                                                         />
                                            <script type="text/javascript">
                                                $('#txt_notice_period').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false});                                                   
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td/>
                                        <td>
                                            <p:commandButton value="Change Notice Period"
                                                             actionListener="#{PIS_Emp_Resign_Relieve.saveNoticePeriod}"
                                                             process="@this,txt_notice_period"
                                                             update="pnl_notice_period,growl1"
                                                             />

                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>