<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                 
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }                
                    .entry-component-label{white-space: normal}

                </style>
                <script type="text/javascript">
                    //<![CDATA[ 
                                       
                    function validate_transfer(){
                        var v_return =true;
                        $('#err_txt_user_id').text('');
                        $('#err_ddl_to_oum').text('');
                        $('#err_cal_transfer_date').text('');
                        $('#err_cal_new_ou_joining_date').text('');
                        $('#err_ddl_new_rep_userid').text('');
                        if($('#txt_user_id').val()==""){
                            $('#err_txt_user_id').text('Enter User Id');
                            v_return=false;
                        }
                        if($('#ddl_to_oum_input').val()==''){
                            $('#err_ddl_to_oum').text('Select To Oum_unit_srno');
                            v_return=false;
                        }
                        if($('#cal_transfer_date_input').val()==''){
                            $('#err_cal_transfer_date').text('Select Transfer Date');
                            v_return=false;
                        }
                        if($('#cal_new_ou_joining_date_input').val()==''){
                            $('#err_cal_new_ou_joining_date').text('Select New Ou Joining Date');
                            v_return=false;
                        }
                        if($('#ddl_new_rep_userid_input').val()==''){
                            $('#err_ddl_new_rep_userid').text('Select New Reporting UserID');
                            v_return=false;
                        }
                        return v_return;    
                    }
                    
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Personnel Information system" url="#{PIS_GlobalSettings.brPis}" />  
                        <p:menuitem value="Employee" url="#{PIS_GlobalSettings.brPis_emp}" />  
                        <p:menuitem value="Employee Transfer Form" url="#" />  
                    </p:breadCrumb> 
                    <div align="center">
                        <div align="left" class="component-margin">
                            <p:panel id="pnl_user_detail" >
                                <table class="element-table" border="0">
                                    <tr>
                                        <td class="entry-component-label">User Id:<label class="mandatory-text" >*</label></td>
                                        <td colspan="3">
                                            <p:inputText tabindex="1" id="txt_user_id"
                                                         size="5"   maxlength="5"                                                                
                                                         value="#{PIS_Emp_Transfer.txt_user_id}"
                                                         valueChangeListener="#{PIS_Emp_Transfer.txt_user_id_processValueChange}" 
                                                         >
                                                <p:ajax event="change"   
                                                        process="txt_user_id"
                                                        update="growl1,pnl_user_detail" />
                                            </p:inputText>
                                            <h:outputLabel styleClass="static-text-detail"
                                                           id="txt_username"
                                                           style="margin-left: 5px;"
                                                           value="#{PIS_Emp_Transfer.txt_username}"/>
                                            <h:outputLabel  id="err_txt_user_id"
                                                            styleClass="error-message"
                                                            style="margin-left:10px;"
                                                            value="#{PIS_Emp_Transfer.err_txt_user_id}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">From Org Unit:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:outputLabel id="txt_from_oum"
                                                           value="#{PIS_Emp_Transfer.txt_from_oum}"/>
                                        </td>
                                        <td class="entry-component-label" align="right">To Org Unit:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_to_oum"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Transfer.ddl_to_oum}">
                                                <f:selectItems value="#{PIS_Emp_Transfer.ddl_to_oum_options}"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_to_oum" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Current Reporting User ID:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:outputLabel id="txt_current_rep_userid_name"
                                                           value="#{PIS_Emp_Transfer.txt_current_rep_userid_name}"/>
                                        </td>
                                        <td class="entry-component-label" align="right">New Reporting User ID:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:selectOneMenu id="ddl_new_rep_userid"
                                                             styleClass="component-width"
                                                             value="#{PIS_Emp_Transfer.ddl_new_rep_userid}">
                                                <f:selectItems value="#{PIS_Emp_Transfer.ddl_new_rep_userid_options}"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_new_rep_userid" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Transfer Date:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:calendar id="cal_transfer_date"
                                                        navigator="true" 
                                                        value="#{PIS_Emp_Transfer.cal_transfer_date}"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        mindate="#{PIS_Emp_Transfer.cal_transfer_date_min}"
                                                        
                                                        maxdate="#{PIS_Emp_Transfer.cal_transfer_date_max}"
                                                        valueChangeListener="#{PIS_Emp_Transfer.cal_transfer_date_changed}">
                                                <p:ajax event="dateSelect"
                                                        process="cal_transfer_date"
                                                        update="cal_new_ou_joining_date"/>
                                            </p:calendar>
                                            <br/><div id="err_cal_transfer_date" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label">New Ou Joining Date:<label class="mandatory-text" >*</label></td>
                                        <td class="entry-component-detail">
                                            <p:calendar id="cal_new_ou_joining_date"
                                                        navigator="true" 
                                                        value="#{PIS_Emp_Transfer.cal_new_ou_joining_date}"                                                        
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        mindate="#{PIS_Emp_Transfer.cal_new_ou_joining_date_min}"
                                                        maxdate="#{PIS_Emp_Transfer.cal_new_ou_joining_date_max}"/>
                                            <br/><div id="err_cal_new_ou_joining_date" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Remarks:</td>
                                        <td class="entry-component-detail"> 
                                            <p:inputTextarea id="txt_remarks"
                                                             maxlength="500"
                                                             styleClass="component-width"
                                                             style="text-transform: uppercase"
                                                             value="#{PIS_Emp_Transfer.txt_remarks}"/>
                                        </td>
                                        <td/><td/>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="center">
                                            <p:commandButton id="btn_transfer"
                                                             actionListener="#{PIS_Emp_Transfer.btn_transfer_clicked}"
                                                             value="Transfer Employee"
                                                             icon="ui-icon-disk"
                                                             styleClass="component-width"
                                                             process="pnl_user_detail,growl1"
                                                             update="pnl_user_detail,growl1"
                                                             onclick="if(!validate_transfer()){return false;}"/>
                                        </td>
                                    </tr>
                                </table>
                                <script type="text/javascript">$('#txt_user_id').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false}); </script>
                            </p:panel>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>