<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="../pages/template.xhtml" >
            <ui:define name="head">
                <style type="text/css">
                    .ui-autocomplete input{text-transform: uppercase}
                    input.hasDatepicker  ,.component-width,.component-width select,.ui-selectonemenu{
                        width:200px;
                        max-width: 200px;
                        max-height: 80px;
                    }
                    .component-width .ui-autocomplete-input{
                        width:163px;
                    }

                    .reports-li{
                        padding: 5px;
                    }
                    .ui-selectonemenu-panel{max-width: 600px}

                </style>
                <script type="text/javascript">
                    var v_old_value;            
                    var v_dom;
                    var v_dialog_header;
                    $(document).delegate('.ui-autocomplete input','focus',function(event){
                        v_old_value=$(this).val();
                    });
                    $(document).delegate('.ui-autocomplete input','blur',function(event){
                        v_dom=$(this);
                        setTimeout('checkAndSet()',300);
                        
                    });                    
                    function checkAndSet(){                        
                        if(v_dom.val().trim() ==''){
                            v_dom.val(v_old_value);
                        }
                    }
                    function setDialogHeader(dom){                            
                        v_dialog_header=$(dom).closest('li').find('.dialog-title').first().html();
                    }
                    function setReportDialog(p_report_type){
                        SetAndShowDialog1('dlg_parameter_box',v_dialog_header);
                        if(p_report_type=='P'){
                            $('#form1').prop('target','_blank');
                        }else if(p_report_type=='E'){
                            $('#form1').prop('target','')
                        }
                    }
                    //.ui-commandlink, .hyperlink1 {
                    //    color: #4074a0;
                    //}
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" target="_blank">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Reports" url="#{PIS_GlobalSettings.brPis_rep}" />                                                 
                        <p:menuitem value="Utility Reports" url="#" />                          
                    </p:breadCrumb>
                    <div class="component-margin">
                        <table class="entry-component-label" width="100%">
                            <tr>
                                <td width="50%" valign="top">
                                    <ul>
                                        <li><span class="main-li">Time Attendance System Reports</span>
                                            <ul><br/>
                                                <li class="reports-li">                                                    
                                                    <a class="ui-commandlink dialog-title" id="employee_list" href="javascript:void(0);">Employee List </a>
                                                    <p:commandLink 
                                                        id="employee_list_pdf"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value="(PDF /"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_list_pdf_clicked}" />
                                                    <p:commandLink 
                                                        id="employee_list_xls"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value=" Excel)"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_list_xls_clicked}"/>
                                                </li>                                              

                                                <li class="reports-li">                                                    
                                                    <p:commandLink id="attd_reg"
                                                                   styleClass="dialog-title"
                                                                   value="Monthly Attendance Register"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.attd_reg_clicked}"                                                                   
                                                                   />
                                                </li>
                                                <li class="reports-li" style="display: none">                                                    
                                                    <p:commandLink id="salaryslip"
                                                                   styleClass="dialog-title"
                                                                   value="Employee Salary Slip"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.salaryslip_clicked}"                                                                   
                                                                   />
                                                </li>  
                                                <li class="reports-li">                                                    
                                                    <p:commandLink id="leaveconssumary"
                                                                   styleClass="dialog-title"
                                                                   value="Employee Leave Consumtion Summary"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.leaveconssumary_clicked}"                                                                   
                                                                   />
                                                </li>                                                  
                                                <li class="reports-li">                                                    
                                                    <p:commandLink id="leave_balance_report"
                                                                   styleClass="dialog-title"
                                                                   value="Employee Leave Balance"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.leave_balance_report_clicked}"                                                                   
                                                                   />
                                                </li>  
                                                <li class="reports-li">                                                    
                                                    <p:commandLink id="holiday_summary"
                                                                   styleClass="dialog-title"
                                                                   value="Holiday Summary"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.holiday_clicked}"                                                                   
                                                                   />
                                                </li> 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <p:commandLink id="empnonpayable_encash_det"                                                                   
                                                                   styleClass="dialog-title"
                                                                   value="Employee Non-Payable Days and Leave Encash Detail"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.empnonpayable_encash_det_clicked}"                                                                   
                                                                   />
                                                </li> 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <a class="ui-commandlink dialog-title" id="empnonpayable_encashsum" href="javascript:void(0);">Employee Non-Payable Days and Leave Encash Summary </a>
                                                    <p:commandLink 
                                                        id="empnonpayable_encashsum_pdf"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value="(PDF /"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.empnonpayable_encashsum_pdf_clicked}"     />
                                                    <p:commandLink 
                                                        id="empnonpayable_encashsum_xls"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value=" Excel)"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.empnonpayable_encashsum_xls_clicked}"/>
                                                </li>                                                 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <a class="ui-commandlink dialog-title" id="employee_encash_detail" href="javascript:void(0);">Employee Encash Detail </a>
                                                    <p:commandLink 
                                                        id="employee_encash_detail_pdf"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value="(PDF /"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_encash_detail_pdf_clicked}"     />
                                                    <p:commandLink 
                                                        id="employee_encash_detail_xls"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value=" Excel)"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_encash_detail_xls_clicked}"/>

                                                </li> 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <a class="ui-commandlink dialog-title" id="employee_non_pay_detail" href="javascript:void(0);">Employee Non-Payable Days Detail </a>
                                                    <p:commandLink 
                                                        id="employee_non_pay_detail_pdf"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value="(PDF /"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_non_pay_detail_pdf_clicked}"     />
                                                    <p:commandLink 
                                                        id="employee_non_pay_detail_xls"                                                        
                                                        onclick="setDialogHeader(this)"
                                                        value=" Excel)"    
                                                        process="@this"
                                                        update="pnl_dlg_parameter_box"
                                                        actionListener="#{PIS_Utility_Reports.employee_non_pay_detail_xls_clicked}"/>

                                                </li> 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <p:commandLink id="recentContractEnd"
                                                                   styleClass="dialog-title"
                                                                   value="Recent Contract End"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.recentContractEnd_clicked}"                                                                   
                                                                   />
                                                </li> 
                                                <li class="reports-li" style="#{PIS_GlobalSettings.sysetemUser_Fhrd?'':'display:none'}">                                                    
                                                    <p:commandLink id="relieve_settlement"
                                                                   styleClass="dialog-title"
                                                                   value="Relieve Settlement Report"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.relieve_settlement_clicked}"                                                                   
                                                                   />
                                                </li> 
                                                <li class="reports-li">                                                    
                                                    <p:commandLink id="locked_attd_leave_summary"
                                                                   styleClass="dialog-title"
                                                                   value="Locked Attendance and Leave Summary"  
                                                                   onclick="setDialogHeader(this)"
                                                                   process="@this"
                                                                   update="pnl_dlg_parameter_box"
                                                                   actionListener="#{PIS_Utility_Reports.locked_attd_leave_summary_clicked}"                                                                   
                                                                   />
                                                </li> 
                                            </ul>
                                        </li>                                          
                                    </ul>
                                </td>                             
                            </tr>
                        </table>
                    </div>
                    <h:panelGroup id="pnl_dlg_parameter_box">
                        <p:dialog widgetVar="pw_dlg_parameter_box"
                                  id="dlg_parameter_box"
                                  modal="true"
                                  >  
                            <table class="element-table">
                                <tr style="#{PIS_Utility_Reports.showOrgUnit?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">Organization Unit:</td>                                    
                                    <td width="1px">
                                        <h:panelGroup id="pnl_ddl_org_unit">                                    
                                            <p:selectOneMenu id="ddl_org_unit"
                                                             value="#{PIS_Utility_Reports.ddl_org_unit}"
                                                             styleClass="component-width"
                                                             rendered="#{PIS_Utility_Reports.showOrgUnit}"
                                                             valueChangeListener="#{PIS_Utility_Reports.ddl_org_unit_changed}">
                                                <f:selectItems value="#{PIS_Utility_Reports.ddl_org_unit_options}"/>
                                                <p:ajax process="pnl_ddl_org_unit"
                                                        update="pnl_ddl_user"/>
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </td>
                                </tr>
                                <tr style="#{PIS_Utility_Reports.showCalYear?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">For Year:</td>                                    
                                    <td width="1px">
                                        <h:panelGroup id="pnl_year">                                    
                                            <p:selectOneMenu id="ddl_year"
                                                             styleClass="component-width"
                                                             value="#{PIS_Utility_Reports.ddl_year}"
                                                             valueChangeListener="#{PIS_Utility_Reports.ddl_year_changed}">
                                                <f:selectItems value="#{PIS_Utility_Reports.ddl_year_options}"/>
                                                <p:ajax process="ddl_year"
                                                        update="pnl_month"/>
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </td>
                                </tr>
                                <tr style="#{PIS_Utility_Reports.showCalMonths?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">Salary Month:</td>                                    
                                    <td width="1px">
                                        <h:panelGroup id="pnl_month">                                    
                                            <p:selectOneMenu id="ddl_month"
                                                             styleClass="component-width"
                                                             value="#{PIS_Utility_Reports.ddl_month}">
                                                <f:selectItems value="#{PIS_Utility_Reports.ddl_month_options}"/>
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </td>
                                </tr>                              
                                <tr style="#{PIS_Utility_Reports.showFromDate?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">#{PIS_Utility_Reports.cal_from_date_label}</td>                                    
                                    <td width="1px">
                                        <h:panelGroup id="pnl_cal_from_date">                                    
                                            <p:calendar id="cal_from_date"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        mindate="#{PIS_Utility_Reports.cal_from_date_min}"
                                                        maxdate="#{PIS_Utility_Reports.cal_from_date_max}"
                                                        value="#{PIS_Utility_Reports.cal_from_date}"
                                                        navigator="true"
                                                        styleClass="component-width">
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_Utility_Reports.cal_from_date_changed}"
                                                        process="pnl_cal_from_date"                                                        
                                                        update="pnl_cal_to_date"
                                                        />
                                            </p:calendar>

                                        </h:panelGroup>
                                    </td>
                                </tr>
                                <tr style="#{PIS_Utility_Reports.showToDate?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">To Date:</td>                                    
                                    <td width="1px">
                                        <h:panelGroup id="pnl_cal_to_date">                                    
                                            <p:calendar id="cal_to_date"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        mindate="#{PIS_Utility_Reports.cal_to_date_min}"
                                                        maxdate="#{PIS_Utility_Reports.cal_to_date_max}"
                                                        value="#{PIS_Utility_Reports.cal_to_date}"
                                                        navigator="true"
                                                        styleClass="component-width">
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_Utility_Reports.cal_to_date_changed}"
                                                        process="pnl_cal_to_date"                                                        
                                                        update="pnl_cal_to_date"
                                                        />
                                            </p:calendar>
                                        </h:panelGroup>
                                    </td>
                                </tr>

                                <tr style="#{PIS_Utility_Reports.showEmpStatus?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">User Status:</td>                                    
                                    <td style="font-weight: bold;white-space: nowrap">
                                        <p:selectOneRadio id="rdb_emp_status"
                                                          value="#{PIS_Utility_Reports.rdb_emp_status}"
                                                          >
                                            <f:selectItem itemValue="A" itemLabel="All"/>
                                            <f:selectItem itemValue="C" itemLabel="Active Only"/>
                                            <f:selectItem itemValue="R" itemLabel="Relieved/Terminated"/>
                                        </p:selectOneRadio>

                                    </td>
                                </tr>
                                <tr style="#{PIS_Utility_Reports.showUserType?'':'display:none'}">
                                    <td class="entry-component-label" width="1px">User Type:</td>                                    
                                    <td style="font-weight: bold;white-space: nowrap">
                                        <p:selectOneMenu id="ddl_user_type"
                                                         value="#{PIS_Utility_Reports.ddl_user_type}"
                                                         styleClass="component-width"
                                                         >
                                            <f:selectItem itemValue="0" itemLabel="All"/>
                                            <f:selectItem itemValue="1" itemLabel="EMPLOYEE"/>
                                            <f:selectItem itemValue="3" itemLabel="CONSULTANT"/>
                                            <f:selectItem itemValue="4" itemLabel="AUDITOR"/>
                                            <f:selectItem itemValue="5" itemLabel="CHAIRMAN"/>
                                        </p:selectOneMenu>

                                    </td>
                                </tr>
                                <tr style="#{PIS_Utility_Reports.showUsers?'':'display:none'}">
                                    <td class="entry-component-label" width="1px"> For User:</td>                                    
                                    <td style="font-weight: bold;white-space: nowrap">
                                        <h:panelGroup id="pnl_ddl_user">
                                            <p:selectOneMenu id="ddl_user"
                                                             value="#{PIS_Utility_Reports.ddl_user}"
                                                             styleClass="component-width"
                                                             >
                                                <f:selectItems value="#{PIS_Utility_Reports.ddl_user_options}"/>
                                            </p:selectOneMenu>
                                        </h:panelGroup>
                                    </td>
                                </tr>
                                <tr class="btn-run-utility_reports">
                                    <td>                                        
                                    </td>
                                    <td>                                        
                                        <p:commandButton 
                                            id="btn_run_general_utility_reports"
                                            value="View Report"
                                            actionListener="#{PIS_Utility_Reports.runGeneralReport}"
                                            ajax="false"
                                            icon="ui-icon-play"
                                            onclick="pw_dlg_parameter_box.hide()"
                                            />
                                    </td>
                                </tr>
                            </table>
                        </p:dialog>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html> 
