<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"/>    
        <style type="text/css">
            .ui-fileupload-content{border:none;padding:0;margin: 0}
            .ui-fileupload-content td{display:none}
            
.ui-fileupload-content .ui-progressbar{width:50px}
        </style>
    </h:head>
    <h:body>
        <h:form id="form1" enctype="multipart/form-data" prependId="false">
            <p:fileUpload 
                id="img_upload_1"
                fileUploadListener="#{test.handleFileUpload}"  
                value="#{test.uploaded_image}"
                allowTypes="/(\.|\/)(jpe?g|png)$/"                          
                mode="advanced"
                auto="true"
                onstart="$('.ui-fileupload-content .ui-fileupload-progress').show();img_uploaded=false;setTimeout('statusDialog.hide()',200)"
                oncomplete="$('.ui-fileupload-content .ui-fileupload-progress').hide();img_uploaded=true;"
                />  
            <script type="text/javascript">
                $('#test\\:img_upload_1_input').change(function(event) {
                    if(this.files[0].size>1024000000000){
                        //Size should be less than 102400
                        alert('Image size can not be greater than 100KB');                    
                        event.stopImmediatePropagation();
                    }
                    var ext = this.files[0].name.split('.').pop().toLowerCase();
                    if($.inArray(ext, ['png','jpg','jpeg']) == -1) {
                        alert('Please select valid file');                    
                        event.stopImmediatePropagation();
                    }
                });
            </script>
        </h:form>
    </h:body>
</html>

