<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                       
               
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" enctype="multipart/form-data">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />                          
                        <p:menuitem value="File Upload Test Page" url="#" />  
                    </p:breadCrumb>  
                    <div align="left" class="component-margin">
                        <p:commandLink id="lnk_click" styleClass="hyperlink1"
                                       process="dlg_fileupload"
                                       value="Click here to add Employee Photograph"
                                       onclick="pw_fileupload.show();"
                                       /><label class="mandatory-text">*</label>
                        <br/><!--<img src="../../../images/emp/default.png" width="120" height="120" alt="default"/>-->
                        <p:graphicImage                                                                
                            url="#{FileUploadTest.emp_image_url}"
                            id="emp_image"                                                           
                            width="120" height="120"
                            cache="false"/>
                        <p:dialog id="dlg_fileupload" 
                                  widgetVar="pw_fileupload"
                                  header="Upload File"
                                  hideEffect="slide" 
                                  modal="true"
                                  width="550"
                                  height="200">
                            <div class="component-margin">
                                <p:fileUpload id="pfu_emp_upload"
                                              fileUploadListener="#{FileUploadTest.handleFileUpload}"
                                              process="pfu_emp_upload" 
                                              widgetVar="pw_upload"
                                              update="emp_image"
                                              auto="false" 
                                              mode="advanced"
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                              oncomplete="pw_fileupload.hide();"                                       
                                              sizeLimit="61440" 
                                              invalidSizeMessage="Invalid Filesize.Size should be 60 KB">
                                </p:fileUpload>
                            </div>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>