<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">

            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" /> 
                        <p:menuitem value="Leave-Tour-Training" url="#{PIS_GlobalSettings.brTas_LeaveTourTraining}" />
                        <p:menuitem value="Cancellation Application" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <p:outputPanel styleClass="emplist-selection">
                            <div class="component-margin" align="left">
                                <p:panel id="pnl_application_list" header="Application List">
                                    <table class="element-table">
                                        <tr>
                                            <td width="1px" class="entry-component-label">User Id:<label class="mandatory-text">*</label></td>
                                            <td ><p:inputText id="txt_user_id"
                                                              size="1" maxlength="4"
                                                              value="#{PIS_LeaveApplication_Cancellation.txt_user_id}"
                                                              valueChangeListener="#{PIS_LeaveApplication_Cancellation.txt_user_id_changed}"
                                                              >
                                                    <p:ajax event="change"
                                                            process="txt_user_id"
                                                            update="@(.emplist-selection)"
                                                            />
                                                </p:inputText>
                                                <p:commandLink id="lnk_emplist_working_ouwise"
                                                               value="(Users List)"                                                                   
                                                               process="@this"
                                                               style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                               update="pnl_dlg_emplist"                                                         
                                                               actionListener="#{PIS_LeaveApplication_Cancellation.lnk_view_emplist}"
                                                               />
                                                <h:outputText  id="err_txt_user_id"
                                                               styleClass="error-message"
                                                               value="#{PIS_LeaveApplication_Cancellation.err_txt_user_id}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="entry-component-label">User Name:</td>
                                            <td class="entry-component-detail"> #{PIS_LeaveApplication_Cancellation.selectedUser.userName}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <div class="component-margin">
                                        <h:panelGroup id="pnl_approved_application" class="component-margin">
                                            <div class="scrolling-div component-margin">
                                                <p:dataTable
                                                    id="tbl_approved_applications"
                                                    value="#{PIS_LeaveApplication_Cancellation.tbl_approved_applications}"
                                                    var="item"
                                                    paginator="true"
                                                    rows="5"
                                                    paginatorPosition="top"
                                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                    rowsPerPageTemplate="5,10,15">

                                                    <p:column headerText="UserId" sortBy="#{item.userId.userId}">#{item.userId.userId}</p:column>
                                                    <p:column headerText="Name" sortBy="#{item.userId.userName}">#{item.userId.userName}</p:column>
                                                    <p:column headerText="From Date-Half" sortBy="#{item.fromDate}">
                                                        <h:outputText value="#{item.fromDate}">
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                        <br/>
                                                        <h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />                                               
                                                    </p:column>
                                                    <p:column headerText="To Date-Half">
                                                        <h:outputText value="#{item.toDate}">
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                        <br/>
                                                        <h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />
                                                    </p:column>
                                                    <p:column headerText="Days">#{item.days}</p:column>
                                                    <p:column headerText="Application Category">
                                                        <h:outputText value="#{(item.applicationFlag=='L')?'LEAVE':(item.applicationFlag=='T')?'TOUR':(item.applicationFlag=='R')?'TRAINING':''}" />
                                                    </p:column>
                                                    <p:column headerText="Application Type">
                                                        <h:outputText value="#{(item.appliType=='S')?'SINGLE':(item.appliType=='C')?'CLUB':''}" />
                                                    </p:column>
                                                    <p:column headerText="Reason">
                                                        <h:outputText value="#{item.reason1}" escape="false"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:commandButton title="View Detail"
                                                                         process="@this"
                                                                         update=":form1:pnl_Application_Detail,:form1:growl1"
                                                                         icon="ui-icon-search"
                                                                         onclick="setHighLight(this)">
                                                            <f:setPropertyActionListener value="#{item}"
                                                                                         target="#{PIS_LeaveApplication_Cancellation.selectedApplication}"/>
                                                        </p:commandButton>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </p:panel>                            
                            </div>
                            <div class="component-margin scrolling-div" align="left">
                                <h:panelGroup id="pnl_Application_Detail">
                                    <p:panel header="Approved Application Detail"  rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication!=null}">

                                        <table class="element-table" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="1px;" class="static-text-label">Application Unique Srno:</td>
                                                    <td width="250px;" class="static-text-detail">#{PIS_LeaveApplication_Cancellation.selectedApplication.absSrgKey}
                                                    </td>
                                                    <td width="15%" ></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="static-text-label">User ID:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText  value="#{PIS_LeaveApplication_Cancellation.selectedApplication.userId.userId}" />
                                                        <h:outputText style="margin-left:10px"
                                                                      value="#{PIS_LeaveApplication_Cancellation.selectedApplication.userId.userName}"/>
                                                    </td>
                                                    <td class="static-text-label">Reason for Application:</td>
                                                    <td>#{PIS_LeaveApplication_Cancellation.selectedApplication.reason1}</td>
                                                </tr>
                                                <tr>
                                                    <td class="static-text-label">From Date:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText  value="#{PIS_LeaveApplication_Cancellation.selectedApplication.fromDate}" >
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                        <h:outputText style="margin-left:10px" value="#{(PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==0)?'FULLDAY':(PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==1)?'FIRST HALF':(PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==2)?'SECOND HALF':(PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==3)?'BEFORE OFFICE HRS':(PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==4)?'AFTER OFFICE HRS':''}" />
                                                    </td>
                                                    <td class="static-text-label">To Date:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText  value="#{PIS_LeaveApplication_Cancellation.selectedApplication.toDate}" >
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                        <h:outputText style="margin-left:10px" value="#{(PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==0)?'FULLDAY':(PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==1)?'FIRST HALF':(PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==2)?'SECOND HALF':(PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==3)?'BEFORE OFFICE HRS':(PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==4)?'AFTER OFFICE HRS':''}" />
                                                    </td>
                                                </tr>
                                                <tr>                                            
                                                    <td class="static-text-label">Total Days:</td>
                                                    <td class="static-text-detail">#{PIS_LeaveApplication_Cancellation.selectedApplication.days}</td>

                                                    <td class="static-text-label">Applied Date:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText value="#{PIS_LeaveApplication_Cancellation.selectedApplication.createdt}" >
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="static-text-label">Approved By:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText
                                                            value="#{PIS_LeaveApplication_Cancellation.selectedApplication.aprvby.userId}" />
                                                        <h:outputText
                                                            style="margin-left:10px"
                                                            value="#{PIS_LeaveApplication_Cancellation.selectedApplication.aprvby.userName}" />
                                                    </td>
                                                    <td class="static-text-label">Approved Date:</td>
                                                    <td class="static-text-detail">
                                                        <h:outputText
                                                            value="#{PIS_LeaveApplication_Cancellation.selectedApplication.aprvDate}">
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="component-margin">
                                            <h:panelGroup id="pnl_Application_View_Detail" class="component-margin">
                                                <p:dataTable id="tbl_approval_detail"
                                                             var="item"
                                                             value="#{PIS_LeaveApplication_Cancellation.selectedApplication.ftasAbsenteesDtlCollection}" >


                                                    <p:column headerText="Leave Code">#{item.lmSrgKey.leaveDesc}</p:column>
                                                    <p:column headerText="From Date">
                                                        <h:outputText value="#{item.fromDate}">
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="From Half">
                                                        <h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />                                               
                                                    </p:column>
                                                    <p:column headerText="To Date">
                                                        <h:outputText value="#{item.toDate}">
                                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="To Half">
                                                        <h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />
                                                    </p:column>
                                                    <p:column headerText="Days">#{item.days}</p:column>
                                                    <p:column headerText="Laps">#{item.leaveBalLaps}</p:column>
                                                </p:dataTable>
                                            </h:panelGroup>
                                        </div>

                                        <div class="component-margin">

                                            <table width="100%" class="element-table"  style="#{(!PIS_LeaveApplication_Cancellation.partialCancellation) or (PIS_LeaveApplication_Cancellation.partialCancellation and PIS_LeaveApplication_Cancellation.cancellationPossible)?'':'display:none'}">
                                                <tr style="#{PIS_LeaveApplication_Cancellation.partialCancellation?'':'display:none'}">
                                                    <td colspan="4" class="entry-component-label">
                                                        Cancellation Period <span class="error-message" style="font-weight: bold"> (Whole leave will not be canceled, only below selected period will be canceled)</span>
                                                        <hr/>
                                                    </td>
                                                </tr>
                                                <tr style="#{PIS_LeaveApplication_Cancellation.partialCancellation?'':'display:none'}">
                                                    <td class="entry-component-label" width="1px">
                                                        From Date:<span class="mandatory-text">*</span>
                                                    </td>
                                                    <td class="entry-component-detail"  width="1px">
                                                        <h:outputText value="#{PIS_LeaveApplication_Cancellation.selectedApplication.fromDate}" rendered="#{!PIS_LeaveApplication_Cancellation.partialCancellation}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                        <p:calendar id="cal_partial_from_date"
                                                                    value="#{PIS_LeaveApplication_Cancellation.cal_partial_from_date}"
                                                                    mindate="#{PIS_LeaveApplication_Cancellation.cal_partial_from_date_min}"
                                                                    maxdate="#{PIS_LeaveApplication_Cancellation.cal_partial_from_date_max}"
                                                                    pattern="#{GlobalUtilities.dateFormat}"                                                            
                                                                    readonlyInput="true"
                                                                    navigator="true"
                                                                    rendered="#{PIS_LeaveApplication_Cancellation.partialCancellation}"
                                                                    >
                                                            <p:ajax event="dateSelect"
                                                                    listener="#{PIS_LeaveApplication_Cancellation.cal_partial_from_date_changed}"
                                                                    process="cal_partial_from_date"                                                        
                                                                    update="ddl_partial_from_half"
                                                                    />
                                                        </p:calendar>
                                                    </td>
                                                    <td class="entry-component-label" width="1px"  align="right">
                                                        From Half:<span class="mandatory-text">*</span>
                                                    </td>
                                                    <td>
                                                        <p:selectOneMenu id="ddl_partial_from_half"
                                                                         value="#{PIS_LeaveApplication_Cancellation.ddl_partial_from_half}"
                                                                         rendered="#{PIS_LeaveApplication_Cancellation.partialCancellation}">
                                                            <f:selectItems value="#{PIS_LeaveApplication_Cancellation.ddl_partial_from_half_options}"/>
                                                        </p:selectOneMenu>
                                                        <h:panelGroup rendered="#{!PIS_LeaveApplication_Cancellation.partialCancellation}">
                                                            <h:outputText value="Full Day" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==0}"/>
                                                            <h:outputText value="First Half" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==1}"/>
                                                            <h:outputText value="Second Half" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.fromhalf==2}"/>
                                                        </h:panelGroup>
                                                    </td>
                                                </tr>
                                                <tr style="#{PIS_LeaveApplication_Cancellation.partialCancellation?'':'display:none'}">
                                                    <td class="entry-component-label">
                                                        To Date:
                                                    </td>
                                                    <td class="entry-component-detail">
                                                        <h:outputText value="#{PIS_LeaveApplication_Cancellation.selectedApplication.toDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>

                                                    </td>
                                                    <td class="entry-component-label" align="right">
                                                        To Half:<span class="mandatory-text">*</span>
                                                    </td>
                                                    <td>
                                                        <h:outputText value="Full Day" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==0}"/>
                                                        <h:outputText value="First Half" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==1}"/>
                                                        <h:outputText value="Second Half" rendered="#{PIS_LeaveApplication_Cancellation.selectedApplication.tohalf==2}"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label" width="1px">
                                                        Reason for Cancellation:<label class="mandatory-text">*</label>
                                                    </td>
                                                    <td class="entry-component-detail" colspan="3">
                                                        <p:inputTextarea id="txt_cancellation_reason"
                                                                         value="#{PIS_LeaveApplication_Cancellation.txt_cancellation_reason}"
                                                                         cols="60"
                                                                         style="text-transform:uppercase;"/>
                                                        <br/><div id="err_txt_cancellation_reason" class="error-message"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Approving Authority:
                                                    </td>
                                                    <td class="entry-component-detail" colspan="3">
                                                        #{PIS_LeaveApplication_Cancellation.selectedApplication.actnby.userId}
                                                        <h:outputText value="#{PIS_LeaveApplication_Cancellation.selectedApplication.actnby.userName}"
                                                                      style="margin-left:10px"/>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                        <div class="component-margin scrolling-div" align="center">
                                            <p:commandButton id="btn_save"
                                                             ajax="true"
                                                             icon="ui-icon-disk "
                                                             value="Apply Cancellation Application"
                                                             process="btn_save,pnl_Application_Detail" 
                                                             update="@(.emplist-selection)"
                                                             style="#{(!PIS_LeaveApplication_Cancellation.partialCancellation) or (PIS_LeaveApplication_Cancellation.partialCancellation and PIS_LeaveApplication_Cancellation.cancellationPossible)?'':'display:none'}"
                                                             actionListener="#{PIS_LeaveApplication_Cancellation.btn_save_clicked}"
                                                             />
                                        </div>
                                    </p:panel>
                                </h:panelGroup>
                            </div> 
                            <p:tooltip for="txt_user_id" value="Press tab after entering user id" hideDelay="500" showEffect="clip" styleClass="custom-tooltip"/>
                            <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                        </p:outputPanel>
                        <h:panelGroup id="pnl_dlg_emplist">
                            <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{PIS_LeaveApplication_Cancellation.lst_employee_selectable}" selectedUser="#{PIS_LeaveApplication_Cancellation.selectedUserFromList}"/>
                        </h:panelGroup>  
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>