<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"  
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .td-1-width{min-width:131px;width:131px;}
                    .td-2-width{min-width:190px;width:190px;}
                    .td-3-width{min-width:90px;width:90px;}
                    .component-width,.component-width select,.component-width input{width:180px}
                </style>
                <script type="text/javascript">
                       
                    function txt_reason_onchange(){
                        $('#err_txt_reason').text('');
                        if($('#txt_reason').val().trim()==''){
                            $('#err_txt_reason').text('Please enter reason of application');
                            return false;
                        }
                        return true;                        
                    }
                    function rdb_leave_type_onchange(){
                        $('#pnl_single_application').hide()
                        $('#pnl_club_application').hide()
                        if($('#rdb_leave_type\\:0').prop('checked')){
                            $('#pnl_single_application').show()
                        }else if($('#rdb_leave_type\\:1').prop('checked')){
                            $('#pnl_club_application').show()
                        }
                    }
                    function isValidSingle(){
                        if(!txt_reason_onchange()){return false} return true;
                    }                    
                </script>
            </ui:define>
            <ui:define name="content">       
                <h:form id="form1" prependId="false" >
                    <button class="hidden-button" onclick="return false"/>
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans}" />   
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />
                        <p:menuitem value="Leave-Tour-Training" url="#{PIS_GlobalSettings.brTas_LeaveTourTraining}" />
                        <p:menuitem value="Leave Application" url="#" />  
                    </p:breadCrumb>  
                    <p:panel styleClass="component-margin" header="New Leave Application">
                        <p:outputPanel id="pnl_common_detail" styleClass="emplist-selection">

                            <table class="element-table" width="100%">
                                <tr>
                                    <td class="td-1-width entry-component-label">
                                        User Id:<label class="mandatory-text">*</label>
                                    </td>
                                    <td> <h:panelGroup id="pnl_user_detail">
                                            <p:inputText id="txt_user_id"
                                                         size="3"
                                                         maxlength="5"
                                                         value="#{PIS_LeaveApplication.txt_user_id}"
                                                         valueChangeListener="#{PIS_LeaveApplication.txt_user_id_changed}"                                                                 
                                                         >
                                                <p:ajax event="change"
                                                        process="txt_user_id"                                                                                                                                
                                                        update="@(.emplist-selection)"                                                                                                            
                                                        />
                                            </p:inputText>
                                            <p:commandLink id="lnk_emplist_working_ouwise"
                                                           value="(Users List)"                                                                   
                                                           process="@this"
                                                           style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                           update="pnl_dlg_emplist"                                                         
                                                           actionListener="#{PIS_LeaveApplication.lnk_view_emplist}"
                                                           />

                                            <h:outputText  id="err_txt_user_id"
                                                           styleClass="error-message"
                                                           value="#{PIS_LeaveApplication.err_txt_user_id}"/>


                                        </h:panelGroup>

                                    </td>
                                    <td align="right">

                                        <p:commandLink id="lnk_holiday_appl_list" 
                                                       value="View Holiday and Applied Application List"
                                                       onclick="pw_HolidayLeaveApplication.show();return false;"/>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">
                                        User Name:
                                    </td>
                                    <td>
                                        #{PIS_LeaveApplication.selectedUser.userName}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">Approval Authority:<label class="mandatory-text">*</label></td>
                                    <td><p:selectOneMenu
                                            id="ddl_actionby"
                                            value="#{PIS_LeaveApplication.ddl_actionby}"
                                            styleClass="component-width"
                                            >
                                            <f:selectItems value="#{PIS_LeaveApplication.ddl_actionby_options}"/>
                                        </p:selectOneMenu>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">Reason of Application:<label class="mandatory-text">*</label>
                                    </td>
                                    <td>
                                        <p:inputTextarea id="txt_reason"
                                                         value="#{PIS_LeaveApplication.txt_reason}"
                                                         cols="50"
                                                         onchange="txt_reason_onchange()"
                                                         counter="counter" maxlength="150"       
                                                         disabled="#{!PIS_LeaveApplication.userSelectionValid}"
                                                         counterTemplate="{0} characters remaining."
                                                         styleClass="component-width"
                                                         style="text-transform: uppercase"/>
                                        <br/><h:outputText id="counter" /> 
                                        <br/><span  id="err_txt_reason" class="error-message"/>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="entry-component-label">Leave Type:</td>
                                    <td>
                                        <p:selectOneRadio id="rdb_leave_type"
                                                          value="#{PIS_LeaveApplication.rdb_leave_type}"
                                                          disabled="#{!PIS_LeaveApplication.userSelectionValid}"
                                                          onchange="rdb_leave_type_onchange()"
                                                          >
                                            <f:selectItem itemLabel="Single" itemValue="S"/>
                                            <f:selectItem itemLabel="Club" itemValue="C"/>                                            
                                        </p:selectOneRadio>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                            <script type="text/javascript">$('#txt_user_id').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false}); </script>
                            <p:tooltip for="txt_user_id" value="Press tab after entering user id" hideDelay="500" showEffect="clip" styleClass="custom-tooltip"/>
                        </p:outputPanel>                        
                        <p:outputPanel styleClass="emplist-selection" id="pnl_single_application">                            
                            <h:panelGroup rendered="#{PIS_LeaveApplication.userSelectionValid}">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label td-1-width">Leave Allotment Period:<label class="mandatory-text">*</label>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_leave_period_snl"
                                                             widgetVar="pw_ddl_leave_period_snl"
                                                             value="#{PIS_LeaveApplication.ddl_leave_period_snl}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_leave_period_snl_changed}"
                                                             converter="omnifaces.SelectItemsConverter"
                                                             styleClass="component-width"
                                                             var="leavecd"  
                                                             panelStyle="max-width:700px;max-height:230px;overflow:auto;"                                                             
                                                             >                    
                                                <p:ajax  event="change"
                                                         process="ddl_leave_period_snl"
                                                         update="growl1,pnl_ttr_snl,ddl_leave_period_snl,ddl_parent_leave_period_snl,out_parent_leave_mandatory_snl,cal_from_date_snl,ddl_from_half_snl,cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"/>
                                                <f:selectItem itemLabel="--- Select ---" itemValue="#{null}" itemDisabled="true"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_leave_period_snl_options}"                                                                       
                                                               itemLabel="#{item.leavecd}-#{item.lrSrgKey.lmSrgKey.leaveDesc}"
                                                               itemValue="#{item}"
                                                               itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                               var="item"/>
                                                <p:column>  
                                                    <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:panelGroup rendered="#{leavecd!=null}">
                                                        <h:outputText value="#{leavecd.openingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText> To
                                                        <h:outputText value="#{leavecd.closingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                    </h:panelGroup>
                                                </p:column>  
                                                <p:column>
                                                    <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc} #{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?'(':''} #{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?leavecd.lrSrgKey.rmgmSrgKey.managGroupDesc:''}#{leavecd.lmSrgKey.multipleRuleFlag == 'Y'?')':''}"  rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                            </p:selectOneMenu>                                              
                                        </td>
                                    </tr>
                                </table>
                                <h:panelGroup id="pnl_ttr_snl">
                                    <h:panelGroup rendered="#{PIS_LeaveApplication.ddl_ttr_leave_period_snl_mand}">
                                        <table class="element-table">
                                            <tr>
                                                <td class="entry-component-label td-1-width"
                                                    style="white-space: normal">While on Tour/Training Leave Code:<h:outputText id="out_ttr_leave_period_mandatory_snl" value="#{PIS_LeaveApplication.ddl_parent_leave_snl_mand?'*':''}" styleClass="mandatory-text"/>
                                                </td>
                                                <td  colspan="3">
                                                    <p:selectOneMenu id="ddl_ttr_leave_period_snl"
                                                                     value="#{PIS_LeaveApplication.ddl_ttr_leave_period_snl}"
                                                                     valueChangeListener="#{PIS_LeaveApplication.ddl_ttr_leave_period_snl_changed}"
                                                                     converter="omnifaces.SelectItemsConverter"
                                                                     styleClass="component-width"
                                                                     var="leavecd"
                                                                     panelStyle="max-width:700px;max-height:230px;overflow:auto;"
                                                                     disabled="#{PIS_LeaveApplication.ddl_leave_period_snl==null}"
                                                                     >            
                                                        <p:ajax event="change"
                                                                process="ddl_ttr_leave_period_snl"
                                                                update="ddl_ttr_leave_period_snl,ddl_parent_leave_period_snl,cal_from_date_snl,ddl_from_half_snl,cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"/>
                                                        <f:selectItem itemLabel="#{PIS_LeaveApplication.ddl_ttr_leave_period_snl_null_label}"
                                                                      itemValue="#{null}" 
                                                                      itemDisabled="true"/>
                                                        <f:selectItems value="#{PIS_LeaveApplication.ddl_ttr_leave_period_snl_options}"                                                                                                                                      
                                                                       itemLabel="#{item.leavecd} - #{item.lrSrgKey.lmSrgKey.leaveDesc}"               
                                                                       itemValue="#{item}"                                                                       
                                                                       itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                                       var="item"/>
                                                        <p:column>  
                                                            <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                            <h:panelGroup rendered="#{leavecd!=null}">
                                                                <h:outputText value="#{leavecd.openingDate}">
                                                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                </h:outputText> To
                                                                <h:outputText value="#{leavecd.closingDate}">
                                                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                </h:outputText>
                                                            </h:panelGroup>
                                                        </p:column>  
                                                        <p:column>
                                                            <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                            <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc}"  rendered="#{leavecd!=null}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                    </p:selectOneMenu>                                            
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label td-1-width">Parent Leave Code:<h:outputText id="out_parent_leave_mandatory_snl" value="#{PIS_LeaveApplication.ddl_parent_leave_snl_mand?'*':''}" styleClass="mandatory-text"/>
                                        </td>
                                        <td  colspan="3">
                                            <p:selectOneMenu id="ddl_parent_leave_period_snl"
                                                             value="#{PIS_LeaveApplication.ddl_parent_leave_period_snl}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_parent_leave_period_snl_changed}"
                                                             converter="omnifaces.SelectItemsConverter"
                                                             styleClass="component-width"
                                                             var="leavecd"
                                                             panelStyle="max-width:700px;max-height:230px;overflow:auto;"
                                                             disabled="#{PIS_LeaveApplication.ddl_leave_period_snl==null}"
                                                             >            
                                                <p:ajax event="change"
                                                        process="ddl_parent_leave_period_snl"
                                                        update="ddl_parent_leave_period_snl,cal_from_date_snl,ddl_from_half_snl,cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"/>
                                                <f:selectItem itemLabel="#{PIS_LeaveApplication.ddl_parent_leave_snl_null_label}"
                                                              itemValue="#{null}" 
                                                              itemDisabled="true"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_parent_leave_period_snl_options}"                                                                                                                                      
                                                               itemLabel="#{item.leavecd} - #{item.lrSrgKey.lmSrgKey.leaveDesc}"               
                                                               itemValue="#{item}"
                                                               itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                               var="item"/>
                                                <p:column>  
                                                    <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:panelGroup rendered="#{leavecd!=null}">
                                                        <h:outputText value="#{leavecd.openingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText> To
                                                        <h:outputText value="#{leavecd.closingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                    </h:panelGroup>
                                                </p:column>  
                                                <p:column>
                                                    <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc}"  rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                            </p:selectOneMenu>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            From Date:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:calendar id="cal_from_date_snl"                                                        
                                                        value="#{PIS_LeaveApplication.cal_from_date_snl}"
                                                        mindate="#{PIS_LeaveApplication.cal_from_date_snl_min}"
                                                        maxdate="#{PIS_LeaveApplication.cal_from_date_snl_max}"                                                       
                                                        widgetVar="pw_cal_from_date_snl"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true" 
                                                        styleClass="component-width"
                                                        disabled="#{PIS_LeaveApplication.selectedEmpleavebalSnl==null}"
                                                        >
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_LeaveApplication.cal_from_date_snl_changed}"
                                                        process="cal_from_date_snl"                                                        
                                                        update="growl1,cal_from_date_snl,ddl_from_half_snl,cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"
                                                        />
                                            </p:calendar>
                                        </td>
                                        <td class="entry-component-label">
                                            From Half:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_from_half_snl"                                                                                                 
                                                             value="#{PIS_LeaveApplication.ddl_from_half_snl}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_from_half_snl_changed}"
                                                             styleClass="component-width"                                                                                                                          
                                                             disabled="#{PIS_LeaveApplication.cal_from_date_snl==null}">
                                                <p:ajax process="ddl_from_half_snl"
                                                        update="cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_from_half_snl_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            To Date:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:calendar id="cal_to_date_snl"
                                                        value="#{PIS_LeaveApplication.cal_to_date_snl}"
                                                        mindate="#{PIS_LeaveApplication.cal_to_date_snl_min}"
                                                        maxdate="#{PIS_LeaveApplication.cal_to_date_snl_max}"                                                       
                                                        widgetVar="pw_cal_to_date_snl"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true" 
                                                        styleClass="component-width"
                                                        disabled="#{PIS_LeaveApplication.cal_from_date_snl==null}"
                                                        >
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_LeaveApplication.cal_to_date_snl_changed}"
                                                        process="cal_to_date_snl"
                                                        update="growl1,cal_to_date_snl,ddl_to_half_snl,out_total_leaves_snl,btn_apply_leave_snl"/>
                                            </p:calendar>
                                        </td>
                                        <td class="entry-component-label">
                                            To Half:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_to_half_snl"                                                                                                 
                                                             value="#{PIS_LeaveApplication.ddl_to_half_snl}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_to_half_snl_changed}"
                                                             styleClass="component-width"                                                                                                                          
                                                             disabled="#{PIS_LeaveApplication.cal_to_date_snl==null}">
                                                <p:ajax process="ddl_to_half_snl"
                                                        update="btn_apply_leave_snl,out_total_leaves_snl"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_to_half_snl_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Total Leaves :
                                        </td>
                                        <td>
                                            <h:outputText id="out_total_leaves_snl" value="#{PIS_LeaveApplication.out_total_leaves_snl}"
                                                          converter="singleFractionDigit"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="center">
                                            <p:commandButton 
                                                id="btn_apply_leave_snl"
                                                process="pnl_common_detail,pnl_single_application"
                                                update="growl1,pnl_common_detail,pnl_single_application,pnl_club_application,pnl_dlg_club_application"
                                                onclick="if(!isValidSingle()){return false}"
                                                value="Apply Leave" 
                                                icon="ui-icon-disk"
                                                disabled="#{PIS_LeaveApplication.ddl_to_half_snl==null}"
                                                actionListener="#{PIS_LeaveApplication.btn_apply_leave_snl_clicked}"
                                                oncomplete="rdb_leave_type_onchange()"
                                                />
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </p:outputPanel>
                        <p:outputPanel styleClass="emplist-selection" id="pnl_club_application">                             
                            <h:panelGroup  rendered="#{PIS_LeaveApplication.userSelectionValid}">
                                <p:commandButton icon="ui-icon-plusthick" value="Add Leave to Club Application"                                                 
                                                 onclick="pw_dlg_club_application.show();return false;"/>
                                <br/><br/>
                                <h:panelGroup id="pnl_tbl_club_leaves">
                                    <p:dataTable value="#{PIS_LeaveApplication.lst_AbsenteesDtlsClub}"
                                                 id="tbl_club_leaves"
                                                 widgetVar="pw_tbl_club_leaves"
                                                 var="club"                                                 
                                                 >   
                                        <f:facet name="header">
                                            Selected Leave(s) detail
                                        </f:facet>
                                        <p:column headerText="Leave Code">                                        
                                            #{club.ftasAbsenteesDtl.leavecd}-#{club.ftasAbsenteesDtl.lmSrgKey.leaveDesc}
                                        </p:column>
                                        <p:column headerText="Leave Period">
                                            <h:outputText value="#{club.ftasAbsenteesDtl.elrSrgKey.openingDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText> To
                                            <h:outputText value="#{club.ftasAbsenteesDtl.elrSrgKey.closingDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="While on Tour/Training Leave Code">
                                            #{club.ftasAbsenteesDtl.ttrLmSrgKey.leavecd}-#{club.ftasAbsenteesDtl.ttrLmSrgKey.leaveDesc}
                                        </p:column>
                                        <p:column headerText="Parent Leave Code">
                                            #{club.ftasAbsenteesDtl.parentLmSrgKey.leavecd}-#{club.ftasAbsenteesDtl.parentLmSrgKey.leaveDesc}
                                        </p:column>
                                        <p:column headerText="Leave Balance">
                                            <div style="text-align: right"><h:outputText value="#{club.ftasAbsenteesDtl.emplbSrgKey.currentBal}" converter="singleFractionDigit"/></div>
                                        </p:column>
                                        <p:column headerText="Cancel Pipeline Balance">
                                            <div style="text-align: right"><h:outputText value="#{club.ftasAbsenteesDtl.emplbSrgKey.cancPipeBal}" converter="singleFractionDigit"/></div>
                                        </p:column>
                                        <p:column headerText="From">
                                            <h:outputText value="#{club.ftasAbsenteesDtl.fromDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText> (#{club.ftasAbsenteesDtl.fromhalf==0?'Full Day':(club.ftasAbsenteesDtl.fromhalf==1?'First Half':'Second Half')})
                                        </p:column>
                                        <p:column headerText="To">
                                            <h:outputText value="#{club.ftasAbsenteesDtl.toDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                            </h:outputText>
                                            (#{club.ftasAbsenteesDtl.tohalf==0?'Full Day':(club.ftasAbsenteesDtl.tohalf==1?'First Half':'Second Half')})
                                        </p:column>
                                        <p:column headerText="Days">
                                            <div style="text-align: right"><h:outputText value="#{club.ftasAbsenteesDtl.days}" converter="singleFractionDigit"/></div>
                                        </p:column>
                                        <p:column headerText="Laps">
                                            <div style="text-align: right"><h:outputText value="#{club.ftasAbsenteesDtl.leaveBalLaps}" converter="singleFractionDigit"/></div>
                                        </p:column>
                                        <p:column style="width:1px">
                                            <f:facet name="header">
                                                <center><span class="ui-icon ui-icon-trash"/></center>
                                            </f:facet>
                                            <p:commandButton title="Remove Leave"
                                                             icon="ui-icon-trash"
                                                             rendered="#{club.lastRow}"
                                                             actionListener="#{PIS_LeaveApplication.reomveLeaveFromClub(club)}"
                                                             process=":form1:pnl_tbl_club_leaves"
                                                             update=":form1:pnl_club_application,:form1:pnl_dlg_club_application"
                                                             />
                                        </p:column>
                                        <p:columnGroup type="footer">
                                            <p:row>  
                                                <p:column colspan="6" footerText=" Club Application Summary/Total"/>
                                                <p:column footerText="#{PIS_LeaveApplication.foot_from}"/>
                                                <p:column footerText="#{PIS_LeaveApplication.foot_to}"/>
                                                <p:column footerText="#{PIS_LeaveApplication.foot_days}"/>
                                                <p:column footerText="#{PIS_LeaveApplication.foot_laps}"/>                                                    
                                                <p:column/>
                                            </p:row>
                                        </p:columnGroup>
                                    </p:dataTable>
                                    <br/>
                                    <br/>
                                    <center>
                                        <p:commandButton 
                                            id="btn_apply_leave_club"
                                            value="Apply for Club Leaves"
                                            icon="ui-icon-disk"                                            
                                            title="#{(PIS_LeaveApplication.lst_AbsenteesDtlsClub==null or 2>PIS_LeaveApplication.lst_AbsenteesDtlsClub.size())?'Select atleast two leaves to save the club application':''}"
                                            disabled="#{PIS_LeaveApplication.lst_AbsenteesDtlsClub==null or 2>PIS_LeaveApplication.lst_AbsenteesDtlsClub.size()}"
                                            actionListener="#{PIS_LeaveApplication.btn_apply_leave_club_clicked}"
                                            process="pnl_common_detail,@this"
                                            update="growl1,pnl_common_detail,pnl_single_application,pnl_club_application,pnl_dlg_club_application"
                                            oncomplete="rdb_leave_type_onchange()"
                                            />
                                    </center>
                                    <div align="right">
                                        <b>Note: </b> Select atleast two leaves to save the club application
                                    </div>
                                </h:panelGroup>
                            </h:panelGroup>                            
                            <script type="text/javascript">
                                rdb_leave_type_onchange()
                            </script>
                        </p:outputPanel>

                    </p:panel>
                    <div>
                        <p:dialog header="Holidays and Your Leave Applications"
                                  widgetVar="pw_HolidayLeaveApplication" resizable="false"
                                  modal="true"
                                  width="800"
                                  id="HolidayLeaveApplication">
                            <p:outputPanel styleClass="emplist-selection" id="pnl_holiday">
                                <table border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="entry-component-label" style="text-decoration:underline;">
                                                Holiday List
                                            </td>
                                            <td class="entry-component-label" style="text-decoration:underline;">
                                                Your Previously Applied Leave Applications
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="entry-component-label">dd-mmm-yyyy : WeekDay</label>
                                                <br/>
                                                <h:selectManyListbox id="ddl_holidays" size="10"
                                                                     style="width:350px;">
                                                    <f:selectItems value="#{PIS_LeaveApplication.ddl_holidays_options}"/>
                                                </h:selectManyListbox>
                                            </td>
                                            <td>
                                                <label class="entry-component-label">FromDate:FromHalf:ToDate:ToHalf:Status</label>
                                                <br/>
                                                <h:selectManyListbox id="ddl_applied_applications" size="10"
                                                                     style="width:350px;">
                                                    <f:selectItems value="#{PIS_LeaveApplication.ddl_applied_applications_options}"/>
                                                </h:selectManyListbox>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p:outputPanel>                               
                        </p:dialog>
                    </div>
                    <p:dialog id="dlg_club_application"
                              widgetVar="pw_dlg_club_application"
                              header="Add Leave to Club Application"
                              modal="true">
                        <p:outputPanel styleClass="emplist-selection" id="pnl_dlg_club_application">
                            <h:panelGroup>
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label td-1-width">Leave Allotment Period:<label class="mandatory-text">*</label>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_leave_period_club"
                                                             widgetVar="pw_ddl_leave_period_club"
                                                             value="#{PIS_LeaveApplication.ddl_leave_period_club}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_leave_period_club_changed}"
                                                             converter="omnifaces.SelectItemsConverter"
                                                             styleClass="component-width"
                                                             var="leavecd"  
                                                             panelStyle="max-width:700px;max-height:230px;overflow:auto;"                                                             
                                                             >                    
                                                <p:ajax  event="change"
                                                         process="ddl_leave_period_club"
                                                         update="growl1,pnl_ttr_club,ddl_leave_period_club,ddl_parent_leave_period_club,out_parent_leave_mandatory_club,cal_from_date_club,ddl_from_half_club,cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"/>
                                                <f:selectItem itemLabel="--- Select ---" itemValue="#{null}" itemDisabled="true"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_leave_period_club_options}"                                                                       
                                                               itemLabel="#{item.leavecd}-#{item.lrSrgKey.lmSrgKey.leaveDesc}"
                                                               itemValue="#{item}"
                                                               itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                               var="item"/>
                                                <p:column>  
                                                    <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:panelGroup rendered="#{leavecd!=null}">
                                                        <h:outputText value="#{leavecd.openingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText> To
                                                        <h:outputText value="#{leavecd.closingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                    </h:panelGroup>
                                                </p:column>  
                                                <p:column>
                                                    <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc}"  rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                            </p:selectOneMenu>                                              
                                        </td>
                                    </tr>
                                </table>
                                <h:panelGroup id="pnl_ttr_club">
                                    <h:panelGroup rendered="#{PIS_LeaveApplication.ddl_ttr_leave_period_club_mand}">
                                        <table class="element-table">
                                            <tr>
                                                <td class="entry-component-label td-1-width" style="white-space: normal">While on Tour/Training Leave Code:<h:outputText id="out_ttr_leave_period_mandatory_club" value="#{PIS_LeaveApplication.ddl_parent_leave_club_mand?'*':''}" styleClass="mandatory-text"/>
                                                </td>
                                                <td  colspan="3">
                                                    <p:selectOneMenu id="ddl_ttr_leave_period_club"
                                                                     value="#{PIS_LeaveApplication.ddl_ttr_leave_period_club}"
                                                                     valueChangeListener="#{PIS_LeaveApplication.ddl_ttr_leave_period_club_changed}"
                                                                     converter="omnifaces.SelectItemsConverter"
                                                                     styleClass="component-width"
                                                                     var="leavecd"
                                                                     panelStyle="max-width:700px;max-height:230px;overflow:auto;"
                                                                     disabled="#{PIS_LeaveApplication.ddl_leave_period_club==null}"
                                                                     >            
                                                        <p:ajax event="change"
                                                                process="ddl_ttr_leave_period_club"
                                                                update="ddl_ttr_leave_period_club,ddl_parent_leave_period_club,cal_from_date_club,ddl_from_half_club,cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"/>
                                                        <f:selectItem itemLabel="#{PIS_LeaveApplication.ddl_ttr_leave_period_club_null_label}"
                                                                      itemValue="#{null}" 
                                                                      itemDisabled="true"/>
                                                        <f:selectItems value="#{PIS_LeaveApplication.ddl_ttr_leave_period_club_options}"                                                                                                                                      
                                                                       itemLabel="#{item.leavecd} - #{item.lrSrgKey.lmSrgKey.leaveDesc}"               
                                                                       itemValue="#{item}"                                                                       
                                                                       itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                                       var="item"/>
                                                        <p:column>  
                                                            <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                            <h:panelGroup rendered="#{leavecd!=null}">
                                                                <h:outputText value="#{leavecd.openingDate}">
                                                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                </h:outputText> To
                                                                <h:outputText value="#{leavecd.closingDate}">
                                                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                </h:outputText>
                                                            </h:panelGroup>
                                                        </p:column>  
                                                        <p:column>
                                                            <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                            <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc}"  rendered="#{leavecd!=null}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                        <p:column>
                                                            <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                            <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                        </p:column>
                                                    </p:selectOneMenu>                                            
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label td-1-width">Parent Leave Code:<h:outputText id="out_parent_leave_mandatory_club" value="#{PIS_LeaveApplication.ddl_parent_leave_club_mand?'*':''}" styleClass="mandatory-text"/>
                                        </td>
                                        <td  colspan="3">
                                            <p:selectOneMenu id="ddl_parent_leave_period_club"
                                                             value="#{PIS_LeaveApplication.ddl_parent_leave_period_club}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_parent_leave_period_club_changed}"
                                                             converter="omnifaces.SelectItemsConverter"
                                                             styleClass="component-width"
                                                             var="leavecd"
                                                             panelStyle="max-width:700px;max-height:230px;overflow:auto;"
                                                             disabled="#{PIS_LeaveApplication.ddl_leave_period_club==null}"
                                                             >            
                                                <p:ajax event="change"
                                                        process="ddl_parent_leave_period_club"
                                                        update="ddl_parent_leave_period_club,cal_from_date_club,ddl_from_half_club,cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"/>
                                                <f:selectItem itemLabel="#{PIS_LeaveApplication.ddl_parent_leave_club_null_label}"
                                                              itemValue="#{null}" 
                                                              itemDisabled="true"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_parent_leave_period_club_options}"                                                                                                                                      
                                                               itemLabel="#{item.leavecd} - #{item.lrSrgKey.lmSrgKey.leaveDesc}"               
                                                               itemValue="#{item}"
                                                               itemDisabled="#{item.currentBal==0 and item.lrSrgKey.balCheckedInAppliFlag=='Y'}"
                                                               var="item"/>
                                                <p:column>  
                                                    <h:outputText value="Period" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:panelGroup rendered="#{leavecd!=null}">
                                                        <h:outputText value="#{leavecd.openingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText> To
                                                        <h:outputText value="#{leavecd.closingDate}">
                                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                        </h:outputText>
                                                    </h:panelGroup>
                                                </p:column>  
                                                <p:column>
                                                    <h:outputText value="Leave Code" rendered="#{leavecd==null}" style="font-weight: bold"/>
                                                    <h:outputText value="#{leavecd.leavecd} - #{leavecd.lrSrgKey.lmSrgKey.leaveDesc}"  rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Min - Max Taken" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.lrSrgKey.minTaken} - #{leavecd.lrSrgKey.maxTaken==null?'As per approval':leavecd.lrSrgKey.maxTaken}" rendered="#{leavecd!=null}"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Leave Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.currentBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.appliBalPipe}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="Cancel Pipeline Balance" rendered="#{leavecd==null}" style="font-weight: bold;"/>
                                                    <h:outputText value="#{leavecd.cancPipeBal}" rendered="#{leavecd!=null}" converter="singleFractionDigit"/>
                                                </p:column>
                                            </p:selectOneMenu>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            From Date:<span class="mandatory-text">*</span>
                                        </td>
                                        <td class="td-2-width">
                                            <p:calendar id="cal_from_date_club"                                                        
                                                        value="#{PIS_LeaveApplication.cal_from_date_club}"
                                                        mindate="#{PIS_LeaveApplication.cal_from_date_club_min}"
                                                        maxdate="#{PIS_LeaveApplication.cal_from_date_club_max}"                                                       
                                                        widgetVar="pw_cal_from_date_club"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true" 
                                                        styleClass="component-width"
                                                        disabled="#{PIS_LeaveApplication.selectedEmpleavebalClub==null}"
                                                        >
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_LeaveApplication.cal_from_date_club_changed}"
                                                        process="cal_from_date_club"                                                        
                                                        update="growl1,cal_from_date_club,ddl_from_half_club,cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"
                                                        />
                                            </p:calendar>
                                        </td>
                                        <td class="entry-component-label td-3-width">
                                            From Half:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_from_half_club"                                                                                                 
                                                             value="#{PIS_LeaveApplication.ddl_from_half_club}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_from_half_club_changed}"
                                                             styleClass="component-width"                                                                                                                          
                                                             disabled="#{PIS_LeaveApplication.cal_from_date_club==null}">
                                                <p:ajax process="ddl_from_half_club"
                                                        update="cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_from_half_club_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            To Date:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:calendar id="cal_to_date_club"
                                                        value="#{PIS_LeaveApplication.cal_to_date_club}"
                                                        mindate="#{PIS_LeaveApplication.cal_to_date_club_min}"
                                                        maxdate="#{PIS_LeaveApplication.cal_to_date_club_max}"                                                       
                                                        widgetVar="pw_cal_to_date_club"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true" 
                                                        styleClass="component-width"
                                                        disabled="#{PIS_LeaveApplication.cal_from_date_club==null}"
                                                        >
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_LeaveApplication.cal_to_date_club_changed}"
                                                        process="cal_to_date_club"
                                                        update="growl1,cal_to_date_club,ddl_to_half_club,pnl_leaves_count_club,btn_add_to_list_leave_club"/>
                                            </p:calendar>
                                        </td>
                                        <td class="entry-component-label">
                                            To Half:<span class="mandatory-text">*</span>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_to_half_club"                                                                                                 
                                                             value="#{PIS_LeaveApplication.ddl_to_half_club}"
                                                             valueChangeListener="#{PIS_LeaveApplication.ddl_to_half_club_changed}"
                                                             styleClass="component-width"                                                                                                                          
                                                             disabled="#{PIS_LeaveApplication.cal_to_date_club==null}">
                                                <p:ajax process="ddl_to_half_club"
                                                        update="btn_add_to_list_leave_club,pnl_leaves_count_club"/>
                                                <f:selectItems value="#{PIS_LeaveApplication.ddl_to_half_club_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>      
                                </table>
                                <h:panelGroup id="pnl_leaves_count_club">
                                    <table width="100%" class="element-table">
                                        <tr>                                        
                                            <td class="entry-component-label td-1-width">
                                                Total Leaves :
                                            </td>
                                            <td class="td-2-width">
                                                <h:outputText value="#{PIS_LeaveApplication.out_total_leaves_club}" converter="singleFractionDigit"/>                                            
                                            </td>
                                            <td class="entry-component-label td-3-width">
                                                Leave Laps:
                                            </td>
                                            <td>
                                                <h:outputText id="out_total_leaves_laps" value="#{PIS_LeaveApplication.out_total_leaves_laps_club}" converter="singleFractionDigit"/>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td colspan="4" align="center">
                                                <p:commandButton 
                                                    id="btn_add_to_list_leave_club"
                                                    process="pnl_dlg_club_application,
                                                    cal_from_date_club,cal_to_date_club"
                                                    update="dlg_confirm_close,growl1,pnl_tbl_club_leaves,pnl_dlg_club_application"
                                                    value="Add to Leave(s)" 
                                                    icon="ui-icon-disk"
                                                    disabled="#{PIS_LeaveApplication.ddl_to_half_club==null}"
                                                    actionListener="#{PIS_LeaveApplication.btn_add_to_list_leave_club_clicked}"
                                                    />
                                            </td>
                                        </tr>
                                    </table>
                                </h:panelGroup>
                            </h:panelGroup>
                            <p:growl id="growl1" showSummary="true" showDetail="true" globalOnly="true" sticky="true"/>
                        </p:outputPanel>

                    </p:dialog>
                    <h:panelGroup id="pnl_dlg_confirm_close">
                        <p:confirmDialog id="dlg_confirm_close"
                                         widgetVar="pw_dlg_confirm_close"
                                         header="#{PIS_LeaveApplication.dlg_confirm_header}"
                                         message="#{PIS_LeaveApplication.dlg_confirm_detail}">                        
                            <p:commandButton value="OK"
                                             update="growl1,pnl_tbl_club_leaves,pnl_dlg_club_application"
                                             icon="ui-icon-circle-check"
                                             actionListener="#{PIS_LeaveApplication.btn_leave_laps_clicked}"/>
                            <p:commandButton value="Cancel"
                                             onclick="pw_dlg_confirm_close.hide();return false"
                                             icon="ui-icon-close"/>

                        </p:confirmDialog>
                    </h:panelGroup>
                    <h:panelGroup id="pnl_dlg_emplist">
                        <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{PIS_LeaveApplication.lst_employee_selectable}" selectedUser="#{PIS_LeaveApplication.selectedUserFromList}"/>
                    </h:panelGroup>  


                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>
