<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }                
                    .entry-component-label{white-space: normal}
                    .freq-input{width: 35px;text-align: right}
                    .number-entry-5-2,.number-entry-7-2 ,.number-entry-5-0 ,.number-entry-10-2,.number-entry-3-0{text-align: right}                
                    .sub-element-table,.sub-element-table td{padding: 0;padding-right: 3px;}
                    #pnl_add_tour_place .clone-datatable td{border:none}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
 
                           
                    function validate_tour_add_to_list(){
                        var v_valid=true;                        
                        if($('#cal_tour_from_date_input').val()==null || $('#cal_tour_from_date_input').val()==''){
                            v_valid=false;
                        }
                        if($('#cal_tour_to_date_input').val()==null || $('#cal_tour_to_date_input').val()==''){
                            v_valid=false;
                        }
                        if($("#txt_tour_from_place").val()==''){
                            v_valid=false;
                        }
                        if($("#txt_tour_to_place").val()==''){
                            v_valid=false;
                        }
                        if($("#txt_tour_purpose").val()==''){
                            v_valid  =false;
                        }
                        if(!v_valid){
                            SetAndShowDialog('GeneralDialog','Validation Text','All fields are mandatory, please fill all fields before adding it into tour detail.')
                        }
                        return v_valid;
                    }
                                      
                    
                    function validate_add_to_list(){
                        $('#err_cal_detail_from_date').text('');   
                        $('#err_cal_detail_to_date').text('');   
                        $('#err_txt_training_desc').text('');   
                        var  valid=true;
                        if(pw_cal_detail_from_date.getDate()==null){
                            $('#err_cal_detail_from_date').text('Select From Date-Time');   
                            valid=false;
                        }
                        if(pw_cal_detail_to_date.getDate()==null){
                            $('#err_cal_detail_to_date').text('Select To Date-Time');   
                            valid=false;
                        }
                        if($('#txt_training_desc').val()==''){
                            $('#err_txt_training_desc').text('Enter Schedule Description');   
                            valid=false;
                        }
                        return valid;
                                                     
                    }                
                    function validateTourTraining(){
                        
                        if(pw_cal_tour_office_leaving.getDate()==null
                            || pw_cal_tour_office_arriving.getDate()==null
                            ||$('#tabview1\\:txt_reason').val().trim()==''){
                            $('#err_tour_training_validation').text("Plase fill all mandatory fields");
                            return false;
                                                    
                        }
                        if($('#tabview1\\:txt_tour_total_days').text()=='' || 
                            $('#tabview1\\:txt_tour_total_days').text()=='0.0' || 
                            $('#tabview1\\:txt_tour_total_days').text()=='0.0'){
                            $('#err_tour_training_validation').text("Total Days are Zero.Please check the date entries.");
                            return false;
                        }
                        $('#err_tour_training_validation').text('');
                        if($('#tabview1\\:tbl_tour_place tbody').find('tr').length==1){
                            if($('#tabview1\\:tbl_tour_place tbody tr').find('td').length==1){
                                $('#err_tour_training_validation').text("Tour/Training Detail cannot be blank");
                                return false;
                            }
                        }      
                        return true;
                    }
                    
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />  
                        <p:menuitem value="Leave-Tour-Training" url="#{PIS_GlobalSettings.brTas_LeaveTourTraining}" />
                        <p:menuitem value="Tour/Training Application" url="#" />  
                    </p:breadCrumb>  
                    <div align="left"  class="component-margin">
                        <p:panel id="pnl_user_detail" header="User Detail" >
                            <p:outputPanel styleClass="emplist-selection">
                                <div class="scrolling-div" >
                                    <table border="0" class="element-table">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label">User Id:<label class="mandatory-text">*</label>
                                                </td>
                                                <td  class="entry-component-detail">
                                                    <p:inputText id="txt_user_id"
                                                                 size="3"
                                                                 maxlength="5"
                                                                 value="#{PIS_Tour_Training_Appl.txt_user_id}"
                                                                 valueChangeListener="#{PIS_Tour_Training_Appl.txt_user_id_changed}"                                                             
                                                                 >
                                                        <p:ajax event="change"
                                                                process="txt_user_id"                                                                                                                                
                                                                update="@(.emplist-selection)"
                                                                />
                                                    </p:inputText>

                                                    <p:commandLink id="lnk_emplist_working_ouwise"
                                                                   value="(Users List)"                                                                   
                                                                   process="@this"
                                                                   style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                                   update="pnl_dlg_emplist"                                                         
                                                                   actionListener="#{PIS_Tour_Training_Appl.lnk_view_emplist}"
                                                                   />

                                                    <h:outputText  id="err_txt_user_id"
                                                                   styleClass="error-message"
                                                                   value="#{PIS_Tour_Training_Appl.err_txt_user_id}"/>                                                

                                                </td>                                                

                                            </tr>    
                                            <tr>
                                                <td class="entry-component-label">User Name:</td>
                                                <td>
                                                    #{PIS_Tour_Training_Appl.selectedUser.userName}
                                                </td>                                                
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Approval Authority:<label class="mandatory-text">*</label></td>
                                                <td><p:selectOneMenu
                                                        id="ddl_actionby"
                                                        value="#{PIS_Tour_Training_Appl.ddl_actionby}"
                                                        styleClass="component-width"
                                                        >
                                                        <f:selectItems value="#{PIS_Tour_Training_Appl.ddl_actionby_options}"/>
                                                    </p:selectOneMenu>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p:tooltip for="txt_user_id" value="Press tab after entering user id" hideDelay="500" showEffect="clip" styleClass="custom-tooltip"/>
                                <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true" />
                            </p:outputPanel>
                        </p:panel>
                        <div class="component-margin scrolling-div">
                            <p:outputPanel  styleClass="emplist-selection">
                                <h:panelGroup id="pnl_tabView1" rendered="#{PIS_Tour_Training_Appl.userSelectionValid}">
                                    <p:tabView id="tabview1">
                                        <p:tab title="Tour/Training" >
                                            <h:panelGroup id="pnl_tour_entry">

                                                <h:panelGroup id="pnl_tour_datetime">
                                                    <table border="0" class="element-table">
                                                        <tbody>
                                                            <tr>
                                                                <td style="white-space:no-wrap" class="entry-component-label" width="110px">Application Type:<label class="mandatory-text">*</label></td>
                                                                <td class="entry-component-detail" width="200px">
                                                                    <p:selectOneRadio id="rdb_appl_type"
                                                                                      value="#{PIS_Tour_Training_Appl.rdb_appl_type}"                                                                                      
                                                                                      valueChangeListener="#{PIS_Tour_Training_Appl.rdb_appl_type_changed}">
                                                                        <f:selectItem itemValue="T" itemLabel="Tour"/>
                                                                        <f:selectItem itemValue="R" itemLabel="Training"/>
                                                                        <p:ajax event="change"
                                                                                process="@this"
                                                                                update="pnl_tour_entry,:form1:pnl_new_tour_training_entry"/>
                                                                    </p:selectOneRadio>
                                                                </td>
                                                                <td></td>
                                                            </tr>                                                          
                                                            <tr>
                                                                <td style="white-space:no-wrap"  class="entry-component-label">From Date/Half:<label class="mandatory-text">*</label>
                                                                </td>
                                                                <td>
                                                                    <p:calendar id="cal_tour_office_leaving"
                                                                                widgetVar="pw_cal_tour_office_leaving"
                                                                                value="#{PIS_Tour_Training_Appl.cal_tour_office_leaving}"
                                                                                pattern="#{GlobalUtilities.dateFormat}"
                                                                                readonlyInput="true"
                                                                                navigator="true"
                                                                                mindate="#{PIS_Tour_Training_Appl.cal_tour_office_leaving_min}">
                                                                        <p:ajax event="dateSelect"
                                                                                listener="#{PIS_Tour_Training_Appl.cal_tour_office_leaving_changed}" 
                                                                                process="cal_tour_office_leaving"
                                                                                update="pnl_tour_entry"                                                            
                                                                                /> 
                                                                    </p:calendar>
                                                                    <br/><div id="lbl_tour_office_leaving_err" class="error-message"/>
                                                                </td>
                                                                <td>
                                                                    <p:selectOneMenu id="ddl_tour_office_leaving_half"
                                                                                     value="#{PIS_Tour_Training_Appl.ddl_tour_office_leaving_half}"
                                                                                     valueChangeListener="#{PIS_Tour_Training_Appl.ddl_tour_office_leaving_half_changed}"
                                                                                     style="width:100px">
                                                                        <f:selectItems value="#{PIS_Tour_Training_Appl.ddl_tour_office_leaving_half_options}"/>
                                                                        <p:ajax event="change"
                                                                                process="ddl_tour_office_leaving_half"
                                                                                update="pnl_tour_entry"/>
                                                                    </p:selectOneMenu>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><h:outputLabel styleClass="entry-component-label"
                                                                                   value="To Date/Half:"/>
                                                                    <label class="mandatory-text">*</label></td>
                                                                <td>
                                                                    <p:calendar id="cal_tour_office_arriving"
                                                                                widgetVar="pw_cal_tour_office_arriving"
                                                                                value="#{PIS_Tour_Training_Appl.cal_tour_office_arriving}"
                                                                                pattern="#{GlobalUtilities.dateFormat}"
                                                                                readonlyInput="true"
                                                                                navigator="true"
                                                                                mindate="#{PIS_Tour_Training_Appl.cal_tour_office_arriving_min}">
                                                                        <p:ajax event="dateSelect"
                                                                                listener="#{PIS_Tour_Training_Appl.cal_tour_office_arriving_changed}" 
                                                                                process="cal_tour_office_arriving"
                                                                                update="pnl_tour_entry,:form1:pnl_new_tour_training_entry"                                                            
                                                                                /> 
                                                                    </p:calendar>
                                                                    <br/><div id="lbl_tour_office_arriving_err" class="error-message"/>
                                                                </td>
                                                                <td><p:selectOneMenu id="ddl_tour_office_arriving_half"
                                                                                     value="#{PIS_Tour_Training_Appl.ddl_tour_office_arriving_half}"
                                                                                     valueChangeListener="#{PIS_Tour_Training_Appl.ddl_tour_office_arriving_half_changed}"
                                                                                     style="width:100px">
                                                                        <f:selectItems value="#{PIS_Tour_Training_Appl.ddl_tour_office_arriving_half_options}"/>
                                                                        <p:ajax event="change"
                                                                                process="ddl_tour_office_arriving_half"
                                                                                update="pnl_tour_entry,:form1:pnl_new_tour_training_entry"/>
                                                                    </p:selectOneMenu>
                                                                </td>
                                                            </tr>                                                
                                                            <tr>
                                                                <td><h:outputLabel styleClass="entry-component-label"
                                                                                   value="Total Days:"/></td>
                                                                <td class="entry-component-detail"><h:outputText id="txt_tour_total_days"
                                                                                                                 value="#{PIS_Tour_Training_Appl.txt_tour_total_days}"
                                                                                                                 />

                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="entry-component-label" style="white-space: normal">Tour/Training Reason:<span class="mandatory-text">*</span></td>
                                                                <td colspan="2">

                                                                    <p:inputTextarea id="txt_reason"
                                                                                     value="#{PIS_Tour_Training_Appl.txt_reason}"
                                                                                     style="width:100%;text-transform: uppercase;resize: none"
                                                                                     autoResize="false"                        
                                                                                     maxlength="4000"
                                                                                     />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div align="right">
                                                        <p:commandButton value="Add Tour/Training Detail"
                                                                         icon="ui-icon-plusthick"
                                                                         process="@this"
                                                                         update="@this"
                                                                         actionListener="#{PIS_Tour_Training_Appl.btn_add_tour_training_detail_clicked}"
                                                                         rendered="#{PIS_Tour_Training_Appl.ddl_tour_office_arriving_half!=null}"
                                                                         />                                                        
                                                    </div>


                                                </h:panelGroup>

                                                <div class="component-margin">
                                                    <h:panelGroup id="pnl_tbl_tour_training_details">

                                                        <p:dataTable id="tbl_tour_place" 
                                                                     value="#{PIS_Tour_Training_Appl.tbl_tour_place}"
                                                                     var="item" 
                                                                     >                                                    
                                                            <p:column headerText="From Date-Time">
                                                                <h:outputText  value="#{item.fromDatetime}">
                                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                                </h:outputText>
                                                            </p:column>
                                                            <p:column headerText="From Place" rendered="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'}">#{item.fromplace}</p:column>
                                                            <p:column headerText="To Date-Time" >
                                                                <h:outputText value="#{item.toDatetime}">
                                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                                </h:outputText>
                                                            </p:column>                                                            
                                                            <p:column headerText="To Place" rendered="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'}">#{item.toplace}</p:column>
                                                            <p:column headerText="#{(PIS_Tour_Training_Appl.rdb_appl_type)=='T'?'Purpose':'Description'}">#{item.purpose}</p:column>
                                                            <p:column style="width:1px">
                                                                <p:commandButton
                                                                    rendered="#{(PIS_Tour_Training_Appl.tbl_tour_place.size()-1)==item.tosdSrgKey}"
                                                                    process=":form1:tabview1:pnl_tbl_tour_training_details"
                                                                    update=":form1:tabview1:pnl_tbl_tour_training_details"
                                                                    title="Delete Record"
                                                                    icon="ui-icon-trash"
                                                                    id="btn_tour_place_delete"
                                                                    actionListener="#{PIS_Tour_Training_Appl.btn_tour_delete_action(item)}"
                                                                    >

                                                                </p:commandButton>

                                                            </p:column>
                                                        </p:dataTable>
                                                    </h:panelGroup>
                                                </div>
                                                <center class="component-margin">
                                                    <p:commandButton id="btn_apply_tour"
                                                                     icon="ui-icon-disk"
                                                                     actionListener="#{PIS_Tour_Training_Appl.btn_apply_tour_action}"
                                                                     process="pnl_tour_entry,:form1:pnl_user_detail"
                                                                     update="@(.emplist-selection)"
                                                                     onclick="if(!validateTourTraining()){return false;}"

                                                                     value="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'?'Apply Tour Application':'Apply Training Application'}"
                                                                     />
                                                    <br/><br/>
                                                    <div id="err_tour_training_validation" class="error-message"/>
                                                </center>

                                            </h:panelGroup>

                                        </p:tab>                                    
                                    </p:tabView>
                                </h:panelGroup>
                            </p:outputPanel>
                        </div>                    
                    </div>
                    <p:dialog widgetVar="pw_dlg_pnl_new_tour_training_entry"
                              id="dlg_pnl_new_tour_training_entry"
                              modal="true"                              
                              header="Tour/Training Detail">
                        <h:panelGroup id="pnl_new_tour_training_entry">
                            <div>
                                <table border="0" width="100%" class="element-table"> 
                                    <tbody>
                                        <tr>
                                            <td class="entry-component-label">From Date-Time:</td>
                                            <td class="td-1-width"><p:calendar id="cal_tour_from_date"
                                                                               navigator="true"
                                                                               readonlyInput="true"
                                                                               showButtonPanel="true"
                                                                               value="#{PIS_Tour_Training_Appl.cal_tour_from_date}"
                                                                               pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                               mindate="#{PIS_Tour_Training_Appl.cal_tour_from_date_min}"
                                                                               maxdate="#{PIS_Tour_Training_Appl.cal_tour_from_date_max}">
                                                    <p:ajax event="dateSelect"
                                                            listener="#{PIS_Tour_Training_Appl.cal_tour_from_date_changed}"
                                                            process="cal_tour_from_date"
                                                            update="cal_tour_to_date" />
                                                </p:calendar>                                                
                                            </td>
                                        </tr>
                                        <tr style="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'?'':'display:none'}">
                                            <td  class="entry-component-label">From Place:</td>
                                            <td  class="td-4-width">
                                                <p:inputTextarea id="txt_tour_from_place"
                                                                 rendered="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'}"
                                                                 style="text-transform: uppercase;width: 90%;resize:none"
                                                                 value="#{PIS_Tour_Training_Appl.txt_tour_from_place}"
                                                                 rows="2" autoResize="false"
                                                                 />                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="entry-component-label">To Date-Time:</td>
                                            <td class="td-2-width"><p:calendar id="cal_tour_to_date"
                                                                               navigator="true"
                                                                               readonlyInput="true"
                                                                               showButtonPanel="true"
                                                                               value="#{PIS_Tour_Training_Appl.cal_tour_to_date}"
                                                                               pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                               mindate="#{PIS_Tour_Training_Appl.cal_tour_to_date_min}"
                                                                               maxdate="#{PIS_Tour_Training_Appl.cal_tour_to_date_max}"/>
                                            </td>
                                        </tr>
                                        <tr  style="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'?'':'display:none'}">
                                            <td class="entry-component-label">
                                                To Place:


                                            </td>
                                            <td  class="td-3-width"><p:inputTextarea id="txt_tour_to_place"
                                                                                     rendered="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'}"
                                                                                     value="#{PIS_Tour_Training_Appl.txt_tour_to_place}"                                                                                                                    
                                                                                     style="text-transform: uppercase;width: 90%;resize:none"
                                                                                     rows="2" autoResize="false"/>                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="entry-component-label">
                                                <span style="#{PIS_Tour_Training_Appl.rdb_appl_type=='T'?'':'display:none'}">Tour Purpose:</span>
                                                <span style="#{PIS_Tour_Training_Appl.rdb_appl_type=='R'?'':'display:none'}">Training Description:</span>
                                            </td>
                                            <td  class="td-5-width">
                                                <p:inputTextarea id="txt_tour_purpose"                                                                 
                                                                 style="text-transform: uppercase;width: 90%;resize:none"
                                                                 value="#{PIS_Tour_Training_Appl.txt_tour_purpose}"
                                                                 rows="2" autoResize="false"
                                                                 />                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td/>
                                            <td class="td-6-width">
                                                <p:commandButton id="btn_tour_add_to_list"
                                                                 title="Add To the List"
                                                                 icon="ui-icon-circle-plus"
                                                                 value="Add to Tour/Training Detail"
                                                                 onclick="if(!validate_tour_add_to_list()){return false;}"
                                                                 process="pnl_new_tour_training_entry"
                                                                 update=":form1:tabview1"
                                                                 actionListener="#{PIS_Tour_Training_Appl.btn_tour_add_to_list_action}"
                                                                 />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </h:panelGroup>
                    </p:dialog>
                    <h:panelGroup id="pnl_dlg_emplist">
                        <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{PIS_Tour_Training_Appl.lst_employee_selectable}" selectedUser="#{PIS_Tour_Training_Appl.selectedUserFromList}"/>
                    </h:panelGroup>  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>
