<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                    $(document).ready(function() {
                        $('#txt_tuition_fees').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'99999999.99',aPad: false});
                        $('#txt_tuition_lodging').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'99999999.99',aPad: false});
                        $('#txt_tuition_lodging_boarding').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'99999999.99',aPad: false});
                        
                    }); 

                    function reset_form(){
                        $('#txt_subject').val('');
                        $('#txt_announce_by').val('');
                        $('#txt_training_co_first_name').val('');
                        $('#txt_training_co_last_name').val('');
                        $('#txt_training_announcement_co_contact_no').val('');
                        $('#txt_announce_by').val('');
                        $('#txt_venue_name').val('');
                        $('#txt_tuition_fees').val('0');
                        $('#txt_tuition_lodging').val('0');
                        $('#txt_tuition_lodging_boarding').val('0');
                        $('#txt_other_fees_amount').val('0');
                        $('#txt_institute_name').val('');
                        $('#txt_institute_address').val('');
                        $('#txt_institute_city').val('');
                        $('#txt_institute_pincode').val('');
                        $('#txt_institute_state').val('');
                        $('#txt_institute_country').val('');
                        $('#txt_institute_contact').val('');
                        $('#txt_venue').val('');
                        $('#txt_venue_city').val('');
                        $('#txt_venue_pincode').val('');
                        $('#txt_venue_state').val('');
                        $('#txt_venue_country').val('');
                        $('#txt_venue_contact').val('');
                        $('#txt_objective').val('');
                        $('#txt_topics').val('');
                        $('#txt_benefits').val('');
                        $('#txt_eligibility').val('');
                        $('#txt_other_fees_desc').val('');
                        $('#txt_training_desc').val('');
                        $('#txt_announce_by').val('');
                        $('#txt_total_days').text('1');
                        $('#lbl_username').text('');
                        $('#lbl_empnm_err').text('');

                        $('#ddl_announce_type select').val();
                        $('#ddl_category select').val();
                        $('#ddl_training_salutation select').val('mr');                 
                    }
                     

                    function validateEmail(){
                        var re=/^(\w+[\-\.])*\w+@(\w+\.)+[A-Za-z]+$/;
                        var v_txt_email=document.getElementById('txt_email');
                        var v_err_txt_email=document.getElementById('err_txt_email');
                        v_err_txt_email.innerHTML=''
                        v_err_txt_email.style.display='none';
                        if(!re.test(v_txt_email.value)){
                            v_err_txt_email.innerHTML='Please enter valid email'
                            v_err_txt_email.style.display='block';
                            return false;
                        }else{
                            v_err_txt_email.innerHTML=''
                            v_err_txt_email.style.display='none';
                        }
                        return true;
                    }

                    function save_validation(){
                        var valid=true;
                        $('#err_institute_address').text('');
                        $('#err_venue_address').text('');
                        $('#err_coordinator_name').text('');
                        $('#err_subject').text('');
                        $('#err_institute_name').text('');
                        $('#err_objective').text('');
                        $('#err_topics').text('');
                        $('#err_benefits').text('');
                        $('#err_eligibility').text('');                        
                        $('#lbl_empnm_err').text('');
                        $('#err_category').text('');
                        $('#err_announce_type').text('');  
                        $('#err_tbl_training_schedule').text('');
                        
                        if($('#ddl_announce_type select').val()==''){
                            $('#err_announce_type').text('Select Announcement Type');
                            valid=false;
                        }
                        if($('#ddl_category select').val()==''){
                            $('#err_category').text('Select Any Category');
                            valid=false;
                        }
                        
                        if($('#txt_subject').val()==''){
                            $('#err_subject').text('Give Subject');
                            valid=false;
                        }                        
                        if($('#txt_training_co_first_name').val()=='' || $('#txt_training_co_last_name').val()==''){
                            $('#err_coordinator_name').text('Fill up Co-Ordinator\'\s Name'); 
                            valid=false;
                        }
                        if($('#txt_institute_name').val()==''){
                            $('#err_institute_name').text('Give Institute Name');
                            valid=false;
                        }
                        
                        if($('#txt_venue_name').val()==''){
                            valid=false;
                        }
                        if($('#txt_objective').val()==''){
                            $('#err_objective').text('Give Objective');
                            valid=false;
                        }
                        if($('#txt_topics').val()==''){
                            $('#err_topics').text('Give Topics');
                            valid=false;
                        }
                        if($('#txt_benefits').val()==''){
                            $('#err_benefits').text('Give Benefits');
                            valid=false;
                        }
                        if($('#txt_eligibility').val()==''){
                            $('#err_eligibility').text('Give Eligibility');
                            valid=false;
                        }                       
                        if($('#txt_announce_by').val()==''){
                            $('#lbl_empnm_err').text('Fill Announce By Field');
                            valid=false;                          
                        }
                        if($('#txt_institute_address').val()=='' || 
                            $('#txt_institute_city').val()==''||
                            $('#txt_institute_pincode').val()=='' ||
                            $('#txt_institute_state').val()=='' ||
                            $('#txt_institute_country').val()=='' || 
                            $('#txt_institute_contact').val()==''){
                            $('#err_institute_address').text('Please Fill up complete Institute Address');
                            valid=false;
                        }
                        if($('#txt_venue_address').val()=='' || 
                            $('#txt_venue_city').val()==''||
                            $('#txt_venue_pincode').val()=='' ||
                            $('#txt_venue_state').val()=='' ||
                            $('#txt_venue_country').val()=='' || 
                            $('#txt_venue_contact').val()==''){
                            $('#err_venue_address').text('Please Fill up complete Venue Address');
                            valid=false;
                        }
                        if($('#tbl_training_schedule tbody tr:first td').length==1){
                            $('#err_tbl_training_schedule').text('Please enter Training Schedule')
                            valid=false;
                        }
                        
                        if($('#picklst_org_target').val()==null){
                            $('#err_picklst_org').text('Select Any Organization Unit');
                            valid=false;
                        }
                        return valid;
                    }


                   

                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" /> 
                        <p:menuitem value="Leave-Tour-Training" url="#{PIS_GlobalSettings.brTas_LeaveTourTraining}" />
                        <p:menuitem value="Training Announcement" url="#" />  
                    </p:breadCrumb>  
                    <div align="center"> 

                        <div align="right" style="margin-top: 4px;margin-bottom: 2px;">
                            <p:commandButton id="btn_reset"
                                             process="btn_reset"
                                             update="cal_detail_from_date"
                                             value="Reset Training Annoumncement"
                                             actionListener="#{PIS_Training_Announcement.btn_reset_action}"/>
                        </div>
                        <div class="scrolling-div" align="left">
                            <p:panel id="pnl_1_1" style="margin-top:2px;" header="Training Detail">
                                <div class="scrolling-div">
                                    <table width="100%" class="element-table">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label">Type of Announcement: <label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:selectOneMenu id="ddl_announce_type"
                                                                     style="width:200px;"
                                                                     value="#{PIS_Training_Announcement.ddl_announce_type}"
                                                                     >
                                                        <f:selectItems value="#{PIS_Training_Announcement.ddl_announce_type_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/><div class="error-message" id="err_announce_type"/>
                                                </td>
                                                <td class="entry-component-label">Category:<label class="mandatory-text">*</label></td>
                                                <td> <p:selectOneMenu id="ddl_category"
                                                                      style="width:200px;"
                                                                      value="#{PIS_Training_Announcement.ddl_category}">
                                                        <f:selectItems value="#{PIS_Training_Announcement.ddl_category_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/><div class="error-message" id="err_category"/></td>
                                            </tr>
                                            <tr >
                                                <td width="15%" class="entry-component-label">Subject:<label class="mandatory-text">*</label>
                                                </td>
                                                <td colspan="3">
                                                    <p:inputTextarea id="txt_subject"
                                                                     style="text-transform:uppercase"
                                                                     cols="60"
                                                                     value="#{PIS_Training_Announcement.txt_subject}">
                                                    </p:inputTextarea>
                                                    <br/>
                                                    <div class="error-message" id="err_subject"/>
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td class="entry-component-label">Co-Ordinator's Name: <label class="mandatory-text">*</label></td>
                                                <td width="10%" style="white-space:nowrap;">
                                                    <p:selectOneMenu id="ddl_training_salutation"
                                                                     value="#{PIS_Training_Announcement.ddl_training_salutation}">
                                                        <f:selectItems value="#{PIS_Training_Announcement.ddl_training_salutation_options}"/>
                                                    </p:selectOneMenu>
                                                    <p:inputText id="txt_training_co_first_name"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="margin-left:10px;text-transform:uppercase;"
                                                                 value="#{PIS_Training_Announcement.txt_training_co_first_name}"/>                                                      
                                                    <p:inputText id="txt_training_co_last_name"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="margin-left:10px;text-transform:uppercase;"
                                                                 value="#{PIS_Training_Announcement.txt_training_co_last_name}"/>

                                                </td>
                                                <td align="right" class="entry-component-label">Contacts:</td>
                                                <td rowspan="2">
                                                    <p:inputTextarea id="txt_training_announcement_co_contact_no"
                                                                     cols="30"
                                                                     style="text-transform:uppercase;"
                                                                     value="#{PIS_Training_Announcement.txt_training_announcement_co_contact_no}"/>
                                                </td>

                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td colspan="2"><h:outputLabel value="First Name"
                                                                               style="margin-left:68px;
                                                                               font-family: 'Times New Roman',Times,serif;
                                                                               font-size: 12px;
                                                                               color: #666666;"
                                                                               />
                                                    <h:outputLabel value="Last Name"
                                                                   style="margin-left:82px;
                                                                   font-family: 'Times New Roman',Times,serif;
                                                                   font-size: 12px;
                                                                   color: #666666;"
                                                                   />
                                                    <br/>
                                                    <div class="error-message" id="err_coordinator_name" style="margin-left:68px;"/>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="3" width="100%">
                                        <tbody>
                                            <tr valign="top">
                                                <td width="15%" class="entry-component-label"> Institute Name:<label class="mandatory-text">*</label></td>
                                                <td width="25%">
                                                    <p:inputText id="txt_institute_name"
                                                                 size="30"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_institute_name}"/>
                                                    <br/>
                                                    <div class="error-message" id="err_institute_name"/>
                                                </td> 
                                                <td rowspan="2">                                                        
                                                </td>
                                            </tr>                                               
                                        </tbody>
                                    </table>
                                </div>
                                <div class="scrolling-div">
                                    <table width="100%"  cellpadding="3">
                                        <tbody>
                                            <tr>
                                                <td width="15%" class="entry-component-label">Institute Address:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputTextarea id="txt_institute_address"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announcement.txt_institute_address}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="City:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_institute_city"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_institute_city}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="Pincode:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_institute_pincode"
                                                                 onkeypress="keytest(event,F0T9);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_institute_pincode}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="State:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_institute_state"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_institute_state}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="Country:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_institute_country"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_institute_country}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Institute Contacts:<label class="mandatory-text">*</label></td>
                                                <td colspan="3"> <p:inputTextarea
                                                        id="txt_institute_contact"
                                                        cols="50"
                                                        onkeypress="keytest(event,Special_AZ09);"
                                                        onkeyup="followup(this.id)"
                                                        onfocus="lastval=this.value;"
                                                        style="text-transform:uppercase"
                                                        value="#{PIS_Training_Announcement.txt_institute_contacts}"/></td>
                                                <td colspan="2"><div id="err_institute_address" class="error-message" style="white-space: nowrap"/></td>
                                            </tr>
                                            <tr>
                                                <td width="15%" class="entry-component-label">Venue Address:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputTextarea id="txt_venue"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announcement.txt_venue_address}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="City:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_venue_city"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_venue_city}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="Pincode:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_venue_pincode"
                                                                 onkeypress="keytest(event,F0T9);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_venue_pincode}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="State:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_venue_state"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_venue_state}"/>
                                                </td>
                                                <td>
                                                    <h:outputText value="Country:"                                                                      
                                                                  styleClass="entry-component-label"
                                                                  /><label class="mandatory-text" style="margin-right:8px;">*</label>
                                                    <p:inputText id="txt_venue_country"
                                                                 onkeypress="keytest(event,Special_AZ09);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Training_Announcement.txt_venue_country}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Venue Contacts:<label class="mandatory-text">*</label></td>
                                                <td colspan="3"> <p:inputTextarea
                                                        id="txt_venue_contact"
                                                        cols="50"
                                                        onkeypress="keytest(event,Special_AZ09);"
                                                        onkeyup="followup(this.id)"
                                                        onfocus="lastval=this.value;"
                                                        style="text-transform:uppercase"
                                                        value="#{PIS_Training_Announcement.txt_venue_contacts}"/></td>
                                                <td colspan="2"><div id="err_venue_address" class="error-message" style="white-space: nowrap"/></td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h:inputHidden id="hdn_valid_user"
                                               value="#{PIS_Training_Announcement.hdn_valid_user}" />

                                <div class="scrolling-div inner_content_scroll"  style="width:100%" >
                                    <table border="0" width="100%" cellpadding="3">
                                        <tbody>
                                            <tr>
                                                <td width="15%" class="entry-component-label">Objective:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputTextarea id="txt_objective"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     cols="40"
                                                                     value="#{PIS_Training_Announcement.txt_objective}"/>
                                                    <br/><div class="error-message" id="err_objective"/>
                                                </td>
                                                <td rowspan="4" valign="top" >
                                                    <p:panel id="pnl_fees" style="margin-top:2px;">
                                                        <div class="scrolling-div">
                                                            <table width="100%" class="element-table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label">Tuition Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_fees" 
                                                                                         size="10"
                                                                                         value="#{PIS_Training_Announcement.txt_tuition_fees}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label" style="margin-left: 8px;">Tuition Fees + Lodging Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_lodging"
                                                                                         size="10"
                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announcement.txt_tuition_lodging}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label">Tuition Fees + Lodging Fees + Boarding Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_lodging_boarding"
                                                                                         size="10"

                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announcement.txt_tuition_lodging_boarding}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right">
                                                                            <h:outputText value="Any Other Fees"
                                                                                          style="margin-right:15px;text-decoration:underline"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                            <h:outputText value="Description:"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                            <p:inputText id="txt_other_fees_desc"
                                                                                         onkeypress="keytest(event,Special_AZ09);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         size="12"
                                                                                         style="margin-right:8px;text-transform:uppercase"
                                                                                         value="#{PIS_Training_Announcement.txt_other_fees_desc}"/>
                                                                            <h:outputText value="Amount:"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                        </td>
                                                                        <td>
                                                                            <p:inputText id="txt_other_fees_amount"
                                                                                         size="10"
                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announcement.txt_other_fees_amount}"/></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </p:panel>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Topics Included:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_topics" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announcement.txt_topics}"/>
                                                    <br/><div class="error-message" id="err_topics"/></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Benefits:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_benefits" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announcement.txt_benefits}"/>
                                                    <br/><div class="error-message" id="err_benefits"/></td>

                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Eligibility:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_eligibility" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announcement.txt_eligibility}"/>
                                                    <br/><div class="error-message" id="err_eligibility"/></td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </p:panel>
                            <p:panel id="pnl_1_2"
                                     header="Training Schedule Detail" 
                                     toggleable="true"
                                     style="margin-top: 5px;">
                                <div class="scrolling-div" >                                    
                                    <h:panelGroup id="pnl_schedule">
                                        <div class="scrolling-div">
                                            <table border="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="entry-component-label">Schedule From Date-Time</td>
                                                        <td class="entry-component-label">Schedule To Date-Time</td>
                                                        <td class="entry-component-label">Description</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%"><p:calendar id="cal_detail_from_date"
                                                                                    widgetVar="pw_cal_detail_from_date"
                                                                                    value="#{PIS_Training_Announcement.cal_detail_from_date}"
                                                                                    readonlyInput="true"
                                                                                    pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                                    navigator="true"
                                                                                    mindate="#{PIS_Training_Announcement.cal_detail_from_date_min}"
                                                                                    maxdate="#{PIS_Training_Announcement.cal_detail_from_date_max}">
                                                                <p:ajax event="dateSelect"
                                                                        listener="#{PIS_Training_Announcement.cal_detail_date_valuechange}" 
                                                                        process="cal_detail_from_date"
                                                                        update="cal_detail_to_date"
                                                                        />
                                                            </p:calendar>
                                                            <br/><div id="err_cal_detail_from_date" class="error-message"/>
                                                        </td>
                                                        <td width="20%">
                                                            <p:calendar id="cal_detail_to_date"
                                                                        widgetVar="pw_cal_detail_to_date"
                                                                        value="#{PIS_Training_Announcement.cal_detail_to_date}"
                                                                        readonlyInput="true"
                                                                        pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                        navigator="true"
                                                                        mindate="#{PIS_Training_Announcement.cal_detail_to_date_min}"
                                                                        maxdate="#{PIS_Training_Announcement.cal_detail_to_date_max}">
                                                                <p:ajax event="change"
                                                                        process="cal_detail_to_date"
                                                                        />
                                                            </p:calendar>
                                                            <br/><div id="err_cal_detail_to_date" class="error-message"/>
                                                        </td>
                                                        <td width="20%">
                                                            <p:inputTextarea id="txt_training_desc"
                                                                             value="#{PIS_Training_Announcement.txt_training_desc}"
                                                                             style="text-transform:uppercase"
                                                                             rows="1"
                                                                             />
                                                            <br/><div id="err_txt_training_desc" class="error-message"/>
                                                        </td>
                                                        <td>
                                                            <p:commandButton id="btn_add_to_list"
                                                                             title="Add To List"
                                                                             icon="ui-icon-circle-plus"
                                                                             value="Add to List"
                                                                             onstart="return validate_add_to_list()"
                                                                             process="btn_add_to_list,cal_detail_from_date,
                                                                             txt_training_desc,cal_detail_to_date"
                                                                             actionListener="#{PIS_Training_Announcement.btn_add_to_list_action}"
                                                                             update=":form1:btn_add_to_list,growl1,:form1:pnl_schedule,
                                                                             :form1:cal_detail_from_date,:form1:txt_training_desc"
                                                                             />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                function validate_add_to_list(){
                                                    $('#err_cal_detail_from_date').text('');   
                                                    $('#err_cal_detail_to_date').text('');   
                                                    $('#err_txt_training_desc').text('');   
                                                    valid=true;
                                                    if(pw_cal_detail_from_date.getDate()==null){
                                                        $('#err_cal_detail_from_date').text('Select From Date-Time');   
                                                        valid=false;
                                                    }
                                                    if(pw_cal_detail_to_date.getDate()==null){
                                                        $('#err_cal_detail_to_date').text('Select To Date-Time');   
                                                        valid=false;
                                                    }
                                                    if($('#txt_training_desc').val()==''){
                                                        $('#err_txt_training_desc').text('Enter Schedule Description');   
                                                        valid=false;
                                                    }
                                                    return valid;
                                                     
                                                }//]]>
                                            </script>
                                            <div class="component-margin">
                                                <h:panelGroup id="pnl_tbl_training_schedule">
                                                    <p:dataTable id="tbl_training_schedule"
                                                                 value="#{PIS_Training_Announcement.tbl_training_schedule}"
                                                                 var="item" >
                                                        <p:column headerText="Schedule From DateTime" footerText="#{PIS_Training_Announcement.f_from_date}">
                                                            <h:outputText  value="#{item.entFtasTrainingScheduleDtl.fromDatetime}">
                                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="To DateTime" footerText="#{PIS_Training_Announcement.f_to_date}">
                                                            <h:outputText value="#{item.entFtasTrainingScheduleDtl.toDatetime}">
                                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column headerText="Description" footerText="#{PIS_Training_Announcement.f_total_days}">#{item.entFtasTrainingScheduleDtl.description}</p:column>
                                                        <p:column headerText="Delete">
                                                            <p:commandButton
                                                                rendered="#{item.lastRow}"
                                                                process=":form1:pnl_schedule"
                                                                update=":form1:pnl_schedule"
                                                                title="Delete Record"
                                                                icon="ui-icon-trash"
                                                                id="btn_schedule_delete"
                                                                actionListener="#{PIS_Training_Announcement.btn_schedule_delete_action}"                                                            
                                                                style="margin-left:20px;"
                                                                >
                                                                <f:setPropertyActionListener value="#{item}"
                                                                                             target="#{PIS_Training_Announcement.ent_TourTraining}" />
                                                            </p:commandButton>
                                                        </p:column> 
                                                    </p:dataTable>
                                                    <br/><div id="err_tbl_training_schedule" class="error-message"/>
                                                </h:panelGroup>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </p:panel>
                            <p:panel id="pnl_1_3" style="margin-top:5px;">
                                <table width="100%" class="element-table">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="entry-component-label">Announce By: <label class="mandatory-text">*</label></td>
                                            <td valign="top">
                                                <p:inputText id="txt_announce_by"
                                                             size="3"
                                                             maxlength="4"
                                                             styleClass="number-entry-5-0"  
                                                             value="#{PIS_Training_Announcement.txt_announce_by}"
                                                             valueChangeListener="#{PIS_Training_Announcement.txt_announce_by_processValueChange}">
                                                    <p:ajax event="change"
                                                            process="txt_announce_by"
                                                            update="hdn_valid_user,growl1,
                                                            lbl_username,lbl_empnm_err"
                                                            />
                                                </p:inputText>
                                                <h:outputText
                                                    styleClass="Static_Text_Detail"
                                                    style="margin-left:10px;"
                                                    id="lbl_username"
                                                    value="#{PIS_Training_Announcement.lbl_username}"
                                                    />
                                                <h:outputText  id="lbl_empnm_err"
                                                               style="color:red;"
                                                               styleClass="Static_Text_Label"
                                                               value="#{PIS_Training_Announcement.lbl_empnm_err}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="entry-component-label">Organization Unit List: <label class="mandatory-text">*</label></td>
                                            <td>
                                                <p:pickList id="picklst_org"
                                                            value="#{PIS_Training_Announcement.picklst_org}"
                                                            effect="bounce"
                                                            var="lst_org"
                                                            showSourceControls="true"
                                                            showTargetControls="true"
                                                            itemLabel="#{lst_org}"
                                                            itemValue="#{lst_org}" >
                                                    <f:facet name="sourceCaption">All Organization Units:</f:facet>  
                                                    <f:facet name="targetCaption">Selected Organization Units:</f:facet> 
                                                </p:pickList>
                                                <div id="err_picklst_org" class="error-message" style="margin-left: 310px;"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p:panel>
                            <script type="text/javascript">
                                //<![CDATA[
                                function setNumericEntry(){
                                    $('.number-entry-5-0').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false});                                                        
                                }
                                
                                //]]>
                            </script>
                            <div  class="scrolling-div" style="margin-top:7px;">
                                <table border="0" width="100%"> 
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <p:commandButton id="btn_save"
                                                                 icon="ui-icon-disk"
                                                                 update="growl1,pnl_1_3,pnl_1_1,pnl_1_2,pnl_fees"
                                                                 process="btn_save,pnl_1_3,pnl_1_1,pnl_fees"
                                                                 value="Save Training Announcement"
                                                                 onstart="if(!save_validation()){return false;}"
                                                                 actionListener="#{PIS_Training_Announcement.btn_save_action}"
                                                                 />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right"> <a id="mandatory_text" class="mandatory-text-ins">
                                                    <label id="l2" class="mandatory-text">*</label> - Mandatory Fields</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>