<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                    function restrictCheck(p_f){
                        var p_value=p_f.value;
                        var a=new Array();
                        var prev;
                        var next;
                        a[1]=$('#tabview1\\:chk_weekdays\\:0').get(0);
                        a[2]=$('#tabview1\\:chk_weekdays\\:1').get(0);
                        a[3]=$('#tabview1\\:chk_weekdays\\:2').get(0);
                        a[4]=$('#tabview1\\:chk_weekdays\\:3').get(0);
                        a[5]=$('#tabview1\\:chk_weekdays\\:4').get(0);
                        a[6]=$('#tabview1\\:chk_weekdays\\:5').get(0);
                        a[0]=$('#tabview1\\:chk_weekdays\\:6').get(0);   
                        if(p_value=='MONDAY'){
                            p_value=1;
                        }else if(p_value=='TUESDAY'){
                            p_value=2;
                        }else if(p_value=='WEDNESDAY'){
                            p_value=3;
                        }else if(p_value=='THURSDAY'){
                            p_value=4;
                        }else if(p_value=='FRIDAY'){
                            p_value=5;
                        }else if(p_value=='SATURDAY'){
                            p_value=6;
                        }else if(p_value=='SUNDAY'){
                            p_value=0;
                        }
                        var ind;
                        var counter=0;
                        for(i=0;i<7;i++){
                            if(a[i].checked==true ){
                                counter++;
                            }
                        }
                        for(i=0;i<7;i++){
                            if(a[i].checked==true ){
                                ind=i;
                                if(ind!=p_value){
                                    break;
                                }
                            }
                        }
                        if((ind+1)>6){
                            next=0;
                        }else{
                            next=ind+1;
                        }
                        if((ind-1)<0){
                            prev=6;
                        }else{
                            prev=ind-1;
                        }
                        if(counter>=2){
                            if (counter>2){
                                a[p_value].checked=false;
                                SetAndShowDialog('GeneralDialog','Information','Can not check select more than 2 days for weekend');
                            }else if(!(p_value==prev || p_value==next)){
                                a[p_value].checked=false;
                                SetAndShowDialog('GeneralDialog','Information','You can check consecutive days only');
                            }                             
                            
                        }
                    }

                    function validate_btn_weekend_save(){
                        var valid=true;
                        $('#err_ddl_year').text(''); 
                        if($('#ddl_year_input').val()==''){
                            $('#err_ddl_year').text('Select Year');
                            valid=false;
                        }
                        return valid;
                    }
                    function validate_btn_schedule_save(){
                        var valid=true;     
                        $('#err_ddl_year').text(''); 
                        $('#err_schedule_desc').text('');
                        $('#err_cal_schedule').text('');
                        if($('#ddl_year_input').val()==''){
                            $('#err_ddl_year').text('Select Year');
                            valid=false;
                        }
                        if($('#tabview1\\:auto_schedule_desc_input').val()==''){
                            $('#err_schedule_desc').text('Give Schedule Description');
                            valid=false;
                        }
                        if($('#tabview1\\:cal_schedule_input').val()==''){
                            $('#err_cal_schedule').text('Give Schedule Description');
                            valid=false;
                        }
                        return valid;
                    }
                    function validate_btn_sudden_save(){
                        var valid=true;             
                        $('#err_ddl_year').text(''); 
                        $('#err_sudden_desc').text(''); 
                        $('#err_cal_sudden').text('');
                        if($('#ddl_year_input').val()==''){
                            $('#err_ddl_year').text('Select Year');
                            valid=false;
                        }
                        if($('#tabview1\\:txt_sudden_desc').val()==''){
                            $('#err_sudden_desc').text('Give Sudden Description');
                            valid=false;
                        }
                        if($('#tabview1\\:cal_sudden_input').val()==''){
                            $('#err_cal_sudden').text('Give Sudden Description');
                            valid=false;
                        }
                        return valid;
                    }

                    function validate_update(){
                        var valid=true;
                        $('#err_txt_dlg_new_holiday_desc').text('');
                        if($('#txt_dlg_new_holiday_desc').val()==''){
                            $('#err_txt_dlg_new_holiday_desc').text('Give Description');
                            valid=false;                            
                        }
                        return valid;
                    }      

                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" /> 
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />                          
                        <p:menuitem value="Time Attendance" url="#{PIS_GlobalSettings.brPis_mst_org}" />                          
                        <p:menuitem value="Holiday Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin scrolling-div" align="left">
                            <p:panel id="pnl_1" header="Organization and Year">
                                <div class="scrolling-div">
                                    <table border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="15%"><h:outputText value="Organization Unit:"  
                                                                              styleClass="static-text-label"/></td>
                                                <td width="50%"><h:outputText id="txt_organization_unit"
                                                                              style="text-transform:uppercase;"
                                                                              styleClass="static-text-detail"
                                                                              value="#{PIS_Holiday_Declaration.txt_ou_name}"
                                                                              /></td>
                                                <td width="5%"><h:outputText value="Year:"  styleClass="static-text-label"/></td>
                                                <td><p:selectOneMenu id="ddl_year"
                                                                     value="#{PIS_Holiday_Declaration.ddl_year}"
                                                                     valueChangeListener="#{PIS_Holiday_Declaration.ddl_year_changed}"
                                                                     >
                                                        <f:selectItems value="#{PIS_Holiday_Declaration.ddl_year_options}"/>
                                                        <p:ajax event="change"
                                                                process="ddl_year"
                                                                update="pnl_tbl_holiday,:form1:tabview1:chk_weekdays,
                                                                :form1:tabview1:cal_schedule,:form1:tabview1:cal_sudden"                                           
                                                                />
                                                    </p:selectOneMenu>
                                                    <br/><div id="err_ddl_year" class="error-message"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </p:panel>
                            <div class="scrolling-div component-margin">
                                <p:tabView id="tabview1" rendered="#{PIS_GlobalSettings.sysetemUser_Fhrd}">
                                    <p:tab title="Weekend Holidays">
                                        <h:panelGroup id="pnl_weekend">
                                            <div class="scrolling-div">
                                                <table  class="element-table"
                                                        style="height:111px;">
                                                    <tbody >
                                                        <tr>
                                                            <td>
                                                                <p:selectManyCheckbox id="chk_weekdays"
                                                                                      style="font-weight: bold"
                                                                                      value="#{PIS_Holiday_Declaration.selectedWeekend}"
                                                                                      disabled="#{PIS_Holiday_Declaration.chk_weekdays_disabled}"
                                                                                      onchange="restrictCheck(this)">
                                                                    <f:selectItem itemLabel="Monday" itemValue="MONDAY" />
                                                                    <f:selectItem itemLabel="Tuesday" itemValue="TUESDAY" />
                                                                    <f:selectItem itemLabel="Wednesday" itemValue="WEDNESDAY" />
                                                                    <f:selectItem itemLabel="Thursday" itemValue="THURSDAY" />
                                                                    <f:selectItem itemLabel="Friday" itemValue="FRIDAY" />
                                                                    <f:selectItem itemLabel="Saturday" itemValue="SATURDAY" />
                                                                    <f:selectItem itemLabel="Sunday"  itemValue="SUNDAY"  />
                                                                </p:selectManyCheckbox>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td><p:commandButton id="btn_weekend"
                                                                                 update=":form1:growl1,:form1:pnl_tbl_holiday,
                                                                                 :form1:tabview1:pnl_weekend"
                                                                                 onclick="if(!validate_btn_weekend_save()){return false}"
                                                                                 icon="ui-icon-disk"
                                                                                 value="Add Weekend Holiday Record"
                                                                                 action="#{PIS_Holiday_Declaration.btn_weekend_clicked}"
                                                                                 /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Schedule Holiday">
                                        <h:panelGroup id="pnl_schedule">
                                            <div class="scrolling-div">
                                                <table  class="element-table">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1px" class="static-text-label">Date:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:calendar id="cal_schedule"
                                                                            readonlyInput="true"
                                                                            pattern="#{GlobalUtilities.dateFormat}"
                                                                            navigator="true"
                                                                            pages="4"
                                                                            mindate="#{PIS_Holiday_Declaration.min_date}"
                                                                            maxdate="#{PIS_Holiday_Declaration.max_date}"
                                                                            value="#{PIS_Holiday_Declaration.cal_schedule}"
                                                                            />
                                                                <br/>
                                                                <div id="err_cal_schedule" class="error-message"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Description:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:autoComplete
                                                                    id="auto_schedule_desc"
                                                                    value="#{PIS_Holiday_Declaration.auto_schedule_desc}" 
                                                                    completeMethod="#{PIS_Holiday_Declaration.completeScheduleList}"                                                                      
                                                                    maxlength="100"
                                                                    style="text-transform: uppercase">
                                                                    <p:ajax event="query" global="false"/>
                                                                </p:autoComplete> 
                                                                <br/>
                                                                <div  id="err_schedule_desc"  class="error-message"
                                                                      />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><p:commandButton id="btn_schedule"
                                                                                 process=":form1:ddl_year,:form1:tabview1:cal_schedule,
                                                                                 :form1:tabview1:auto_schedule_desc,@this"
                                                                                 update=":form1:growl1,:form1:pnl_tbl_holiday,
                                                                                 :form1:tabview1:cal_schedule,
                                                                                 :form1:tabview1:auto_schedule_desc,
                                                                                 :form1:pnl_1,
                                                                                 :form1:tabview1:pnl_schedule"
                                                                                 icon="ui-icon-disk"
                                                                                 onstart="if(!validate_btn_schedule_save()){
                                                                                 return false;}"
                                                                                 value="Add Schedule Holiday Record"
                                                                                 actionListener="#{PIS_Holiday_Declaration.btn_schedule_clicked}"
                                                                                 /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Sudden Declared Holiday">
                                        <h:panelGroup id="pnl_sudden">
                                            <div  class="scrolling-div">
                                                <table class="element-table">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1px;" class="static-text-label">Date:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:calendar id="cal_sudden"
                                                                            readonlyInput="true"
                                                                            pattern="#{GlobalUtilities.dateFormat}"
                                                                            navigator="true"
                                                                            pages="4"
                                                                            mindate="#{PIS_Holiday_Declaration.min_date}"
                                                                            maxdate="#{PIS_Holiday_Declaration.max_date}"
                                                                            value="#{PIS_Holiday_Declaration.cal_sudden}"
                                                                            />
                                                                <br/><div id="err_cal_sudden" class="error-message"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Description:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText id="txt_sudden_desc"
                                                                             value="#{PIS_Holiday_Declaration.txt_sudden_desc}"
                                                                             maxlength="100"
                                                                             style="text-transform: uppercase"/>
                                                                <br/>
                                                                <div  id="err_sudden_desc" class="error-message" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><p:commandButton id="btn_sudden"
                                                                                 process=":form1:ddl_year,txt_sudden_desc,cal_sudden,@this"
                                                                                 update=":form1:growl1,:form1:pnl_tbl_holiday,
                                                                                 :form1:tabview1:txt_sudden_desc,:form1:tabview1:cal_sudden,
                                                                                 :form1:tabview1:pnl_sudden"
                                                                                 onstart="if(!validate_btn_sudden_save()){
                                                                                 return false;}"
                                                                                 icon="ui-icon-disk"
                                                                                 value="Add Sudden Holiday Record"
                                                                                 actionListener="#{PIS_Holiday_Declaration.btn_sudden_clicked}"
                                                                                 /></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </h:panelGroup>
                                    </p:tab>
                                </p:tabView>
                            </div>
                            <div class="scrolling-div component-margin">
                                <h:panelGroup id="pnl_tbl_holiday">
                                    <p:dataTable value="#{PIS_Holiday_Declaration.tbl_holiday}"
                                                 paginator="true"
                                                 rows="5" 
                                                 paginatorPosition="top"
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="5,10,15"
                                                 var="item"
                                                 id="tbl_holiday"
                                                 >
                                        <p:column  sortBy="#{item.ftasHolidayDtlPK.holiDate}" filterBy="#{item.ftasHolidayDtlPK.holiDate}"
                                                   headerText="Date">
                                            <h:outputText value="#{item.ftasHolidayDtlPK.holiDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column sortBy="#{item.holiDesc}" filterBy="#{item.holiDesc}" 
                                                  headerText="Description">#{item.holiDesc}</p:column>
                                        <p:column styleClass="colunm_align" headerText="Weekend Holiday"
                                                  filterBy="#{item.weekendFlag}"
                                                  filterOptions="#{PIS_Holiday_Declaration.lst_yes_no_options}">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.weekendFlag=='Y'}"/>
                                        </p:column>
                                        <p:column styleClass="colunm_align" headerText="Schedule Holiday"
                                                  filterBy="#{item.scheduleFlag}"
                                                  filterOptions="#{PIS_Holiday_Declaration.lst_yes_no_options_s}">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.scheduleFlag=='Y'}"/>
                                        </p:column>
                                        <p:column styleClass="colunm_align" headerText="Sudden Holiday"
                                                  filterBy="#{item.suddenDeclareFlag}"
                                                  filterOptions="#{PIS_Holiday_Declaration.lst_yes_no_options_d}">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.suddenDeclareFlag=='Y'}"/>
                                        </p:column>
                                        <p:column style="width:1px" rendered="#{PIS_GlobalSettings.sysetemUser_Fhrd}">
                                            <p:commandButton id="btn_holiday_update"
                                                             icon="ui-icon-pencil"
                                                             process=":form1:pnl_tbl_holiday"
                                                             update=":form1:txt_dlg_holiday_desc,:form1:txt_dlg_new_holiday_desc,
                                                             :form1:chk_weekend,:form1:chk_schedule,
                                                             :form1:chk_sudden,:form1:txt_dlg_holiday_date"
                                                             actionListener="#{PIS_Holiday_Declaration.btn_holiday_update_action}"
                                                             oncomplete="pw_dlg_update_rowdata.show();"
                                                             rendered="#{(item.actionFlag=='A' or item.actionFlag=='R')?('false'):('true')}">
                                                <f:setPropertyActionListener value="#{item}"
                                                                             target="#{PIS_Holiday_Declaration.ent_selected_holiday}"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                                <p:dialog id="dlg_update_rowdata"
                                          height="300"
                                          width="400"
                                          header="Update Holiday Entry for selected Record"
                                          widgetVar="pw_dlg_update_rowdata"
                                          modal="true"
                                          >
                                    <div class="scrolling-div">
                                        <table border="0" class="element-table" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="35%" class="entry-component-label">Holiday Description:</td>
                                                    <td>
                                                        <h:outputText value="#{PIS_Holiday_Declaration.txt_dlg_holiday_desc}" 
                                                                      id="txt_dlg_holiday_desc"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">New Description:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:inputText id="txt_dlg_new_holiday_desc"
                                                                     value="#{PIS_Holiday_Declaration.txt_dlg_new_holiday_desc}"
                                                                     maxlength="100"
                                                                     style="text-transform: uppercase"/>
                                                        <br/>
                                                        <div id="err_txt_dlg_new_holiday_desc" class="error-message"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Holiday Date:</td>
                                                    <td>
                                                        <h:outputText id="txt_dlg_holiday_date"
                                                                      value="#{PIS_Holiday_Declaration.txt_dlg_holiday_date}"> </h:outputText>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Weekend Holiday:</td>
                                                    <td><p:selectBooleanCheckbox id="chk_weekend"
                                                                                 value="#{PIS_Holiday_Declaration.chk_weekend}" 
                                                                                 disabled="#{PIS_Holiday_Declaration.chk_weekend_disabled}"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Schedule Holiday:</td>
                                                    <td>
                                                        <p:selectBooleanCheckbox id="chk_schedule"
                                                                                 value="#{PIS_Holiday_Declaration.chk_schedule}"
                                                                                 disabled="#{PIS_Holiday_Declaration.chk_schedule_disabled}"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Sudden Declared Holiday:</td>
                                                    <td><p:selectBooleanCheckbox id="chk_sudden"
                                                                                 value="#{PIS_Holiday_Declaration.chk_sudden}"
                                                                                 disabled="#{PIS_Holiday_Declaration.chk_schedule_disabled}"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="component-margin" align="center">
                                        <p:commandButton id="btn_dlg_update"
                                                         value="Update"
                                                         icon="ui-icon-disk"
                                                         process="dlg_update_rowdata"
                                                         update=":form1:growl1,pnl_tbl_holiday"
                                                         onstart="return validate_update()"
                                                         onsuccess="pw_dlg_update_rowdata.hide()"
                                                         actionListener="#{PIS_Holiday_Declaration.btn_update_row_action}"
                                                         />
                                    </div>
                                </p:dialog>
                            </div>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>                   
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>
