<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                    function btn_reject_all_event(){
                        var v_datatable=document.getElementById("approval_dataTable");
                        reject_all(v_datatable);
                    }
                    function reject_all(p){
                        try {
                            var split_p=p.id.split(':')
                            if(split_p[2]=="rdb_accept" && split_p[3]=="1"){
                                p.checked = true ;
                            }
                        }
                        catch(E){
                        }
                        if (p.childNodes && p.childNodes.length > 0) {
                            for (var x = 0; x < p.childNodes.length; x++) {
                                reject_all(p.childNodes[x]);
                            }
                        }
                    }
                    function btn_noaction_all_event(){
                        var v_datatable=document.getElementById("approval_dataTable");
                        noaction_all(v_datatable);
                    }
                    function noaction_all(p){
                        try {
                            var split_p=p.id.split(':')
                            if(split_p[2]=="rdb_accept" && split_p[3]=="2"){
                                p.checked = true ;
                            }
                        }
                        catch(E){
                        }
                        if (p.childNodes && p.childNodes.length > 0) {
                            for (var x = 0; x < p.childNodes.length; x++) {
                                noaction_all(p.childNodes[x]);
                            }
                        }
                    }
                    function btn_accept_all_event(){
                        var v_datatable=document.getElementById("approval_dataTable");
                        accept_all(v_datatable);
                    }
                    function accept_all(p){
                        try {
                            var split_p=p.id.split(':')
                            if(split_p[2]=="rdb_accept" && split_p[3]=="0"){
                                p.checked = true ;
                            }
                        }
                        catch(E){
                        }
                        if (p.childNodes && p.childNodes.length > 0) {
                            for (var x = 0; x < p.childNodes.length; x++) {
                                accept_all(p.childNodes[x]);
                            }
                        }
                    }
                    function validate_save_action(){
                        document.getElementById('ui-dialog-title-WaitDialog').innerHTML='Saving...';
                        document.getElementById('out_WaitDialog').value='Please wait while record is being procceed';
                        WaitDialog.show();
                        return true;
                    }

                    function validate_save_action_tab2(){
                        document.getElementById('ui-dialog-title-WaitDialog').innerHTML='Saving...';
                        document.getElementById('out_WaitDialog').value='Please wait while record is being procceed';
                        WaitDialog.show();
                        return true;
                    }

                    //]]>
                </script>
                <style>
                    input[type="radio"]{
                        cursor:pointer;
                    }
                </style>
                <style type="text/css">
                    .training {
                        color: #043c9b;
                    }
                    .tour {
                        color: #9b0422;
                    }
                    .leave {
                        color: #000504;
                    }
                </style>
            </ui:define>
            <ui:define name="content">       
                <h:form id="form1" prependId="false" >
                    <button class="hidden-button" onclick="return false"/>
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />  
                        <p:menuitem value="Approval" url="#{PIS_GlobalSettings.brTas_approval}" />
                        <p:menuitem value="Approval of Application" url="#" />  
                    </p:breadCrumb>  
                    <div class="component-margin" align="left">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div style="display: inline" align="left"  >
                                        <p:button
                                            value="Approve"
                                            onclick="if(pw_tbl_approval_appl.getSelectedRowsCount()==0){
                                                SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be approved');                                           
                                            }else{
                                                $('#out_confirm_message').text('Total '+pw_tbl_approval_appl.getSelectedRowsCount()+' Application(s) will be approved, Do you want to continue?');
                                                $('#btn_approve').show();
                                                $('#btn_reject').hide();
                                                pw_confirmDialog.show();
                                            } return false;"                                        
                                            icon="ui-icon-disk"                                                                                
                                            />
                                        <p:button style="margin-left:10px"
                                                  value="Reject"
                                                  onclick="if(pw_tbl_approval_appl.getSelectedRowsCount()==0){
                                                  SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be rejected');                                            
                                              }else{
                                                  $('#out_confirm_message').text('Total '+pw_tbl_approval_appl.getSelectedRowsCount()+' Application(s) will be rejected, Do you want to continue?');
                                                  $('#btn_approve').hide();
                                                  $('#btn_reject').show();
                                                  pw_confirmDialog.show();
                                              } return false;"  
                                                  icon="ui-icon-cancel"
                                                  />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div align="left" class="component-margin">
                        <div align="right">
                            <p:commandButton value="Refresh"
                                             update="pnl_approval_dataTable"
                                             process="@this"                                                                               
                                             />  
                        </div>
                        <h:panelGroup id="pnl_approval_dataTable">
                            <p:dataTable
                                id="approval_dataTable"
                                widgetVar="pw_tbl_approval_appl"
                                value="#{PIS_Approval_Leave_Application.tbl_approval_list}"
                                filteredValue="#{PIS_Approval_Leave_Application.tbl_approval_list_filtered}"
                                var="item" style="width:100%"
                                rows="25"
                                paginator="true"
                                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                rowsPerPageTemplate="5,10,25,50"
                                paginatorPosition="top"                                                                       
                                styleClass="p-datatable-with-refresh ui-datatable-hor-scroll"
                                rowSelectMode="add"
                                rowStyleClass="#{(item.applicationFlag=='L'?'leave':item.applicationFlag=='T'?'tour':'training')}"
                                selection="#{PIS_Approval_Leave_Application.selectedApplications}">
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:column selectionMode="multiple" style="width:18px"/>
                                <p:column headerText="User Id" sortBy="#{item.userId.userId}"
                                          filterBy="#{item.userId.userId}"
                                          filterMatchMode="contains">#{item.userId.userId}
                                </p:column>
                                <p:column headerText="Name" sortBy="#{item.userId.userName}"
                                          filterBy="#{item.userId.userName}"
                                          filterMatchMode="contains">#{item.userId.userName}</p:column>
                                <p:column headerText="From" sortBy="#{item.fromDate}" style="white-space: nowrap"
                                          filterBy="#{item.fromDate}">
                                    <h:outputText value="#{item.fromDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                    <br/>                                                                    
                                    (<h:outputText value="#{(item.fromhalf==0)?'FULLDAY':(item.fromhalf==1)?'FIRST HALF':(item.fromhalf==2)?'SECOND HALF':(item.fromhalf==3)?'BEFORE OFFICE HRS':(item.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                                </p:column>
                                <p:column headerText="To"  style="white-space: nowrap"
                                          filterBy="#{item.toDate}">
                                    <h:outputText value="#{item.toDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                    <br/> 
                                    (<h:outputText value="#{(item.tohalf==0)?'FULLDAY':(item.tohalf==1)?'FIRST HALF':(item.tohalf==2)?'SECOND HALF':(item.tohalf==3)?'BEFORE OFFICE HRS':(item.tohalf==4)?'AFTER OFFICE HRS':''}" />)
                                </p:column>
                                <p:column headerText="Days"
                                          filterBy="#{item.days}"
                                          sortBy="#{item.days}">#{item.days}</p:column>
                                <p:column headerText="Leave/ Tour/ Training (Cancellation)">                                    
                                    <ui:repeat value="#{item.ftasAbsenteesDtlCollection}" rendered="#{item.ftasAbsenteesDtlCollection.size()==1}" var="dtl">
                                        #{dtl.lmSrgKey.leavecd} - #{dtl.lmSrgKey.leaveDesc}
                                    </ui:repeat>
                                    <h:outputText value="CLUB" rendered="#{item.ftasAbsenteesDtlCollection.size()>1}"/>
                                    <h:outputText value="(Cancellation)" rendered="#{item.cabsSrgKey!=null}" style="font-weight:bold"/>
                                </p:column>     
                                <p:column headerText="Current Leave Balance">
                                    <ui:repeat value="#{item.ftasAbsenteesDtlCollection}"                                                
                                               rendered="#{item.ftasAbsenteesDtlCollection.size()==1}" var="dtl_bal">
                                        <h:outputText value="#{dtl_bal.emplbSrgKey.currentBal lt 0?'':dtl_bal.emplbSrgKey.currentBal}" rendered="#{item.applicationFlag=='L'}"/>
                                    </ui:repeat>
                                </p:column>
                                <p:column headerText="Reason"><h:outputText value="#{item.cabsSrgKey==null?item.reason1:item.cabsSrgKey.reason}" escape="false"/></p:column>
                                <p:column headerText="Approve/Reject Comment">
                                    <p:inputTextarea value="#{item.arcomment}" style="text-transform: uppercase" cols="13" rendered="#{item.cabsSrgKey==null}"/>
                                    <p:inputTextarea value="#{item.cabsSrgKey.arcomment}" style="text-transform: uppercase" cols="13" rendered="#{item.cabsSrgKey!=null}"/>
                                </p:column>
                                <p:column style="width:1px">
                                    <p:commandButton title="Attendance Summary"                                                     
                                                     icon="ui-icon-calculator"
                                                     process=":form1:pnl_approval_dataTable"
                                                     update=":form1:pnl_dlg_attendance_summary"
                                                     action="#{dtl_attendance_summary.showDialog(item)}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton title="View Leave/Tour/Training Detail"
                                                     process=":form1:pnl_approval_dataTable"
                                                     update=":form1:pnl_application_dtl"
                                                     icon="ui-icon-search"                                                     
                                                     actionListener="#{PIS_Approval_Leave_Application.viewLeaveDetail(item)}">
                                        <f:setPropertyActionListener value="#{item}"
                                                                     target="#{PIS_Approval_Leave_Application.selectedLeave}"/>
                                    </p:commandButton> 
                                </p:column>
                            </p:dataTable>
                            <script type="text/javascript">
                        try{pw_tbl_approval_appl.filter();}catch(e){}
                            </script>
                        </h:panelGroup>                          
                    </div>
                    <p:confirmDialog widgetVar="pw_confirmDialog" message="" 
                                     style="width:300px">
                        <f:facet name="message">
                            <h:outputText value="" id="out_confirm_message" />
                        </f:facet>
                        <p:commandButton 
                            id="btn_approve"
                            value="Approve"                              
                            process="btn_approve,pnl_approval_dataTable"
                            update="growl1,pnl_approval_dataTable,pnl_application_dtl"
                            icon="ui-icon-disk"                                        
                            actionListener="#{PIS_Approval_Leave_Application.btn_approve_clicked}"                                        
                            oncomplete="pw_confirmDialog.hide()"
                            />
                        <p:commandButton 
                            id="btn_reject"
                            value="Reject"
                            process="@this,pnl_approval_dataTable"
                            update="pnl_approval_dataTable,growl1,pnl_application_dtl"
                            icon="ui-icon-cancel"
                            actionListener="#{PIS_Approval_Leave_Application.btn_reject_clicked}"
                            oncomplete="pw_confirmDialog.hide();"
                            />
                        <p:commandButton value="Cancel"
                                         onclick="pw_confirmDialog.hide();return false;"/>
                    </p:confirmDialog>
                    <div  class="component-margin">
                        <p:panel  id="pnl_application_dtl"
                                  header="Leave/Tour/Training Detail"
                                  closable="true"
                                  style="display:#{(PIS_Approval_Leave_Application.selectedLeave.userId!=null)?'block':'none'}">

                            <fhrd:dtl_leave_tour_application id="dtl_leave_tour_application" absSrgKey="#{PIS_Approval_Leave_Application.selectedLeave}"/>

                        </p:panel>
                    </div>
                    <h:panelGroup id="pnl_dlg_attendance_summary">
                        <fhrd:dlg_attendance_summary id="dlg_attendance_summary"/>
                    </h:panelGroup>
                    <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>