<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                    
                    //]]>
                </script>
                <style>
                    input[type="radio"]{
                        cursor:pointer;
                    }
                </style>
                <style type="text/css">
                    .training {
                    color: #043c9b;
                    }
                    .tour {
                    color: #9b0422;
                    }
                    .leave {
                    color: #000504;
                    }
                </style>
            </ui:define>
            <ui:define name="content">       
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" /> 
                        <p:menuitem value="Approval" url="#{PIS_GlobalSettings.brTas_approval}" />
                        <p:menuitem value="Approval of Application Cancellation" url="#" />  
                    </p:breadCrumb>  
                    <div class="component-margin" align="left">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div style="display: inline" align="left"  >
                                        <p:button
                                            value="Approve"
                                            onclick="if(pw_tbl_cabs_appl.getSelectedRowsCount()==0){
                                                SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be approved');                                           
                                            }else{
                                                $('#out_confirm_message').text('Total '+pw_tbl_cabs_appl.getSelectedRowsCount()+' Application(s) will be approved, Do you want to continue?');
                                                $('#btn_approve').show();
                                                $('#btn_reject').hide();
                                                pw_confirmDialog.show();
                                            } return false;"                                        
                                            icon="ui-icon-disk"                                                                                
                                            />
                                        <p:button style="margin-left:10px"
                                                  value="Reject"
                                                  onclick="if(pw_tbl_cabs_appl.getSelectedRowsCount()==0){
                                                  SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be rejected');                                            
                                              }else{
                                                  $('#out_confirm_message').text('Total '+pw_tbl_cabs_appl.getSelectedRowsCount()+' Application(s) will be rejected, Do you want to continue?');
                                                  $('#btn_approve').hide();
                                                  $('#btn_reject').show();
                                                  pw_confirmDialog.show();
                                              } return false;"  
                                                  icon="ui-icon-cancel"
                                                  />
                                    </div>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                    <div align="left" class="component-margin">
                        <div align="right">
                            <p:commandButton value="Refresh"
                                             update="pnl_tbl_cabs_appl"
                                             process="@this"                                                                               
                                             />  
                        </div>
                        <h:panelGroup id="pnl_tbl_cabs_appl">
                            <p:dataTable
                                id="tbl_cabs_appl"
                                widgetVar="pw_tbl_cabs_appl"
                                value="#{PIS_Approval_LeaveApplication_Cancellation.tbl_cabs_appl}"
                                filteredValue="#{PIS_Approval_LeaveApplication_Cancellation.tbl_cabs_appl_filtered}"
                                var="item" style="width:100%"
                                rows="5"
                                paginator="true"
                                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                rowsPerPageTemplate="5,10,25,50"
                                rowSelectMode="add"
                                paginatorPosition="top"                                                                       
                                styleClass="p-datatable-with-refresh"   
                                rowStyleClass="#{(item.absSrgKey.applicationFlag=='L'?'leave':item.absSrgKey.applicationFlag=='T'?'tour':'training')}"
                                selection="#{PIS_Approval_LeaveApplication_Cancellation.selectedApplications}"
                                >
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:column selectionMode="multiple" style="width:18px"/>
                                <p:column headerText="UserId" sortBy="#{item.userId.userId}" filterBy="#{item.userId.userId}" filterMatchMode="contains">#{item.userId.userId}</p:column>
                                <p:column headerText="Name" sortBy="#{item.userId.userName}" filterBy="#{item.userId.userName}" filterMatchMode="contains">#{item.userId.userName}</p:column>
                                <p:column headerText="From Date-Half" sortBy="#{item.absSrgKey.fromDate}" style="white-space: nowrap">
                                    <h:outputText value="#{item.absSrgKey.fromDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                    <br/>                                                                       
                                    (<h:outputText value="#{(item.absSrgKey.fromhalf==0)?'FULLDAY':(item.absSrgKey.fromhalf==1)?'FIRST HALF':(item.absSrgKey.fromhalf==2)?'SECOND HALF':(item.absSrgKey.fromhalf==3)?'BEFORE OFFICE HRS':(item.absSrgKey.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                                </p:column>
                                <p:column headerText="To Date-Half" style="white-space: nowrap">
                                    <h:outputText value="#{item.absSrgKey.toDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                    <br/>                                    
                                    <h:outputText value="#{(item.absSrgKey.tohalf==0)?'FULLDAY':''}"/>
                                    <h:outputText value="#{(item.absSrgKey.tohalf==1)?'FIRST HALF':''}"/>
                                    <h:outputText value="#{(item.absSrgKey.tohalf==2)?'SECOND HALF':''}"/>
                                </p:column>
                                <p:column headerText="Days">#{item.absSrgKey.days}</p:column>
                                <p:column headerText="Application Type">
                                    <h:outputText value="#{(item.absSrgKey.appliType=='C')?'CLUB':''}"/>
                                    <h:outputText value="#{(item.absSrgKey.appliType=='S')?'SINGLE':''}"/>
                                </p:column>
                                <p:column headerText="Reason" filterBy="#{item.absSrgKey.reason1}" filterMatchMode="contains">#{item.absSrgKey.reason1}</p:column>
                                <p:column headerText="Cancellation Reason" filterBy="#{item.reason}" filterMatchMode="contains">#{item.reason}</p:column>
                                <p:column>
                                    <p:commandButton title="View Detail"
                                                     process=":form1:pnl_tbl_cabs_appl"
                                                     update=":form1:pnl_application_dtl"
                                                     icon="ui-icon-search"
                                                     onclick="setHighLight(this)"
                                                     actionListener="#{PIS_Approval_LeaveApplication_Cancellation.btn_view_detail_action}">
                                        <f:setPropertyActionListener value="#{item}"
                                                                     target="#{PIS_Approval_LeaveApplication_Cancellation.entFtasCancelabs_detail}"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                            <script type="text/javascript">
                        try{pw_tbl_cabs_appl.filter();}catch(e){}
                            </script>
                        </h:panelGroup>    
                        <div class="component-margin">
                            <p:panel id="pnl_application_dtl"
                                     closable="true"
                                     header="Detail View"
                                     style="display:#{(PIS_Approval_LeaveApplication_Cancellation.entFtasCancelabs_detail.userId!=null)?'block':'none'}">
                                <div  class="scrolling-div">
                                    <table border="0" width="100%" class="element-table">
                                        <tbody>
                                            <tr>
                                                <td width="1" class="static-text-label"><h:outputText id="lbl_dtl_emp_userid"
                                                                                                      value="Employee UserId: "/></td>
                                                <td width="25" class="static-text-detail"><h:outputText id="lbl_txt_emp_userid"
                                                                                                        value="#{PIS_Approval_LeaveApplication_Cancellation.lbl_txt_emp_userid}"
                                                                                                        /></td>
                                                <td width="350" class="static-text-label"><h:outputText id="lbl_txt_emp_username" 
                                                                                                        value="#{PIS_Approval_LeaveApplication_Cancellation.lbl_txt_emp_username}"
                                                                                                        /></td>
                                                <td width="1" class="static-text-label">
                                                    <h:outputText id="lbl_dtl_srno"  value="Application Sr. No.: "/></td>
                                                <td class="static-text-detail"><h:outputText id="lbl_dtl_txt_srno" 
                                                                                             value="#{PIS_Approval_LeaveApplication_Cancellation.lbl_dtl_txt_srno}"/></td>
                                                <td align="right" width="18%" class="static-text-label">
                                                </td>
                                                <td class="static-text-detail">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h:panelGroup id="pnl_tbl_appli_detail" >
                                        <p:dataTable id="tbl_appli_detail"
                                                     var="item"
                                                     value="#{PIS_Approval_LeaveApplication_Cancellation.tbl_appli_detail_list}" 
                                                     >
                                            <p:column headerText="Leave Description">#{item.leavecd}</p:column>
                                            <p:column headerText="From Date">
                                                <h:outputText value="#{item.fromDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="From Half">#{item.fromhalf}</p:column>
                                            <p:column headerText="To Date">
                                                <h:outputText value="#{item.toDate}">
                                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="To Half">#{item.tohalf}</p:column>
                                            <p:column headerText="Days">#{item.days}</p:column>
                                            <p:column headerText="Laps">#{item.leaveBalLaps}</p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                    <p:confirmDialog widgetVar="pw_confirmDialog" message="" style="width:300px">
                        <f:facet name="message">
                            <h:outputText value="" id="out_confirm_message" />
                        </f:facet>
                        <p:commandButton 
                            id="btn_approve"
                            value="Approve"                              
                            process="btn_approve,pnl_tbl_cabs_appl"
                            update="growl1,pnl_tbl_cabs_appl,pnl_application_dtl"
                            icon="ui-icon-disk"                                        
                            actionListener="#{PIS_Approval_LeaveApplication_Cancellation.btn_approve_clicked}"                                        
                            oncomplete="pw_confirmDialog.hide()"
                            />
                        <p:commandButton 
                            id="btn_reject"
                            value="Reject"
                            process="@this,pnl_tbl_cabs_appl"
                            update="pnl_tbl_cabs_appl,pnl_application_dtl,growl1,btn_approve,btn_reject"
                            icon="ui-icon-cancel"
                            actionListener="#{PIS_Approval_LeaveApplication_Cancellation.btn_reject_clicked}"
                            oncomplete="pw_confirmDialog.hide();"
                            />
                        <p:commandButton value="Cancel"
                                         onclick="pw_confirmDialog.hide();return false;"/>
                    </p:confirmDialog>
                    <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>