<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <ui:composition template="../template.xhtml">
        <ui:define name="head">
            <style type="text/css">
                
                input.hasDatepicker  ,.component-width,.component-width select{
                    width:160px;
                    max-width: 170px;
                }                
            </style>
            <script type="text/javascript">
                //<![CDATA[
                  
                $(document).ready(function() {
                    
                    setNumericEntry();
                });

                function setNumericEntry(){
                    $('.number-entry-5-0').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false});                                                        
                }
                setCurrentTime();
                function setCurrentTime(){
                    var v_time;
                    var currentTime = new Date()
                    var hours = currentTime.getHours()
                    var minutes = currentTime.getMinutes()
                    var second = currentTime.getSeconds()
                    if (minutes < 10){
                        minutes = "0" + minutes
                    }
                    if (second < 10){
                        second = "0" + second
                    }
                    v_time=hours + ":" + minutes + ":"+ second + " ";
                    $('#lbl_Time_display').text(v_time);
                    setTimeout("setCurrentTime()",1000);
    
                }

                function isUserValid(){
                    if($('#txt_user_id').val().trim()==''){
                        $('#err_txt_user_id').text('Please enter valid user id');
                        return false;
                    }else{ 
                        $('#err_txt_user_id').text('');
                        return true;
                    }    
                }

                function btn_mark_attendance_onclick(){
                    var valid=true;
                    if(!isUserValid()){
                        valid=false;
                    }
                    return valid;
                }
                function btn_mark_missing_onclick(){                    
                    if(!isUserValid()){                        
                        return false;
                    }
                    if(pw_tbl_missing_attendance.getSelectedRowsCount()==0){
                        SetAndShowDialog('GeneralDialog','Validation Failed','Please select atleast on missing attendance to continue');
                        return false;
                    }
                    return true;
                }
              

                    
                //]]>
            </script>
            
        </ui:define>
        <ui:define name="content">       
            <h:form id="form1" prependId="false" >
                <button class="hidden-button" onclick="return false"/>
                <p:breadCrumb styleClass="component-margin">  
                    <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                    <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />                          
                    <p:menuitem value="Daily Attendance" url="#" />  
                </p:breadCrumb>  
                <div align="center">
                    <p:outputPanel styleClass="emplist-selection">                       
                        <div class="component-margin" align="left">

                            <p:panel header="Daily Attendance" id="pnl_daily">
                                <center>
                                    <div  class="scrolling-div" align="left">
                                        <table class="element-table" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="100px" style="white-space:nowrap;" 
                                                        class="static-text-label">User ID:<label class="mandatory-text" >*</label>
                                                    </td>
                                                    <td  colspan="2">
                                                        <p:inputText tabindex="1" id="txt_user_id"                                                                 
                                                                     styleClass="number-entry-5-0"      
                                                                     size="5"
                                                                     value="#{PIS_Daily_Attendance.txt_user_id}"
                                                                     valueChangeListener="#{PIS_Daily_Attendance.txt_user_id_changed}" 
                                                                     >
                                                            <p:ajax event="change"   
                                                                    process="txt_user_id"
                                                                    update="@(.emplist-selection)" />
                                                        </p:inputText>
                                                        <p:commandLink id="lnk_emplist_working_ouwise"
                                                                       value="(Users List)"                                                                   
                                                                       process="@this"
                                                                       style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                                       update="pnl_dlg_emplist"                                                         
                                                                       actionListener="#{PIS_Daily_Attendance.lnk_view_emplist}"
                                                                       />
                                                        <h:outputText id="err_txt_user_id"
                                                                           class="error-message"  value="#{PIS_Daily_Attendance.err_txt_user_id}"/>                                                        


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100px" class="static-text-label">User Name:</td>
                                                    <td>
                                                        #{PIS_Daily_Attendance.selectedUser.userName}
                                                    </td>

                                                </tr>
                                                <tr >
                                                    <td class="static-text-label">Date :</td>
                                                    <td class="static-text-detail">
                                                        <h:outputLabel id="lbl_Date_display"
                                                                       value="#{PIS_Daily_Attendance.lbl_Date_display}"
                                                                       />
                                                    </td>
                                                    <td class="static-text-label" style="width: 1px">Time: </td>
                                                    <td colspan="2" align="left">
                                                        <h:outputLabel styleClass="static-text-detail"
                                                                       id="lbl_Time_display"
                                                                       value="#{PIS_Daily_Attendance.lbl_Time_display}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="static-text-label">Presence For : </td>
                                                    <td colspan="4">
                                                        <p:selectOneRadio  id="rdb_presence_for"
                                                                           value="#{PIS_Daily_Attendance.rdb_presence_for}"
                                                                           disabled="#{!PIS_Daily_Attendance.userSelectionValid}"
                                                                           onchange="if(!isUserValid()){return false;}"
                                                                           style="margin-left: -13px">
                                                            <f:selectItem itemValue="0" itemLabel="Full Day" itemDisabled="#{PIS_Daily_Attendance.hdn_check_marked_full!='3'}"/>
                                                            <f:selectItem itemValue="1" itemLabel="First Half" itemDisabled="#{!(PIS_Daily_Attendance.hdn_check_marked_full=='1' or PIS_Daily_Attendance.hdn_check_marked_full=='3')}"/>
                                                            <f:selectItem itemValue="2" itemLabel="Second Half" itemDisabled="#{!(PIS_Daily_Attendance.hdn_check_marked_full=='2' or PIS_Daily_Attendance.hdn_check_marked_full=='3')}"/>
                                                        </p:selectOneRadio>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="static-text-label">Place : </td>
                                                    <td colspan="4">
                                                        <p:selectOneRadio id="rdb_place"
                                                                          value="#{PIS_Daily_Attendance.rdb_place}"
                                                                          onchange="if(!isUserValid()){return false;}"
                                                                          style="margin-left: -13px">
                                                            <f:selectItems value="#{PIS_Daily_Attendance.rdb_place_options}" />
                                                        </p:selectOneRadio>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="4">
                                                         <p:commandButton id="btn_mark_attendance"
                                                                         process="hdn_check_marked_full,pnl_daily"
                                                                         icon="ui-icon-clock"
                                                                         value="Mark Today's Attendance"                                                                         
                                                                         disabled="#{!PIS_Daily_Attendance.userSelectionValid or (PIS_Daily_Attendance.today_attd_status==-1 or PIS_Daily_Attendance.today_attd_status==-2)}"
                                                                         actionListener="#{PIS_Daily_Attendance.btn_mark_attendance_clicked}"
                                                                         onclick="if(!btn_mark_attendance_onclick()){return false;}"
                                                                         update="@(.emplist-selection)"
                                                                         style="white-space:nowrap;"
                                                                         >
                                                        </p:commandButton>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </center>
                            </p:panel>
                        </div>
                        <div align="left" class="component-margin">
                            <h:panelGroup id="pnl_missing_attendance">                            
                                <p:panel header="Missing Attendance" style="#{(PIS_Daily_Attendance.tbl_Missing_Attendance_list==null || PIS_Daily_Attendance.tbl_Missing_Attendance_list.rowCount==0 or !PIS_Daily_Attendance.userSelectionValid)?'display:none':''}">
                                    <p:dataTable  value="#{PIS_Daily_Attendance.tbl_Missing_Attendance_list}"
                                                  var="item" 
                                                  id="tbl_missing_attendance"
                                                  rowSelectMode="add"
                                                  widgetVar="pw_tbl_missing_attendance"
                                                  rows="5"
                                                  paginator="true"  
                                                  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                  rowsPerPageTemplate="5,10,25,50"
                                                  paginatorPosition="top"       
                                                  style="width: 100%"
                                                  selection="#{PIS_Daily_Attendance.selectedAttendances}">
                                        <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="page"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column selectionMode="multiple" style="width:18px" />  
                                        <p:column headerText="Missing Attendance">
                                            <h:outputText value="#{item.missing_attendance}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="First Half" style="width:1px">
                                            
                                            <p:selectOneMenu value="#{item.placeHalf1}" style="width: 80px;" rendered="#{item.partial_half_no!='2'}">
                                                <f:selectItems value="#{PIS_Daily_Attendance.rdb_place_options}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Second Half" style="width:1px">
                                            <p:selectOneMenu value="#{item.placeHalf2}" style="width: 80px;"  rendered="#{item.partial_half_no!='1'}">
                                                <f:selectItems value="#{PIS_Daily_Attendance.rdb_place_options}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:dataTable>
                                    <div class="component-margin scrolling-div"   align="center">
                                        <p:commandButton id="btn_save_missing_att"
                                                         actionListener="#{PIS_Daily_Attendance.btn_save_missing_att_clicked}"
                                                         process="btn_save_missing_att,pnl_missing_attendance"
                                                         update="growl1,pnl_missing_attendance"
                                                         value="Save Missing Attendance"
                                                         icon="ui-icon-disk"
                                                         style="white-space:nowrap;"
                                                         onclick="if(!btn_mark_missing_onclick()){return false;}"
                                                         />
                                    </div>
                                </p:panel>
                            </h:panelGroup>
                        </div>

                        <p:commandButton value="temp button" id="btn_temp" style="visibility:hidden" action="#{PIS_Daily_Attendance.btn_temp_action}"/>
                        <h:inputHidden id="hdn_check_marked_full" value="#{PIS_Daily_Attendance.hdn_check_marked_full}"/>
                        <p:tooltip for="txt_user_id" value="Press tab after entering user id" hideDelay="500" showEffect="clip" styleClass="custom-tooltip"/>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </p:outputPanel>
                    <h:panelGroup id="pnl_dlg_emplist">
                        <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{PIS_Daily_Attendance.lst_employee_selectable}" selectedUser="#{PIS_Daily_Attendance.selectedUserFromList}"/>
                    </h:panelGroup>  
                </div>
                
            </h:form>
        </ui:define>
    </ui:composition>   
</html>
