<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                    div.ui-selectcheckboxmenu-filter-container{width:80%}
                    div.ui-selectcheckboxmenu-filter-container input{width:80%;text-transform: uppercase}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    $(document).ready(function() {
                    }); 

                    function sameAsAddress(p_add_type){
                        $('#txt_'+p_add_type+'_name').val($('#txt_institute_name').val());
                        $('#txt_'+p_add_type+'_city').val($('#txt_institute_city').val());
                        $('#txt_'+p_add_type+'_address').val($('#txt_institute_address').val());
                        $('#txt_'+p_add_type+'_state').val($('#txt_institute_state').val());
                        $('#txt_'+p_add_type+'_pincode').val($('#txt_institute_pincode').val());
                        $('#txt_'+p_add_type+'_country').val($('#txt_institute_country').val()); 
                        $('#txt_'+p_add_type+'_contacts').val($('#txt_institute_contacts').val()); 
                    }
                    
                    function validate_training_add_to_list(){
                        var v_valid=true;                        
                        if($('#cal_training_from_date_input').val()==null || $('#cal_training_from_date_input').val()==''){
                            v_valid=false;
                        }
                        if($('#cal_training_to_date_input').val()==null || $('#cal_training_to_date_input').val()==''){
                            v_valid=false;
                        }
                        if($("#txt_training_description").val()==''){
                            v_valid=false;
                        }
                        if(!v_valid){
                            SetAndShowDialog('GeneralDialog','Validation Text','All fields are mandatory, please fill all fields before adding it into training detail.')
                        }
                        return v_valid;
                    }

                    
                    function save_validation(){
                        var valid=true;
                        $('#err_institute_address').text('');
                        $('#err_venue_address').text('');
                        $('#err_coordinator_name').text('');
                        $('#err_subject').text('');
                        $('#err_objective').text('');
                        $('#err_topics').text('');
                        $('#err_benefits').text('');
                        $('#err_eligibility').text(''); 
                        $('#err_category').text('');
                        $('#err_announce_type').text('');  
                        $('#err_tbl_training_ann_detail').text('');
                        
                        if($('#ddl_announce_type select').val()==''){
                            $('#err_announce_type').text('Select Announcement Type');
                            valid=false;
                        }
                        if($('#ddl_category select').val()==''){
                            $('#err_category').text('Select Any Category');
                            valid=false;
                        }
                        
                        if($('#txt_subject').val()==''){
                            $('#err_subject').text('Give Subject');
                            valid=false;
                        }                        
                        if($('#txt_training_co_first_name').val()=='' || $('#txt_training_co_last_name').val()==''){
                            $('#err_coordinator_name').text('Fill up Co-Ordinator\'\s Name'); 
                            valid=false;
                        }
                        if($('#txt_objective').val()==''){
                            $('#err_objective').text('Give Objective');
                            valid=false;
                        }
                        if($('#txt_topics').val()==''){
                            $('#err_topics').text('Give Topics');
                            valid=false;
                        }
                        if($('#txt_benefits').val()==''){
                            $('#err_benefits').text('Give Benefits');
                            valid=false;
                        }
                        if($('#txt_eligibility').val()==''){
                            $('#err_eligibility').text('Give Eligibility');
                            valid=false;
                        }                       
                        if($('#txt_announce_by').val()==''){
                            $('#err_txt_announe_by').text('Fill Announce By Field');
                            valid=false;                          
                        }
                        if($('#txt_institute_address').val()=='' || 
                            $('#txt_institute_city').val()==''||
                            $('#txt_institute_pincode').val()=='' ||
                            $('#txt_institute_state').val()=='' ||
                            $('#txt_institute_country').val()=='' || 
                            $('#txt_institute_contact').val()==''){
                            $('#err_add_address').text('Please Fill up complete Institute Address');
                            valid=false;
                        }
                        if($('#txt_venue_address').val()=='' || 
                            $('#txt_venue_city').val()==''||
                            $('#txt_venue_pincode').val()=='' ||
                            $('#txt_venue_state').val()=='' ||
                            $('#txt_venue_country').val()=='' || 
                            $('#txt_venue_contact').val()==''){
                            $('#err_add_address').text('Please Fill up complete Venue Address');
                            valid=false;
                        }
                        if($('#tbl_training_ann_detail tbody tr:first td').length==1){
                            $('#err_tbl_training_ann_detail').text('Please enter Training Detail')
                            valid=false;
                        }
                        
                        return valid;
                    }


                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" /> 
                        <p:menuitem value="Leave-Tour-Training" url="#{PIS_GlobalSettings.brTas_LeaveTourTraining}" />
                        <p:menuitem value="Training Announcement" url="#" />  
                    </p:breadCrumb>  
                    <div align="center"> 
                        <div class="scrolling-div component-margin" align="left" >
                            <h:panelGroup id="pnl_1_1" >
                                <div class="scrolling-div">
                                    <table width="100%" class="element-table" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label" width="1px;">Announce By: <span class="mandatory-text">*</span></td>
                                                <td class="entry-component-detail">
                                                    <h:panelGroup id="pnl_announce_by">
                                                        <p:inputText id="txt_announce_by"
                                                                     maxlength="4"
                                                                     size="3"
                                                                     value="#{PIS_Training_Announce.txt_announce_by}"
                                                                     valueChangeListener="#{PIS_Training_Announce.txt_announce_by_processValueChange}">
                                                            <p:ajax event="change"
                                                                    process="@this"
                                                                    update="pnl_announce_by"/>
                                                        </p:inputText>
                                                        #{PIS_Training_Announce.selectedAnnounceBy.userName}
                                                        <h:outputText  id="err_txt_announce_by"
                                                                       styleClass="error-message"
                                                                       value="#{PIS_Training_Announce.err_txt_announce_by}"/>
                                                    </h:panelGroup>
                                                </td>
                                                <td class="entry-component-label" align="right">For: <span class="mandatory-text">*</span></td>
                                                <td class="entry-component-detail">
                                                    <p:selectCheckboxMenu id="chk_org_unit_mst" 
                                                                          value="#{PIS_Training_Announce.selectedOrgUnit}" 
                                                                          label="Organisation Units"
                                                                          styleClass="component-width"
                                                                          filter="true" 
                                                                          filterMatchMode="contains" 
                                                                          panelStyle="width:300px">
                                                        <f:selectItems value="#{PIS_Training_Announce.chkOrgUnit_options}" />
                                                    </p:selectCheckboxMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Announcement Type: <label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:selectOneMenu id="ddl_announce_type"
                                                                     style="width:200px;"
                                                                     value="#{PIS_Training_Announce.ddl_announce_type}"
                                                                     >
                                                        <f:selectItems value="#{PIS_Training_Announce.ddl_announce_type_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/><div class="error-message" id="err_announce_type"/>
                                                </td>
                                                <td class="entry-component-label" rowspan="2" align="right">Subject:<label class="mandatory-text">*</label>
                                                </td>
                                                <td rowspan="2">
                                                    <p:inputTextarea id="txt_subject"
                                                                     style="text-transform:uppercase"
                                                                     cols="60"
                                                                     value="#{PIS_Training_Announce.txt_subject}">
                                                    </p:inputTextarea>
                                                    <br/>
                                                    <div class="error-message" id="err_subject"/>
                                                </td>
                                            </tr>
                                            <tr >
                                                <td class="entry-component-label">Category:<label class="mandatory-text">*</label></td>
                                                <td> <p:selectOneMenu id="ddl_category"
                                                                      style="width:200px;"
                                                                      value="#{PIS_Training_Announce.ddl_category}">
                                                        <f:selectItems value="#{PIS_Training_Announce.ddl_category_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/><div class="error-message" id="err_category"/></td>

                                            </tr>
                                            <tr>
                                                <td class="entry-component-label" valign="top">Co-Ordinator's Name: <label class="mandatory-text">*</label></td>
                                                <td width="10%" style="white-space:nowrap;" valign="top" >
                                                    <table class="element-table" border="0">
                                                        <tr>
                                                            <td><p:selectOneMenu id="ddl_training_salutation"
                                                                                 value="#{PIS_Training_Announce.ddl_training_salutation}">
                                                                    <f:selectItems value="#{PIS_Training_Announce.ddl_training_salutation_options}"/>
                                                                </p:selectOneMenu></td>
                                                            <td><p:inputText id="txt_training_co_first_name"
                                                                             onkeypress="keytest(event,Special_AZ09);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             style="margin-left:10px;text-transform:uppercase;"
                                                                             value="#{PIS_Training_Announce.txt_training_co_first_name}"/>    
                                                                <p:watermark for="txt_training_co_first_name" value="First Name"/>
                                                            </td>
                                                            <td><p:inputText id="txt_training_co_last_name"
                                                                             onkeypress="keytest(event,Special_AZ09);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             style="margin-left:10px;text-transform:uppercase;"
                                                                             value="#{PIS_Training_Announce.txt_training_co_last_name}"/>
                                                                <p:watermark for="txt_training_co_last_name" value="First Name"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td colspan="2"> <br/>
                                                                <div class="error-message" id="err_coordinator_name" style="margin-left:68px;"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="right" class="entry-component-label" rowspan="2" valign="top">Contacts:</td>
                                                <td rowspan="2" valign="top">
                                                    <p:inputTextarea id="txt_training_announcement_co_contact_no"
                                                                     cols="60"
                                                                     style="text-transform:uppercase;"
                                                                     value="#{PIS_Training_Announce.txt_training_announcement_co_contact_no}"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="scrolling-div">
                                        <h:panelGroup id="pnl_addresses">
                                            <div class="scrolling-div">
                                                <table class="element-table ui-datatable clone-datatable" width="99%">
                                                    <tr>
                                                        <td></td>
                                                        <td class="entry-component-label">Name:<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-label">Address:<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-label">City<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-label">State<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-label">Pincode</td>
                                                        <td class="entry-component-label">Country<label class="mandatory-text">*</label></td>
                                                    </tr>                                                
                                                    <tr>
                                                        <td class="entry-component-label">Institute:<label class="mandatory-text">*</label></td>
                                                        <td class="entry-component-detail">
                                                            <p:inputTextarea id="txt_institute_name"
                                                                             value="#{PIS_Training_Announce.txt_institute_name}"
                                                                             style="text-transform:uppercase;"
                                                                             rows="3"
                                                                             cols="23" 
                                                                             onkeyup="limitChars('txt_institute_name',50, 'ins_txt_institute_name');"
                                                                             ></p:inputTextarea>
                                                            <br></br>
                                                            <div>
                                                                <span id="ins_txt_institute_name">Max 50 characters.</span>
                                                            </div>
                                                        </td>
                                                        <td><p:inputTextarea
                                                                id="txt_institute_address" 
                                                                value="#{PIS_Training_Announce.txt_institute_address}"
                                                                rows="3"
                                                                cols="23"   
                                                                style="text-transform: uppercase"
                                                                onkeyup="limitChars('txt_institute_address',100, 'ins_txt_institute_address');"
                                                                ></p:inputTextarea>
                                                            <br></br>
                                                            <div>
                                                                <span id="ins_txt_institute_address">Max 100 characters.</span>
                                                            </div></td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_institute_city" 
                                                                maxlength="30"
                                                                value="#{PIS_Training_Announce.txt_institute_city}"
                                                                style="text-transform:uppercase;width: 100px;"></p:inputText></td>
                                                        <td valign="top">
                                                            <p:inputText id="txt_institute_state"
                                                                         value="#{PIS_Training_Announce.txt_institute_state}"
                                                                         maxlength="30"
                                                                         style="text-transform:uppercase;width: 100px;"></p:inputText></td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_institute_pincode" value="#{PIS_Training_Announce.txt_institute_pincode}"                                                        
                                                                maxlength="15" style="width: 100px;"></p:inputText>
                                                        </td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_institute_country"
                                                                value="#{PIS_Training_Announce.txt_institute_country}"
                                                                maxlength="30"
                                                                style="width: 100px;text-transform:uppercase"></p:inputText>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="entry-component-label">Institute Contacts:</td>
                                                        <td colspan="8" valign="top">
                                                            <p:inputTextarea
                                                                id="txt_institute_contacts" 
                                                                value="#{PIS_Training_Announce.txt_institute_contacts}"
                                                                maxlength="70"       
                                                                style="text-transform:uppercase;width: 250px;"/>
                                                            <button type="submit" onclick="return false;" style="height:1px;width:1px;display:none" ></button>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>                                                
                                                            <span  class="entry-component-label">Venue:</span>
                                                            <br/><br/>
                                                            <a class="ui-commandlink" onclick="sameAsAddress('venue')">Same as Institute</a>
                                                        </td>
                                                        <td class="entry-component-detail">
                                                            <p:inputTextarea id="txt_venue_name"
                                                                             value="#{PIS_Training_Announce.txt_venue_name}"
                                                                             style="text-transform:uppercase;"
                                                                             rows="3"
                                                                             cols="23" 
                                                                             onkeyup="limitChars('txt_venue_name',50, 'ins_txt_venue_name');"
                                                                             ></p:inputTextarea>
                                                            <br></br>
                                                            <div>
                                                                <span id="ins_txt_venue_name">Max 50 characters.</span>
                                                            </div>
                                                        </td>
                                                        <td valign="top">
                                                            <p:inputTextarea
                                                                value="#{PIS_Training_Announce.txt_venue_address}"
                                                                id="txt_venue_address"
                                                                rows="3"
                                                                cols="23"   style="text-transform: uppercase"
                                                                onkeyup="limitChars('txt_venue_address',100, 'ins_txt_venue_address');"
                                                                ></p:inputTextarea>
                                                            <br></br>
                                                            <div>
                                                                <span id="ins_txt_venue_address">Max 100 characters.</span>
                                                            </div>
                                                        </td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_venue_city" 
                                                                maxlength="30"
                                                                value="#{PIS_Training_Announce.txt_venue_city}"
                                                                style="text-transform:uppercase;width: 100px;"></p:inputText></td>
                                                        <td valign="top">
                                                            <p:inputText id="txt_venue_state"
                                                                         maxlength="30"
                                                                         value="#{PIS_Training_Announce.txt_venue_state}"
                                                                         style="text-transform:uppercase;width: 100px;"></p:inputText></td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_venue_pincode"                                                   
                                                                maxlength="15"
                                                                value="#{PIS_Training_Announce.txt_venue_pincode}"
                                                                style="width: 100px;"></p:inputText>
                                                        </td>
                                                        <td valign="top">
                                                            <p:inputText
                                                                id="txt_venue_country"
                                                                value="#{PIS_Training_Announce.txt_venue_country}"                                                            
                                                                maxlength="30"
                                                                style="width: 100px;text-transform:uppercase"></p:inputText>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="entry-component-label">Venue Contacts:</td>
                                                        <td colspan="8" valign="top">
                                                            <p:inputTextarea
                                                                id="txt_venue_contacts" value="#{PIS_Training_Announce.txt_venue_contacts}"
                                                                maxlength="70"       
                                                                style="text-transform:uppercase;width: 250px;"/>
                                                            <button type="submit" onclick="return false;" style="height:1px;width:1px;display:none" ></button>
                                                        </td>
                                                    </tr>                                                
                                                </table>
                                            </div>
                                            <div align="center" class="error-message">
                                                <label id="err_add_address"  style="display:none;">Please fill all Mandatory Fields for Addresses</label>
                                            </div>
                                        </h:panelGroup>                           
                                    </div>  
                                </div>                               
                                <div>
                                    <table border="0" width="100%" class="element-table">
                                        <tbody>
                                            <tr>
                                                <td width="15%" class="entry-component-label">Objective:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputTextarea id="txt_objective"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     cols="40"
                                                                     value="#{PIS_Training_Announce.txt_objective}"/>
                                                    <br/><div class="error-message" id="err_objective"/>
                                                </td>
                                                <td rowspan="3" valign="top" >
                                                    <p:panel id="pnl_fees" style="margin-top:2px;">
                                                        <div class="scrolling-div">
                                                            <table width="100%" class="element-table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label">Tuition Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_fees" 
                                                                                         size="10"
                                                                                         value="#{PIS_Training_Announce.txt_tuition_fees}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label" style="margin-left: 8px;">Tuition Fees + Lodging Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_lodging"
                                                                                         size="10"
                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announce.txt_tuition_lodging}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right" class="entry-component-label">Tuition Fees + Lodging Fees + Boarding Fees:</td>
                                                                        <td>
                                                                            <p:inputText id="txt_tuition_lodging_boarding"
                                                                                         size="10"

                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announce.txt_tuition_lodging_boarding}"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="right">
                                                                            <h:outputText value="Any Other Fees"
                                                                                          style="margin-right:15px;text-decoration:underline"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                            <h:outputText value="Description:"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                            <p:inputText id="txt_other_fees_desc"
                                                                                         onkeypress="keytest(event,Special_AZ09);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         size="12"
                                                                                         style="margin-right:8px;text-transform:uppercase"
                                                                                         value="#{PIS_Training_Announce.txt_other_fees_desc}"/>
                                                                            <h:outputText value="Amount:"
                                                                                          styleClass="entry-component-label"
                                                                                          />
                                                                        </td>
                                                                        <td>
                                                                            <p:inputText id="txt_other_fees_amount"
                                                                                         size="10"
                                                                                         onkeypress="keytest(event,F0T9DOT);"
                                                                                         onkeyup="followup(this.id)"
                                                                                         onfocus="lastval=this.value;"
                                                                                         value="#{PIS_Training_Announce.txt_other_fees_amount}"/></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </p:panel>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Topics Included:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_topics" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announce.txt_topics}"/>
                                                    <br/><div class="error-message" id="err_topics"/></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Benefits:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_benefits" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announce.txt_benefits}"/>
                                                    <br/><div class="error-message" id="err_benefits"/></td>

                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Eligibility:<label class="mandatory-text">*</label></td>
                                                <td><p:inputTextarea id="txt_eligibility" cols="40"
                                                                     onkeypress="keytest(event,Special_AZ09);"
                                                                     onkeyup="followup(this.id)"
                                                                     onfocus="lastval=this.value;"
                                                                     style="text-transform:uppercase"
                                                                     value="#{PIS_Training_Announce.txt_eligibility}"/>
                                                    <br/><div class="error-message" id="err_eligibility"/></td>
                                                <td align="right" valign="bottom">
                                                    <div align="right">
                                                        <p:commandButton value="Add Training Detail"
                                                                         icon="ui-icon-plus"
                                                                         process="@this"
                                                                         update="pnl_new_training_entry"
                                                                         actionListener="#{PIS_Training_Announce.btn_add_training_detail_clicked}"                                                                         
                                                                         />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </h:panelGroup>
                            <div class="component-margin">
                                <h:panelGroup id="pnl_tbl_training_details">
                                    <p:dataTable id="tbl_training_ann_detail" 
                                                 value="#{PIS_Training_Announce.tbl_training_ann_detail}"
                                                 var="item" 
                                                 >                                                    
                                        <p:column headerText="From Date-Time" styleClass="td-1-width"
                                                  footerText="#{PIS_Training_Announce.f_from_date}">
                                            <h:outputText  value="#{item.fromDatetime}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="To Date-Time" styleClass="td-2-width"
                                                  footerText="#{PIS_Training_Announce.f_to_date}">
                                            <h:outputText value="#{item.toDatetime}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Description"  styleClass="td-3-width"
                                                  footerText="#{PIS_Training_Announce.f_total_days}">#{item.description}</p:column>
                                        <p:column  styleClass="td-5-width">
                                            <center>                                                            
                                                <p:commandButton
                                                    rendered="#{(PIS_Training_Announce.tbl_training_ann_detail.size()-1)==item.tradSrgKey}"
                                                    process=":form1:pnl_tbl_training_details"
                                                    update=":form1:pnl_tbl_training_details"
                                                    title="Delete Record"
                                                    icon="ui-icon-trash"
                                                    id="btn_training_delete"
                                                    actionListener="#{PIS_Training_Announce.btn_training_delete_action(item)}"
                                                    >
                                                </p:commandButton>
                                            </center>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                                <br/><div id="err_tbl_training_ann_detail" class="error-message"/>
                            </div>
                            <div  class="scrolling-div" style="margin-top:7px;">
                                <table border="0" width="100%"> 
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <p:commandButton id="btn_save"
                                                                 icon="ui-icon-disk"
                                                                 update="growl1,pnl_1_1,pnl_tbl_training_details"
                                                                 process="btn_save,pnl_1_1,pnl_tbl_training_details"
                                                                 value="Save Training Announcement"
                                                                 onclick="if(!save_validation()){return false;}"
                                                                 actionListener="#{PIS_Training_Announce.btn_save_action}"
                                                                 />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right"> <a id="mandatory_text" class="mandatory-text-ins">
                                                    <label id="l2" class="mandatory-text">*</label> - Mandatory Fields</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p:dialog widgetVar="pw_dlg_pnl_new_training_entry"
                                  id="dlg_pnl_new_training_entry"
                                  modal="true"
                                  header="Training Detail">
                            <h:panelGroup id="pnl_new_training_entry">
                                <div>
                                    <table border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label">From Date:</td>
                                                <td class="td-1-width"><p:calendar id="cal_training_from_date"
                                                                                   navigator="true"
                                                                                   readonlyInput="true"
                                                                                   value="#{PIS_Training_Announce.cal_training_from_date}"
                                                                                   pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                                   mindate="#{PIS_Training_Announce.cal_training_from_date_min}"
                                                                                   maxdate="#{PIS_Training_Announce.cal_training_from_date_max}">
                                                        <p:ajax event="dateSelect"
                                                                listener="#{PIS_Training_Announce.cal_training_from_date_changed}"
                                                                process="cal_training_from_date"
                                                                update="cal_training_to_date" />
                                                    </p:calendar>                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">To Date:</td>
                                                <td class="td-2-width"><p:calendar id="cal_training_to_date"
                                                                                   navigator="true"
                                                                                   readonlyInput="true"
                                                                                   value="#{PIS_Training_Announce.cal_training_to_date}"
                                                                                   pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                                   mindate="#{PIS_Training_Announce.cal_training_to_date_min}"
                                                                                   maxdate="#{PIS_Training_Announce.cal_training_to_date_max}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Training Description:</td>
                                                <td  class="td-3-width"><p:inputTextarea id="txt_training_description"
                                                                                         value="#{PIS_Training_Announce.txt_training_description}"                                                                                                                    
                                                                                         style="text-transform: uppercase;width: 90%;resize:none"
                                                                                         rows="2" autoResize="false"/>                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td/>
                                                <td   class="td-5-width">
                                                    <p:commandButton id="btn_training_add_to_list"
                                                                     title="Add To the List"
                                                                     icon="ui-icon-circle-plus"
                                                                     value="Add to Training Detail"
                                                                     onclick="if(!validate_training_add_to_list()){return false;}"
                                                                     process="pnl_new_training_entry"
                                                                     update="pnl_new_training_entry,pnl_tbl_training_details"
                                                                     actionListener="#{PIS_Training_Announce.btn_training_add_to_list_action}"
                                                                     />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </h:panelGroup>
                        </p:dialog>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>