<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[
                       
               
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false" enctype="multipart/form-data">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Time Attendance System" url="#{PIS_GlobalSettings.brTas}" />                          
                        <p:menuitem value="Test Page" url="#" />  
                    </p:breadCrumb>  
                    <div align="left">
                        <div style="width: 300px;margin-top: 50px;" align="left">                           
                            <p:growl id="messages" showSummary="true" showDetail="false" />                            
                        
                        </div>

                        <div>
                           
                        </div>
                        <br/>
                        <br/>
                        
                        
                        
                        <p:growl id="growl1" showDetail="true" globalOnly="true" life="6000"/>                        
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>