<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                    #tbl_leavemst select.ui-column-filter{min-width: 50px}
                </style>

                <script type="text/javascript">
                    //<![CDATA[
                    function validate_save(){
                        var valid=true;
                        $('#err_txt_leave_code').text(''); 
                        $('#err_leave_description').text(''); 
                        $('#err_leave_flag').text(''); 
                        $('#err_actual_attendance').text(''); 
                        $('#err_consider_attendance_flag').text(''); 
                        $('#err_consider_actual_attendance').text('');
                        $('#err_print_payslip').text('');
                        $('#err_cal_apply_date').text(''); 
                        $('#err_virtual_leave').text(''); 
                        $('#err_application_required').text(''); 
                        $('#err_parentable').text('');
                        $('#err_ttr_parentable').text('');
                        $('#err_ddl_holiday').text('');
                        $('#err_ddl_multiple_rule').text('');
                        $('#err_ddl_print_if_0_cons').text('');
                        $('#err_ddl_resign_relieve_cons_flag').text('');
                        if(!isValidLeaveCode()){
                            
                            valid=false;
                        } 
                        if($('#txt_leave_description').val()==''){
                            $('#err_leave_description').text('Enter Leave Description');
                            valid=false;
                        }
                        if($('#ddl_leave_flag select').prop('selectedIndex')=='0'){
                            $('#err_leave_flag').text('Enter Leave Flag');
                            valid=false;
                        } 
                        if($('#ddl_actual_attendance select').prop('selectedIndex')=='0'){
                            $('#err_actual_attendance').text('Enter Actual Attendance');
                            valid=false;
                        } 
                        if($('#ddl_consider_attendance_flag select').prop('selectedIndex')=='0'){
                            $('#err_consider_attendance_flag').text('Enter Consider as Attendance Flag');
                            valid=false;
                        }
                        if($('#ddl_consider_actual_attendance select').prop('selectedIndex')=='0'){
                            $('#err_consider_actual_attendance').text('Enter Consider as Actual Attendance Flag');
                            valid=false;
                        }
                        if($('#ddl_print_payslip select').prop('selectedIndex')=='0'){
                            $('#err_print_payslip').text('Enter Print in Payslip Flag');
                            valid=false;
                        }
                        if(!validateApplyDate()){
                            $('#err_cal_apply_date').text('Enter Start Date');
                            valid=false;
                        }
                        if($('#ddl_virtual_leave select').prop('selectedIndex')=='0'){
                            $('#err_virtual_leave').text('Enter Virtual Leave Flag');
                            valid=false;
                        }
                        if($('#ddl_application_required select').prop('selectedIndex')=='0'){
                            $('#err_application_required').text('Select Application Required Flag');
                            valid=false;
                        }
                        if($('#ddl_parentable select').prop('selectedIndex')=='0'){
                            $('#err_parentable').text('Select Parentable Flag');
                            valid=false;
                        }  
                        if($('#ddl_ttr_parentable select').prop('selectedIndex')=='0'){
                            $('#err_ttr_parentable').text('Select Tour/Training Parentable Flag');
                            valid=false;
                        } 
                        if($('#ddl_holiday select').prop('selectedIndex')=='0'){
                            $('#err_ddl_holiday').text('Select Holiday Flag');
                            valid=false;
                        } 
                        if($('#ddl_multiple_rule select').prop('selectedIndex')=='0'){
                            $('#err_ddl_multiple_rule').text('Select Multiple Rule Flag');
                            valid=false;
                        } 
                        if($('#ddl_print_if_0_cons select').prop('selectedIndex')=='0'){
                            $('#err_ddl_print_if_0_cons').text('Select Print in report if 0 consumed Flag');
                            valid=false;
                        } 
                        if($('#ddl_resign_relieve_cons_flag select').prop('selectedIndex')=='0'){
                            $('#err_ddl_resign_relieve_cons_flag').text('Select consider when resign relieve');
                            valid=false;
                        } 
                        return valid;                        
                    }
                    function validateApplyDate(){
                        if(pw_cal_apply_date.getDate()==null){
                            return false;
                        }
                        return true;
                    }
                    function isValidLeaveCode(){
                        $('#err_txt_leave_code').text('');
                        if($('#txt_leave_code').val().trim()==''){
                            $('#err_txt_leave_code').text('Enter Leave Code');
                            return false;
                        }
                        return true;
                    }

                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">                    
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Time Attendance" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Leave Master" url="#" />  
                    </p:breadCrumb>     
                    <div align="center">
                        <button onclick="return false;" style="height: 1px;width: 1px;visibility: hidden"/>
                        <div class="component-margin scrolling-div">
                            <h:panelGroup id="pnl_tbl_leavemst">
                                <p:dataTable
                                    id="tbl_leavemst"
                                    value="#{PIS_Leave_Master.tbl_leavemst}"
                                    filteredValue="#{PIS_Leave_Master.tbl_leavemst_filtered}"
                                    var="item"
                                    paginator="true"
                                    rows="5"
                                    paginatorPosition="top"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,15"
                                    filterDelay="600">
                                    <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page"  global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort"  global="false"  onerror="ShowConnectionError('GeneralDialog');"/>

                                    <p:column headerText="Leave Code"
                                              filterBy="#{item.leavecd}"
                                              sortBy="#{item.leavecd}">
                                        #{item.leavecd}
                                    </p:column>
                                    <p:column headerText="Short Name"
                                              filterBy="#{item.shortName}"
                                              sortBy="#{item.shortName}">
                                        #{item.shortName}
                                    </p:column>
                                    <p:column headerText="Leave Description"
                                              filterBy="#{item.leaveDesc}"
                                              sortBy="#{item.leaveDesc}">
                                        #{item.leaveDesc}
                                    </p:column>
                                    <p:column headerText="Leave Flag"
                                              filterBy="#{item.leaveFlag}"
                                              filterOptions="#{PIS_Leave_Master.lst_yes_no_options}">
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                        width="12"
                                                        height="12"
                                                        alt="Yes"
                                                        rendered="#{item.leaveFlag=='Y'}"/>
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/cross.png"
                                                        width="12"
                                                        height="12"
                                                        alt="NO"
                                                        rendered="#{item.leaveFlag=='N'}"/>
                                    </p:column>
                                    <p:column headerText="Virtual Flag"
                                              filterBy="#{item.virtualLeave}"
                                              filterOptions="#{PIS_Leave_Master.lst_virtual_options}">
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                        width="12"
                                                        height="12"
                                                        alt="Yes"
                                                        rendered="#{item.virtualLeave=='L' or item.virtualLeave=='T'}"/>
                                        <p:graphicImage value="#{GlobalResources.secured_resources_path}images/cross.png"
                                                        width="12"
                                                        height="12"
                                                        alt="NO"
                                                        rendered="#{item.virtualLeave=='N'}"/>
                                    </p:column>
                                    <p:column headerText="Start Date"
                                              sortBy="#{item.startDate}">
                                        <h:outputText style="white-space:nowrap;" value="#{item.startDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                               timeZone="#{GlobalUtilities.india_standard_time}"
                                                               />
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="End Date"
                                              sortBy="#{item.endDate}">
                                        <h:outputText value="#{item.endDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                               timeZone="#{GlobalUtilities.india_standard_time}"
                                                               />
                                        </h:outputText>
                                    </p:column>
                                    <p:column width="1">
                                        <p:commandButton title="View Detail" 
                                                         icon="ui-icon-search"
                                                         style="white-space: nowrap;"                                                                     
                                                         process=":form1:pnl_tbl_leavemst,@this"
                                                         update=":form1:pnl_dlg_leave_master"                                                         
                                                         actionListener="#{PIS_Leave_Master.btn_view_deatil_clicked(item)}"/>
                                    </p:column>
                                    <p:column width="1" rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}">                                    
                                        <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}" 
                                                         title="Apply End Date" 
                                                         icon="ui-icon-clock"
                                                         process=":form1:pnl_tbl_leavemst"                                                         
                                                         update=":form1:cal_apply_end_date"
                                                         actionListener="#{PIS_Leave_Master.btn_apply_date_action}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Leave_Master.entFtasLeavemst_edit}"/>
                                        </p:commandButton>                                      
                                    </p:column>
                                    <p:column  style="width:1px">                                    
                                        <p:commandButton title="View alternate leave codes" 
                                                         icon="ui-icon-link"
                                                         process=":form1:pnl_tbl_leavemst"
                                                         update=":form1:pnl_tbl_alt_leave_masters"                                                             
                                                         actionListener="#{PIS_Leave_Master.btn_view_alternatives(item)}"/>                                      
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </div>
                        <div align="left"  class="component-margin scrolling-div">
                            <p:panel  id="pnl_new_entry"
                                      header="New Attendance/Leave Code" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                <div class="scrolling-div">
                                    <table class="element-table" width="100%" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="1px" class="entry-component-label">Code: <label class="mandatory-text"  >*</label></td>
                                                <td width="250px">
                                                    <p:inputText id="txt_leave_code"
                                                                 styleClass="component-width"
                                                                 maxlength="5"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Leave_Master.txt_leave_code}"
                                                                 onchange="return false;"
                                                                 valueChangeListener="#{PIS_Leave_Master.txt_leave_code_changed}">
                                                        <p:ajax event="change"                                                                
                                                                onstart="if(!isValidLeaveCode()){return false;}"
                                                                process="txt_leave_code"
                                                                update="txt_leave_code,growl1"/>
                                                    </p:inputText>
                                                    <br/>
                                                    <div id="err_txt_leave_code"  class="error-message"/>
                                                </td>
                                                <td width="13%" class="entry-component-label">Description: <label class="mandatory-text"  >*</label></td>
                                                <td><p:inputText id="txt_leave_description" 
                                                                 maxlength="20"
                                                                 styleClass="component-width"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_Leave_Master.txt_leave_description}"/>
                                                    <br/>
                                                    <div id="err_leave_description" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Short Name: </td>
                                                <td>
                                                    <p:inputText id="txt_short_name"
                                                                 styleClass="component-width"
                                                                 style="text-transform:uppercase"
                                                                 maxlength="3"
                                                                 value="#{PIS_Leave_Master.txt_short_name}"/>
                                                </td>
                                                <td class="entry-component-label">Alternative to:</td>
                                                <td>
                                                    <p:selectOneMenu id="ddl_code_alternative"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_code_alternative}">
                                                        <f:selectItems value="#{PIS_Leave_Master.ddl_code_alternative_options}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Leave Flag:<label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_leave_flag"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_leave_flag}">
                                                        <f:selectItem itemLabel="--- Select ---" />
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_leave_flag"  class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">Actual Attendance:<label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_actual_attendance"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_actual_attendance}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_actual_attendance" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr><td class="entry-component-label">Consider as Presence:<label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_consider_attendance_flag"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_consider_attendance_flag}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="Tour" itemValue="T"/>
                                                        <f:selectItem itemLabel="Training" itemValue="R"/>
                                                        <f:selectItem itemLabel="Field Visit" itemValue="F"/>     
                                                        <f:selectItem itemLabel="No" itemValue="N"/>                                                   
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_consider_attendance_flag" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">Consider as Actual Attendance:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                    <p:selectOneMenu id="ddl_consider_actual_attendance"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_consider_actual_attendance}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_consider_actual_attendance" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Start Date: <label class="mandatory-text"  >*</label></td>
                                                <td><p:calendar id="cal_apply_date"
                                                                widgetVar="pw_cal_apply_date"
                                                                styleClass="component-width"
                                                                readonlyInput="true"
                                                                navigator="true"
                                                                value="#{PIS_Leave_Master.cal_apply_date}"
                                                                pattern="#{GlobalUtilities.dateFormat}">
                                                        <p:ajax event="dateSelect"
                                                                listener="#{PIS_Leave_Master.cal_date_changed}"                                                                                        
                                                                process="cal_apply_date,cal_expire_date"
                                                                update="cal_expire_date"
                                                                oncomplete="validateApplyDate()"/>
                                                    </p:calendar>
                                                    <br/>
                                                    <div id="err_cal_apply_date" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">End Date: </td>
                                                <td><p:calendar id="cal_expire_date"
                                                                styleClass="component-width"
                                                                widgetVar="pw_cal_expire_date"
                                                                readonlyInput="true"
                                                                value="#{PIS_Leave_Master.cal_expire_date}"
                                                                mindate="#{PIS_Leave_Master.cal_expire_date_min}"                                                                
                                                                navigator="true"
                                                                pattern="#{GlobalUtilities.dateFormat}">
                                                    </p:calendar>
                                                    <a class="hyperlink1" href="javascript:void(0);" onclick="pw_cal_expire_date.setDate(null);">Clear</a>
                                                </td>
                                            </tr>
                                            <tr><td class="entry-component-label">Print Order: </td>
                                                <td>
                                                    <p:selectOneMenu id="ddl_print_order"
                                                                     value="#{PIS_Leave_Master.ddl_print_order}"
                                                                     styleClass="component-width">
                                                        <f:selectItems value="#{PIS_Leave_Master.ddl_print_order_options}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                                <td class="entry-component-label">Print in Pay Slip: <label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_print_payslip"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_print_payslip}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_print_payslip" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>                                                
                                                <td class="entry-component-label">Application Required:<label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_application_required"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_application_required}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_application_required" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">Virtual Leave: <label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_virtual_leave"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_virtual_leave}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Leave" itemValue="L"/>
                                                        <f:selectItem itemLabel="While on Tour/Training" itemValue="T"/>
                                                        <f:selectItem itemLabel="None" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_virtual_leave"  class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>                                                
                                                <td class="entry-component-label">Parentable: <label class="mandatory-text"  >*</label></td>
                                                <td><p:selectOneMenu id="ddl_parentable"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_parentable}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_parentable" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">While on Tour/Training Parentable:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                    <p:selectOneMenu id="ddl_ttr_parentable"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_ttr_parentable}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_ttr_parentable" class="error-message"/>
                                                </td>                                            
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Holiday Flag:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                    <p:selectOneMenu id="ddl_holiday"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_holiday}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_ddl_holiday" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">Multiple Rule Flag:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                    <p:selectOneMenu id="ddl_multiple_rule"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_multiple_rule}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_ddl_multiple_rule" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Print in Report if 0 consumed:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                    <p:selectOneMenu id="ddl_print_if_0_cons"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_print_if_0_cons}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_ddl_print_if_0_cons" class="error-message"/>
                                                </td>
                                                <td class="entry-component-label">Consider Leave during Resign Relieve:<label class="mandatory-text"  >*</label></td>
                                                <td class="entry-component-detail">
                                                     <p:selectOneMenu id="ddl_resign_relieve_cons_flag"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Leave_Master.ddl_resign_relieve_cons_flag}">
                                                        <f:selectItem itemLabel="--- Select ---"/>
                                                        <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                        <f:selectItem itemLabel="No" itemValue="N"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <div id="err_ddl_resign_relieve_cons_flag" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>                                                
                                                <td colspan="4" align="center">
                                                    <p:commandButton id="btn_save"
                                                                     icon="ui-icon-disk"
                                                                     value="Save New Attendance/Leave Code"
                                                                     process="pnl_new_entry"
                                                                     update="growl1,pnl_tbl_leavemst,pnl_new_entry"
                                                                     onstart="if(!validate_save()){return false;}"
                                                                     actionListener="#{PIS_Leave_Master.btn_save_action}"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </p:panel>
                            <p:dialog widgetVar="pw_dlg_apply_end_date"
                                      id="dlg_apply_end_date"
                                      modal="true"
                                      header="Apply End Date">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">End Date:</td>
                                        <td><p:calendar id="cal_apply_end_date"
                                                        widgetVar="pw_cal_apply_end_date"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true"
                                                        value="#{PIS_Leave_Master.cal_apply_end_date}"
                                                        mindate="#{PIS_Leave_Master.cal_apply_end_date_min}"/></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p:commandButton id="btn_apply_end_date"
                                                             value="Apply End Date"
                                                             icon="ui-icon-clock"
                                                             onclick="pw_confirm_end_date.show();return false;"/>
                                        </td>
                                    </tr>
                                </table>
                            </p:dialog>
                            <p:dialog widgetVar="pw_dlg_alter_leave_masters"
                                      id="dlg_alter_leave_masters"
                                      header="Alternate Leave Codes"
                                      modal="true">
                                <h:panelGroup id="pnl_tbl_alt_leave_masters">
                                    <p:dataTable id="tbl_alt_leave_masters"
                                                 value="#{PIS_Leave_Master.tbl_alternatives}"
                                                 var="item">
                                        <p:column headerText="Leave code">#{item.leavecd}</p:column>
                                        <p:column headerText="Short Name">#{item.shortName}</p:column>
                                        <p:column headerText="Leave Description">#{item.leaveDesc}</p:column>
                                        <p:column headerText="Leave Flag">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.leaveFlag=='Y'}"/>
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/cross.png"
                                                            width="12"
                                                            height="12"
                                                            alt="NO"
                                                            rendered="#{item.leaveFlag=='N'}"/>
                                        </p:column>
                                        <p:column headerText="Virtual Flag">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.virtualLeave=='Y'}"/>
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/cross.png"
                                                            width="12"
                                                            height="12"
                                                            alt="NO"
                                                            rendered="#{item.virtualLeave=='N'}"/>
                                        </p:column>
                                        <p:column headerText="Start Date">
                                            <h:outputText style="white-space:nowrap;" value="#{item.startDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                                   timeZone="#{GlobalUtilities.india_standard_time}"
                                                                   />
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="End Date">
                                            <h:outputText value="#{item.endDate}">
                                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                                   timeZone="#{GlobalUtilities.india_standard_time}"
                                                                   />
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </p:dialog>

                            <p:confirmDialog widgetVar="pw_confirm_end_date" 
                                             message="Do you want to continue with applying end date?"
                                             style="width:300px">
                                <p:commandButton
                                    id="btn_update_dlg"                        
                                    value="Apply End Date"
                                    icon="ui-icon-clock"
                                    process="cal_apply_end_date,btn_update_dlg"
                                    update="pnl_tbl_leavemst,growl1" 
                                    oncomplete="pw_confirm_end_date.hide();pw_dlg_apply_end_date.hide();"
                                    actionListener="#{PIS_Leave_Master.btn_apply_end_date_clicked}"
                                    />
                                <p:commandButton value="Cancel"
                                                 onclick="pw_confirm_end_date.hide();return false;"/>
                            </p:confirmDialog>    
                        </div>  
                        <h:panelGroup id="pnl_dlg_leave_master">
                            <fhrd:dlg_leave_master id="dlg_leave_master"  lmSrgKey="#{PIS_Leave_Master.entFtasLeavemst_detail}"/>
                        </h:panelGroup>                         

                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>