<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width .hasDatepicker,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    function validateSave(){
                        var valid=true;                        
                        $('#err_degree_cd').text('');
                        $('#err_degree_name').text('');
                        $('#err_degree_level').text('');                        
                        $('#err_subject_name').text('');
                        $('#err_tbl_subject').text('');
                        if($('#txt_degree_cd').val()==''){
                            $('#err_degree_cd').text('Please Enter Degree Code');
                            valid=false;
                        }
                        if($('#ddl_degree_level select').val().trim()==''){
                            $('#err_degree_level').text('Please Select Degree Level');
                            valid=false;
                        }
                        if($('#txt_degree_name').val()==''){
                            $('#err_degree_name').text('Please Enter Degree Name');
                            valid=false;
                        }
                        //if($('#tbl_subject table tbody tr:first td').length==1){
                        //  $('#err_tbl_subject').text('Please enter atleast one Subject for the degree')
                        //valid=false;
                        //}
                        return valid;
                    }
                    
                    function validateSubject(){
                        var valid=true;
                        $('#err_tbl_subject').text('')
                        $('#err_subject_name').text('');
                        
                        if($('#txt_subject_name').val()==''){
                            $('#err_subject_name').text('Please Enter Subject Name');
                            valid=false;
                        }
                        return valid;
                    }

                    function validate_new_subject(){
                        var valid=true;
                        $('#err_txt_dlg_subject_name').text('');
                        
                        if($('#txt_dlg_subject_name').val().trim()==''){
                            $('#err_txt_dlg_subject_name').text('Please Enter Subject Name');
                            valid=false;
                        }
                        return valid;
                    }

                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">

                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Degree Master" url="#" />                          
                    </p:breadCrumb>  
                    <div align="center">
                        <button class="hidden-button" onclick="return false"/>
                        <div class="component-margin" align="left">
                            <h:panelGroup id="pnl_tbl_degree">
                                <p:dataTable id="tbl_degree"
                                             widgetVar="pw_tbl_degree"
                                             value="#{PIS_Degree_Master.tbl_degree}"
                                             filteredValue="#{PIS_Degree_Master.tbl_degree_filtered}"
                                             var="doc"
                                             paginator="true"
                                             rows="5"
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="5,10,15"
                                             filterDelay="600">
                                    <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page"  onerror="ShowConnectionError('GeneralDialog');" global="false"/>

                                    <p:column style="width:2%">  
                                        <p:rowToggler/>  
                                    </p:column>  
                                    <p:column headerText="Degree Code" filterBy="#{doc.degreecd}">#{doc.degreecd}</p:column> 
                                    <p:column headerText="Degree Name" filterBy="#{doc.degreeName}">#{doc.degreeName}</p:column> 
                                    <p:column headerText="Degree Level" filterBy="#{doc.dlmSrgKey.dlmSrgKey}" filterMatchMode="exact" filterOptions="#{PIS_Degree_Master.filter_degree_level}">#{doc.dlmSrgKey.dlmDescription}</p:column> 
                                    <p:column rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}" style="width:10px"
                                              headerText="Add New Subject">
                                        <p:commandButton title="Add New Subject"
                                                         icon="ui-icon-plusthick"
                                                         process=":form1:pnl_tbl_degree"
                                                         update=":form1:pnl_dlg_add_subject"
                                                         actionListener="#{PIS_Degree_Master.btn_add_subject_action}">
                                            <f:setPropertyActionListener value="#{doc}"
                                                                         target="#{PIS_Degree_Master.entFhrdDegreeDtl_edit}"/>
                                        </p:commandButton>
                                    </p:column>
                                    <p:rowExpansion>
                                        <center>
                                            <br/>
                                            <p:dataTable id="tbl_degree_dtl"
                                                         value="#{doc.fhrdDegreedtlCollection}"
                                                         var="item"
                                                         style="width:80%"
                                                         >
                                                <f:facet name="header">
                                                    Subject Detail
                                                </f:facet>

                                                <p:column headerText="Subject Name">#{item.subjectName}</p:column>
                                            </p:dataTable>
                                            <br/>
                                        </center>
                                    </p:rowExpansion>
                                </p:dataTable>
                                <script type="text/javascript">
                                    try{pw_tbl_degree.filter()}catch(e){}
                                </script>
                            </h:panelGroup>
                        </div>
                        <div class="component-margin" align="left">
                            <h:panelGroup id="pnl_add_new_degree">
                                <p:panel header="Add New Degree" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">                                
                                    <table class="element-table" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label" width="1px">Degree Code:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputText id="txt_degree_cd"                                                             
                                                                 value="#{PIS_Degree_Master.txt_degree_cd}"
                                                                 style="text-transform: uppercase;"
                                                                 styleClass="component-width"
                                                                 maxlength="10"
                                                                 onkeypress="keytest(event,degreeFormat);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"/>
                                                    <br/>
                                                    <span  id="err_degree_cd" class="error-message"/>
                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Degree Name:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputText id="txt_degree_name"
                                                                 value="#{PIS_Degree_Master.txt_degree_name}"
                                                                 style="text-transform: uppercase;"
                                                                 styleClass="component-width"
                                                                 maxlength="100"/>
                                                    <br/>
                                                    <span  id="err_degree_name" class="error-message"/>
                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Degree Level:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:selectOneMenu id="ddl_degree_level"
                                                                     value="#{PIS_Degree_Master.ddl_degree_level}"
                                                                     styleClass="component-width">
                                                        <f:selectItems value="#{PIS_Degree_Master.ddl_degree_level_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/>
                                                    <span  id="err_degree_level" class="error-message"/>
                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>

                                                <td class="entry-component-label">Subject Name:</td>
                                                <td>
                                                    <p:inputText id="txt_subject_name"
                                                                 styleClass="component-width"
                                                                 maxlength="100"
                                                                 value="#{PIS_Degree_Master.txt_subject_name}"
                                                                 style="text-transform: uppercase;margin-right: 10px"/> 
                                                    <p:commandButton id="add_subject"
                                                                     icon="ui-icon-disk"
                                                                     process="pnl_tbl_subject,txt_subject_name,add_subject"
                                                                     update="pnl_tbl_subject,txt_subject_name,growl1"
                                                                     value="Add Subject to List"
                                                                     onstart="return validateSubject()"
                                                                     actionListener="#{PIS_Degree_Master.add_subject_clicked}"/>
                                                    <br/>
                                                    <h:outputText  id="err_subject_name" class="error-message"
                                                                   />

                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td colspan="4">
                                                    <h:panelGroup id="pnl_tbl_subject">
                                                        <p:dataTable id="tbl_subject"
                                                                     value="#{PIS_Degree_Master.tbl_subject}"
                                                                     var="document"
                                                                     >
                                                            <p:column headerText="Subject Name">#{document.subject_name}</p:column> 
                                                            <p:column style="width:10px">
                                                                <p:commandButton
                                                                    process=":form1:pnl_tbl_subject"
                                                                    update=":form1:pnl_tbl_subject,:form1:growl1"
                                                                    icon="ui-icon-trash" 
                                                                    id="btn_club_record_delete">
                                                                    <f:setPropertyActionListener value="#{document}"
                                                                                                 target="#{PIS_Degree_Master.ent_SubjectDetail}" />
                                                                </p:commandButton>
                                                            </p:column>
                                                        </p:dataTable>
                                                    </h:panelGroup>
                                                    <div id="err_tbl_subject" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <p:commandButton id="btn_add_degree"
                                                                     process="pnl_add_new_degree"
                                                                     update="pnl_add_new_degree,tbl_degree,growl1"
                                                                     value="Add New Degree"
                                                                     icon="ui-icon-disk"
                                                                     onstart="return validateSave()"
                                                                     actionListener="#{PIS_Degree_Master.btn_add_degree_clicked}"
                                                                     />
                                                </td>
                                                <td colspan="3" align="right"><div id="mandatory_text" class="mandatory-text-ins" style="white-space:nowrap;">
                                                        <label  class="mandatory-text" >*</label> - Mandatory Fields</div>
                                                </td>       
                                            </tr>
                                        </tbody>
                                    </table>
                                </p:panel>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup id="pnl_dlg_add_subject" >
                            <p:dialog id="dlg_add_subject" widgetVar="pw_dlg_add_subject" header="Add New Subject"
                                      rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}"
                                      modal="true">

                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">Subject Name:<label class="mandatory-text">*</label></td>
                                        <td>
                                            <p:inputText id="txt_dlg_subject_name"
                                                         maxlength="100"
                                                         style="text-transform: uppercase"
                                                         value="#{PIS_Degree_Master.txt_dlg_subject_name}"/>
                                            <br/><div id="err_txt_dlg_subject_name" class="error-message"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p:commandButton icon="ui-icon-disk"
                                                             id="btn_dlg_add_subject"                                                             
                                                             value="Add New Subject"
                                                             onstart="return validate_new_subject()"
                                                             process="btn_dlg_add_subject,txt_dlg_subject_name"
                                                             update="growl1,pnl_tbl_degree"
                                                             oncomplete="pw_dlg_add_subject.hide()"
                                                             actionListener="#{PIS_Degree_Master.btn_dlg_add_subject_clicked}"/>
                                        </td>
                                    </tr>
                                </table>

                            </p:dialog>
                        </h:panelGroup>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>