<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }

                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    
                    function validate_save(){
                        var valid=true;
                        $('#err_txt_university_code').text();
                        $('#err_txt_university_name').text(''); 
                        $('#err_txt_city').text(''); 
                        $('#err_txt_state').text(''); 
                        $('#err_txt_country').text('');                          
                        if($('#txt_university_code').val()==''){
                            $('#err_txt_university_code').text('Enter University code');
                            valid=false;
                        } 
                        if($('#txt_university_name').val()==''){
                            $('#err_txt_university_name').text('Enter Name of the University');
                            valid=false;
                        } 
                        if($('#txt_state').val()==''){
                            $('#err_txt_state').text('Enter the State');
                            valid=false;
                        }
                        if($('#txt_country').val()==''){
                            $('#err_txt_country').text('Enter the Country');
                            valid=false;
                        }
                        return valid;                        
                    }

                    
                    //]]>
                </script>                
            </ui:define>
            <ui:define name="content">                    
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="University Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">                        
                        <div class="component-margin scrolling-div">
                            <h:panelGroup id="pnl_tbl_university_master">
                                <p:dataTable
                                    id="tbl_university_master"
                                    value="#{PIS_University_Master.tbl_university_master}"
                                    var="item"
                                    paginator="true"
                                    rows="5"
                                    paginatorPosition="top"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,15"
                                    filterDelay="600"
                                    filteredValue="#{PIS_University_Master.tbl_university_master_filtered}">
                                    <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column sortBy="#{item.universitycd}"
                                              filterBy="#{item.universitycd}"
                                              headerText="University Code">#{item.universitycd}</p:column>
                                    <p:column sortBy="#{item.universityName}"
                                              filterBy="#{item.universityName}"
                                              headerText="University Name">#{item.universityName}</p:column>
                                    <p:column sortBy="#{item.city}"
                                              filterBy="#{item.city}"
                                              headerText="City">#{item.city}</p:column>
                                    <p:column sortBy="#{item.state}"
                                              filterBy="#{item.state}"
                                              headerText="State">#{item.state}</p:column>
                                    <p:column sortBy="#{item.pincode}"
                                              filterBy="#{item.pincode}"
                                              headerText="Pin code/Area Code">#{item.pincode}</p:column>
                                    <p:column sortBy="#{item.country}"
                                              filterBy="#{item.country}"
                                              headerText="Country">#{item.country}</p:column>
                                </p:dataTable>                                
                            </h:panelGroup>
                        </div>
                        <div align="left"  class="component-margin scrolling-div">
                            <p:panel  id="pnl_new_entry"
                                      header="New University" rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}">
                                <div class="scrolling-div">
                                    <table class="element-table" width="100%" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="width:1px" class="entry-component-label">University Code:<label class="mandatory-text"  >*</label><button onclick="return false;" style="height: 1px;width: 1px;visibility: hidden"/></td>
                                                <td  class="component-width">
                                                    <p:inputText id="txt_university_code"
                                                                 maxlength="10"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_University_Master.txt_university_code}"
                                                                 onkeypress="keytest(event,universityFormat);"
                                                                 onkeyup="followup(this.id)"
                                                                 onfocus="lastval=this.value;"/>

                                                    <div id="err_txt_university_code"  class="error-message"/>
                                                </td>
                                                <td  style="width:30%" class="entry-component-label" align="right">University Name:<label class="mandatory-text"  >*</label></td>
                                                <td><p:inputText id="txt_university_name"
                                                                 maxlength="100"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_University_Master.txt_university_name}"/>
                                                    <div id="err_txt_university_name"  class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">City:</td>
                                                <td>
                                                    <p:inputText id="txt_city"
                                                                 style="text-transform:uppercase"
                                                                 maxlength="50"
                                                                 value="#{PIS_University_Master.txt_city}"/>
                                                </td>
                                                <td class="entry-component-label"  align="right"> State: <label class="mandatory-text"  >*</label></td>
                                                <td>
                                                    <p:inputText id="txt_state"
                                                                 maxlength="50"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_University_Master.txt_state}"/>
                                                    <div id="err_txt_state" class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr><td class="entry-component-label">Pin code/Area Code:</td>
                                                <td>
                                                    <p:inputText id="txt_pin_code" 
                                                                 maxlength="10"
                                                                 value="#{PIS_University_Master.txt_pin_code}"
                                                                 />
                                                </td>
                                                <td class="entry-component-label" align="right">Country:<label class="mandatory-text"  >*</label></td>
                                                <td>
                                                    <p:inputText id="txt_country"
                                                                 maxlength="50"
                                                                 style="text-transform:uppercase"
                                                                 value="#{PIS_University_Master.txt_country}"/>
                                                    <div id="err_txt_country"  class="error-message"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td/>
                                                <td>
                                                    <p:commandButton id="btn_save"
                                                                     icon="ui-icon-disk"
                                                                     value="Create New University"
                                                                     process="btn_save,pnl_new_entry"
                                                                     update="growl1,pnl_tbl_university_master,pnl_new_entry"
                                                                     onstart="if(!validate_save()){return false;}"
                                                                     actionListener="#{PIS_University_Master.btn_save_action}"/>
                                                </td>
                                            </tr>
                                            <tr><td/>
                                                <td align="right" colspan="4"> <a id="mandatory_text" class="mandatory-text_Ins">
                                                        <label class="mandatory-text">*</label> - Mandatory Fields</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <script type="text/javascript">
                                        $('#txt_pin_code').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'9999999999',aPad: false});
                                    </script>
                                </div>

                            </p:panel>
                        </div>  
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>