<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    //<![CDATA[                   
                    function validate_record(){
                        var valid=true;                        
                        $('#lbl_desig_desc_err').text('');
                        $('#lbl_cal_from_err').text('');
                        if($('#txt_desig_desc').val()==''){
                            $('#lbl_desig_desc_err').text('Give Description for Designation');
                            valid=false;
                        }
                        if(pw_cal_start_date.getDate()==null){
                            $('#lbl_cal_from_err').text('Give Start Date for Designation');
                            valid=false;
                        }else{
                            if(pw_cal_end_date.getDate()!=null){
                                if(pw_cal_start_date.getDate()>pw_cal_end_date.getDate()){
                                    $('#lbl_cal_from_err').text('Start date can not be greater than end date');
                                    valid=false;
                                }}    
                        }
                        
                        return valid;
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Designation Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin scrolling-div">
                            <h:panelGroup id="pnl_tbl_desigmst">
                                <p:dataTable
                                    id="tbl_desigmst"
                                    widgetVar="pw_tbl_desigmst"
                                    value="#{PIS_Designation_Master.tbl_desigmst}"
                                    var="item"
                                    style="width:100%"
                                    paginator="true"
                                    rows="5"
                                    paginatorPosition="top"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,15"
                                    >
                                    <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column sortBy="#{item.desigDesc}"
                                              filterBy="#{item.desigDesc}"
                                              filterMatchMode="contains" headerText="Description">#{item.desigDesc}
                                    </p:column>
                                    <p:column styleClass="colunm_align"
                                              sortBy="#{item.startDate}"
                                              headerText="Start Date">
                                        <h:outputText style="white-space:nowrap;" value="#{item.startDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                               timeZone="#{GlobalUtilities.india_standard_time}"
                                                               />
                                        </h:outputText>
                                    </p:column>
                                    <p:column styleClass="colunm_align" headerText="End Date"
                                              sortBy="#{item.endDate}">
                                        <h:outputText style="white-space:nowrap;" value="#{item.endDate}">
                                            <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                               timeZone="#{GlobalUtilities.india_standard_time}"
                                                               />
                                        </h:outputText>
                                    </p:column>
                                    <p:column rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}" style="width:10px">
                                        <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}" 
                                                         icon="ui-icon-clock"
                                                         title="Apply End Date"
                                                         process=":form1:pnl_tbl_desigmst"
                                                         update=":form1:cal_apply_end_date"
                                                         actionListener="#{PIS_Designation_Master.applyEndDate(item)}"/>                           
                                    </p:column>
                                </p:dataTable>
                                <script type="text/javascript">
                                    try{pw_tbl_desigmst.filter()}catch(e){}
                                </script>
                            </h:panelGroup>
                            <div class="component-margin scrolling-div" align="left">
                                <p:panel id="pnl_create_new_desig"
                                         header="New Designation"
                                         rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                    <table class="element-table" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="entry-component-label" width="1px">Designation Description:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:inputText id="txt_desig_desc"  
                                                                 style="width:300px;text-transform:uppercase;"
                                                                 value="#{PIS_Designation_Master.txt_desig_desc}"
                                                                 maxlength="100"/>
                                                    <br/>
                                                    <h:outputText  id="lbl_desig_desc_err"
                                                                   value="#{PIS_Designation_Master.lbl_desig_desc_err}"
                                                                   styleClass="error-message"
                                                                   />
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Start Date:<label class="mandatory-text">*</label></td>
                                                <td>
                                                    <p:calendar id="cal_start_date"
                                                                style="width:300px;"
                                                                widgetVar="pw_cal_start_date"
                                                                value="#{PIS_Designation_Master.cal_start_date}"
                                                                readonlyInput="true"
                                                                pattern="#{GlobalUtilities.dateFormat}"                                                                
                                                                navigator="true"  />                                                            

                                                    <br/>
                                                    <h:outputText  id="lbl_cal_from_err"
                                                                   value="#{PIS_Designation_Master.lbl_cal_from_err}"
                                                                   styleClass="error-message"
                                                                   />
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label"  >End Date:</td>
                                                <td>
                                                    <p:calendar id="cal_end_date"
                                                                style="width:300px;"
                                                                widgetVar="pw_cal_end_date"
                                                                value="#{PIS_Designation_Master.cal_end_date}"
                                                                readonlyInput="true"
                                                                pattern="#{GlobalUtilities.dateFormat}"
                                                                navigator="true"
                                                                />
                                                    <a class="hyperlink1" href="javascript:void(0);" onclick="pw_cal_end_date.setDate(null);">Clear</a>

                                                </td>
                                                <td></td>
                                            </tr>       
                                            <tr>

                                                <td></td>
                                                <td>
                                                    <p:commandButton id="btn_add_new"
                                                                     process="btn_add_new,txt_desig_desc,
                                                                     cal_start_date,cal_end_date"
                                                                     update="growl1,pnl_tbl_desigmst,txt_desig_desc,
                                                                     cal_start_date,cal_end_date"
                                                                     icon="ui-icon-disk"
                                                                     value="Add New Designation"
                                                                     onstart="return validate_record()"
                                                                     actionListener="#{PIS_Designation_Master.btn_add_new_clicked}"/>
                                                </td>
                                                <td><div id="mandatory_text" class="mandatory-text-ins" style="white-space:nowrap;">
                                                        <label id="l2" class="mandatory-text" >*</label> - Mandatory Fields</div></td>       
                                            </tr>
                                            <tr>
                                                <td colspan="3">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </p:panel>
                            </div>
                            <p:dialog widgetVar="pw_dlg_apply_end_date"
                                      id="dlg_apply_end_date"
                                      modal="true"
                                      header="Apply End Date">                                
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">End Date:</td>
                                        <td><p:calendar id="cal_apply_end_date"
                                                        widgetVar="pw_cal_apply_end_date"                                                        
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true"
                                                        value="#{PIS_Designation_Master.cal_apply_end_date}"
                                                        mindate="#{PIS_Designation_Master.cal_apply_end_date_min}"/>
                                        </td>
                                        <td>
                                            <a class="ui-commanlink" onclick="pw_cal_apply_end_date.setDate(null)">Clear</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p:commandButton id="btn_apply_end_date"
                                                             value="Apply End Date"
                                                             onclick="pw_confirm_end_date.show();return false;"
                                                             />
                                        </td>
                                    </tr>
                                </table>
                            </p:dialog>

                            <p:confirmDialog widgetVar="pw_confirm_end_date" 
                                             message="Do you want to continue with applying end date?"
                                             style="width:300px">
                                <p:commandButton
                                    id="btn_update_dlg"                        
                                    value="Apply End Date"
                                    process="cal_apply_end_date,btn_update_dlg"
                                    update="pnl_tbl_desigmst,growl1" 
                                    oncomplete="pw_confirm_end_date.hide();pw_dlg_apply_end_date.hide();"
                                    actionListener="#{PIS_Designation_Master.btn_apply_end_date_clicked}"
                                    />
                                <p:commandButton value="Cancel"
                                                 onclick="pw_confirm_end_date.hide();return false;"/>
                            </p:confirmDialog> 
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>