<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width .hasDatepicker,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                </style>
                
                <script type="text/javascript">
                    //<![CDATA[

                    function validate_entry(){
                        var v_valid=true;
                        //$('#err_txt_contract_type').text('');
                        $('#err_txt_contract_desc').text('');
                        $('#err_ddl_contract_category').text('');
                        $('#err_cal_contract_start_date').text('');
                        $('#err_ddl_group_desc').text('');
                        //if($('#txt_contract_type').val()==''){
                        //    $('#err_txt_contract_type').text('Enter valid contract type');
                        //    v_valid=false;
                        //}
                        if($('#txt_contract_desc').val()==''){
                            $('#err_txt_contract_desc').text('Enter valid contract description');
                            v_valid=false;
                        }
                        if($('#ddl_contract_category_input').val()==''){
                            $('#err_ddl_contract_category').text('Select Contract Category');
                            v_valid=false;
                        }
                        if($('#cal_contract_start_date_input').val()==''){
                            $('#err_cal_contract_start_date').text('Select Start Date');
                            v_valid=false;
                        }
                        if($('#ddl_group_desc_input').val()==''){
                            $('#err_ddl_group_desc').text('Select Applicable group');
                            v_valid=false;
                        }
                        return v_valid;
                    }                    
                    function ddl_contract_alternative_onchange(){
                        if($('#ddl_contract_alternative select').val().trim()==''){
                            $('#hyp_view_alternate_contract').hide();
                        }else{
                            $('#hyp_view_alternate_contract').show();
                        }
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Contract Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin">                            
                            <h:panelGroup id="pnl_tbl_contract_mst">
                                <p:dataTable
                                    id="tbl_contract_mst"
                                    value="#{PIS_Contract_Master.tbl_contract_mst}"
                                    var="item"
                                    paginator="true"
                                    rows="5"
                                    paginatorPosition="top"
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="5,10,15"
                                    filterDelay="600"
                                    filteredValue="#{PIS_Contract_Master.tbl_contract_mst_filtered}">
                                    <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column  headerText="Contract Description" style="white-space: normal"
                                               sortBy="#{item.contractDesc}"
                                               filterBy="#{item.contractDesc}">#{item.contractDesc}</p:column>
                                    <p:column headerText="Category"
                                              sortBy="#{item.contractCategory}"
                                              filterBy="#{item.contractCategory}"
                                              filterOptions="#{PIS_Contract_Master.filter_contract_type}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="exact">
                                        <h:outputText value="Supplement" style="display:#{(item.contractCategory=='S')?'block':'none'}"/>
                                        <h:outputText value="Main" style="display:#{(item.contractCategory=='M')?'block':'none'}"/>
                                    </p:column>
                                    <p:column headerText="Start Date">
                                        <h:outputText value="#{item.startDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="End Date">
                                        <h:outputText value="#{item.endDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column style="width:1px" rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}">
                                        <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}" 
                                                         title="Apply End Date"
                                                         icon="ui-icon-clock"
                                                         onclick="pw_dlg_apply_end_date.show();"
                                                         process=":form1:pnl_tbl_contract_mst"
                                                         update=":form1:cal_apply_end_date"
                                                         actionListener="#{PIS_Contract_Master.btn_apply_date_action}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Contract_Master.entFhrdContractMst_edit}"/>
                                        </p:commandButton>                           
                                    </p:column>
                                    <p:column style="width:1px" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                        <p:commandButton process="@this"                                                         
                                                         icon="ui-icon-search"
                                                         title="View Detail"
                                                         id="btn_view_detail"
                                                         onclick="setHighLight(this)"
                                                         update=":form1:pnl_tbl_contract_group_data"
                                                         actionListener="#{PIS_Contract_Master.btn_view_detail_click}">
                                            <f:setPropertyActionListener value="#{item}" 
                                                                         target="#{PIS_Contract_Master.ent_view_contract_detail}"/>
                                        </p:commandButton>
                                    </p:column>                  
                                    <p:column style="width:1px">
                                        <p:commandButton title="View Alternate Contracts"
                                                         icon="ui-icon-link"
                                                         process=":form1:pnl_tbl_contract_mst"
                                                         update=":form1:pnl_tbl_view_alt_contract"
                                                         actionListener="#{PIS_Contract_Master.btn_view_alternate_contract_action(item)}">                                            
                                        </p:commandButton>                           
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>                            
                            <div align="left">
                                <p:panel header="Contract Group Detail of - #{PIS_Contract_Master.ent_view_contract_detail.contractDesc}" 
                                         id="pnl_tbl_contract_group_data" 
                                         closable="true"
                                         style="display:#{PIS_Contract_Master.ent_view_contract_detail.cmSrgKey!=null?'block':'none'}">
                                    <p:dataTable id="tbl_contract_group_data"
                                                 value="#{PIS_Contract_Master.tbl_contract_group_data}"
                                                 var="item">                                    
                                        <p:column headerText="Applicable Group" style="white-space: normal">#{item.applGroupDesc}</p:column>                                        
                                        <p:column headerText="Manageable Group" style="white-space: normal">#{item.managGroupDesc}</p:column>
                                        <p:column headerText="Category">#{item.catDesc}</p:column>
                                        <p:column headerText="Start Date"><h:outputText value="#{item.startDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="End Date"><h:outputText value="#{item.endDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                    </p:dataTable>                        
                                </p:panel>
                            </div>
                            <div class="component-margin" align="left">
                                <p:panel header="Add New Contract"
                                         id="pnl_new_entry"
                                         rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}"
                                         >
                                    <table class="element-table">
                                        <tbody>
                                            <tr>
                                                <td width="1" class="entry-component-label">Contract Description:<label class="mandatory-text">*</label></td>
                                                <td width="250" colspan="3">
                                                    <p:inputText id="txt_contract_desc"
                                                                 styleClass="component-width"
                                                                 style="text-transform:uppercase"
                                                                 size="45"
                                                                 maxlength="100"
                                                                 value="#{PIS_Contract_Master.txt_contract_desc}"/>
                                                    <br/>
                                                    <div id="err_txt_contract_desc" class="error-message"/>
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td class="entry-component-label">Start Date:<label class="mandatory-text">*</label></td>
                                                <td><p:calendar id="cal_contract_start_date"
                                                                styleClass="component-width"  yearRange="c-50:c" 
                                                                value="#{PIS_Contract_Master.cal_contract_start_date}"
                                                                readonlyInput="true"
                                                                pattern="#{GlobalUtilities.dateFormat}"
                                                                navigator="true"/>
                                                    <div id="err_cal_contract_start_date" class="error-message"/>
                                                </td>
                                                <td/>
                                                <td class="entry-component-label" align="right">End date:</td>
                                                <td><p:calendar id="cal_contract_end_date"
                                                                styleClass="component-width"
                                                                widgetVar="pw_cal_contract_end_date"
                                                                value="#{PIS_Contract_Master.cal_contract_end_date}"
                                                                readonlyInput="true"
                                                                pattern="#{GlobalUtilities.dateFormat}"
                                                                navigator="true"/>
                                                </td>
                                                <td>
                                                    <a class="hyperlink1" href="javascript:void(0);" onclick="pw_cal_contract_end_date.setDate(null);">Clear</a>
                                                </td>                                                
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Contract Category:<label class="mandatory-text">*</label></td>
                                                <td><p:selectOneMenu id="ddl_contract_category"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Contract_Master.ddl_contract_category}"
                                                                     valueChangeListener="#{PIS_Contract_Master.ddl_contract_category_changed}">
                                                        <f:selectItem itemValue="" itemLabel="--- Select ---"/>
                                                        <f:selectItem itemValue="M" itemLabel="MAIN"/>
                                                        <f:selectItem itemValue="S" itemLabel="SUPPLEMENT"/>
                                                        <p:ajax event="change"
                                                                process="ddl_contract_category"
                                                                update="ddl_contract_alternative,
                                                                ddl_group_desc"
                                                                oncomplete="ddl_contract_alternative_onchange()"/>
                                                    </p:selectOneMenu>
                                                    <div id="err_ddl_contract_category" class="error-message"/>
                                                </td>
                                                <td/>
                                                <td class="entry-component-label">Contract Alternate to:</td>
                                                <td><p:selectOneMenu id="ddl_contract_alternative"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_Contract_Master.ddl_contract_alternative}"
                                                                     onchange="ddl_contract_alternative_onchange()">
                                                        <f:selectItems value="#{PIS_Contract_Master.ddl_contract_alternative_options}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                                <td>
                                                    <p:commandLink value="View alternate contract" actionListener="#{PIS_Contract_Master.view_alternate_contract}"
                                                                   id="hyp_view_alternate_contract"
                                                                   process="@this,ddl_contract_alternative"
                                                                   update="pnl_tbl_view_alt_contract"
                                                                   />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="entry-component-label">Applicable Group:<label class="mandatory-text">*</label></td>
                                                <td colspan="3"><p:selectOneMenu id="ddl_group_desc"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Contract_Master.ddl_group_desc}">
                                                        <f:selectItems value="#{PIS_Contract_Master.ddl_group_desc_options}"/>
                                                    </p:selectOneMenu>
                                                    <br/><div id="err_ddl_group_desc" class="error-message"/></td>                                                
                                            </tr>                                            

                                            <tr>
                                                <td colspan="6" align="center">                                                         
                                                    <p:commandButton id="btn_add_new"
                                                                     process="pnl_new_entry"
                                                                     update="pnl_tbl_contract_mst,
                                                                     pnl_tbl_contract_group_data,
                                                                     pnl_new_entry,growl1"
                                                                     icon="ui-icon-disk"
                                                                     value="Add New Contract"
                                                                     onstart="if(!validate_entry()){return false;}"                                                                     
                                                                     actionListener="#{PIS_Contract_Master.btn_add_new_action}"/>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div align="right">
                                        <span id="mandatory_text" class="mandatory-text-ins" style="white-space:nowrap;">
                                            <label class="mandatory-text" >*</label> - Mandatory Fields</span>
                                    </div>
                                    <script type="text/javascript">
                                        ddl_contract_alternative_onchange()
                                    </script>
                                </p:panel>
                            </div>                           
                        </div>
                        <p:dialog widgetVar="pw_dlg_apply_end_date"
                                  id="dlg_apply_end_date"
                                  modal="true"
                                  header="Apply End Date">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">End Date:</td>
                                    <td><p:calendar id="cal_apply_end_date"
                                                    widgetVar="pw_cal_apply_end_date"
                                                    readonlyInput="true"
                                                    pattern="#{GlobalUtilities.dateFormat}"
                                                    navigator="true"
                                                    mindate="#{PIS_Contract_Master.cal_apply_end_date_min}"
                                                    value="#{PIS_Contract_Master.cal_apply_end_date}"/></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <p:commandButton id="btn_apply_end_date"
                                                         value="Apply End Date"
                                                         onclick="pw_confirm_end_date.show();return false;"
                                                         />
                                    </td>
                                </tr>
                            </table>
                        </p:dialog>
                        <p:dialog id="dlg_view_alternate_contract"
                                  widgetVar="pw_dlg_view_alternate_contract"
                                  header="Alternate Manageable Groups"
                                  width="700"
                                  height="250"
                                  modal="true">
                            <div>
                                <h:panelGroup id="pnl_tbl_view_alt_contract">
                                    <p:dataTable id="tbl_view_alt_contract"
                                                 value="#{PIS_Contract_Master.tbl_view_alt_contract}"
                                                 var="item"                                  
                                                 filterDelay="600">
                                        <p:column headerText="Group Description">#{item.contractDesc}</p:column>

                                        <p:column headerText="Start Date">
                                            <h:outputText value="#{item.startDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="End Date">
                                            <h:outputText value="#{item.endDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column> 
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                        </p:dialog>

                        <p:confirmDialog widgetVar="pw_confirm_end_date" 
                                         message="Do you want to continue with applying end date?"
                                         style="width:300px">
                            <p:commandButton
                                id="btn_update_dlg"                        
                                value="Apply End Date"
                                process="cal_apply_end_date,btn_update_dlg"
                                update="pnl_tbl_contract_mst,growl1" 
                                oncomplete="pw_confirm_end_date.hide();pw_dlg_apply_end_date.hide();"
                                actionListener="#{PIS_Contract_Master.btn_apply_end_date_clicked}"
                                />
                            <p:commandButton value="Cancel"
                                             onclick="pw_confirm_end_date.hide();return false;"/>
                        </p:confirmDialog> 
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>