<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                    #tbl_event_mst select.ui-column-filter{min-width: 10px}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
               
                    function validate_new_event(){
                        var valid=true;
                        $('#tabview_event\\:err_event_name').text('');
                        $('#tabview_event\\:err_event_desc').text('');
                        $('#tabview_event\\:err_event_type').text('');
                        $('#tabview_event\\:err_event_period_req_flag').text('');
                        $('#tabview_event\\:err_event_message').text('');
                        $('#tabview_event\\:err_event_name_column_use').text('');
                        $('#tabview_event\\:err_event_column_use_desc').text('');
                        $('#err_event_effective_time').text('');
                        if($('#tabview_event\\:txt_event_name').val()==''){
                            $('#tabview_event\\:err_event_name').text('Give Event Name');
                            valid=false;
                        }
                        if($('#tabview_event\\:txt_event_desc').val()==''){
                            $('#tabview_event\\:err_event_desc').text('Give Event Description');
                            valid=false;
                        }
                        if($('#tabview_event\\:ddl_event_type select').prop('selectedIndex')==''){
                            $('#tabview_event\\:err_event_type').text('Select Event Type');
                            valid=false;
                        }
                        if($('#tabview_event\\:ddl_event_period_req_flag select').prop('selectedIndex')==''){                            
                            $('#tabview_event\\:err_event_period_req_flag').text('Give Event Required Flag');
                            valid=false;
                        }
                        if($('#tabview_event\\:txt_event_message').val()==''){
                            $('#tabview_event\\:err_event_message').text('Give Event Message');
                            valid=false;
                        }
                        if($('#tabview_event\\:ddl_event_name_column_use select').prop('selectedIndex')==''){
                            $('#tabview_event\\:err_event_name_column_use').text('Give Event Name Column Use');
                            valid=false;
                        }
                        if($('#tabview_event\\:txt_event_column_use_desc').val()==''){
                            $('#tabview_event\\:err_event_column_use_desc').text('Give Event Column Use Description');
                            valid=false;
                        }
                        if($('#tabview_event\\:txt_event_effective_time select').val()==''){
                            $('#err_event_effective_time').text('Give Event Column Use Description');
                            valid=false;
                        }
                        
                        return valid;
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Event Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin scrolling-div">
                            <div class="scrolling-div">
                                <h:panelGroup id="pnl_tbl_event_mst">
                                    <p:dataTable
                                        id="tbl_event_mst"
                                        value="#{PIS_Event_Master.tbl_event_master}"
                                        var="item"
                                        paginator="true"
                                        rows="5"
                                        paginatorPosition="top"
                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                        rowsPerPageTemplate="5,10,15"                                    
                                        filterDelay="600"
                                        filteredValue="#{PIS_Event_Master.tbl_event_master_filtered}">
                                        <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column sortBy="#{item.eventName}"
                                                  filterBy="#{item.eventName}"
                                                  headerText="Event Name">#{item.eventName}</p:column>
                                        <p:column sortBy="#{item.eventDesc}"
                                                  filterBy="#{item.eventDesc}" headerText="Event Description">
                                            #{item.eventDesc}
                                        </p:column>
                                        <p:column sortBy="#{item.eventType}"
                                                  filterBy="#{item.eventType}"
                                                  headerText="Event Type">
                                            #{item.eventType}
                                        </p:column>
                                        <p:column filterBy="#{item.eventPeriodRequiredFlag}"
                                                  headerText="Event Period Required Flag"
                                                  filterOptions="#{PIS_Event_Master.lst_yes_no_options}">
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/accept.png"
                                                            width="12"
                                                            height="12"
                                                            alt="Yes"
                                                            rendered="#{item.eventPeriodRequiredFlag=='Y'}"/>
                                            <p:graphicImage value="#{GlobalResources.secured_resources_path}images/cross.png"
                                                            width="12"
                                                            height="12"
                                                            alt="NO"
                                                            rendered="#{item.eventPeriodRequiredFlag=='N'}"/>
                                        </p:column>
                                        <p:column  sortBy="#{item.eventMessage}"
                                                   filterBy="#{item.eventMessage}"
                                                   headerText="Event Message">
                                            #{item.eventMessage}
                                        </p:column>
                                        <p:column sortBy="#{item.eventOrder}"
                                                  filterBy="#{item.eventOrder}"
                                                  headerText="Event Order">
                                            #{item.eventOrder}
                                        </p:column>
                                        <p:column rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                            <p:commandButton
                                                icon="ui-icon-search"
                                                onclick="setHighLight(this)"
                                                title="View Detail"
                                                style="white-space:nowrap;"
                                                process=":form1:pnl_tbl_event_mst"
                                                update=":form1:tabview_event:pnl_event_detail"
                                                >
                                                <f:setPropertyActionListener value="#{item}"
                                                                             target="#{PIS_Event_Master.ent_fhrdEventMst}"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                            <div class="component-margin scrolling-div">
                                <p:tabView id="tabview_event" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd or PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                    <p:tab title="Detail View"  rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">                                       
                                        <div align="left" class="scrolling-div">
                                            <h:panelGroup id="pnl_event_detail">
                                                <table class="element-table ui-datatable clone-datatable"  width="50%">
                                                    <tbody style="white-space: nowrap">
                                                        <tr>
                                                            <td style="white-space: nowrap" valign="top" width="1px;" class="static-text-label">
                                                                Event Name
                                                            </td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventName}" styleClass="static-text-detail"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="white-space: nowrap" class="static-text-label">Event Description</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventDesc}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="white-space: nowrap" class="static-text-label">Event Type</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventType}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="white-space: nowrap" class="static-text-label">Event Period Required Flag</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventPeriodRequiredFlag}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="white-space: nowrap" class="static-text-label">Event Message</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventMessage}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Event Order</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventOrder}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Event Name Column Use</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventNameColumnUse}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Event Name Column Use Description</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventNameColumnUseDesc}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Alert Start Period</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.alertStartPeriodNo}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Alert Start Period Unit</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.alertStartPeriodUnit}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Event Two Alerts Gap</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventTwoAlertsGapNo}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Event Two Alerts Gap Unit</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.eventTwoAlertsGapUnit}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Alert Receiving Person</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.alertReceivingPerson.userName}" styleClass="static-text-detail"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="static-text-label">Alert Receiving Person (Alternate)</td>
                                                            <td align="right">
                                                                <h:outputText value="#{PIS_Event_Master.ent_fhrdEventMst.alertReceivingPerson2.userName}" styleClass="static-text-detail"/></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </h:panelGroup>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Add New Event" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                        <p:panel id="pnl_new_entry">
                                            <div class="scrolling-div" align="left">
                                                <table class="element-table" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1px" class="entry-component-label">Event Name:<label class="mandatory-text">*</label><button onclick="return false;" style="height: 1px;width: 1px;visibility: hidden"/></td>
                                                            <td width="250px;">
                                                                <p:inputText
                                                                    id="txt_event_name"
                                                                    maxlength="30"
                                                                    styleClass="component-width"
                                                                    style="text-transform:uppercase"
                                                                    value="#{PIS_Event_Master.txt_event_name}"/>
                                                                <br/>
                                                                <h:outputText  id="err_event_name"
                                                                               value="#{PIS_Event_Master.err_event_name}"
                                                                               styleClass="error-message"
                                                                               /></td>
                                                            <td class="entry-component-label" width="1px">Event Description:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText
                                                                    id="txt_event_desc"
                                                                    maxlength="200"
                                                                    style="text-transform:uppercase"
                                                                    styleClass="component-width"
                                                                    value="#{PIS_Event_Master.txt_event_desc}"/>
                                                                <br/>
                                                                <h:outputText  id="err_event_desc"
                                                                               value="#{PIS_Event_Master.err_event_desc}"
                                                                               styleClass="error-message"
                                                                               /></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Event Type:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu
                                                                    id="ddl_event_type"
                                                                    value="#{PIS_Event_Master.ddl_event_type}"
                                                                    styleClass="component-width">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemValue="C" itemLabel="COMPULSORY"/>
                                                                    <f:selectItem itemValue="R" itemLabel="REGULAR"/>
                                                                    <f:selectItem itemValue="O" itemLabel="OPTIONAL"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <h:outputText  id="err_event_type"
                                                                               value="#{PIS_Event_Master.err_event_type}"
                                                                               styleClass="error-message"
                                                                               />
                                                            </td>
                                                            <td class="entry-component-label">Event Period Required Flag:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_event_period_req_flag"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_event_period_req_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <h:outputText  id="err_event_period_req_flag"
                                                                               value="#{PIS_Event_Master.err_event_period_req_flag}"
                                                                               styleClass="error-message"
                                                                               />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Event Message:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText id="txt_event_message"
                                                                             maxlength="1000"
                                                                             style="text-transform:uppercase"
                                                                             styleClass="component-width"
                                                                             value="#{PIS_Event_Master.txt_event_message}"/>
                                                                <br/>
                                                                <h:outputText  id="err_event_message"
                                                                               value="#{PIS_Event_Master.err_event_message}"
                                                                               styleClass="error-message"
                                                                               /></td>
                                                            <td class="entry-component-label">Event Order</td>
                                                            <td><p:inputText id="txt_event_order"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             styleClass="component-width"
                                                                             value="#{PIS_Event_Master.txt_event_order}"/></td>
                                                        </tr>
                                                        <tr>   <td class="entry-component-label">Alert Start Period:</td>
                                                            <td><p:inputText id="txt_alert_start_period"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             styleClass="component-width"
                                                                             value="#{PIS_Event_Master.txt_alert_start_period}"/></td>


                                                            <td class="entry-component-label">Alert Start Period Unit</td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_alert_start_unit"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_alert_start_unit}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Day(s)" itemValue="D"/>
                                                                    <f:selectItem itemLabel="Month(s)" itemValue="M"/>
                                                                    <f:selectItem itemLabel="Year(s)" itemValue="Y"/>
                                                                </p:selectOneMenu></td>
                                                        </tr>
                                                        <tr>      <td class="entry-component-label">Event Two Alert Gap</td>
                                                            <td><p:inputText id="txt_alert_two_period"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             styleClass="component-width"
                                                                             value="#{PIS_Event_Master.txt_alert_two_period}"/></td>

                                                            <td class="entry-component-label">Event Two Alert Gap Unit:</td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_alert_two_unit"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_alert_two_unit}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Day(s)" itemValue="D"/>
                                                                    <f:selectItem itemLabel="Month(s)" itemValue="M"/>
                                                                    <f:selectItem itemLabel="Year(s)" itemValue="Y"/>
                                                                </p:selectOneMenu>
                                                            </td>
                                                        </tr>
                                                        <tr>     <td class="entry-component-label">Alert receiving Person:</td>
                                                            <td><p:selectOneMenu id="ddl_alert_rece_person"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_alert_rece_person}">
                                                                    <f:selectItems value="#{PIS_Event_Master.ddl_alert_rece_person_options}"/>
                                                                </p:selectOneMenu>
                                                            </td>
                                                            <td class="entry-component-label">Alert receiving Person (Alternate):</td>
                                                            <td><p:selectOneMenu id="ddl_alert_rece_person_alt"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_alert_rece_person_alt}">
                                                                    <f:selectItems value="#{PIS_Event_Master.ddl_alert_rece_person_alt_options}"/>
                                                                </p:selectOneMenu>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">
                                                                Event Effective From:<label class="mandatory-text">*</label>
                                                            </td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_event_effective_time" value="#{PIS_Event_Master.ddl_event_effective_time}"
                                                                                 styleClass="component-width">
                                                                    <f:selectItem itemValue="B" itemLabel="Begin"/>
                                                                    <f:selectItem  itemValue="E" itemLabel="End"/>
                                                                    <f:selectItem  itemValue="A" itemLabel="Afternoon"/>
                                                                </p:selectOneMenu>
                                                                <div class="error-message" id="err_event_effective_time"/>
                                                            </td>

                                                            <td class="entry-component-label">Event Name Column Use:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_event_name_column_use"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_Event_Master.ddl_event_name_column_use}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="S-For System Users" itemValue="S"/>
                                                                    <f:selectItem itemLabel="U-For Normal Users" itemValue="U"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <h:outputText  id="err_event_name_column_use"
                                                                               value="#{PIS_Event_Master.err_event_name_column_use}"
                                                                               styleClass="error-message"
                                                                               /></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Event Name Column Use Description:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText id="txt_event_column_use_desc"
                                                                             maxlength="50"
                                                                             style="text-transform:uppercase"
                                                                             styleClass="component-width"
                                                                             value="#{PIS_Event_Master.txt_event_column_use_desc}"/>
                                                                <br/>
                                                                <h:outputText  id="err_event_column_use_desc"
                                                                               value="#{PIS_Event_Master.err_event_column_use_desc}"
                                                                               styleClass="error-message"
                                                                               /></td>
                                                        </tr> 
                                                    </tbody>
                                                </table>
                                            </div>

                                        </p:panel>

                                        <div  class="scrolling-div" style="margin-top:7px;">
                                            <table border="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" align="center">
                                                            <p:commandButton id="btn_add_new"
                                                                             icon="ui-icon-disk"
                                                                             process="pnl_new_entry,btn_add_new"
                                                                             update="pnl_new_entry,:form1:tbl_event_mst,:form1:growl1"
                                                                             value="Add New Event"
                                                                             onstart="if(!validate_new_event()){                                                                                 
                                                                             return false;}"                                                                                 
                                                                             actionListener="#{PIS_Event_Master.btn_add_new_clicked}"
                                                                             />
                                                        </td>
                                                    </tr>
                                                    <tr><td/>
                                                        <td align="right"> <a id="mandatory_text" class="mandatory-text_Ins">
                                                                <label id="l2" class="mandatory-text">*</label> - Mandatory Fields</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </p:tab>
                                </p:tabView>
                            </div>
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>