<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">    
    <ui:composition template="../../template.xhtml">
        <ui:define name="head">            
            <script type="text/javascript"  src="#{GlobalResources.project_path}/resources/js/formula _Evaluator.js"/>
            <style type="text/css">
                .component-width input.hasDatepicker  ,.component-width,.component-width select{
                    width:200px;
                } 
                .freq-input{width: 35px;text-align: right}
                .number-entry-5-2,.number-entry-7-2 ,.number-entry-5-0 ,.number-entry-10-2,.number-entry-3-0{text-align: right}                
                .sub-element-table,.sub-element-table td{padding: 0;padding-right: 3px;}
            </style>
            <script type="text/javascript">
                //<![CDATA[
                
                $(document).ready(function() {
                    // $('#tabview1\\:pnl_eligibility').hide();                                    
                });
                
                function ddl_ed_code_onchange(){
                    $('#tabview1\\:hyp_view_ed_master').hide();
                    if($('#tabview1\\:ddl_ed_code select').val().trim()!=''){
                        $('#tabview1\\:hyp_view_ed_master').show();
                    }
                }
                function ddl_formula_amt_flag_onchange(){
                    $('#tabview1\\:txt_amount').hide();
                    $('.formula-block').hide();
                    $('.block-instruction').hide();
                    if($('#tabview1\\:ddl_formula_amt_flag select').val()=='F'){
                        $('.formula-block').show();
                    }else if($('#tabview1\\:ddl_formula_amt_flag select').val()=='V'){
                        $('#tabview1\\:txt_amount').show();
                    } else if($('#tabview1\\:ddl_formula_amt_flag select').val()=='B'){
                        $('.block-instruction').show();
                    }                                                                         
                }
                function showFormulaDialog(){
                    $('#txt_str_box').val($('#tabview1\\:txt_formula_amt_value').val());
                    pw_dlg_formula.show();
                } 
                function validate_new_event(){
                    var valid = true;
                    $('#err_ddl_ed_code').text('');
                    $('#err_cal_start_date').text('');
                    $('#err_cal_wef_date').text('');
                    $('#err_ddl_payable_on_value_flag').text('');
                    $('#err_ddl_rule_config_unit').text('');
                    $('#err_ddl_rmgm_group').text('');
                    $('#err_ddl_formula_amt_flag').text('');
                    $('#err_txt_formula_amt_value').text('');
                    $('#err_ddl_eligi_consi_from').text('');
                    
                    if($('#tabview1\\:ddl_rmgm_group_input').val()==''){
                        $('#err_ddl_rmgm_group').text('Select Manageable Group');
                        valid=false;
                    }
                    if($('#tabview1\\:ddl_ed_code_input').val()==''){
                        $('#err_ddl_ed_code').text('Select EarnDeduction code');
                        valid=false;
                    }
                    if($('#tabview1\\:ddl_formula_amt_flag_input').val()=='F'){
                        if($('#tabview1\\:txt_formula_amt_value').val()==''){
                            $('#err_txt_formula_amt_value').text('Please enter formula');
                            valid=false;
                        }else{
                            $('#tabview1\\:hdn_formula_amt_value').val($('#tabview1\\:txt_formula_amt_value').val());
                        }
                    }else if($('#tabview1\\:ddl_formula_amt_flag_input').val()=='V'){
                        if($('#tabview1\\:txt_amount').val()==''){
                            $('#err_txt_formula_amt_value').text('Please enter amount');
                            valid=false;
                        }                        
                    }                    
                    if($('#tabview1\\:cal_start_date_input').val()==''){
                        $('#err_cal_start_date').text('Select Start Date');
                        valid=false;
                    }else if(pw_cal_end_date.getDate()!=null){
                        if(pw_cal_start_date.getDate()>pw_cal_end_date.getDate()){
                            $('#err_cal_start_date').text('Start date can not be greater than end date');
                            valid=false;
                        }
                    }
                    if($('#tabview1\\:cal_wef_date_input').val()==''){
                        $('#err_cal_wef_date').text('Select WEF Date');
                        valid=false;
                    }else if(pw_cal_start_date.getDate()>pw_cal_wef_date.getDate()){
                        $('#err_cal_wef_date').text('WEF Date can not be smaller than start date');
                        valid=false;
                    }else if(pw_cal_end_date.getDate()!=null && pw_cal_wef_date.getDate()>pw_cal_end_date.getDate()){
                        $('#err_cal_wef_date').text('WEF Date can not be geater than end date');
                        valid=false;
                    }                    
                    if($('#tabview1\\:ddl_payable_on_value_flag_input').val()==''){
                        $('#err_ddl_payable_on_value_flag').text('Select Payable on Value Flag');
                        valid=false;
                    }
                    if($('#tabview1\\:ddl_rule_config_unit_input').val()==''){
                        $('#err_ddl_rule_config_unit').text('Select Any Rule Config Unit');
                        valid=false;
                    }
                    return valid;
                }

                function btn_save_oncomplete(){
                    $('#tabview1\\:txt_formula_amt_value').val($('#tabview1\\:hdn_formula_amt_value').val());
                  
                }
  

                //]]>
            </script>
        </ui:define>
        <ui:define name="content">       
            <h:form id="form1" prependId="false" >
                <p:breadCrumb styleClass="component-margin">  
                    <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                    <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                    <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                    <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                    <p:menuitem value="Earn-Deduction Rule" url="#" />  
                </p:breadCrumb>  
                <div class="scrolling-div component-margin">
                    <div class="scrolling-div">
                        <h:panelGroup id="pnl_tbl_earndedn_mst">
                            <p:dataTable id="tbl_earndedn_mst"
                                         value="#{PIS_EarnDeduction.tbl_earndedn_mst}"
                                         var="item"
                                         paginator="true"
                                         rows="5"
                                         paginatorPosition="top"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                         rowsPerPageTemplate="5,10,15" 
                                         filterDelay="600"
                                         filteredValue="#{PIS_EarnDeduction.tbl_earndedn_mst_filtered}">
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:column sortBy="#{item.rmgmSrgKey.managGroupDesc}"
                                          filterBy="#{item.rmgmSrgKey.managGroupDesc}"
                                          headerText="Manage Group Description">#{item.rmgmSrgKey.managGroupDesc}</p:column>
                                <p:column sortBy="#{item.earndedncd}"
                                          filterBy="#{item.earndedncd}"
                                          headerText="Earn-Deduction Code">#{item.earndedncd}</p:column>
                                <p:column sortBy="#{item.earndednType}"
                                          filterBy="#{item.earndednType}"
                                          headerText="Earn-Deduction Type">
                                    <h:outputText  value="Occasional" rendered="#{item.earndednType=='O'}"/>
                                    <h:outputText  value="Regular" rendered="#{item.earndednType=='R'}"/>
                                </p:column>
                                <p:column sortBy="#{item.startDate}" headerText="Start Date">
                                    <h:outputText value="#{item.startDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column sortBy="#{item.wefDate}" headerText="WEF Date">
                                    <h:outputText value="#{item.wefDate}" >
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column sortBy="#{item.endDate}" headerText="End Date">
                                    <h:outputText value="#{item.endDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="width:1px" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                    <p:commandButton title="View Detail"
                                                     process=":form1:pnl_tbl_earndedn_mst"
                                                     update=":form1:tabview1:pnl_ed_detail_view"
                                                     icon="ui-icon-search"
                                                     onclick="setHighLight(this)"
                                                     actionListener="#{PIS_EarnDeduction.btn_view_detail_action}">
                                        <f:setPropertyActionListener value="#{item}"
                                                                     target="#{PIS_EarnDeduction.ent_FhrdEarndedn_detail}"/>
                                    </p:commandButton>
                                </p:column>
                                <p:column  style="width:1px" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">                                    
                                    <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}" 
                                                     title="Apply End Date" 
                                                     icon="ui-icon-clock"
                                                     process=":form1:pnl_tbl_earndedn_mst"
                                                     update=":form1:cal_apply_end_date"
                                                     onclick="pw_dlg_apply_end_date.show();"
                                                     actionListener="#{PIS_EarnDeduction.btn_apply_date_action}">
                                        <f:setPropertyActionListener value="#{item}"
                                                                     target="#{PIS_EarnDeduction.entFhrdEdRule_edit}"/>
                                    </p:commandButton>                                      
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div class="component-margin scrolling-div">
                        <p:tabView id="tabview1" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd or PIS_GlobalSettings.view_detail_master_table_fhrd}">     
                            <p:tab title="Detail View" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                <fhrd:dtl_earn_ded id="pnl_ed_detail_view" edSrgKey="#{PIS_EarnDeduction.ent_FhrdEarndedn_detail}" prependIdValue="tabview1:" 
                                                   edmSrgKeyTarget="#{PIS_EarnDeduction.ent_Earndednmst}"
                                                   edmSrgKeyUpdateId=":form1:dlg_earn_ded_master"/>                                    
                            </p:tab>
                            <p:tab title="Add New Earn-Deduction Rule" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                <p:panel id="pnl_add_new">
                                    <div class="scrolling-div">
                                        <table border="0" class="element-table" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="1px" class="entry-component-label">Rule Group:<label class="mandatory-text">*</label><button onclick="return false;" style="height: 1px;width: 1px;visibility: hidden"/></td>
                                                    <td width="1px">
                                                        <p:selectOneMenu id="ddl_rmgm_group"
                                                                         value="#{PIS_EarnDeduction.ddl_rmgm_group}"
                                                                         styleClass="component-width"
                                                                         valueChangeListener="#{PIS_EarnDeduction.ddl_rmgm_group_changed}">
                                                            <f:selectItems value="#{PIS_EarnDeduction.ddl_rmgm_group_options}"/>
                                                            <p:ajax event="change"
                                                                    process=":form1:tabview1:ddl_rmgm_group"
                                                                    update=":form1:tabview1:ddl_ed_code,:form1:tabview1:cal_start_date,:form1:tabview1:pnl_cal_end_date"
                                                                    oncomplete="ddl_ed_code_onchange()"/>
                                                        </p:selectOneMenu>
                                                        <br/><div id="err_ddl_rmgm_group" class="error-message"/>
                                                    </td>                                               
                                                    <td width="100%"></td>
                                                    <td class="entry-component-label" style="width:1px;">Earn-Deduction Code:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:selectOneMenu id="ddl_ed_code"
                                                                         onchange="ddl_ed_code_onchange()"
                                                                         value="#{PIS_EarnDeduction.ddl_ed_code}"
                                                                         valueChangeListener="#{PIS_EarnDeduction.ddl_ed_code_changed}"
                                                                         styleClass="component-width">
                                                            <f:selectItems value="#{PIS_EarnDeduction.ddl_ed_code_options}"/>
                                                            <p:ajax process="ddl_ed_code"
                                                                    update=":form1:tabview1:cal_start_date,:form1:tabview1:pnl_cal_end_date"/>
                                                        </p:selectOneMenu>
                                                        <br/><div id="err_ddl_ed_code" class="error-message"/>
                                                    </td>
                                                    <td style="min-width: 70px">
                                                        <p:commandLink value="View Detail" style="white-space: nowrap"
                                                                       actionListener="#{PIS_EarnDeduction.hyp_view_ed_master_clicked}"
                                                                       id="hyp_view_ed_master"
                                                                       process="@this,ddl_ed_code"
                                                                       update=":form1:dlg_earn_ded_master"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Formula/Amount/Block?:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:selectOneMenu id="ddl_formula_amt_flag"
                                                                         styleClass="component-width"
                                                                         value="#{PIS_EarnDeduction.ddl_formula_amt_flag}"
                                                                         onchange="ddl_formula_amt_flag_onchange()"
                                                                         >
                                                            <f:selectItem itemLabel="Formula" itemValue="F"/>
                                                            <f:selectItem itemLabel="Amount" itemValue="V"/>
                                                            <f:selectItem itemLabel="Block" itemValue="B"/>
                                                        </p:selectOneMenu>
                                                        <br/><div id="err_ddl_formula_amt_flag" class="error-message"/>
                                                    </td>
                                                    <td/>
                                                    <td class="entry-component-label">Rule Config Unit:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:selectOneMenu id="ddl_rule_config_unit"
                                                                         styleClass="component-width"
                                                                         value="#{PIS_EarnDeduction.ddl_rule_config_unit}">
                                                            <f:selectItem itemLabel="--- Select ---"/>
                                                            <f:selectItem itemLabel="Day" itemValue="D"/>
                                                            <f:selectItem itemLabel="Month" itemValue="M"/>
                                                            <f:selectItem itemLabel="Year" itemValue="Y"/>
                                                        </p:selectOneMenu>
                                                        <br/><div id="err_ddl_rule_config_unit" class="error-message"/>
                                                    </td>
                                                </tr>                                                
                                                <tr>
                                                    <td  class="entry-component-label" valign="top"  style="white-space: normal">Formula/Amount Value:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:inputText id="txt_amount" value="#{PIS_EarnDeduction.txt_amount}"                                                                     
                                                                     styleClass="component-width amount-block"/>
                                                        <p:inputTextarea  id="txt_formula_amt_value"
                                                                          cols="40" 
                                                                          rows="5"
                                                                          styleClass="component-width formula-block"
                                                                          readonly="true"
                                                                          />
                                                        <h:inputHidden id="hdn_formula_amt_value" value="#{PIS_EarnDeduction.txt_formula_amt_value}"/>
                                                        <p:commandButton  id="lnk_generate_vfb"                                                                        
                                                                          value="Generate Formula/Amount"
                                                                          onclick="showFormulaDialog();return false;"
                                                                          style="margin-top:10px;width:100%"
                                                                          icon="ui-icon-gear"
                                                                          styleClass="formula-block"
                                                                          process=":form1:tabview1:lnk_generate_vfb"
                                                                          />                                                        
                                                        <div class="entry-component-detail block-instruction" style="white-space: normal">(Please contact System Administrator if you want to create a block for rule configuration)</div>
                                                        <div id="err_txt_formula_amt_value" class="error-message"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="entry-component-label">Start Date:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:calendar  id="cal_start_date"
                                                                     widgetVar="pw_cal_start_date"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_EarnDeduction.cal_start_date}"
                                                                     mindate="#{PIS_EarnDeduction.cal_start_date_min}"
                                                                     maxdate="#{PIS_EarnDeduction.cal_start_date_max}"
                                                                     readonlyInput="true" 
                                                                     pattern="#{GlobalUtilities.dateFormat}"
                                                                     navigator="true">
                                                            <p:ajax  event="dateSelect"
                                                                     process="cal_start_date"
                                                                     update="cal_end_date,ddl_replaced_rule"
                                                                     listener="#{PIS_EarnDeduction.cal_start_date_changed}"/>
                                                        </p:calendar>
                                                        <br/><div id="err_cal_start_date" class="error-message"/>
                                                    </td>
                                                    <td/>
                                                    <td class="entry-component-label">End Date:<span class="end-date-mand mandatory-text">*</span></td>
                                                    <td>
                                                        <h:panelGroup id="pnl_cal_end_date">
                                                            <p:calendar  id="cal_end_date"
                                                                         widgetVar="pw_cal_end_date"
                                                                         styleClass="component-width"
                                                                         value="#{PIS_EarnDeduction.cal_end_date}"
                                                                         mindate="#{PIS_EarnDeduction.cal_end_date_min}"
                                                                         maxdate="#{PIS_EarnDeduction.cal_end_date_max}"
                                                                         readonlyInput="true"
                                                                         pattern="#{GlobalUtilities.dateFormat}"
                                                                         navigator="true">
                                                                <p:ajax event="dateSelect"
                                                                        process="cal_end_date"
                                                                        update="ddl_replaced_rule"
                                                                        listener="#{PIS_EarnDeduction.cal_end_date_changed}"/>
                                                            </p:calendar>
                                                            <script type="text/javascript">
                                                                if($('#tabview1\\:cal_end_date_input').val().trim()==''){
                                                                    $('.end-date').show();
                                                                    $('.end-date-mand').hide();
                                                                }else{
                                                                    $('.end-date').hide()
                                                                    $('.end-date-mand').show();
                                                                }
                                                            </script>
                                                        </h:panelGroup>

                                                    </td>
                                                    <td>
                                                        <p:commandLink value="Clear" styleClass="end-date"
                                                                       actionListener="#{PIS_EarnDeduction.resetEndDate}"
                                                                       update="cal_end_date,ddl_replaced_rule"
                                                                       />
                                                    </td>
                                                </tr>                                                       
                                                <tr>
                                                    <td class="entry-component-label">WEF Date:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:calendar  id="cal_wef_date"
                                                                     widgetVar="pw_cal_wef_date"
                                                                     styleClass="component-width"
                                                                     value="#{PIS_EarnDeduction.cal_wef_date}"
                                                                     readonlyInput="true"
                                                                     pattern="#{GlobalUtilities.dateFormat}"
                                                                     navigator="true"/>
                                                        <br/><div id="err_cal_wef_date" class="error-message"/>
                                                    </td>
                                                    <td/>
                                                    <td class="entry-component-label"></td>
                                                    <td class="entry-component-detail"></td>
                                                </tr>

                                                <tr style="display: none">
                                                    <td class="entry-component-label">Replaced Rule:</td>
                                                    <td colspan="3">
                                                        <p:selectOneMenu id="ddl_replaced_rule"
                                                                         widgetVar="pw_ddl_replaced_rule"
                                                                         value="#{PIS_EarnDeduction.ddl_replaced_rule}"
                                                                         converter="omnifaces.SelectItemsConverter"
                                                                         styleClass="component-width"
                                                                         var="ed_srg_key"  
                                                                         panelStyle="max-width:700px;max-height:230px;overflow:auto;"                                                             
                                                                         >                    

                                                            <f:selectItem itemLabel="--- Select ---" itemValue="#{null}" itemDisabled="true"/>
                                                            <f:selectItems value="#{PIS_EarnDeduction.ddl_replaced_rule_options}"                                                                       
                                                                           itemLabel="#{item.rmgmSrgKey.managGroupDesc} --- #{item.earndedncd} --- #{item.rmgmSrgKey.rgcSrgKey.catDesc}"
                                                                           itemValue="#{item}"
                                                                           var="item"/>
                                                            <p:column>
                                                                <h:outputText value="Group" style="font-weight: bold" rendered="#{ed_srg_key==null}"/>
                                                                <h:panelGroup rendered="#{ed_srg_key!=null}">
                                                                    <h:outputText value="#{ed_srg_key.rmgmSrgKey.managGroupDesc}"/>
                                                                </h:panelGroup> 
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="Earn-Dedn Code" style="font-weight: bold" rendered="#{ed_srg_key==null}"/>
                                                                <h:panelGroup rendered="#{ed_srg_key!=null}">
                                                                    <h:outputText value="#{ed_srg_key.earndedncd}"/>
                                                                </h:panelGroup> 
                                                            </p:column>
                                                            <p:column>
                                                                <h:outputText value="Category" style="font-weight: bold" rendered="#{ed_srg_key==null}"/>
                                                                <h:panelGroup rendered="#{ed_srg_key!=null}">
                                                                    <h:outputText value="#{ed_srg_key.rmgmSrgKey.rgcSrgKey.catDesc}"/>
                                                                </h:panelGroup> 
                                                            </p:column>
                                                            <p:column>  
                                                                <h:outputText value="Rule Description" rendered="#{ed_srg_key==null}" style="font-weight: bold"/>
                                                                <h:panelGroup rendered="#{ed_srg_key!=null}">
                                                                    <h:outputText value="#{ed_srg_key.startDate}">
                                                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                    </h:outputText> To
                                                                    <h:outputText value="#{ed_srg_key.endDate}">
                                                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                                                    </h:outputText>
                                                                </h:panelGroup>
                                                            </p:column>  
                                                        </p:selectOneMenu>
                                                    </td>
                                                </tr>    
                                                <tr>
                                                    <td class="entry-component-label">Designation Dependent:<label class="mandatory-text">*</label></td>
                                                    <td>
                                                        <p:selectBooleanCheckbox id="chk_desig_dependent"
                                                                                 value="#{PIS_EarnDeduction.chk_desig_dependent}"/>
                                                    </td>
                                                    <td></td>
                                                    <td class="entry-component-label"></td>
                                                    <td></td>                                                    
                                                </tr>
                                                <tr class="component-margin">
                                                    <td colspan="6" align="center">
                                                        <p:commandButton id="btn_add_new"
                                                                         process=":form1:tabview1:pnl_add_new"      
                                                                         update=":form1:growl1,:form1:tabview1:pnl_add_new,:form1:pnl_tbl_earndedn_mst" 
                                                                         value="Add New Earn-Deduction Rule"
                                                                         icon="ui-icon-disk"
                                                                         onclick="if(!validate_new_event()){return false}"
                                                                         oncomplete="btn_save_oncomplete()"
                                                                         actionListener="#{PIS_EarnDeduction.btn_add_new_action}"
                                                                         />
                                                    </td>
                                                </tr>                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <script type="text/javascript">
                                        ddl_ed_code_onchange();
                                        ddl_formula_amt_flag_onchange();
                                        $('#tabview1\\:txt_amount').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'9999999999999999999.99',aPad: false});
                                        
                                    </script>
                                    <div  align="right">
                                        <span class="mandatory-text_Ins">
                                            <label class="mandatory-text">*</label> - Mandatory Fields</span>
                                    </div>
                                </p:panel>                                       

                            </p:tab>                            
                        </p:tabView>
                    </div>

                    <p:dialog widgetVar="pw_dlg_apply_end_date"
                              id="dlg_apply_end_date"
                              modal="true"
                              header="Apply End Date">
                        <table class="element-table">
                            <tr>
                                <td class="entry-component-label">End Date:</td>
                                <td><p:calendar id="cal_apply_end_date"
                                                widgetVar="pw_cal_apply_end_date"
                                                readonlyInput="true"
                                                pattern="#{GlobalUtilities.dateFormat}"
                                                navigator="true"
                                                value="#{PIS_EarnDeduction.cal_apply_end_date}"
                                                mindate="#{PIS_EarnDeduction.cal_apply_end_date_min}"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p:commandButton id="btn_apply_end_date"
                                                     value="Apply End Date"
                                                     icon="ui-icon-clock"
                                                     onclick="pw_confirm_end_date.show();return false;"/>
                                </td>
                            </tr>
                        </table>
                    </p:dialog>
                    <p:confirmDialog widgetVar="pw_confirm_end_date" 
                                     message="Do you want to continue with applying end date?"
                                     style="width:300px">
                        <p:commandButton
                            id="btn_update_dlg"                        
                            value="Apply End Date"
                            icon="ui-icon-clock"
                            process="cal_apply_end_date,btn_update_dlg"
                            update="pnl_tbl_earndedn_mst,growl1" 
                            oncomplete="pw_confirm_end_date.hide();pw_dlg_apply_end_date.hide();"
                            actionListener="#{PIS_EarnDeduction.btn_apply_end_date_clicked}"
                            />
                        <p:commandButton value="Cancel"
                                         onclick="pw_confirm_end_date.hide();return false;"/>
                    </p:confirmDialog>                                                      

                    <div class="scrolling-div">
                        <p:dialog id="dlg_formula"
                                  header="Generate Formula"
                                  height="400"
                                  width="700"
                                  modal="true"
                                  resizable="false"
                                  closable="false"
                                  widgetVar="pw_dlg_formula">
                            <div class="scrolling-div" align="left">
                                <p:inputTextarea cols="55" rows="5"
                                                 id="txt_str_box"
                                                 value="#{PIS_EarnDeduction.txt_str_box}"
                                                 style="font-size:18px;"
                                                 readonly="true"/>
                            </div>
                            <div class="scrolling-div">
                                <table border="0" cellpadding="3" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="25%">
                                                <table border="0" cellpadding="3" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td><p:commandButton value="1"
                                                                                 style="width:60px;"
                                                                                 id="btn_1"
                                                                                 onclick="insert_digit(1);return false"/></td>
                                                            <td><p:commandButton value="2"
                                                                                 style="width:60px;"
                                                                                 id="btn_2"
                                                                                 onclick="insert_digit(2);return false"/></td>
                                                            <td><p:commandButton value="3"
                                                                                 style="width:60px;"
                                                                                 id="btn_3"
                                                                                 onclick="insert_digit(3);return false"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td><p:commandButton value="4"
                                                                                 style="width:60px;"
                                                                                 id="btn_4"
                                                                                 onclick="insert_digit(4);return false"/></td>
                                                            <td><p:commandButton value="5"
                                                                                 style="width:60px;"
                                                                                 id="btn_5"
                                                                                 onclick="insert_digit(5);return false"/></td>
                                                            <td><p:commandButton value="6"
                                                                                 style="width:60px;"
                                                                                 id="btn_6"
                                                                                 onclick="insert_digit(6);return false"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td><p:commandButton value="7"
                                                                                 style="width:60px;"
                                                                                 id="btn_7"
                                                                                 onclick="insert_digit(7);return false"/></td>
                                                            <td><p:commandButton value="8"
                                                                                 style="width:60px;"
                                                                                 id="btn_8"
                                                                                 onclick="insert_digit(8);return false"/></td>
                                                            <td><p:commandButton value="9"
                                                                                 style="width:60px;"
                                                                                 id="btn_9"
                                                                                 onclick="insert_digit(9);return false"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><p:commandButton value="0"
                                                                                             style="width:130px;"
                                                                                             id="btn_0"
                                                                                             onclick="insert_digit(0);return false"/></td>
                                                            <td><p:commandButton value="."
                                                                                 style="width:60px;"
                                                                                 id="btn_dot"
                                                                                 onclick="insert_dot('.');return false"/></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="18%">
                                                <table border="0" cellpadding="3" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p:commandButton value="+"
                                                                                 style="width:40px;"
                                                                                 onstart="return validate_operation('btn_plus')"
                                                                                 onclick="insert_operator('+');return false"
                                                                                 id="btn_plus"/>
                                                            </td>
                                                            <td>
                                                                <p:commandButton value="--"
                                                                                 onstart="return validate_operation('btn_minus')"
                                                                                 style="width:40px;font-size:10px;"
                                                                                 onclick="insert_operator('-');return false"
                                                                                 id="btn_minus"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p:commandButton value="*"
                                                                                 onstart="return validate_operation('btn_cross')"
                                                                                 style="width:40px;"
                                                                                 onclick="insert_operator('*');return false"
                                                                                 id="btn_cross"/>
                                                            </td>
                                                            <td>
                                                                <p:commandButton value="/"
                                                                                 onstart="return validate_operation('btn_div')"
                                                                                 style="width:40px;"
                                                                                 onclick="insert_operator('/');return false"
                                                                                 id="btn_div"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p:commandButton value="("
                                                                                 style="width:40px;"
                                                                                 onclick="insert_left_brace('(','(');return false"
                                                                                 id="btn_lp"/>
                                                            </td>
                                                            <td>
                                                                <p:commandButton value=")"
                                                                                 style="width:40px;"
                                                                                 onclick="insert_right_brace(')',')');return false"
                                                                                 id="btn_rp"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <p:commandButton title="Remove Last Input"
                                                                                 style="width:100%;"
                                                                                 iconPos="center"
                                                                                 icon="ui-icon-arrowthick-1-w"
                                                                                 id="btn_remove"
                                                                                 onclick="remove_last_value();return false;"/>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td valign="top">
                                                <div class="scrolling-div">
                                                    <table border="0" width="100%" cellpadding="3" >
                                                        <tbody>
                                                            <tr style="visibility: hidden">
                                                                <td><h:outputText  value="Payable Variables:"
                                                                                   styleClass="entry-component-label"/></td>
                                                                <td><p:selectOneMenu id="ddl_payable_variables"
                                                                                     style="width:150px;"
                                                                                     value="#{PIS_EarnDeduction.ddl_payable_variables}"
                                                                                     onchange="insert_ddl_fun($('#ddl_payable_variables_input').val());$('#ddl_payable_variables_input').val('');">
                                                                        <f:selectItem itemLabel="---Select Any---"/>
                                                                        <f:selectItem itemValue="EMP_PAYABLE_DAYS" itemLabel="EMP_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="ORG_PAYABLE_DAYS" itemLabel="ORG_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="FINAL_PAYABLE_DAYS" itemLabel="FINAL_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="TOTAL_ORG_PAYABLE_DAYS" itemLabel="TOTAL_ORG_PAYABLE_DAYS"/>
                                                                    </p:selectOneMenu></td>                                                                      
                                                            </tr>                                                                   
                                                            <tr>
                                                                <td><h:outputText  value="EarnDeduction Code:"
                                                                                   styleClass="entry-component-label"/></td>
                                                                <td>
                                                                    <p:selectOneMenu id="ddl_ed_code_list"
                                                                                     style="width:150px;"
                                                                                     value="#{PIS_EarnDeduction.ddl_ed_code_list}"
                                                                                     onchange="insert_ddl_code($('#ddl_ed_code_list_input').val())">
                                                                        <f:selectItems value="#{PIS_EarnDeduction.ddl_ed_code_list_options}"/>  
                                                                        <f:selectItem itemValue="EMP_PAYABLE_DAYS" itemLabel="EMP_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="ORG_PAYABLE_DAYS" itemLabel="ORG_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="FINAL_PAYABLE_DAYS" itemLabel="FINAL_PAYABLE_DAYS"/>
                                                                        <f:selectItem itemValue="TOTAL_ORG_PAYABLE_DAYS" itemLabel="TOTAL_ORG_PAYABLE_DAYS"/>
                                                                    </p:selectOneMenu>
                                                                </td>
                                                            </tr>
                                                            <tr style="visibility: hidden">
                                                                <td><h:outputText  value="Leave Code:"
                                                                                   styleClass="entry-component-label"/></td>
                                                                <td>
                                                                    <p:selectOneMenu id="ddl_leave_code_list"
                                                                                     style="width:150px;"
                                                                                     value="#{PIS_EarnDeduction.ddl_leave_code_list}"
                                                                                     onchange="insert_ddl_code($('#ddl_leave_code_list_input').val())">
                                                                        <f:selectItems value="#{PIS_EarnDeduction.ddl_leave_code_list_options}"/>                                                                               
                                                                    </p:selectOneMenu>
                                                                </td>                                                                       
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="scrolling-div">
                                                    <p:commandButton value="Validate String"
                                                                     icon="ui-icon-circle-check"
                                                                     style="width:150px;margin-left:5px;"
                                                                     id="btn_validate"
                                                                     onclick="if(is_valid()){SetAndShowDialog('GeneralDialog','Formula is valid','No problem found in formula');}return false;"/>
                                                    <p:commandButton value="Save Changes"
                                                                     icon="ui-icon-disk"
                                                                     style="width:150px;margin-left:10px;"
                                                                     id="btn_add_string"
                                                                     onclick="
                                                                         if(is_valid()){
                                                                             $('#tabview1\\:txt_formula_amt_value').val($('#txt_str_box').val());
                                                                             $('#hdn_formula_string').val($('#txt_str_box').val());
                                                                             pw_dlg_formula.hide();
                                                                             clear_input();
                                                                         }return false;
                                                                     "/>
                                                    <p:commandButton value="Clear"
                                                                     icon="ui-icon-refresh"
                                                                     style="width:150px;margin-left:10px;"
                                                                     id="btn_clear"
                                                                     onclick="clear_input();return false;"/>                                                   
                                                    <p:commandButton value="Exit"
                                                                     onclick="pw_dlg_confirm_close.show();return false"
                                                                     style="width:150px;margin-left:10px;"
                                                                     icon="ui-icon-closethick"
                                                                     id="btn_exit"
                                                                     />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p:dialog>                        
                    </div>
                </div>
                <fhrd:dlg_earn_ded_master id="dlg_earn_ded_master" edmSrgKey="#{PIS_EarnDeduction.ent_Earndednmst}"/>
                <p:confirmDialog id="dlg_confirm_close"
                                 widgetVar="pw_dlg_confirm_close"
                                 header="Confirmation"
                                 message="All changes will be discarded are you sure to exit?">
                    <p:commandButton value="Yes, exit formula window"
                                     onclick="clear_input();pw_dlg_confirm_close.hide();pw_dlg_formula.hide();return false;s"
                                     />
                    <p:commandButton value="No" onclick="pw_dlg_confirm_close.hide();return false;"
                                     />
                </p:confirmDialog>
                <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
            </h:form>
        </ui:define>
    </ui:composition>       
</html>
