<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">        
    <ui:composition template="../../template.xhtml">
        <ui:define name="head">
            <style type="text/css">
                input.hasDatepicker  ,.component-width,.component-width select{
                    width:160px;
                    max-width: 170px;
                }
                .ui-growl-item ul{padding: 0}
            </style>
            <script type="text/javascript">
                //<![CDATA[
                function validate_new_group(){
                    var valid=true;
                    $('#err_txt_group_desc').text('');
                    $('#err_ddl_category').text('');
                    $('#err_picklst_group').text('');
                    $('#err_cal_start_date').text('');
                    $('#err_ddl_group_purpose').text('');
                    $('#err_ddl_contract_type').text('');
                    if($('#txt_group_desc').val()==''){ 
                        $('#err_txt_group_desc').text('Enter GroupDescription');
                        valid=false;
                    }
                    if(pw_cal_start_date.getDate()==null){
                        $('#err_cal_start_date').text('Select Start Date');
                        valid=false;
                    }else{
                        if(pw_cal_end_date.getDate()!=null && pw_cal_start_date.getDate()>pw_cal_end_date.getDate()){
                            $('#err_cal_end_date').text('Start date can not be greater than end date');
                            valid=false;
                        }
                    }                    
                    if($('#ddl_group_purpose_input').val()=='M'){
                        if($('#ddl_category_input').val()==''){                                                
                            $('#err_ddl_category').text('Select Category');
                            valid=false;
                        }
                    }
                    if($('#ddl_group_purpose_input').val()==''){
                        $('#err_ddl_group_purpose').text('Select Group Purpose');
                        valid=false;
                    }else if($('#ddl_group_purpose_input').val()=='A'){                        
                        if($('.ui-picklist-target li').length==0){      
                            $('#err_picklst_group').text('Select any group');
                            valid=false;
                        }
                    }                    
                    if($('#ddl_contract_type_input').val()==''){
                        $('#err_ddl_contract_type').text('Select Contract Type');
                        valid=false;
                    }
                    
                    return valid;
                }

                function ddl_group_purpose_onchange(){
                    if($('#ddl_group_purpose_input').val()==''){                        
                        $('.applicable-group').hide();
                        $('.manageable-group').hide();
                    }
                    else if($('#ddl_group_purpose_input').val()=='M'){                        
                        $('.applicable-group').hide();
                        $('.manageable-group').show();
                    }
                    else if($('#ddl_group_purpose_input').val()=='A'){                        
                        $('.applicable-group').show();                        
                        $('.manageable-group').hide();
                    }
                }
                function ddl_alternate_group_onchange(){
                    if($('#ddl_alternate_group select').val().trim()==''){
                        $('#hyp_view_alternate_group').hide();
                    }else{
                        $('#hyp_view_alternate_group').show();
                    }
                }
                
                //]]>
            </script>
        </ui:define>
        <ui:define name="content">       
            <h:form id="form1" prependId="false" >
                <p:breadCrumb styleClass="component-margin">  
                    <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                    <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                    <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                    <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                    <p:menuitem value="Rule Group Master" url="#" />  
                </p:breadCrumb>  
                <p:tabView id="tabview1" styleClass="component-margin">
                    <p:tab title="Manageable Groups" >
                        <div class="scrolling-div">
                            <h:panelGroup id="pnl_tbl_rule_group_mst">
                                <p:dataTable id="tbl_rule_group_mst"
                                             value="#{PIS_Rule_Group_Master.tbl_rule_group_mst}"
                                             filteredValue="#{PIS_Rule_Group_Master.tbl_rule_group_mst_filtered}"
                                             var="item"
                                             paginator="true"
                                             rows="5"
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="5,10,15"
                                             filterDelay="600">
                                    <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>                                    
                                    <p:column sortBy="#{item.managGroupDesc}"
                                              filterBy="#{item.managGroupDesc}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="Group Description">#{item.managGroupDesc}</p:column>
                                    <p:column sortBy="#{item.rgcSrgKey.catDesc}"
                                              filterBy="#{item.rgcSrgKey.catDesc}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="Category">#{item.rgcSrgKey.catDesc}</p:column>
                                    <p:column sortBy="#{item.contractTypeFlag}"
                                              filterBy="#{item.contractTypeFlag}"
                                              filterOptions="#{PIS_Rule_Group_Master.filter_contract_type}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="exact"
                                              headerText="Contract Type">#{item.contractTypeFlag=='S'?'Supplement':'Main'}</p:column>
                                    <p:column headerText="Start Date">
                                        <h:outputText value="#{item.startDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="End Date">
                                        <h:outputText value="#{item.endDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column> 
                                    <p:column rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}" style="width:1px">
                                        <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}"                                                  
                                                         title="Apply End Date"
                                                         icon="ui-icon-clock"
                                                         onclick="pw_dlg_apply_end_date_m.show();"
                                                         process=":form1:tabview1:pnl_tbl_rule_group_mst"
                                                         update=":form1:cal_apply_end_date_m"
                                                         actionListener="#{PIS_Rule_Group_Master.btn_apply_date_m_action}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Rule_Group_Master.entRuleManagGroupMst_edit}"/>
                                        </p:commandButton>                           
                                    </p:column>
                                    <p:column  style="width:1px">
                                        <p:commandButton title="View Alternate Manageable Groups"
                                                         icon="ui-icon-link"
                                                         onclick="pw_dlg_view_alternate_group.show();"
                                                         process=":form1:tabview1:pnl_tbl_rule_group_mst"
                                                         update=":form1:pnl_tbl_view_alt_manageable_group"
                                                         actionListener="#{PIS_Rule_Group_Master.btn_view_alternate_group_action(item)}">                                            
                                        </p:commandButton>                           
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </div>
                    </p:tab>    
                    <p:tab title="Applicable Groups">
                        <div class="scrolling-div">
                            <h:panelGroup id="pnl_tbl_rule_appl_group_mst">
                                <p:dataTable id="tbl_rule_appl_group_mst"
                                             value="#{PIS_Rule_Group_Master.tbl_rule_appl_group_mst}"
                                             filteredValue="#{PIS_Rule_Group_Master.tbl_rule_appl_group_mst_filtered}"
                                             var="item"
                                             paginator="true"
                                             rows="5"   
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="5,10,15"
                                             filterDelay="600">
                                    <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>                                    
                                    <p:column sortBy="#{item.applGroupDesc}"
                                              filterBy="#{item.applGroupDesc}"
                                              filterMatchMode="contains"
                                              filterStyle="text-transform:uppercase"
                                              headerText="Group Description">#{item.applGroupDesc}</p:column>
                                    <p:column headerText="Start Date">
                                        <h:outputText value="#{item.startDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="End Date">
                                        <h:outputText value="#{item.endDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}"  style="width:1px">
                                        <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}"                                                  
                                                         title="Apply End Date"
                                                         icon="ui-icon-clock"
                                                         onclick="pw_dlg_apply_end_date_a.show();"
                                                         process=":form1:tabview1:pnl_tbl_rule_appl_group_mst"
                                                         update=":form1:cal_apply_end_date_a"
                                                         actionListener="#{PIS_Rule_Group_Master.btn_apply_date_a_action}">
                                            <f:setPropertyActionListener value="#{item}"
                                                                         target="#{PIS_Rule_Group_Master.entRuleApplGroupMst_edit}"/>
                                        </p:commandButton>                           
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </div>
                    </p:tab>
                    <p:tab title="Group Relations">
                        <div class="scrolling-div">
                            <h:panelGroup id="pnl_tree_tbl_main">
                                <p:treeTable
                                    id="tree_tbl_main"
                                    binding="#{PIS_Rule_Group_Master.tree_tbl_group}" 
                                    var="document"
                                    style="width:100%;">
                                    <p:column headerText="Applicable Group">#{document.level==1?document.group_desc:''}</p:column>                                    
                                    <p:column headerText="Manageable Group">#{document.level==2?document.group_desc:''}</p:column>                                    
                                    <p:column headerText="Category Description">#{document.cat_desc}</p:column>
                                    <p:column headerText="Start Date">
                                        <h:outputText value="#{document.start_date}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column headerText="End Date">
                                        <h:outputText value="#{document.end_date}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                    </p:column>

                                </p:treeTable>
                            </h:panelGroup>
                        </div>
                    </p:tab>
                </p:tabView>
                <div class="component-margin scrolling-div">
                    <p:panel id="pnl_add_new_rule_group" header="Add New Group" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                        <div class="scrolling-div">
                            <table class="element-table">
                                <tbody>
                                    <tr style="white-space:nowrap;" >
                                        <td width="1" class="entry-component-label">Group Description:<label class="mandatory-text">*</label></td>
                                        <td width="230">
                                            <p:inputText id="txt_group_desc"
                                                         maxlength="500"
                                                         style="text-transform:uppercase"
                                                         styleClass="component-width"
                                                         value="#{PIS_Rule_Group_Master.txt_group_desc}"/>
                                            <br/><div id="err_txt_group_desc" class="error-message"/>
                                        </td>
                                        <td width="1" class="entry-component-label">Group Purpose:<label class="mandatory-text">*</label>
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_group_purpose"
                                                             styleClass="component-width"
                                                             value="#{PIS_Rule_Group_Master.ddl_group_purpose}"
                                                             onchange="ddl_group_purpose_onchange()"
                                                             valueChangeListener="#{PIS_Rule_Group_Master.ddl_group_purpose_changed}">
                                                <f:selectItem itemLabel="--- Select ---"/>
                                                <f:selectItem itemLabel="APPLICABLE GROUP" itemValue="A" />
                                                <f:selectItem itemLabel="MANAGEABLE GROUP" itemValue="M" />
                                                <p:ajax event="change"
                                                        process="ddl_group_purpose"
                                                        update="ddl_group_purpose"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_group_purpose" class="error-message"/>
                                        </td>

                                    </tr>
                                    <tr style="white-space:nowrap;">
                                        <td class="entry-component-label">Start Date:<label class="mandatory-text">*</label></td>
                                        <td>
                                            <p:calendar id="cal_start_date"
                                                        widgetVar="pw_cal_start_date"
                                                        value="#{PIS_Rule_Group_Master.cal_start_date}"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"                                                                                                                
                                                        navigator="true"     yearRange="c-50:c"                                                           
                                                        styleClass="component-width">
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_Rule_Group_Master.cal_start_date_changed}"
                                                        process="cal_start_date"
                                                        update="cal_end_date,ddl_category,ddl_alternate_group,picklst_group"/>
                                            </p:calendar>
                                            <br/><div id="err_cal_start_date" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label">End Date:</td>
                                        <td>
                                            <p:calendar id="cal_end_date"
                                                        widgetVar="pw_cal_end_date"
                                                        value="#{PIS_Rule_Group_Master.cal_end_date}"
                                                        mindate="#{PIS_Rule_Group_Master.cal_end_date_min}"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"  
                                                        navigator="true"                                                                
                                                        styleClass="component-width">
                                                <p:ajax event="dateSelect"
                                                        listener="#{PIS_Rule_Group_Master.cal_end_date_changed}"
                                                        process="cal_end_date"
                                                        update="ddl_category,ddl_alternate_group,picklst_group"/>
                                            </p:calendar>

                                            <br/>
                                            <div id="err_cal_end_date" class="error-message"/>
                                        </td>
                                        <td>
                                            <p:commandLink
                                                value="Clear"
                                                actionListener="#{PIS_Rule_Group_Master.reset_cal_end_date}"
                                                update="cal_end_date,ddl_category,ddl_alternate_group,picklst_group"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">Contract Type:<label class="mandatory-text">*</label></td>
                                        <td>
                                            <p:selectOneMenu id="ddl_contract_type"
                                                             styleClass="component-width"
                                                             value="#{PIS_Rule_Group_Master.ddl_contract_type}"
                                                             valueChangeListener="#{PIS_Rule_Group_Master.ddl_contract_type_changed}">
                                                <f:selectItem itemValue="" itemLabel="--- Select ---"/>
                                                <f:selectItem itemValue="M" itemLabel="Main"/>
                                                <f:selectItem itemValue="S" itemLabel="Supplement"/>
                                                <p:ajax event="change"
                                                        process="ddl_group_purpose,ddl_contract_type"
                                                        update="ddl_group_purpose,picklst_group,ddl_alternate_group"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_contract_type" class="error-message"/>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr style="white-space:nowrap;" class="manageable-group">
                                        <td width="1" style="white-space:nowrap;" class="entry-component-label">Category:<label class="mandatory-text">*</label></td>
                                        <td>
                                            <p:selectOneMenu id="ddl_category"                                                                     
                                                             styleClass="component-width"
                                                             value="#{PIS_Rule_Group_Master.ddl_category}"
                                                             valueChangeListener="#{PIS_Rule_Group_Master.ddl_category_changed}">
                                                <f:selectItems value="#{PIS_Rule_Group_Master.ddl_category_options}" />
                                                <p:ajax
                                                    event="change"
                                                    process="ddl_category"                                                            
                                                    update="ddl_alternate_group"                                                        
                                                    oncomplete="ddl_alternate_group_onchange()"
                                                    />
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_category" class="error-message"/>
                                        </td>
                                        <td class="entry-component-label">
                                            <h:outputText value="Alternate Manageable Group:"/></td>
                                        <td width="1px">
                                            <p:selectOneMenu id="ddl_alternate_group"
                                                             onchange="ddl_alternate_group_onchange()"
                                                             styleClass="component-width"
                                                             value="#{PIS_Rule_Group_Master.ddl_alternate_group}">
                                                <f:selectItems value="#{PIS_Rule_Group_Master.ddl_alternate_group_options}"/>
                                            </p:selectOneMenu>
                                            <br/><div id="err_ddl_alternate_group" class="error-message"/>
                                        </td>
                                        <td>
                                            <p:commandLink
                                                value="View Alternate Manageable Groups"
                                                oncomplete="pw_dlg_view_alternate_group.show();"
                                                process="ddl_alternate_group,@this"
                                                update=":form1:pnl_tbl_view_alt_manageable_group"
                                                id="hyp_view_alternate_group"
                                                actionListener="#{PIS_Rule_Group_Master.hyp_view_alternate_group}"/>                           
                                        </td>
                                    </tr>
                                    <tr style="white-space:nowrap;" class="applicable-group">
                                        <td valign="top" class="entry-component-label">
                                            <br/>   <div  value="Subset Group:"
                                                          id="lbl_subset_group"
                                                          styleClass="entry-component-label"/>Subgroups :<label class="mandatory-text">*</label></td>
                                        <td colspan="4">  
                                            <br/>
                                            <p:pickList id="picklst_group"
                                                        value="#{PIS_Rule_Group_Master.picklst_group}"                                                            
                                                        var="lst_group_m"
                                                        style="margin-top:-10px;"
                                                        converter="PisDynamicConverter"                                                        
                                                        showSourceControls="true"
                                                        showTargetControls="true"
                                                        itemLabel="#{lst_group_m.managGroupDesc}"
                                                        itemValue="#{lst_group_m}">
                                                <f:facet name="sourceCaption">All Manageable Groups</f:facet>  
                                                <f:facet name="targetCaption">Selected Manageable Groups</f:facet>  
                                            </p:pickList>
                                            <br/><div id="err_picklst_group" class="error-message"/>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td/>
                                        <td colspan="3" align="center">
                                            <p:commandButton id="btn_add_new"
                                                             icon="ui-icon-disk"
                                                             process="pnl_add_new_rule_group"
                                                             update="pnl_add_new_rule_group,
                                                             tabview1:pnl_tbl_rule_group_mst,
                                                             tabview1:pnl_tbl_rule_appl_group_mst,
                                                             tabview1:pnl_tree_tbl_main,growl1,
                                                             cal_start_date,cal_end_date"
                                                             value="Add New Rule Group"
                                                             style="white-space:nowrap;"
                                                             onclick="if(!validate_new_group()){return false;}" 
                                                             actionListener="#{PIS_Rule_Group_Master.btn_add_new_action}"/>
                                        </td>
                                    </tr>
                                    <tr><td align="right" colspan="4"> <span id="mandatory_text" class="mandatory-text_Ins">
                                                <label class="mandatory-text">*</label> - Mandatory Fields</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <script type="text/javascript">
                            ddl_group_purpose_onchange();                    
                            ddl_alternate_group_onchange()
                        </script>
                    </p:panel>
                </div>
                <p:dialog id="dlg_view_alternate_group"
                          widgetVar="pw_dlg_view_alternate_group"
                          header="Alternate Manageable Groups"
                          width="700"
                          height="250"
                          modal="true">
                    <div>
                        <h:panelGroup id="pnl_tbl_view_alt_manageable_group">
                            <p:dataTable id="tbl_view_alt_manageable_group"
                                         value="#{PIS_Rule_Group_Master.tbl_view_alt_manageable_group}"
                                         var="item"                                  
                                         filterDelay="600">
                                <p:column headerText="Group Description">#{item.managGroupDesc}</p:column>
                                <p:column headerText="Category">#{item.rgcSrgKey.catDesc}</p:column>
                                <p:column headerText="Start Date">
                                    <h:outputText value="#{item.startDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End Date">
                                    <h:outputText value="#{item.endDate}">
                                        <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                    </h:outputText>
                                </p:column> 
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </p:dialog>
                <p:dialog widgetVar="pw_dlg_apply_end_date_m"
                          id="dlg_apply_end_date_m"
                          modal="true"
                          header="Apply End Date">
                    <h:panelGroup id="pnl_dlg_apply_end_date_m">
                        <table class="element-table">
                            <tr>
                                <td class="entry-component-label">End Date:</td>
                                <td><p:calendar id="cal_apply_end_date_m"
                                                widgetVar="pw_cal_apply_end_date_m"
                                                readonlyInput="true"
                                                pattern="#{GlobalUtilities.dateFormat}"
                                                navigator="true"
                                                value="#{PIS_Rule_Group_Master.cal_apply_end_date_m}"
                                                mindate="#{PIS_Rule_Group_Master.cal_apply_end_date_m_min}"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p:commandButton id="btn_apply_end_date"
                                                     value="Apply End Date"
                                                     onclick="pw_confirm_end_date_m.show();return false;"
                                                     icon="ui-icon-clock"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>
                </p:dialog>

                <p:confirmDialog widgetVar="pw_confirm_end_date_m" 
                                 message="Do you want to continue with applying end date?"
                                 style="width:300px">
                    <p:commandButton
                        id="btn_update_dlg_m"                        
                        value="Apply End Date"
                        icon="ui-icon-clock"
                        process="cal_apply_end_date_m,btn_update_dlg_m"
                        update=":form1:tabview1:pnl_tbl_rule_group_mst,growl1" 
                        oncomplete="pw_confirm_end_date_m.hide();pw_dlg_apply_end_date_m.hide();"
                        actionListener="#{PIS_Rule_Group_Master.btn_apply_end_date_m_clicked}"
                        />
                    <p:commandButton value="Cancel"
                                     onclick="pw_confirm_end_date_m.hide();return false;"/>
                </p:confirmDialog>

                <p:dialog widgetVar="pw_dlg_apply_end_date_a"
                          id="dlg_apply_end_date"
                          modal="true"
                          header="Apply End Date">

                    <table class="element-table">
                        <tr>
                            <td class="entry-component-label">End Date:</td>
                            <td><p:calendar id="cal_apply_end_date_a"
                                            widgetVar="pw_cal_apply_end_date_a"
                                            readonlyInput="true"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            navigator="true"
                                            value="#{PIS_Rule_Group_Master.cal_apply_end_date_a}"
                                            mindate="#{PIS_Rule_Group_Master.cal_apply_end_date_a_min}"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p:commandButton id="btn_apply_end_date_a"
                                                 value="Apply End Date"
                                                 onclick="pw_confirm_end_date_a.show();return false;"
                                                 icon="ui-icon-clock"/>
                            </td>
                        </tr>
                    </table>
                </p:dialog>

                <p:confirmDialog widgetVar="pw_confirm_end_date_a" 
                                 message="Do you want to continue with applying end date?"
                                 style="width:300px">
                    <p:commandButton
                        id="btn_update_dlg_a"                        
                        value="Apply End Date"
                        icon="ui-icon-clock"
                        process="cal_apply_end_date_a,btn_update_dlg_a"
                        update=":form1:tabview1:pnl_tbl_rule_appl_group_mst,growl1" 
                        oncomplete="pw_confirm_end_date_a.hide();pw_dlg_apply_end_date_a.hide();"
                        actionListener="#{PIS_Rule_Group_Master.btn_apply_end_date_a_clicked}"
                        />
                    <p:commandButton value="Cancel"
                                     onclick="pw_confirm_end_date_a.hide();return false;"/>
                </p:confirmDialog><p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true" escape="false"/>
            </h:form>
        </ui:define>
    </ui:composition>       
</html>


