<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">    
    <ui:composition template="../../template.xhtml">
        <ui:define name="head">            
            <style type="text/css">
                .component-width input.hasDatepicker  ,.component-width,.component-width select{
                    width:200px;
                } 
                .freq-input{width: 35px;text-align: right}
                .number-entry-5-2,.number-entry-7-2 ,.number-entry-5-0 ,.number-entry-10-2,.number-entry-3-0{text-align: right}                
                .sub-element-table,.sub-element-table td{padding: 0;padding-right: 3px;}
            </style>
            <script type="text/javascript">
                //<![CDATA[
                
                $(document).ready(function() {
                    // $('#tabview1\\:pnl_eligibility').hide();                                    
                });
                
                

                //]]>
            </script>
        </ui:define>
        <ui:define name="content">       
            <h:form id="form1" prependId="false" >
                <p:breadCrumb styleClass="component-margin">  
                    <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                    <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                    <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                    <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                    <p:menuitem value="Earn-Deduction Configuration" url="#" />  
                </p:breadCrumb>  
                <div class="scrolling-div component-margin">
                    <h:panelGroup id="pnl_tbl_ed_config">
                        <p:dataTable id="tbl_ed_config"
                                     value="#{PIS_ED_Config.tbl_ed_config}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     paginatorPosition="top"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                     rowsPerPageTemplate="10,25,50"
                                     filterDelay="600"
                                     filteredValue="#{PIS_ED_Config.tbl_ed_config_filtered}">
                            <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                            <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                            <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                            <p:column headerText="Designation" filterBy="#{item.dsgmSrgKey.desigDesc}" sortBy="#{item.dsgmSrgKey.desigDesc}">#{item.dsgmSrgKey.desigDesc}</p:column>
                            <p:column headerText="ED Code" filterBy="#{item.edSrgKey.earndedncd}" sortBy="#{item.edSrgKey.earndedncd}">#{item.edSrgKey.earndedncd}</p:column>
                            <p:column headerText="ED Flag" filterBy="#{item.earndednFlag}" sortBy="#{item.earndednFlag}"
                                      filterOptions="">
                                <h:outputText value="Earning" rendered="#{item.earndednFlag=='E'}"/>
                                <h:outputText value="Deduction" rendered="#{item.earndednFlag=='D'}"/>
                                <h:outputText value="Employer's Contribution" rendered="#{item.earndednFlag=='B'}"/>
                                <h:outputText value="Reimbusrement" rendered="#{item.earndednFlag=='R'}"/>
                                <h:outputText value="Calculation" rendered="#{item.earndednFlag=='C'}"/>
                            </p:column>
                            <p:column headerText="Formula Amount Flag">
                                <h:outputText  value="Formula" rendered="#{item.formulaAmtFlag=='F'}"/>
                                <h:outputText  value="Amount" rendered="#{item.formulaAmtFlag=='V'}"/>
                                <h:outputText  value="Block" rendered="#{item.formulaAmtFlag=='B'}"/>
                            </p:column>
                            <p:column headerText="value"
                                      sortBy="#{item.formulaAmtValue}" filterBy="#{item.formulaAmtValue}">
                                #{item.formulaAmtValue}</p:column>
                            <p:column headerText="Start Date" sortBy="#{item.startDate}">
                                <h:outputText value="#{item.startDate}">
                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="End Date" sortBy="#{item.endDate}">
                                <h:outputText value="#{item.endDate}">
                                    <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <div class="component-margin">
                        <p:panel id="pnl_ed_config_entry"
                                 header="ED Config Entry"
                                 rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd or PIS_GlobalSettings.view_detail_master_table_fhrd}">
                            sdf
                        </p:panel>
                    </div>
                </div>
                <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
            </h:form>
        </ui:define>
    </ui:composition>       
</html>
