<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    input.hasDatepicker  ,.component-width,.component-width select{
                        width:160px;
                        max-width: 170px;
                    }
                </style>
                <script type="text/javascript">
                    //<![CDATA[
 
                    function hyp_view_alternate_onchange(){
                        $('#tabview1\\:hyp_view_alternate').hide();
                        if($('#tabview1\\:ddl_code_alternative select').val().trim()!=''){
                            $('#tabview1\\:hyp_view_alternate').show();
                        }
                    }
                    function validate_new_event(){
                        var valid=true;
                        $('#err_earndedn_cd').text('');
                        $('#err_earndedn_name').text('');
                        $('#err_cal_start_date').text('');
                        $('#err_earndedn_flag').text('');
                        $('#err_earndedn_type').text('');
                        $('#err_basecd_flag').text('');
                        $('#err_print_in_pay_flag').text('');
                        $('#err_print_if_zero_flag').text('');
                        $('#err_payable_on_value_flag').text('');
                        $('#err_ddl_first_entry_flag').text();
                        $('#err_ddl_contract_type').text('');
                        $('#err_ddl_taxable').text('');
                        $('#err_ddl_statutory').text('');
                        $('#err_satutory_flag').text('');                        
                        
                        if($('#tabview1\\:txt_earndedn_cd').val()==''){
                            $('#err_earndedn_cd').text('Please enter Earn Deduction Code');
                            valid=false;
                        }  
                        if($('#tabview1\\:txt_earndedn_name').val()==''){                            
                            $('#err_earndedn_name').text('Please enter Earn Deduction Name');
                            valid=false;
                        }
                        if($('#tabview1\\:cal_start_date_input').val()==''){
                            $('#err_cal_start_date').text('Please select Start Date');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_earndedn_flag_input').val()==''){
                            $('#err_earndedn_flag').text('Please select Earn Deduction Flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_earndedn_type_input').val()==''){
                            $('#err_earndedn_type').text('Please select Earn Deduction Type');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_basecd_flag_input').val()==''){
                            $('#err_basecd_flag').text('Please select Base code Flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_print_in_pay_flag_input').val()==''){
                            $('#err_print_in_pay_flag').text('Please select Print in Pay Flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_print_if_zero_flag_input').val()==''){
                            $('#err_print_if_zero_flag').text('Please select print if Zero Flag');
                            valid=false;
                        }                     
                        if($('#tabview1\\:ddl_payable_on_value_flag_input').val()==''){
                            $('#err_payable_on_value_flag').text('Please select Payable on Value Flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_first_entry_flag_input').val()==''){
                            $('#err_ddl_first_entry_flag').text('Please select First entry flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_contract_type_input').val()==''){
                            $('#err_ddl_contract_type').text('Please select Contract type to be use');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_taxable_input').val()==''){
                            $('#err_ddl_taxable').text('Please select Taxable Flag');
                            valid=false;
                        }
                        if($('#tabview1\\:ddl_statutory_input').val()==''){
                            $('#err_ddl_statutory').text('Please select Statutory Flag');
                            valid=false;
                        }
                        return valid;                        
                    }

                                                 
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">        
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />                         
                        <p:menuitem value="Organization" url="#{PIS_GlobalSettings.brPis_mst_org}" />
                        <p:menuitem value="Personnel Information" url="#{PIS_GlobalSettings.brPis_mst_org_pi}" /> 
                        <p:menuitem value="Earn-Deduction Master" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin scrolling-div">
                            <div class="scrolling-div">
                                <h:panelGroup id="pnl_tbl_earndedn_mst">
                                    <p:dataTable id="tbl_earndedn_mst"
                                                 value="#{PIS_EarnDed_Master.tbl_earndedn_mst}"
                                                 filteredValue="#{PIS_EarnDed_Master.tbl_earndedn_mst_filtered}"
                                                 var="item"
                                                 paginator="true"
                                                 rows="5"
                                                 paginatorPosition="top"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                                 rowsPerPageTemplate="5,10,15" 
                                                 filterDelay="600">
                                        <p:ajax event="filter"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="page"  onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort"  onerror="ShowConnectionError('GeneralDialog');"/>                                  
                                        <p:column sortBy="#{item.earndedncd}"
                                                  filterBy="#{item.earndedncd}"
                                                  headerText="Earn-Deduction Code">#{item.earndedncd}</p:column>
                                        <p:column sortBy="#{item.earndednName}"
                                                  filterBy="#{item.earndednName}"
                                                  headerText="Earn-Deduction Name">#{item.earndednName}</p:column>
                                        <p:column sortBy="#{item.earndednFlag}"
                                                  filterBy="#{item.earndednFlag}"
                                                  headerText="Earn-Deduction Flag">#{item.earndednFlag}</p:column>
                                        <p:column headerText="Start Date"><h:outputText value="#{item.startDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="End Date"><h:outputText value="#{item.endDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>

                                        <p:column style="width:1px" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                            <p:commandButton icon="ui-icon-search"
                                                             id="btn_view_ed_detail"
                                                             title="View Detail"
                                                             onclick="setHighLight(this)"
                                                             process=":form1:pnl_tbl_earndedn_mst"
                                                             update=":form1:tabview1:pnl_detail"
                                                             actionListener="#{PIS_EarnDed_Master.btn_view_ed_detail_click}">
                                                <f:setPropertyActionListener value="#{item}"
                                                                             target="#{PIS_EarnDed_Master.selection_earndedn}"/>
                                            </p:commandButton>
                                        </p:column>
                                        <p:column  style="width:1px" rendered="#{PIS_GlobalSettings.update_master_tbl_record_fhrd}">                                    
                                            <p:commandButton style="display:#{(item.endDate==null)?'block':'none'}" 
                                                             title="Apply End Date" 
                                                             icon="ui-icon-clock"
                                                             process=":form1:pnl_tbl_earndedn_mst"
                                                             update=":form1:cal_apply_end_date"
                                                             oncomplete="pw_dlg_apply_end_date.show();"
                                                             actionListener="#{PIS_EarnDed_Master.btn_apply_date_action}">
                                                <f:setPropertyActionListener value="#{item}"
                                                                             target="#{PIS_EarnDed_Master.entEarndednmst_edit}"/>
                                            </p:commandButton>                                      
                                        </p:column>
                                        <p:column  style="width:1px">                                    
                                            <p:commandButton title="View alternate earn-deduction codes" 
                                                             icon="ui-icon-link"
                                                             process=":form1:pnl_tbl_earndedn_mst"
                                                             update=":form1:pnl_tbl_alt_ed_masters"                                                             
                                                             actionListener="#{PIS_EarnDed_Master.btn_view_alternatives(item)}"/>                                      
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                            <div class="component-margin scrolling-div">
                                <p:tabView id="tabview1"  rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd or PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                    <p:tab title="Detail View" >
                                        <h:panelGroup id="pnl_detail" rendered="#{PIS_GlobalSettings.view_detail_master_table_fhrd}">
                                            <fhrd:dtl_earn_ded_master edmSrgKey="#{PIS_EarnDed_Master.selection_earndedn}"/>
                                        </h:panelGroup>                                     
                                    </p:tab>
                                    <p:tab title="Add New Earn-Deduction Code" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                        <p:panel id="pnl_add_new">
                                            <div class="scrolling-div">
                                                <table class="element-table" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1px" class="entry-component-label">Earn-Deduction Code:<label class="mandatory-text">*</label></td>
                                                            <td width="300px;"><p:inputText id="txt_earndedn_cd"
                                                                                            maxlength="30"
                                                                                            onkeypress="keytest(event,Special_AZ09);"
                                                                                            onkeyup="followup(this.id)"
                                                                                            onfocus="lastval=this.value;"
                                                                                            styleClass="component-width"
                                                                                            style="text-transform:uppercase"
                                                                                            value="#{PIS_EarnDed_Master.txt_earndedn_cd}"/>
                                                                <br/>
                                                                <div id="err_earndedn_cd"                                                                               
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                            <td width="15%" class="entry-component-label">Earn-Deduction Name:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText id="txt_earndedn_name"
                                                                             onkeypress="keytest(event,Special_AZ09);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;" 
                                                                             maxlength="30"
                                                                             styleClass="component-width"
                                                                             style="text-transform:uppercase"
                                                                             value="#{PIS_EarnDed_Master.txt_earndedn_name}"/>
                                                                <br/>
                                                                <div id="err_earndedn_name"  
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Start Date:<span class="mandatory-text">*</span></td>
                                                            <td><p:calendar id="cal_start_date" 
                                                                            widgetVar="pw_cal_start_date"
                                                                            pattern="#{GlobalUtilities.dateFormat}"                                                                                        
                                                                            navigator="true" 
                                                                            styleClass="component-width"
                                                                            value="#{PIS_EarnDed_Master.cal_start_date}"
                                                                            readonlyInput="true"/>
                                                                <br/> 
                                                                <div id="err_cal_start_date"  class="error-message"/></td>
                                                            <td class="entry-component-label">End Date:</td>
                                                            <td><p:calendar id="cal_end_date" readonlyInput="true"
                                                                            widgetVar="pw_cal_end_date"
                                                                            pattern="#{GlobalUtilities.dateFormat}"                                                                                        
                                                                            navigator="true" 
                                                                            styleClass="component-width"
                                                                            value="#{PIS_EarnDed_Master.cal_end_date}"/>
                                                                <a class="hyperlink1" href="javascript:void(0);" onclick="pw_cal_end_date.setDate(null);">Clear</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Earn-Deduction Flag:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_earndedn_flag"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_earndedn_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Earning" itemValue="E"/>
                                                                    <f:selectItem itemLabel="Deduction" itemValue="D"/>
                                                                    <f:selectItem itemLabel="Employer's Contribution" itemValue="B"/>
                                                                    <f:selectItem itemLabel="Reimbusrement" itemValue="R"/>
                                                                    <f:selectItem itemLabel="Calculation" itemValue="C"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_earndedn_flag"                                                                               
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                            <td class="entry-component-label">Earn-Deduction Type:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu 
                                                                    id="ddl_earndedn_type"
                                                                    styleClass="component-width"
                                                                    value="#{PIS_EarnDed_Master.ddl_earndedn_type}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Occasional" itemValue="O"/>
                                                                    <f:selectItem itemLabel="Regular" itemValue="R"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_earndedn_type"                                                                               
                                                                     class="error-message"
                                                                     /></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Base Code Flag:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu id="ddl_basecd_flag"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_basecd_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                    <f:selectItem itemLabel="Secondary" itemValue="S"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_basecd_flag"  
                                                                     class="error-message"
                                                                     /></td>
                                                            <td class="entry-component-label">Print Order.:</td>
                                                            <td><p:inputText styleClass="component-width" id="txt_print_order"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             maxlength="3"
                                                                             value="#{PIS_EarnDed_Master.txt_print_order}"/></td>
                                                        </tr>                                                       
                                                        <tr>
                                                            <td class="entry-component-label">Level No.:</td>
                                                            <td><p:inputText styleClass="component-width" id="txt_level_no"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             maxlength="3"
                                                                             value="#{PIS_EarnDed_Master.txt_level_no}"/></td>
                                                            <td class="entry-component-label">Preference No.:</td>
                                                            <td><p:inputText styleClass="component-width" id="txt_preference_no"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             maxlength="3"
                                                                             value="#{PIS_EarnDed_Master.txt_preference_no}"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Taxable:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu id="ddl_taxable"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_taxable}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/><div id="err_ddl_taxable"  class="error-message"/>
                                                            </td>
                                                            <td class="entry-component-label">Statutory:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu id="ddl_statutory"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_statutory}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/><div id="err_ddl_statutory"  class="error-message"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Print In Pay Slip:<label class="mandatory-text">*</label></td>
                                                            <td> <p:selectOneMenu id="ddl_print_in_pay_flag"
                                                                                  styleClass="component-width"
                                                                                  value="#{PIS_EarnDed_Master.ddl_print_in_pay_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_print_in_pay_flag"  
                                                                     class="error-message"
                                                                     /> 
                                                            </td>
                                                            <td class="entry-component-label">Print If Zero:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu  id="ddl_print_if_zero_flag"
                                                                                  styleClass="component-width"
                                                                                  value="#{PIS_EarnDed_Master.ddl_print_if_zero_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_print_if_zero_flag"  
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Payable on Value:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu styleClass="component-width"
                                                                                 id="ddl_payable_on_value_flag"
                                                                                 value="#{PIS_EarnDed_Master.ddl_payable_on_value_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---" />
                                                                    <f:selectItem itemLabel="Organization Payable Days" itemValue="OP"/>
                                                                    <f:selectItem itemLabel="Employee Payable Days" itemValue="EP"/>
                                                                    <f:selectItem itemLabel=" Monthly Variable Values" itemValue="MV"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_payable_on_value_flag"  
                                                                     class="error-message"
                                                                     /></td>
                                                            <td class="entry-component-label">First Entry Flag:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_first_entry_flag"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_first_entry_flag}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Manual" itemValue="M"/>
                                                                    <f:selectItem itemLabel="Automatic" itemValue="A"/>
                                                                </p:selectOneMenu>
                                                                <br/><div id="err_ddl_first_entry_flag" class="error-message"/>
                                                            </td>
                                                        </tr>  
                                                        <tr>
                                                            <td class="entry-component-label">To use in Contract Type:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_contract_type"
                                                                                 styleClass="component-width"
                                                                                 value="#{PIS_EarnDed_Master.ddl_contract_type}">
                                                                    <f:selectItem itemLabel="--- Select ---"/>
                                                                    <f:selectItem itemLabel="Main" itemValue="M"/>
                                                                    <f:selectItem itemLabel="Supplement" itemValue="S"/>
                                                                </p:selectOneMenu>
                                                                <br/><div id="err_ddl_contract_type" class="error-message"/>
                                                            </td>
                                                            <td class="entry-component-label">Alternative to:</td>
                                                            <td><p:selectOneMenu id="ddl_code_alternative"
                                                                                 styleClass="component-width"
                                                                                 onchange="hyp_view_alternate_onchange()"
                                                                                 value="#{PIS_EarnDed_Master.ddl_code_alternative}">
                                                                    <f:selectItems value="#{PIS_EarnDed_Master.ddl_code_alternative_options}"/>
                                                                </p:selectOneMenu>
                                                            </td>
                                                            <td>
                                                                <p:commandLink value="View Alternatives" 
                                                                               id="hyp_view_alternate"
                                                                               actionListener="#{PIS_EarnDed_Master.hyp_view_alternate_clicked}"
                                                                               process="ddl_code_alternative,@this"
                                                                               update=":form1:pnl_tbl_alt_ed_masters"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" align="center">
                                                                <p:commandButton id="btn_add_new"
                                                                                 process=":form1:tabview1:pnl_add_new,:form1:tabview1:btn_add_new"
                                                                                 update=":form1:tabview1:pnl_add_new,:form1:pnl_tbl_earndedn_mst,:form1:growl1"
                                                                                 value="Add New Earn-Deduction Code"
                                                                                 icon="ui-icon-disk"
                                                                                 onclick="if(!validate_new_event()){
                                                                                     return false;}" 
                                                                                 actionListener="#{PIS_EarnDed_Master.btn_add_new_action}"
                                                                                 />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <script type="text/javascript">
                                                hyp_view_alternate_onchange();
                                                </script>
                                            </div>
                                            <div align="right"> 
                                                <span class="mandatory-text-ins"><label class="mandatory-text">*</label> - Mandatory Fields</span>                                                        
                                            </div>
                                        </p:panel>

                                    </p:tab>
                                </p:tabView>
                            </div>


                            <p:dialog widgetVar="pw_dlg_apply_end_date"
                                      id="dlg_apply_end_date"
                                      modal="true"
                                      header="Apply End Date">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">End Date:</td>
                                        <td><p:calendar id="cal_apply_end_date"
                                                        widgetVar="pw_cal_apply_end_date"
                                                        readonlyInput="true"
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        navigator="true"
                                                        value="#{PIS_EarnDed_Master.cal_apply_end_date}"
                                                        mindate="#{PIS_EarnDed_Master.cal_apply_end_date_min}"/></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <p:commandButton id="btn_apply_end_date"
                                                             value="Apply End Date"
                                                             icon="ui-icon-clock"
                                                             onclick="pw_confirm_end_date.show();return false;"/>
                                        </td>
                                    </tr>
                                </table>
                            </p:dialog>
                            <p:dialog id="dlg_alter_ed_masters" widgetVar="pw_dlg_alter_ed_masters"
                                      modal="true"
                                      header="Alternate Earn-Deduction Code">
                                <h:panelGroup id="pnl_tbl_alt_ed_masters">
                                    <p:dataTable id="tbl_alt_ed_masters"
                                                 value="#{PIS_EarnDed_Master.tbl_alternatives}"
                                                 var="item">
                                        <p:column headerText="Earn-Deduction Srno">#{item.edmSrgKey}</p:column>
                                        <p:column headerText="Earn-Deduction Code">#{item.earndedncd}</p:column>
                                        <p:column headerText="Earn-Deduction Name">#{item.earndednName}</p:column>
                                        <p:column headerText="Earn-Deduction Flag">#{item.earndednFlag}</p:column>
                                        <p:column headerText="Start Date"><h:outputText value="#{item.startDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText></p:column>
                                        <p:column headerText="End Date"><h:outputText value="#{item.endDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </p:dialog>
                            <p:confirmDialog widgetVar="pw_confirm_end_date" 
                                             message="Do you want to continue with applying end date?"
                                             style="width:300px">
                                <p:commandButton
                                    id="btn_update_dlg"                        
                                    value="Apply End Date"
                                    icon="ui-icon-clock"
                                    process="cal_apply_end_date,btn_update_dlg"
                                    update="pnl_tbl_earndedn_mst,growl1" 
                                    oncomplete="pw_confirm_end_date.hide();pw_dlg_apply_end_date.hide();"
                                    actionListener="#{PIS_EarnDed_Master.btn_apply_end_date_clicked}"
                                    />
                                <p:commandButton value="Cancel"
                                                 onclick="pw_confirm_end_date.hide();return false;"/>
                            </p:confirmDialog>                                                                 
                        </div>
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>  
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>