<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../template.xhtml">

            <ui:define name="head">
            
            </ui:define>

            <ui:define name="content">
                <h:form id="form1" prependId="false">
                      <table class="element-table" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1px" class="entry-component-label">Earn-Deduction Code:<label class="mandatory-text">*</label></td>
                                                            <td width="300px;"><p:inputText id="txt_earndedn_cd"
                                                                                            size="10"
                                                                                            onkeypress="keytest(event,Special_AZ09);"
                                                                                            onkeyup="followup(this.id)"
                                                                                            onfocus="lastval=this.value;"
                                                                                            style="text-transform:uppercase"
                                                                                            value="#{PIS_EarnDed_Master.txt_earndedn_cd}"/>
                                                                <br/>
                                                                <div id="err_earndedn_cd"                                                                               
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                            <td width="15%" class="entry-component-label">Earn-Deduction Name:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:inputText id="txt_earndedn_name"
                                                                             onkeypress="keytest(event,Special_AZ09);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;" 
                                                                             size="40"
                                                                             style="text-transform:uppercase"
                                                                             value="#{PIS_EarnDed_Master.txt_earndedn_name}"/>
                                                                <br/>
                                                                <div id="err_earndedn_name"  
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Start Date:</td>
                                                            <td><p:calendar id="cal_start_date" 
                                                                    widgetVar="pw_cal_start_date"
                                                                    pattern="#{GlobalUtilities.dateFormat}"                                                                                        
                                                                    navigator="true" 
                                                                    value="#{PIS_EarnDed_Master.cal_start_date}"
                                                                    readonlyInput="true"/>
                                                            <br/> 
                                                               <div id="err_cal_start_date"  class="error-message"/></td>
                                                            <td class="entry-component-label">End Date:</td>
                                                            <td><p:calendar id="cal_end_date" readonlyInput="true"
                                                                    widgetVar="pw_cal_end_date"
                                                                    pattern="#{GlobalUtilities.dateFormat}"                                                                                        
                                                                    navigator="true" 
                                                                    value="#{PIS_EarnDed_Master.cal_end_date}"/>
                                                        <a class="hyperlink1" href="javascript:void(0);" onclick="pw_cal_end_date.setDate(null);">Clear</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Earn-Deduction Flag:<label class="mandatory-text">*</label></td>
                                                            <td>
                                                                <p:selectOneMenu id="ddl_earndedn_flag"
                                                                                 style="width:200px;"
                                                                                 value="#{PIS_EarnDed_Master.ddl_earndedn_flag}">
                                                                    <f:selectItem itemLabel="---Select Any---" />
                                                                    <f:selectItem itemLabel="Earning" itemValue="E"/>
                                                                    <f:selectItem itemLabel="Deduction" itemValue="D"/>
                                                                    <f:selectItem itemLabel="Employer's Contribution" itemValue="B"/>
                                                                    <f:selectItem itemLabel="Reimbusrement" itemValue="R"/>
                                                                    <f:selectItem itemLabel="Calculation" itemValue="C"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_earndedn_flag"                                                                               
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                            <td class="entry-component-label">Earn-Deduction Type:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu 
                                                                    id="ddl_earndedn_type"
                                                                    style="width:200px;"
                                                                    value="#{PIS_EarnDed_Master.ddl_earndedn_type}">
                                                                    <f:selectItem itemLabel="---Select One---" />
                                                                    <f:selectItem itemLabel="Occasional" itemValue="O"/>
                                                                    <f:selectItem itemLabel="Regular" itemValue="R"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_earndedn_type"                                                                               
                                                                     class="error-message"
                                                                     /></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Base Code Flag:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu id="ddl_basecd_flag"
                                                                                 style="width:200px;"
                                                                                 value="#{PIS_EarnDed_Master.ddl_basecd_flag}"
                                                                                 valueChangeListener="#{PIS_EarnDed_Master.ddl_basecd_flag_valuechange}"
                                                                                 >
                                                                    <f:selectItem itemLabel="---Select One---"/>
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                    <f:selectItem itemLabel="Secondary" itemValue="S"/>
                                                                    <p:ajax event="change"
                                                                            process="cal_start_date,cal_end_date,ddl_basecd_flag"
                                                                            update="cal_start_date"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_basecd_flag"  
                                                                     class="error-message"
                                                                     /></td>
                                                            <td class="entry-component-label">Print Order.:</td>
                                                            <td><p:inputText style="width:80px;" id="txt_print_order"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             value="#{PIS_EarnDed_Master.txt_print_order}"/></td>
                                                        </tr>                                                       
                                                        <tr>
                                                            <td class="entry-component-label">Level No.:</td>
                                                            <td><p:inputText style="width:80px;" id="txt_level_no"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             value="#{PIS_EarnDed_Master.txt_level_no}"/></td>
                                                            <td class="entry-component-label">Preference No.:</td>
                                                            <td><p:inputText style="width:80px;" id="txt_preference_no"
                                                                             onkeypress="keytest(event,F0T9);"
                                                                             onkeyup="followup(this.id)"
                                                                             onfocus="lastval=this.value;"
                                                                             value="#{PIS_EarnDed_Master.txt_preference_no}"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Print In Pay Slip:<label class="mandatory-text">*</label></td>
                                                            <td> <p:selectOneMenu id="ddl_print_in_pay_flag"
                                                                                  style="width:200px;"
                                                                                  value="#{PIS_EarnDed_Master.ddl_print_in_pay_flag}">
                                                                    <f:selectItem itemLabel="---Select One---" />
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_print_in_pay_flag"  
                                                                     class="error-message"
                                                                     /> 
                                                            </td>
                                                            <td class="entry-component-label">Print If Zero:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu  id="ddl_print_if_zero_flag"
                                                                                  style="width:200px;"
                                                                                  value="#{PIS_EarnDed_Master.ddl_print_if_zero_flag}">
                                                                    <f:selectItem itemLabel="---Select One---" />
                                                                    <f:selectItem itemLabel="Yes" itemValue="Y"/>
                                                                    <f:selectItem itemLabel="No" itemValue="N"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_print_if_zero_flag"  
                                                                     class="error-message"
                                                                     />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="entry-component-label">Payable on Value:<label class="mandatory-text">*</label></td>
                                                            <td><p:selectOneMenu style="width:200px;"
                                                                                 id="ddl_payable_on_value_flag"
                                                                                 value="#{PIS_EarnDed_Master.ddl_payable_on_value_flag}">
                                                                    <f:selectItem itemLabel="---Select Any---" />
                                                                    <f:selectItem itemLabel="Organization Payable Days" itemValue="OP"/>
                                                                    <f:selectItem itemLabel="Employee Payable Days" itemValue="EP"/>
                                                                    <f:selectItem itemLabel="Organization Working Days" itemValue="OW"/>
                                                                    <f:selectItem itemLabel="Employee Working Days" itemValue="EW"/>
                                                                </p:selectOneMenu>
                                                                <br/>
                                                                <div id="err_payable_on_value_flag"  
                                                                     class="error-message"
                                                                     /></td>
                                                            <td class="entry-component-label">First Entry Flag:</td>
                                                            <td></td>
                                                        </tr>  
                                                    </tbody>
                                                </table>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
