<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.prime.com.tr/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsfExt="http://java.sun.com/jsf/extensions/dynafaces"
      >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"></link>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_stylesheet}"></link>
        <p:resources/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin_modified}"></link>
        <link rel="SHORTCUT ICON" href="resources/Images/Title.ico"></link>
        <title>Foundation For Ecological Security - Access Denied</title>
        <style type="text/css">body{color:black;font-family:Verdana, 'Verdana CE', Arial, 'Arial CE', 'Lucida Grande CE', lucida, 'Helvetica CE', sans-serif;font-size:12px;}
            h1{border-bottom:1px solid #AFAFAF;color:#D20005;font-family:Arial, 'Arial CE', 'Lucida Grande CE', lucida, 'Helvetica CE', sans-serif;font-size:16px;font-weight:bold;margin:0px;padding:0px;}
        </style>

    </head>
    <body >
        <f:view contentType="text/html">
            <div class="FESBreadcrumbdiv">
                <table class="FESBreadcrumb" cellpadding="0" cellspacing="0" >
                    <tr valign="middle">
                        <td valign="middle">
                            <a href="#" id="hyperlink1">Access Denied</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="container" align="center" >
                <div class="FESBreadcrumbHeaderGap">
                </div>
                <div class="component-margin" align="left">
                    <h1 id="title1">Access Denied</h1>
                    <br/>
                    <div id="innercontent">You don't have the rights to view this page, please try to login as another user which has the required rights to view this page.</div>
                </div>
                <div class="footer_gap"></div>
            </div>
            <div class="footer" align="center">
                <table border="0" width="100%" class="footer_table ui-widget-header" cellpadding="0px" cellspacing="0px"  >
                    <tbody >
                        <tr  align="center">
                            <td align="center" valign="middle">
                                <div >
                                    <p class="footer_note"><a href="#">Help</a>
                                        | Created By <a href="http://www.fes.org.in" target="_blank">Foundation for Ecological Security</a></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </f:view>
    </body>
</html>

