<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">
    <h:head>        
        <title>Personnel Information System - Login</title>        
        <link rel="SHORTCUT ICON" href="#{GlobalResources.rsc_title_icon}"/>
        <f:facet name="first">        
            <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
            <meta content="text/html; charset=UTF-8" http-equiv="#{GlobalResources.content_type}"/>                                                
            <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin}"/>    
        </f:facet>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_skin_general_customised}"/>
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout}"/> 
        <link type="text/css" rel="stylesheet" href="#{GlobalResources.rsc_css_fes_layout_skin}"/> 
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_utilities}"/>      
        <script type="text/javascript"  src="#{GlobalResources.rsc_js_browser_detect}"/>      
                <script type="text/javascript">
            //<![CDATA[            
            function CheckEmpty(){var v_username=document.getElementById('username');var v_pwd=document.getElementById('pwd');if(v_username.value==""||v_username.value==null||v_pwd.value==""||v_pwd.value==null){info_dialog.show();return false;}
                return true;}
            //]]>
        </script>
    </h:head>
    <h:body>
        <f:view contentType="text/html">
            <h:form>
                #{Login.txt}
            </h:form>
            <script type="text/javascript">
                //<![CDATA[                 
                var browser_valid=true;if(BrowserDetect.browser=='Chrome'.replace(/^\s+|\s+$/g,'')){if(BrowserDetect.version<7){browser_valid=false;}}else if(BrowserDetect.browser=='Firefox'.replace(/^\s+|\s+$/g,'')){if(BrowserDetect.version<3.6){browser_valid=false;}}else{browser_valid=false;}
                if(!browser_valid){window.location="BrowserCompatibility.html";}                       
                //]]>
            </script>
            <div class="container" align="center">
                <center class="page_container" >

                    <div width="100%"  align="center">
                        <table width="100%"
                               class="page-header"
                               cellpadding="0" cellspacing="0"  >
                            <tbody>
                                <tr>
                                    <td align="left" width="170px">
                                      <a href="http://www.fes.org.in" style="outline:none;" target="_blank" class="fes-logo"/>                                                
                                    </td>
                                    <td align="left">
                                        


                                    </td>
                                    <td align="right">

                                    </td>
                                    <td width="2%"></td>
                                </tr>
                            </tbody>
                        </table>      
                        <div class="ui-widget-header" style="height:22px;" align="left">                                    

                        </div>
                    </div>
                    <div  style="padding-top:50px;">
                        <table width="85%" ><tr>
                                <td valign="top">
                                    <div align="left">
                                        <div align="left" class="header20b">
                                            Personnel Information System</div>
                                        <hr  class="ui-separator ui-state-default ui-corner-all" style="width: 534px;" align="left"/>
                                        <br/>                                        
                                    </div>
                               <!--     <img src="login-pis.jpg" width="534" height="260" alt="login-pis"/>
-->
                                    <div style="background-image: url('https://database.fes.org.in/web-resources/fes-integrated-new/images/login-pis.jpg');width: 534px;height:260px"/>
                            
                                </td>
                                <td width="40px"></td>
                                <td valign="top" width="1px" align="left">
                                    <p:panel header="Enter User Id/Password" style="width:270px;">
                                        <form action="j_security_check" method="POST">
                                            <table cellpadding="8px"  border="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                    </tr>
                                                    <tr>
                                                        <td  align="left">
                                                            <span class="entry-component-label" >User Id:</span>
                                                        </td>
                                                        <td align="left">
                                                            <input id="username" type="text" name="j_username" value="" size="16" style="width:120px"/>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td  align="left">
                                                            <span class="entry-component-label" >Password:</span>
                                                        </td>
                                                        <td align="left">                                                            
                                                            <input id="pwd" type="password" name="j_password" value="" size="16" style="width:120px" />
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td ></td>
                                                        <td align="left">
                                                            <button type="submit" value=" Login " onclick="return CheckEmpty();"
                                                                    id="btn_login"
                                                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                                                                  <span class="ui-button-icon-left ui-icon ui-icon-key"/>
                                                                <span class="ui-button-text">Login</span>
                                                            </button>
                                                            <br/>
                                                            <br/>
                                                            <script type="text/javascript">
                                                                $('#btn_login').mouseover(function() {
                                                                    $(this).removeClass('ui-state-default');
                                                                    $(this).addClass('ui-state-hover');
                                                                });
                                                                $('#btn_login').mouseout(function(){
                                                                    $(this).addClass('ui-state-default');
                                                                    $(this).removeClass('ui-state-hover');
                                                                })
                                                            </script>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">

                                                            <p class="error-message">Please enter valid User Id/Password.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p:dialog header="Information" widgetVar="info_dialog" modal="true" height="40" width="250" showEffect="slide"
                                                      hideEffect="explode">
                                                <div style="white-space: nowrap">User Id/Password cannot be blank</div>
                                            </p:dialog>
                                        </form>

                                    </p:panel>

                                </td>
                            </tr></table>
                    </div>
                    <div class="footer-gap"></div>

                </center>

            </div>
            <div class="footer" align="center" >
                <table border="0" class="footer-table ui-widget-header" cellpadding="0px" cellspacing="0px">
                    <tbody >
                        <tr  align="center">
                            <td align="center" valign="middle" >
                                <div >
                                   <p class="footer-note">
                                        <a  href="#">Help</a>
                                        | Created By <a href="http://www.fes.org.in" target="_blank">Foundation For Ecological Security</a>
                                        (Version : #{applicationProperties.version}) 
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </f:view>
    </h:body>
</html>