<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <link rel="SHORTCUT ICON" href="#{GlobalResources.rsc_title_icon}"/>
        <title>Not Available</title>
        <style type="text/css">body{color:black;font-family:Verdana, 'Verdana CE', Arial, 'Arial CE', 'Lucida Grande CE', lucida, 'Helvetica CE', sans-serif;font-size:12px;}
            h1{border-bottom:1px solid #AFAFAF;color:#D20005;font-family:Arial, 'Arial CE', 'Lucida Grande CE', lucida, 'Helvetica CE', sans-serif;font-size:16px;font-weight:bold;margin:0px;padding:0px;}
        </style>

    </h:head>
    <h:body>
        <h1>Not Available</h1>
        <br/>
        <div>The requested resources are not availble.</div>

    </h:body>
</html>

