<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .fare-detail-calendar input{width:115px;}
                    .add-detail-button{padding-top:10px;padding-bottom:15px}
                    .panel-to-tab-temp{padding-bottom:30px}
                    .margin-top-temp{margin-top:5px;}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                  
                    $(document).ready(function() {                    
                        setNumericEntry();
                    });

                    function setNumericEntry(){
                        $('.number-entry-5-0').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999',aPad: false});                                                        
                    }
              

                    function isUserValid(){
                        if($('#txt_user_id').val().trim()==''){
                            $('#err_txt_user_id').text('Please enter valid user id');
                            return false;
                        }else{ 
                            $('#err_txt_user_id').text('');
                            return true;
                        }    
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transactions" url="#{PIS_GlobalSettings.brPis_trans}"/>                           
                        <p:menuitem value="TA DA Bill" url="#{PIS_GlobalSettings.brPis_trans_tada}"/>  
                        <p:menuitem value="Travelling Allowance Bill" url="#" />  
                    </p:breadCrumb>  
                    <div class="component-margin" align="left">
                        <p:outputPanel styleClass="emplist-selection">                       
                            <p:panel header="Basic Details" id="pnl_travelling_allowance">
                                <div class="panel-to-tab-temp">
                                    <table class="element-table">
                                        <tr>
                                            <td width="1px" style="white-space:nowrap;" 
                                                class="static-text-label">User ID:<label class="mandatory-text" >*</label>
                                            </td>
                                            <td style="min-width: 250px">
                                                <p:inputText tabindex="1" id="txt_user_id"                                                                 
                                                             styleClass="number-entry-5-0"      
                                                             size="5"
                                                             value="#{travelling_allowance.txt_user_id}"
                                                             valueChangeListener="#{travelling_allowance.txt_user_id_changed}" 
                                                             >
                                                    <p:ajax event="change"                                                                   
                                                            process="txt_user_id"
                                                            update="@(.emplist-selection)" />
                                                </p:inputText>
                                                <p:commandLink id="lnk_emplist_working_ouwise"
                                                               value="(Users List)"                                                                   
                                                               process="@this"
                                                               style="font-weight: bolder;white-space: nowrap;margin-left:10px"
                                                               update="pnl_dlg_emplist"                                                         
                                                               actionListener="#{travelling_allowance.lnk_view_emplist}"
                                                               />
                                                <div>
                                                    <h:outputText id="err_txt_user_id"
                                                                  class="error-message"  value="#{travelling_allowance.err_txt_user_id}"/>                                                        
                                                </div>


                                            </td>
                                            <td width="1px" class="entry-component-label" align="right">
                                                Designation (Team/Group):
                                            </td>
                                            <td style="#{travelling_allowance.selectedUser==null?'display:none':''}">
                                                #{travelling_allowance.selectedUser.dsgmSrgKey.desigDesc} (#{travelling_allowance.selectedUser.postingOumUnitSrno.oumName})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="static-text-label">
                                                User Name:
                                            </td>
                                            <td>
                                                #{travelling_allowance.selectedUser.empno} - #{travelling_allowance.selectedUser.userName}
                                            </td>
                                            <td class="static-text-label"  align="right">
                                                Contractual Consideration (<h:outputText value="#{GlobalUtilities.rupee_symbol}" escape="false"/> ):<span class="mandatory-text">*</span>
                                            </td>
                                            <td>
                                                <p:inputText styleClass="component-width" style="text-align: right"/>
                                            </td>
                                        </tr>
                                        <tr style="#{travelling_allowance.selectedUser!=null?'':'display:none'}">
                                            <td class="static-text-label" style="white-space: normal" valign="top">
                                                Tour/Training Application:
                                            </td>   
                                            <td colspan="3">
                                                <h:panelGroup id="pnl_reason">
                                                    <h:outputText  value="#{travelling_allowance.selectedTourTraining.reason1}"
                                                                   escape="false"/>
                                                    <br/><br/>
                                                    <p:commandLink value="#{travelling_allowance.selectedTadaBill.absSrgKey==null?'Select Tour/Training':'Change Tour/Training'}"
                                                                   actionListener="#{travelling_allowance.showSelectTourDialog}"
                                                                   process="@this"
                                                                   update="dlg_tbl_tour_training_selection"/>
                                                </h:panelGroup>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </p:panel>
                            <h:panelGroup id="pnl_fare_details">
                                <p:panel header="Fare Details" 
                                         toggleable="true"
                                         styleClass="margin-top-temp"                                         
                                         rendered="#{travelling_allowance.selectedTourTraining!=null}">
                                    <div class="panel-to-tab-temp">
                                        <div align="right" class="add-detail-button">                                                
                                            <p:commandButton value="Add Fare Detail"
                                                             icon="ui-icon-plusthick"
                                                             actionListener="#{travelling_allowance.addNewFare}"
                                                             process="pnl_tbl_fare_detail,@this"
                                                             update="pnl_tbl_fare_detail"
                                                             />                                    
                                        </div>
                                        <h:panelGroup id="pnl_tbl_fare_detail">                                                
                                            <f:validateBean disabled="true">
                                                <p:dataTable id="tbl_fare_detail"
                                                             widgetVar="pw_tbl_fare_detail"
                                                             value="#{travelling_allowance.tbl_fare_detail}"

                                                             var="fare_detail"                                                         
                                                             >      
                                                    <f:facet name="header">
                                                        Fare Details
                                                    </f:facet>
                                                    <p:columnGroup type="header">
                                                        <p:row>
                                                            <p:column headerText="Sr No." rowspan="2"/>
                                                            <p:column headerText="Departure" colspan="2"/>
                                                            <p:column headerText="Arrival" colspan="2"/>
                                                            <p:column headerText="Mode of Journey" rowspan="2"/>                                                    
                                                            <p:column headerText="Ticket No." rowspan="2"/>
                                                            <p:column headerText="Amount" rowspan="2"/>
                                                            <p:column rowspan="2"/>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column headerText="Date-Time"/>
                                                            <p:column headerText="Station"/>
                                                            <p:column headerText="Date-Time"/>
                                                            <p:column headerText="Station"/>
                                                        </p:row>
                                                    </p:columnGroup>
                                                    <p:column style="width:10px">
                                                        #{fare_detail.ftasTadaFareDtlPK.srno}
                                                    </p:column>
                                                    <p:column>
                                                        <p:calendar
                                                            value="#{fare_detail.fromDateTime}"
                                                            navigator="true"
                                                            readonlyInput="true"                                                    
                                                            pattern="#{GlobalUtilities.dateTimeFormat}"
                                                            showButtonPanel="true"
                                                            styleClass="fare-detail-calendar"
                                                            mindate="#{travelling_allowance.cal_tour_min_date}"
                                                            maxdate="#{travelling_allowance.cal_tour_max_date}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputTextarea style="width:95px;text-transform: uppercase"
                                                                         value="#{fare_detail.fromStation}"
                                                                         maxlength="100"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:calendar
                                                            value="#{fare_detail.toDateTime}"
                                                            navigator="true"
                                                            readonlyInput="true"                                                    
                                                            pattern="#{GlobalUtilities.dateTimeFormat}"
                                                            showButtonPanel="true"
                                                            styleClass="fare-detail-calendar"
                                                            mindate="#{travelling_allowance.cal_tour_min_date}"
                                                            maxdate="#{travelling_allowance.cal_tour_max_date}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputTextarea 
                                                            value="#{fare_detail.toStation}"
                                                            style="width:95px;text-transform: uppercase;"
                                                            maxlength="100"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:selectOneMenu value="#{fare_detail.cmSrgKey}" style="width:70px"
                                                                         converter="omnifaces.SelectItemsConverter">
                                                            <f:selectItems itemLabel="#{travel_mode.cmSrgKey==null?'':travel_mode.cmDesc}" value="#{travelling_allowance.ddl_conv_mst_options}"
                                                                           var="travel_mode"/>
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText  value="#{fare_detail.ticketNo}" style="width:65px;text-align: right;text-transform: uppercase;"
                                                                      maxlength="50"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText  value="#{fare_detail.fareAmount}" style="width:55px;text-align: right"
                                                                      styleClass="number-entry-10-2"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:commandButton icon="ui-icon-trash"
                                                                         process=":form1:pnl_tbl_fare_detail"
                                                                         update=":form1:pnl_tbl_fare_detail"
                                                                         actionListener="#{travelling_allowance.removeFareDetail(fare_detail)}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </f:validateBean>
                                            <script type="text/javascript">
                                                $('.number-entry-10-2').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999999.99',aPad: false});                                                        
                                            </script>
                                        </h:panelGroup>                                    
                                    </div>
                                </p:panel>
                            </h:panelGroup>

                            <h:panelGroup id="pnl_conv_charges">
                                <p:panel header="Conveyance Charges Details"                                          
                                         toggleable="true"
                                         styleClass="margin-top-temp"
                                         rendered="#{travelling_allowance.selectedTourTraining!=null}">
                                    <div class="panel-to-tab-temp">
                                        <div align="right" class="add-detail-button">                                                
                                            <p:commandButton value="Add Conveyance Charge"
                                                             icon="ui-icon-plusthick"
                                                             actionListener="#{travelling_allowance.addNewConvCharge}"
                                                             process="pnl_tbl_conv_charges,@this"
                                                             update="pnl_tbl_conv_charges"
                                                             />                                    
                                        </div>
                                        <h:panelGroup id="pnl_tbl_conv_charges">                                                
                                            <f:validateBean disabled="true">
                                                <p:dataTable id="tbl_conv_charges"
                                                             widgetVar="pw_tbl_conv_charges"
                                                             value="#{travelling_allowance.tbl_conv_charges}"
                                                             var="conv_charge"                                                         
                                                             >                   
                                                    <f:facet name="header">
                                                        Conveyance Charges Details
                                                    </f:facet>
                                                    <p:columnGroup type="header">                                                
                                                        <p:row>
                                                            <p:column headerText="Sr No."/>
                                                            <p:column headerText="Date"/>
                                                            <p:column headerText="Purpose"/>
                                                            <p:column headerText="From"/>
                                                            <p:column headerText="To"/>
                                                            <p:column headerText="Kms."/>
                                                            <p:column headerText="Mode"/>
                                                            <p:column headerText="Amount (in #{GlobalUtilities.rupee_symbol} ) "/>
                                                            <p:column headerText="Remarks"/>                                                                                                        
                                                            <p:column headerText=""/>                                                                                                        
                                                        </p:row>                                                
                                                    </p:columnGroup>
                                                    <p:column style="width:10px">
                                                        #{conv_charge.ftasTadaConvExpDtlPK.srno}
                                                    </p:column>
                                                    <p:column>
                                                        <p:calendar
                                                            value="#{conv_charge.convDt}"
                                                            navigator="true"
                                                            readonlyInput="true"                                                    
                                                            pattern="#{GlobalUtilities.dateTimeFormat}"
                                                            showButtonPanel="true"
                                                            styleClass="fare-detail-calendar"
                                                            mindate="#{travelling_allowance.cal_tour_min_date}"
                                                            maxdate="#{travelling_allowance.cal_tour_max_date}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputTextarea 
                                                            value="#{conv_charge.purpose}"
                                                            style="width:90px;text-transform: uppercase"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText value="#{conv_charge.convFrom}" style="width:70px;text-transform: uppercase;" maxlength="100"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText value="#{conv_charge.convTo}"  style="width:70px;text-transform: uppercase;" maxlength="100"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText  value="#{conv_charge.convAmt}" 
                                                                      style="width:35px;text-align: right"
                                                                      styleClass="number-entry-10-2"/>
                                                    </p:column>
                                                    <p:column>                                                
                                                        <p:selectOneMenu value="#{conv_charge.cmSrgKey}" style="width:80px"
                                                                         converter="omnifaces.SelectItemsConverter">
                                                            <f:selectItems itemLabel="#{travel_mode.cmSrgKey==null?'':travel_mode.cmDesc}" value="#{travelling_allowance.ddl_conv_mst_options}"
                                                                           var="travel_mode"/>
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText  
                                                            value="#{conv_charge.convAmt}"
                                                            style="width:60px;text-align: right"                                                                      
                                                            styleClass="number-entry-10-2"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText 
                                                            value="#{conv_charge.remarks}"
                                                            style="width:70px;text-transform: uppercase" maxlength="100"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:commandButton icon="ui-icon-trash"
                                                                         process=":form1:pnl_tbl_conv_charges"
                                                                         update=":form1:pnl_tbl_conv_charges"
                                                                         actionListener="#{travelling_allowance.removeConvCharge(conv_charge)}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </f:validateBean>
                                            <script type="text/javascript">
                                                $('.number-entry-10-2').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999999.99',aPad: false});                                                        
                                            </script>
                                        </h:panelGroup>                                    
                                    </div>
                                </p:panel>
                            </h:panelGroup>
                            <h:panelGroup id="pnl_other_cert">
                                <p:panel header="Other Certifications" 
                                         styleClass="margin-top-temp"
                                         toggleable="true"
                                         rendered="#{travelling_allowance.selectedTourTraining!=null}">
                                    <div class="panel-to-tab-temp">
                                        <table class="element-table" width="100%">
                                            <tr>
                                                <td>
                                                    C.1
                                                </td>
                                                <td>
                                                    I actually travelled by Air/Rail in the class for which T.A. has been claimed
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    C.2
                                                </td>
                                                <td>
                                                    I have not claimed fare fully/partially for undernoted reasons :
                                                    <h:panelGroup id="pnl_other_details">
                                                        <h:panelGroup
                                                            rendered="#{travelling_allowance.selectedTourTraining!=null}">
                                                            <div>
                                                                <div align="right" class="add-detail-button">                                                
                                                                    <p:commandButton value="Add Other Details"
                                                                                     icon="ui-icon-plusthick"
                                                                                     actionListener="#{travelling_allowance.addNewConvCharge}"
                                                                                     process="pnl_tbl_other_details,@this"
                                                                                     update="pnl_tbl_other_details"
                                                                                     />                                    
                                                                </div>
                                                                <h:panelGroup id="pnl_tbl_other_details">                                                
                                                                    <f:validateBean disabled="true">
                                                                        <p:dataTable id="tbl_other_details"
                                                                                     widgetVar="pw_tbl_other_details"
                                                                                     value="#{travelling_allowance.tbl_other_details}"
                                                                                     var="other_detail"                                                         
                                                                                     >                   
                                                                            <f:facet name="header">
                                                                                Conveyance Charges Details
                                                                            </f:facet>
                                                                            <p:columnGroup type="header">                                                
                                                                                <p:row>
                                                                                    <p:column headerText="Sr No."/>
                                                                                    <p:column headerText="Date"/>
                                                                                    <p:column headerText="Purpose"/>
                                                                                    <p:column headerText="From"/>
                                                                                    <p:column headerText="To"/>
                                                                                    <p:column headerText="Kms."/>
                                                                                    <p:column headerText="Mode"/>
                                                                                    <p:column headerText="Amount (in #{GlobalUtilities.rupee_symbol} ) "/>
                                                                                    <p:column headerText="Remarks"/>                                                                                                        
                                                                                    <p:column headerText=""/>                                                                                                        
                                                                                </p:row>                                                
                                                                            </p:columnGroup>
                                                                            <p:column style="width:10px">
                                                                                #{other_detail.ftasTadaConvExpDtlPK.srno}
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:calendar
                                                                                    value="#{other_detail.convDt}"
                                                                                    navigator="true"
                                                                                    readonlyInput="true"                                                    
                                                                                    pattern="#{GlobalUtilities.dateTimeFormat}"
                                                                                    showButtonPanel="true"
                                                                                    styleClass="fare-detail-calendar"
                                                                                    mindate="#{travelling_allowance.cal_tour_min_date}"
                                                                                    maxdate="#{travelling_allowance.cal_tour_max_date}"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputTextarea 
                                                                                    value="#{other_detail.purpose}"
                                                                                    style="width:90px;text-transform: uppercase"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputText value="#{other_detail.convFrom}" style="width:70px;text-transform: uppercase;" maxlength="100"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputText value="#{other_detail.convTo}"  style="width:70px;text-transform: uppercase;" maxlength="100"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputText  value="#{other_detail.convAmt}" 
                                                                                              style="width:35px;text-align: right"
                                                                                              styleClass="number-entry-10-2"/>
                                                                            </p:column>
                                                                            <p:column>                                                
                                                                                <p:selectOneMenu value="#{other_detail.cmSrgKey}" style="width:80px"
                                                                                                 converter="omnifaces.SelectItemsConverter">
                                                                                    <f:selectItems itemLabel="#{travel_mode.cmSrgKey==null?'':travel_mode.cmDesc}" value="#{travelling_allowance.ddl_conv_mst_options}"
                                                                                                   var="travel_mode"/>
                                                                                </p:selectOneMenu>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputText  
                                                                                    value="#{other_detail.convAmt}"
                                                                                    style="width:60px;text-align: right"                                                                      
                                                                                    styleClass="number-entry-10-2"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:inputText 
                                                                                    value="#{other_detail.remarks}"
                                                                                    style="width:70px;text-transform: uppercase" maxlength="100"/>
                                                                            </p:column>
                                                                            <p:column>
                                                                                <p:commandButton icon="ui-icon-trash"
                                                                                                 process=":form1:pnl_tbl_other_details"
                                                                                                 update=":form1:pnl_tbl_other_details"
                                                                                                 actionListener="#{travelling_allowance.removeOtherDetail(other_detail)}"/>
                                                                            </p:column>
                                                                        </p:dataTable>
                                                                    </f:validateBean>
                                                                    <script type="text/javascript">
                                                                        $('.number-entry-10-2').autoNumeric({aSep: '', dGroup: '0', vMin: '0',vMax:'99999999.99',aPad: false});                                                        
                                                                    </script>
                                                                </h:panelGroup>                                    
                                                            </div>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                </td>
                                            </tr>    
                                        </table>
                                    </div>
                                </p:panel>
                            </h:panelGroup>

                        </p:outputPanel>
                        <p:dialog id="dlg_tbl_tour_training_selection"
                                  widgetVar="pw_dlg_tbl_tour_training_selection"
                                  header="Tour/Training Selection"
                                  modal="true"
                                  width="850"
                                  height="400">
                            <br/><br/>
                            <h:panelGroup id="pnl_dlg_tbl_tour_training_selection">
                                <p:dataTable id="tbl_tour_training_selection"
                                             value="#{travelling_allowance.tbl_tour_training_selection}"
                                             var="tour_training"
                                             rows="5"
                                             paginator="true"
                                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                             rowsPerPageTemplate="5,10,25,50"
                                             paginatorPosition="top"
                                             selectionMode="single"
                                             selection="#{travelling_allowance.selectedTourTraining}"
                                             >
                                    <p:ajax event="rowSelect"  oncomplete="pw_dlg_tbl_tour_training_selection.hide()"
                                            update="@(.emplist-selection)"/>
                                    <p:column headerText="User Id"
                                              sortBy="#{tour_training.userId.userId}"
                                              filterBy="#{tour_training.userId.userId}"
                                              filterMatchMode="contains"
                                              >#{tour_training.userId.userId}</p:column>
                                    <p:column headerText="User Name"
                                              sortBy="#{tour_training.userId.userName}"
                                              filterBy="#{tour_training.userId.userName}"
                                              filterMatchMode="contains"
                                              >#{tour_training.userId.userName}</p:column>
                                    <p:column headerText="Ou Name"
                                              sortBy="#{tour_training.oumUnitSrno.oumName}"
                                              filterBy="#{tour_training.oumUnitSrno.oumName}"
                                              filterMatchMode="contains"
                                              >#{tour_training.oumUnitSrno.oumName}</p:column>
                                    <p:column headerText="From" sortBy="#{tour_training.fromDate}" style="white-space: nowrap" width="1">
                                        <h:outputText value="#{tour_training.fromDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                        <br/>                                                                    
                                        (<h:outputText value="#{(tour_training.fromhalf==0)?'FULLDAY':(tour_training.fromhalf==1)?'FIRST HALF':(tour_training.fromhalf==2)?'SECOND HALF':(tour_training.fromhalf==3)?'BEFORE OFFICE HRS':(tour_training.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                                    </p:column>
                                    <p:column headerText="To"  style="white-space: nowrap" width="1">
                                        <h:outputText value="#{tour_training.toDate}">
                                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                        </h:outputText>
                                        <br/> 
                                        (<h:outputText value="#{(tour_training.tohalf==0)?'FULLDAY':(tour_training.tohalf==1)?'FIRST HALF':(tour_training.tohalf==2)?'SECOND HALF':(tour_training.tohalf==3)?'BEFORE OFFICE HRS':(tour_training.tohalf==4)?'AFTER OFFICE HRS':''}" />)
                                    </p:column>
                                    <p:column headerText="Days">#{tour_training.days}</p:column>
                                    <p:column headerText="Leave/ Tour/ Training">                                    
                                        <ui:repeat value="#{tour_training.ftasAbsenteesDtlCollection}" rendered="#{tour_training.ftasAbsenteesDtlCollection.size()==1}" var="dtl">
                                            #{dtl.lmSrgKey.leavecd} - #{dtl.lmSrgKey.leaveDesc}
                                        </ui:repeat>
                                        <h:outputText value="CLUB" rendered="#{tour_training.ftasAbsenteesDtlCollection.size()>1}"/>
                                    </p:column>                                
                                    <p:column headerText="Reason"
                                              sortBy="#{tour_training.reason1}"
                                              filterBy="#{tour_training.reason1}"
                                              filterMatchMode="contains"
                                              ><h:outputText value="#{tour_training.reason1}" escape="false"/>
                                    </p:column>
                                    <p:column headerText="Action By" filterBy="#{tour_training.actnby.userName}" sortBy="#{tour_training.actnby.userName}" >#{tour_training.actnby.userName}</p:column>
                                </p:dataTable>
                            </h:panelGroup>

                        </p:dialog>
                        <h:panelGroup id="pnl_dlg_emplist">
                            <fhrd:dlg_emplist_selectable id="dlg_emplist"  lstEmp="#{travelling_allowance.lst_employee_selectable}" selectedUser="#{travelling_allowance.selectedUserFromList}"/>
                        </h:panelGroup>  
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

