<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .td-1-width{min-width:131px;width:131px;}
                    .td-2-width{min-width:190px;width:190px;}
                    .td-3-width{min-width:90px;width:90px;}
                    .component-width,.component-width select,.component-width input{width:180px}
                </style>
                <script type="text/javascript">
                    //<![CDATA[
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Transaction" url="#{PIS_GlobalSettings.brPis_trans_tas}" />  
                        <p:menuitem value="Time Attendance" url="#{PIS_GlobalSettings.brPis_trans_tas}" /> 
                        <p:menuitem value="Aproval" url="#{PIS_GlobalSettings.brPis_payroll}" /> 
                        <p:menuitem value="Approval of Encashment Application" url="#" />    
                    </p:breadCrumb>  
                    <div align="center">                        
                        <div align="left" class="component-margin" >
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div style="display: inline" align="left">
                                            <p:button
                                                value="Approve"
                                                onclick="if(pw_tbl_approval_appl.getSelectedRowsCount()==0){
                                                    SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be approved');                                           
                                                }else{
                                                    $('#out_confirm_message').text('Total '+pw_tbl_approval_appl.getSelectedRowsCount()+' Application(s) will be approved, Do you want to continue?');
                                                    $('#btn_approve').show();
                                                    $('#btn_reject').hide();
                                                    pw_confirmDialog.show();
                                                } return false;"                                        
                                                icon="ui-icon-disk"                                                                                
                                                />
                                            <p:button style="margin-left:10px"
                                                      value="Reject"
                                                      onclick="if(pw_tbl_approval_appl.getSelectedRowsCount()==0){
                                                      SetAndShowDialog('GeneralDialog','Select Application(s)','Please select atleast one Application to be rejected');                                            
                                                  }else{
                                                      $('#out_confirm_message').text('Total '+pw_tbl_approval_appl.getSelectedRowsCount()+' Application(s) will be rejected, Do you want to continue?');
                                                      $('#btn_approve').hide();
                                                      $('#btn_reject').show();
                                                      pw_confirmDialog.show();
                                                  } return false;"  
                                                      icon="ui-icon-cancel"
                                                      />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div align="left" class="component-margin">
                                <div align="right">
                                    <p:commandButton value="Refresh"
                                                     update="pnl_approval_dataTable"
                                                     process="@this"                                                                               
                                                     />  
                                </div>
                                <h:panelGroup id="pnl_approval_dataTable">
                                    <p:dataTable
                                        id="approval_dataTable"
                                        widgetVar="pw_tbl_approval_appl"
                                        value="#{PIS_Approval_Encashment.tbl_approval_list}"
                                        filteredValue="#{PIS_Approval_Encashment.tbl_approval_list_filtered}"
                                        var="item" style="width:100%"
                                        rows="25"
                                        paginator="true"
                                        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                        rowsPerPageTemplate="5,10,25,50"
                                        paginatorPosition="top"                                                                       
                                        styleClass="p-datatable-with-refresh ui-datatable-hor-scroll"
                                        rowSelectMode="add"
                                        rowKey="#{item.encSrgKey}"
                                        selection="#{PIS_Approval_Encashment.selectedApplications}">
                                        <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                        <p:column selectionMode="multiple" style="width:18px"/>
                                        <p:column headerText="User Id" sortBy="#{item.userId.userId}"
                                                  filterBy="#{item.userId.userId}"
                                                  filterMatchMode="contains">#{item.userId.userId}
                                        </p:column>
                                        <p:column headerText="User Name" sortBy="#{item.userId.userName}"
                                                  filterBy="#{item.userId.userName}"
                                                  filterMatchMode="contains">#{item.userId.userName}
                                        </p:column>
                                        <p:column headerText="Application Date" sortBy="#{item.applicationDate}"
                                                  filterBy="#{item.applicationDate}"
                                                  filterMatchMode="contains">
                                            <h:outputText value="#{item.applicationDate}">
                                                <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                                            </h:outputText>
                                        </p:column>      
                                        <p:column headerText="Leave" sortBy="#{item.lmSrgKey.leaveDesc}"
                                                  filterBy="#{item.lmSrgKey.leaveDesc}"
                                                  filterMatchMode="contains">
                                            #{item.lmSrgKey.leavecd} - #{item.lmSrgKey.leaveDesc}
                                        </p:column>                            
                                        <p:column headerText="Current Leave Balance">
                                            #{item.emplbSrgKey.currentBal}
                                        </p:column>      
                                        <p:column headerText="No of Days to Encash">#{item.noOfDays}</p:column>
                                        <p:column headerText="Remarks">#{item.remarks}</p:column>
                                    </p:dataTable>
                                    <script type="text/javascript">
                                try{pw_tbl_approval_appl.filter();}catch(e){}
                                    </script>
                                </h:panelGroup>                          
                            </div>
                            <p:confirmDialog widgetVar="pw_confirmDialog" message="" 
                                             style="width:300px">
                                <f:facet name="message">
                                    <h:outputText value="" id="out_confirm_message" />
                                </f:facet>
                                <p:commandButton 
                                    id="btn_approve"
                                    value="Approve"                              
                                    process="btn_approve,pnl_approval_dataTable"
                                    update="growl1,pnl_approval_dataTable"
                                    icon="ui-icon-disk"                                        
                                    actionListener="#{PIS_Approval_Encashment.btn_approve_clicked}"                                        
                                    oncomplete="pw_confirmDialog.hide()"
                                    />
                                <p:commandButton 
                                    id="btn_reject"
                                    value="Reject"
                                    process="@this,pnl_approval_dataTable"
                                    update="pnl_approval_dataTable,growl1"
                                    icon="ui-icon-cancel"
                                    actionListener="#{PIS_Approval_Encashment.btn_reject_clicked}"
                                    oncomplete="pw_confirmDialog.hide();"
                                    />
                                <p:commandButton value="Cancel"
                                                 onclick="pw_confirmDialog.hide();return false;"/>
                            </p:confirmDialog>

                            <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                        </div>  
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>