<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:pic="http://java.sun.com/jsf/composite/components"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript" src="#{GlobalResources.rsc_js_plg_input_currencyFormatter}"/>
                <style type="text/css">
                    .component-width,.component-width input,.component-width select{width:170px}
                </style>
                <script type="text/javascript">
                    function validateEntry(){
                        var valid=true;
                        if($('#ddl_grade_city_link select').val().trim()==''){
                            valid=false;
                        }
                        if($('#ddl_desigmst select').val().trim()==''){
                            valid=false;
                        }
                        if($('#txt_from_day').val().trim()==''){
                            valid=false;
                        }                        
                        if($('#txt_from_day').val().trim()==''){
                            valid=false;
                        }
                        if($('#txt_to_day').val().trim()==''){
                            valid=false;
                        }
                        if(valid){
                            if(parseInt($('#txt_from_day').val().trim())>parseInt($('#txt_to_day').val().trim())){
                                SetAndShowDialog('GeneralDialog','Validation Failed','From Day cannot be greater than To Day.');                                           
                                return false;
                            }
                        }
                        if($('#txt_cash_allow').val().trim()==''){
                            valid=false;
                        }
                        if($('#txt_cash_allow_rate').val().trim()==''){
                            valid=false;
                        }
                        
                        
                        
                        if(pw_cal_start_date.getDate()==null){
                            valid=false;
                        }else if(pw_cal_end_date.getDate()!=null){
                            if(pw_cal_from_date.getDate()>pw_cal_to_date.getDate()){
                                SetAndShowDialog('GeneralDialog','Validation Failed','From date cannot be greater than to date');                                           
                                return false;
                            }
                        }
                        
                        if(!valid){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields');                                           
                        }                        
                        
                        return valid;
                    }
                    
                    function validEndDate(){
                        if(pw_cal_apply_end_date.getDate()==null){
                            return false;
                        }
                        return true;
                    }
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Organisation" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="TA/DA Bill" url="#{PIS_GlobalSettings.brPis_mst_org_tab}" />  
                        <p:menuitem value="Cash Allowance Rule Master" url="#" />  
                    </p:breadCrumb> 
                    <div class="component-margin" align="right">
                        <p:commandButton value="Create New Cash Allowance Rule"
                                         onclick="pw_dlg_new_carule.show();return false;"
                                         icon="ui-icon-plusthick"
                                         rendered="#{cashallow_rule_mst.globalData.systemUserFHRD}"
                                         />

                    </div>  
                    <div class="component-margin">
                        <h:panelGroup id="pnl_tbl_carule_mst">
                            <p:dataTable id="tbl_carule_mst"
                                         widgetVar="pw_tbl_carule_mst"
                                         value="#{cashallow_rule_mst.tbl_carule_mst}"
                                         filteredValue="#{cashallow_rule_mst.tbl_carule_mst_filter}"                                     
                                         var="item"
                                         paginator="true"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                         rowsPerPageTemplate="5,10,25,50"
                                         paginatorPosition="top">
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <f:facet name="header">
                                    Cash Allowance Rule List
                                </f:facet>
                                <p:column headerText="CA Rule No." 
                                          sortBy="#{item.carmSrgKey}"
                                          filterBy="#{item.carmSrgKey}">
                                    #{item.carmSrgKey}
                                </p:column>
                                <p:column headerText="Grade City Link"
                                          sortBy="#{item.gclSrgKey}"
                                          filterBy="#{item.gclSrgKey}">
                                    #{item.gclSrgKey.city}
                                    <br/>
                                    (#{item.gclSrgKey.gmSrgKey.gmDesc})
                                </p:column>
                                <p:column headerText="Designation"
                                          sortBy="#{item.dsgmSrgKey}"
                                          filterBy="#{item.dsgmSrgKey}">
                                    #{item.dsgmSrgKey.desigDesc}
                                </p:column>
                                <p:column headerText="From Day"
                                          sortBy="#{item.fromDay}"
                                          filterBy="#{item.fromDay}">
                                    #{item.fromDay}
                                </p:column>
                                <p:column headerText="To Day"
                                          sortBy="#{item.toDay}"
                                          filterBy="#{item.toDay}">
                                    #{item.toDay}
                                </p:column>
                                <p:column headerText="Cash Allowance"
                                          sortBy="#{item.cashAllowance}"
                                          filterBy="#{item.cashAllowance}">
                                    #{item.cashAllowance}
                                </p:column>
                                <p:column headerText="Cash Allowance Rate"
                                          sortBy="#{item.cashAllowRate}"
                                          filterBy="#{item.cashAllowRate}">
                                    #{item.cashAllowRate}
                                </p:column>
                                <p:column headerText="Start Date" sortBy="#{item.startDate}">
                                    <h:outputText value="#{item.startDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End Date" sortBy="#{item.endDate}">
                                    <h:outputText value="#{item.endDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="width:1px" rendered="#{cashallow_rule_mst.globalData.systemUserFHRD}">
                                    <p:commandButton icon="ui-icon-clock"
                                                     title="Apply End Date"                                                     
                                                     process=":form1:pnl_tbl_carule_mst"
                                                     update=":form1:pnl_dlg_apply_end_date"
                                                     actionListener="#{cashallow_rule_mst.applyEndDate(item)}"
                                                     style="#{item.endDate==null?'':'display:none'}"/>
                                </p:column>

                            </p:dataTable>
                        </h:panelGroup>
                    </div>



                    <div class="component-margin">
                        <p:dialog
                            id="dlg_new_carule"
                            widgetVar="pw_dlg_new_carule"
                            header="New Cash Allowance Rule"
                            modal="true">
                            <h:panelGroup id="pnl_dlg_new_carule">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">
                                            Grade City Link : 
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td >
                                            <p:selectOneMenu id="ddl_grade_city_link"
                                                             value="#{cashallow_rule_mst.ddl_grade_city_link}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{cashallow_rule_mst.ddl_grade_city_link_options}"/>
                                            </p:selectOneMenu>

                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="entry-component-label">
                                            Designation : 
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td>
                                            <p:selectOneMenu id="ddl_desigmst"
                                                             value="#{cashallow_rule_mst.ddl_desigmst}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{cashallow_rule_mst.ddl_desigmst_options}"/>
                                            </p:selectOneMenu>
                                            <p:growl id="growl2" sticky="true" showDetail="true"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            From Day : 
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td >
                                            <p:inputText
                                                id="txt_from_day"
                                                value="#{cashallow_rule_mst.txt_from_day}"
                                                styleClass="component-width"/>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            To Day : 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td >
                                            <p:inputText
                                                id="txt_to_day"
                                                value="#{cashallow_rule_mst.txt_to_day}"
                                                styleClass="component-width"/>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Cash Allowance: 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td >
                                            <p:inputText
                                                id="txt_cash_allow"
                                                value="#{cashallow_rule_mst.txt_cash_allow}"
                                                styleClass="component-width"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Cash Allowance Rate: 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td >
                                            <p:inputText
                                                id="txt_cash_allow_rate"
                                                value="#{cashallow_rule_mst.txt_cash_allow_rate}"
                                                styleClass="component-width"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            Start Date : 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td>
                                            <p:calendar id="cal_start_date" 
                                                        widgetVar="pw_cal_start_date"
                                                        value="#{cashallow_rule_mst.cal_start_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        styleClass="component-width"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            End Date : 
                                        </td>
                                        <td>
                                            <p:calendar id="cal_end_date" 
                                                        widgetVar="pw_cal_end_date"
                                                        value="#{cashallow_rule_mst.cal_end_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        styleClass="component-width"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <p:commandButton value="Save" 
                                                             icon="ui-icon-disk"
                                                             process="pnl_dlg_new_carule"
                                                             update="pnl_dlg_new_carule,pnl_tbl_carule_mst,growl1"
                                                             actionListener="#{cashallow_rule_mst.btn_save}"
                                                             onclick="if(!validateEntry()){return false;}"/>
                                        </td>
                                    </tr>

                                </table>
                                <script type="text/javascript">
                                    $('#txt_cash_allow').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'9999999999999.99',aPad: false});                                    
                                    $('#txt_cash_allow_rate').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'9999999999999.99',aPad: false});                                    
                                </script>
                            </h:panelGroup>
                        </p:dialog>
                    </div>
                    <p:dialog id="dlg_apply_end_date"
                              widgetVar="pw_dlg_apply_end_date"
                              header="Apply End Date"
                              modal="true">
                        <h:panelGroup id="pnl_dlg_apply_end_date">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">
                                        End Date:<span class="mandatory-text">*</span>
                                    </td>
                                    <td>
                                        <p:calendar
                                            id="cal_apply_end_date"
                                            value="#{cashallow_rule_mst.cal_apply_end_date}"
                                            mindate="#{cashallow_rule_mst.cal_apply_end_date_min}"
                                            widgetVar="pw_cal_apply_end_date"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            navigator="true"
                                            />
                                    </td>
                                </tr>
                                <tr>
                                    <td/>
                                    <td>
                                        <p:commandButton value="Apply End Date"
                                                         actionListener="#{cashallow_rule_mst.btn_apply_end_date}"
                                                         onclick="if(!validEndDate()){return false}"
                                                         icon="ui-icon-clock"
                                                         process="pnl_dlg_apply_end_date"
                                                         update="pnl_tbl_carule_mst,growl1"/>
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>

                    </p:dialog>
                    <p:growl id="growl1" sticky="true" showDetail="true"/>
                </h:form>             
            </ui:define>
        </ui:composition>       
    </body>
</html>