<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:pic="http://java.sun.com/jsf/composite/components"      
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <script type="text/javascript">
                    function validateEntry(){
                        var valid=true;
                        if($('#txt_cm_desc').val().trim()==''){
                            valid=false;
                        }
                        if(pw_cal_start_date.getDate()==null){
                            valid=false;
                        }
                        if(!valid){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields');                                           
                        }                        
                        
                        return valid;
                    }
                    function validEndDate(){
                        if(pw_cal_apply_end_date.getDate()==null){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields');                                           
                            return false;
                        }
                        return true;
                    }
                        
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Organisation" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="TA/DA Bill" url="#{PIS_GlobalSettings.brPis_mst_org_tab}" />  
                        <p:menuitem value="Conveyance Master" url="#" />  
                    </p:breadCrumb> 
                    <div class="component-margin" align="right">
                        <p:commandButton value="Create New Conveyance mode"
                                         onclick="pw_dlg_new_conv.show();return false;"
                                         icon="ui-icon-plusthick"
                                         />
                    </div>
                    <div class="component-margin">
                        <h:panelGroup id="pnl_tbl_conv_mst">
                            <p:dataTable id="tbl_conv_mst"
                                         widgetVar="pw_tbl_conv_mst"
                                         value="#{conv_master.tbl_conv_mst}"
                                         filteredValue="#{conv_master.tbl_conv_mst_filter}"                                     
                                         var="item"
                                         paginator="true"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                         rowsPerPageTemplate="5,10,25,50"
                                         paginatorPosition="top">
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <f:facet name="header">
                                    Conveyance List
                                </f:facet>
                                <p:column headerText="Conveyance No." 
                                          sortBy="#{item.cmSrgKey}"
                                          filterBy="#{item.cmSrgKey}">
                                    #{item.cmSrgKey}
                                </p:column>
                                <p:column headerText="Conveyance Description"
                                          sortBy="#{item.cmDesc}"
                                          filterBy="#{item.cmDesc}"
                                          filterMatchMode="contains">
                                    #{item.cmDesc}
                                </p:column>
                                <p:column headerText="Conveyance Rate"
                                          sortBy="#{item.cmRate}"
                                          filterBy="#{item.cmRate}"
                                          filterMatchMode="contains">
                                    #{item.cmRate}
                                </p:column>
                                <p:column headerText="Start Date" sortBy="#{item.startDate}">
                                    <h:outputText value="#{item.startDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End Date" sortBy="#{item.endDate}">
                                    <h:outputText value="#{item.endDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="width:1px">
                                    <p:commandButton icon="ui-icon-clock"
                                                     title="Apply End Date"
                                                     process=":form1:pnl_tbl_conv_mst"
                                                     update=":form1:pnl_dlg_apply_end_date"
                                                     actionListener="#{conv_master.applyEndDate(item)}"
                                                     style="#{item.endDate==null?'':'display:none'}"/>
                                </p:column>
                            </p:dataTable>
                            <script type="text/javascript">
                                try{pw_tbl_conv_mst.filter()}catch(e){}
                            </script>
                        </h:panelGroup>
                    </div>
                    <div class="component-margin">
                        <p:dialog
                            id="dlg_new_conv"
                            widgetVar="pw_dlg_new_conv"
                            header="New Conveyance mode"
                            modal="true">
                            <h:panelGroup id="pnl_dlg_new_conv">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">
                                            Conveyance Description : 
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td >
                                            <p:inputText
                                                id="txt_cm_desc"
                                                value="#{conv_master.txt_cm_desc}"
                                                style="text-transform: uppercase"
                                                styleClass="component-width"/>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="entry-component-label">
                                            Conveyance Rate : 

                                        </td>

                                        <td >
                                            <p:inputText
                                                id="txt_cm_rate"
                                                value="#{conv_master.txt_cm_rate}"/>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="entry-component-label">
                                            Start Date : 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td>
                                            <p:calendar id="cal_start_date" 
                                                        widgetVar="pw_cal_start_date"
                                                        value="#{conv_master.cal_start_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            End Date : 
                                        </td>
                                        <td>
                                            <p:calendar id="cal_end_date" 
                                                        widgetVar="pw_cal_end_date"
                                                        value="#{conv_master.cal_end_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <p:commandButton value="Save" 
                                                             icon="ui-icon-disk"
                                                             process="pnl_dlg_new_conv"
                                                             update="pnl_dlg_new_conv,pnl_tbl_conv_mst,growl1"
                                                             actionListener="#{conv_master.btn_save}"
                                                             onclick="if(!validateEntry()){return false;}"/>
                                        </td>
                                    </tr>
                                </table> 
                                <script type="text/javascript">
                                    $('#txt_cm_rate').autoNumeric({aSep: '', dGroup: '2', vMin: '0',vMax:'999999.99',aPad: false});                                        
                                </script>
                            </h:panelGroup>
                        </p:dialog>
                    </div>
                    <p:dialog id="dlg_apply_end_date"
                              widgetVar="pw_dlg_apply_end_date"
                              header="Apply End Date"
                              modal="true">
                        <h:panelGroup id="pnl_dlg_apply_end_date">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">
                                        End Date:<span class="mandatory-text">*</span>
                                    </td>
                                    <td>
                                        <p:calendar
                                            id="cal_apply_end_date"
                                            value="#{conv_master.cal_apply_end_date}"
                                            mindate="#{conv_master.cal_apply_end_date_min}"
                                            widgetVar="pw_cal_apply_end_date"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            navigator="true"
                                            />
                                    </td>
                                </tr>
                                <tr>
                                    <td/>
                                    <td>
                                        <p:commandButton value="Apply End Date"
                                                         actionListener="#{conv_master.btn_apply_end_date}"
                                                         onclick="if(!validEndDate()){return false}"
                                                         icon="ui-icon-clock"
                                                         process="pnl_dlg_apply_end_date"
                                                         update="pnl_tbl_conv_mst,growl1"/>
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>

                    </p:dialog>
                    <p:growl id="growl1" sticky="true" showDetail="true"/>
                </h:form>             
            </ui:define>
        </ui:composition>       
    </body>
</html>