<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"            
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="../../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width,.component-width select,.component-width input{width:150px;}
                </style>
                <script type="text/javascript">
                    function validateEntry(){
                        var valid=true;
                         if($('#ddl_grade select').val().trim()==''){
                            valid=false;
                        }
                        if($('#txt_city').val().trim()==''){
                            valid=false;
                        }
                        if(pw_cal_start_date.getDate()==null){
                            valid=false;
                        }
                        if(!valid){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields');                                           
                            return valid;
                        }
                        if(pw_cal_end_date.getDate()!=null){
                            if(pw_cal_start_date.getDate()>pw_cal_end_date.getDate()){
                                valid=false;
                            }
                        }
                        if(!valid){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Start Date can not be greater than End Date');                                           
                            return valid;
                        }
                        return valid;
                    }
                    function validEndDate(){
                        if(pw_cal_apply_end_date.getDate()==null){
                            SetAndShowDialog('GeneralDialog','Validation Failed','Please fill all mandatory fields');                                           
                            return false;
                        }
                        return true;
                    }
                        
                </script>
            </ui:define>
            <ui:define name="content">    
                <h:form id="form1" prependId="false">
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="Masters" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="Organisation" url="#{PIS_GlobalSettings.brPis_mst}" />  
                        <p:menuitem value="TA/DA Bill" url="#{PIS_GlobalSettings.brPis_mst_org_tab}" />  
                        <p:menuitem value="Grade Master" url="#" /> 
                        <p:menuitem value="Grade City Link" url="#" />  
                    </p:breadCrumb> 
                    <div class="component-margin" align="right">
                        <p:commandButton value="Create New Grade Link"
                                         onclick="pw_dlg_new_gradelink.show();return false;"
                                         icon="ui-icon-plusthick"
                                         />
                    </div>
                    <div class="component-margin">
                        <h:panelGroup id="pnl_tbl_grade_city_link">
                            <p:dataTable id="tbl_grade_city_link"
                                         widgetVar="pw_tbl_grade_city_link"
                                         value="#{grade_city_link.tbl_grade_city_link}"
                                         filteredValue="#{grade_city_link.tbl_grade_city_link_filter}"                                     
                                         var="item"
                                         paginator="true"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                         rowsPerPageTemplate="5,10,25,50"
                                         paginatorPosition="top">
                                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="page" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <p:ajax event="sort" global="false"  onerror="ShowConnectionError('GeneralDialog');"/>
                                <f:facet name="header">
                                    Grade List
                                </f:facet>
                                <p:column headerText="Grade City Link No." 
                                          sortBy="#{item.gclSrgKey}"
                                          filterBy="#{item.gclSrgKey}">
                                    #{item.gclSrgKey}
                                </p:column>
                                <p:column headerText="Grade No." 
                                          sortBy="#{item.gmSrgKey.gmDesc}"
                                          filterBy="#{item.gmSrgKey.gmDesc}">
                                    #{item.gmSrgKey.gmDesc}
                                </p:column>
                                <p:column headerText="City"
                                          sortBy="#{item.city}"
                                          filterBy="#{item.city}"
                                          filterMatchMode="contains">
                                    #{item.city}
                                </p:column>
                                <p:column headerText="Start Date" sortBy="#{item.startDate}">
                                    <h:outputText value="#{item.startDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="End Date" sortBy="#{item.endDate}">
                                    <h:outputText value="#{item.endDate}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column style="width:1px">
                                    <p:commandButton icon="ui-icon-clock"
                                                     title="Apply End Date"
                                                     process=":form1:pnl_tbl_grade_city_link"
                                                     update=":form1:pnl_dlg_apply_end_date"
                                                     actionListener="#{grade_city_link.applyEndDate(item)}"
                                                     style="#{item.endDate==null?'':'display:none'}"/>
                                </p:column>
                            </p:dataTable>
                            <script type="text/javascript">
                                try{pw_tbl_grade_city_link.filter()}catch(e){}
                            </script>
                        </h:panelGroup>
                    </div>
                    <div class="component-margin">
                        <p:dialog
                            id="dlg_new_gradelink"
                            widgetVar="pw_dlg_new_gradelink"
                            header="New Grade Link"
                            modal="true">
                            <h:panelGroup id="pnl_dlg_new_gradelink">
                                <table class="element-table">

                                    <tr>
                                        <td class="entry-component-label">
                                            Grade:
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td>
                                            <p:selectOneMenu id="ddl_grade"
                                                             value="#{grade_city_link.ddl_grade}"
                                                             styleClass="component-width">
                                                <f:selectItems value="#{grade_city_link.ddl_grade_options}"/>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            City: 
                                            <span class="mandatory-text">*</span>  
                                        </td>

                                        <td >
                                            <p:inputText
                                                id="txt_city"
                                                value="#{grade_city_link.txt_city}"
                                                style="text-transform: uppercase"
                                                styleClass="component-width"/>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="entry-component-label">
                                            Start Date : 
                                            <span class="mandatory-text">*</span>  
                                        </td>
                                        <td>
                                            <p:calendar id="cal_start_date" 
                                                        widgetVar="pw_cal_start_date"
                                                        value="#{grade_city_link.cal_start_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        styleClass="component-width"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="entry-component-label">
                                            End Date : 
                                        </td>
                                        <td>
                                            <p:calendar id="cal_end_date" 
                                                        widgetVar="pw_cal_end_date"
                                                        value="#{grade_city_link.cal_end_date}"
                                                        navigator="true"
                                                        readonlyInput="true"                                                    
                                                        pattern="#{GlobalUtilities.dateFormat}"
                                                        styleClass="component-width"
                                                        />   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <p:commandButton value="Save"
                                                             icon="ui-icon-disk"
                                                             process="pnl_dlg_new_gradelink"
                                                             update="pnl_dlg_new_gradelink,pnl_tbl_grade_city_link,growl1"
                                                             onclick="if(!validateEntry()){return false;}"
                                                             actionListener="#{grade_city_link.btn_save}"
                                                             />
                                        </td>
                                    </tr>
                                </table>                                
                            </h:panelGroup>

                        </p:dialog>        


                    </div>
                    <p:dialog id="dlg_apply_end_date"
                              widgetVar="pw_dlg_apply_end_date"
                              header="Apply End Date"
                              modal="true">
                        <h:panelGroup id="pnl_dlg_apply_end_date">
                            <table class="element-table">
                                <tr>
                                    <td class="entry-component-label">
                                        End Date:<span class="mandatory-text">*</span>
                                    </td>
                                    <td>
                                        <p:calendar
                                            id="cal_apply_end_date"
                                            value="#{grade_city_link.cal_apply_end_date}"
                                            mindate="#{grade_city_link.cal_apply_end_date_min}"
                                            widgetVar="pw_cal_apply_end_date"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            navigator="true"
                                            />
                                    </td>
                                </tr>
                                <tr>
                                    <td/>
                                    <td>
                                        <p:commandButton value="Apply End Date"
                                                         actionListener="#{grade_city_link.btn_apply_end_date}"
                                                         onclick="if(!validEndDate()){return false}"
                                                         icon="ui-icon-clock"
                                                         process="pnl_dlg_apply_end_date"
                                                         update="pnl_tbl_grade_city_link,growl1"/>
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>

                    </p:dialog>
                    <p:growl id="growl1" sticky="true" showDetail="true"/>
                </h:form>             
            </ui:define>
        </ui:composition>       
    </body>
</html>