<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">    
    <cc:interface>  
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.id}" >
            <p:panel style="margin-left: 10%;margin-right: 10%;">
                <div align="center">
                    <h:panelGroup id="pnl_selection">
                        <table class="element-table">
                            <tr>
                                <td>
                                    <p:selectOneRadio id="rdb_selection"
                                                      value="#{Day_calculator.rdb_selection}"
                                                      style="font-weight: bold"
                                                      onchange="rdb_selection_onclick();return false;">
                                        <f:selectItem itemLabel="Find Date" itemValue="D"/>
                                        <f:selectItem itemLabel="Find Duration" itemValue="P"/>
                                    </p:selectOneRadio>
                                </td>
                            </tr>                        
                        </table>
                    </h:panelGroup>
                    <script type="text/javascript">
                        function rdb_selection_onclick(){
                            $('#day_calculator\\:pnl_calc_date').hide();
                            $('#day_calculator\\:pnl_calc_period').hide();
                            if($('#day_calculator\\:rdb_selection\\:0').prop('checked')){
                                $('#day_calculator\\:pnl_calc_date').show();
                            }else if($('#day_calculator\\:rdb_selection\\:1').prop('checked')){
                                $('#day_calculator\\:pnl_calc_period').show();
                            }
                        }
                    </script>
                </div>
                <br/>
                <div align="center">                
                    <h:panelGroup id="pnl_calc_date">            
                        <table class="element-table">
                            <tr>
                                <td class="entry-component-label">
                                    Enter Date From:
                                </td>
                                <td>
                                    <p:calendar id="cal_from_date_after"                                                
                                                pattern="#{GlobalUtilities.dateFormat}"
                                                value="#{Day_calculator.cal_from_date_after}"
                                                navigator="true"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="entry-component-label">Year:</td>
                                <td>
                                    <p:inputText id="txt_year"
                                                 value="#{Day_calculator.txt_year}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="entry-component-label">Month:</td>
                                <td>
                                    <p:inputText id="txt_month"
                                                 value="#{Day_calculator.txt_month}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="entry-component-label">Days:</td>
                                <td>
                                    <p:inputText id="txt_days"
                                                 value="#{Day_calculator.txt_days}"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p:commandButton id="btn_calculate"
                                                     value="Calculate New Date"
                                                     icon="ui-icon-disk"
                                                     process="@this,cal_from_date_after,
                                                     txt_year,txt_month,txt_days"
                                                     update="txt_1"
                                                     actionListener="#{Day_calculator.btn_calculate}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="static-text-label">Result Date:</td>
                                <td class="static-text-label">
                                    <h:outputText id="txt_1"
                                                  value="#{Day_calculator.txt_1}"/>
                                </td>
                            </tr>
                        </table>   
                        <script type="text/javascript">
                            $('#day_calculator\\:txt_year').autoNumeric({aSep: '', dGroup: '0', vMin: '-99',vMax:'99',aPad: false});
                            $('#day_calculator\\:txt_year').autoNumeric({aSep: '', dGroup: '0', vMin: '-99',vMax:'99',aPad: false});
                            $('#day_calculator\\:txt_year').autoNumeric({aSep: '', dGroup: '0', vMin: '-999',vMax:'999',aPad: false});
                        </script>

                    </h:panelGroup>      
                </div>
                <div align="center">
                    <h:panelGroup id="pnl_calc_period" style="display: none">
                        <table class="element-table">
                            <tr>
                                <td class="entry-component-label">From Date:</td>
                                <td class="entry-component-detail">
                                    <p:calendar id="cal_from_date"
                                                navigator="true"
                                                pattern="#{GlobalUtilities.dateFormat}"
                                                value="#{Day_calculator.cal_from_date}"
                                                valueChangeListener="#{Day_calculator.cal_from_date_changed}">
                                        <p:ajax event="dateSelect"
                                                process="@this"
                                                update="cal_to_date"/>
                                    </p:calendar>
                                </td>
                            </tr>
                            <tr>
                                <td class="entry-component-label">To Date:</td>
                                <td class="entry-component-detail">
                                    <p:calendar id="cal_to_date"
                                                navigator="true"
                                                pattern="#{GlobalUtilities.dateFormat}"
                                                value="#{Day_calculator.cal_to_date}"
                                                mindate="#{Day_calculator.cal_to_date_min}"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p:commandButton id="btn_calculate_period"
                                                     value="Calculate Duration"
                                                     icon="ui-icon-disk"
                                                     process="@this,pnl_calc_period"
                                                     update="txt_period"
                                                     actionListener="#{Day_calculator.btn_calculate_period_clicked}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="static-text-label">Total No. of Days:</td>
                                <td class="static-text-label">
                                    <h:outputText id="txt_period"
                                                  value="#{Day_calculator.txt_period}"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>
                </div>
            </p:panel>
        </div>
    </cc:implementation>
</html>

