<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dtl="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>        
        <cc:attribute name="edSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
        <cc:attribute name="edmSrgKeyTarget" required="true"/>        
        <cc:attribute name="edmSrgKeyUpdateId" required="true"/>      
    </cc:interface>
    <cc:implementation>
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <h:panelGroup rendered="#{cc.attrs.edSrgKey!=null}">
                <p:dialog id="dlg_ed_rule"
                          widgetVar="pw_dlg_ed_rule"
                          modal="true"
                          width="800"
                          header="EarnDeduction Rule Detail">
                    <dtl:dtl_earn_ded edSrgKey="#{cc.attrs.edSrgKey}"
                                      prependIdValue="#{cc.attrs.prependIdValue}"
                                      edmSrgKeyTarget="#{cc.attrs.edmSrgKeyTarget}"
                                      edmSrgKeyUpdateId="#{cc.attrs.edmSrgKeyUpdateId}"/>
                </p:dialog>
            </h:panelGroup>
            <script type="text/javascript">                        
                try{pw_dlg_ed_rule.show();}catch(e){}
            </script>                
        </div>
    </cc:implementation>
</html>

