<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dtl="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>        
        <cc:attribute name="lstEmp" required="true"/>          
        <cc:attribute name="prependIdValue"/>        
        <cc:attribute name="selectedUser"/>
    </cc:interface>
    <cc:implementation>
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <h:panelGroup rendered="#{cc.attrs.lstEmp!=null}">
                <p:dialog id="dlg_emplist"
                          widgetVar="pw_dlg_emplist"
                          modal="true"
                          width="550" 
                          header="User List"
                          closeOnEscape="true"
                          onShow="setTimeout('focusOnNameFilter()',200)"
                          >
                    <dtl:dtl_emplist_selectable  lstEmp="#{cc.attrs.lstEmp}" prependIdValue="#{cc.attrs.prependIdValue}" selectedUser="#{cc.attrs.selectedUser}"/>
                    <center><p:commandButton value="Close this window" icon="ui-icon-close"
                                             onclick="pw_dlg_emplist.hide();return false;"/></center>
                </p:dialog>
            </h:panelGroup>

            <script type="text/javascript">                        
                try{pw_dlg_emplist.show();}catch(e){}
                function focusOnNameFilter(){
                    $('##{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id} .emplist-selection-name input').focus()
                }
            </script>                
        </div>
    </cc:implementation>
</html>

