<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dtl="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>        
        <cc:attribute name="edmSrgKey"/>
        <cc:attribute name="prependIdValue"/>        
    </cc:interface>
    <cc:implementation>
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <h:panelGroup rendered="#{cc.attrs.edmSrgKey!=null}">
                <p:dialog id="dlg_earn_ded_master"
                          widgetVar="pw_dlg_earn_ded_master"
                          width="700"
                          modal="true"
                          header="Earn-Deduction Master">
                    <dtl:dtl_earn_ded_master edmSrgKey="#{cc.attrs.edmSrgKey}" prependIdValue="#{cc.attrs.prependIdValue}"/>
                </p:dialog>
            </h:panelGroup>
            <script type="text/javascript">    
                    try{pw_dlg_earn_ded_master.show();}catch(e){}                
            </script>                
        </div>
    </cc:implementation>
</html>

