<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dtl="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>        
        <cc:attribute name="absSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation>
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <h:panelGroup rendered="#{cc.attrs.absSrgKey!=null}">
                <p:dialog id="dlg_leave_detail"
                          widgetVar="pw_dlg_leave_detail"
                          modal="true"
                          width="700" 
                          header="User List"
                          closeOnEscape="true"
                          >
                    <dtl:dtl_leave_tour_application  absSrgKey="#{cc.attrs.absSrgKey}" prependIdValue="#{cc.attrs.prependIdValue}" />

                </p:dialog>
            </h:panelGroup>

            <script type="text/javascript">                        
                try{pw_dlg_leave_detail.show();}catch(e){}
            </script>                
        </div>
    </cc:implementation>
</html>

