<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dtl="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>              
        <cc:attribute name="prependIdValue"/>     
    </cc:interface>
    <cc:implementation>
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <h:panelGroup>                

                <p:dialog id="dlg_attendance_summary"
                          widgetVar="pw_dlg_attendance_summary"
                          modal="true"
                          width="800"
                          height="500"
                          header="Attendance Summary">
                    <dtl:dtl_attendance_summary userId="#{cc.attrs.userId}"
                                                prependIdValue="#{cc.attrs.prependIdValue}"/>
                </p:dialog>
            </h:panelGroup>
            <script type="text/javascript">                        
                try{pw_dlg_attendance_summary.show();}catch(e){}
            </script>                
        </div>
    </cc:implementation>
</html>

