<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface> 
        <cc:attribute name="lmSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <p:panel>            
                <table class="element-table">
                    <tr>
                        <td class="static-text-label" width="1px">
                            Code:
                        </td>        
                        <td  class="static-text-detail" >                                                                    
                            #{cc.attrs.lmSrgKey.leavecd}
                        </td>
                        <td class="static-text-label"  align="right">
                            Description:
                        </td>
                        <td class="static-text-detail"  >                         
                            #{cc.attrs.lmSrgKey.leaveDesc}
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">
                            Short name:
                        </td>
                        <td>
                            #{cc.attrs.lmSrgKey.shortName}
                        </td>
                        <td class="static-text-label" align="right"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="static-text-label">
                            Leave Flag:
                        </td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.leaveFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.leaveFlag=='N'}"/>
                        </td>
                        <td class="static-text-label" align="right">Actual Attendance:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.actualAttendanceFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.actualAttendanceFlag=='N'}"/></td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Consider as Presence:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='N'}"/>
                            <h:outputText  value="Tour" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='R'}"/>
                            <h:outputText  value="Training" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='R'}"/>
                            <h:outputText  value="Field Visit" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='F'}"/>                            
                        </td>
                        <td class="static-text-label" align="right">Consider as Actual Attendance:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.considerAsAttendanceFlag=='N'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Start Date:</td>
                        <td>
                            <h:outputText style="white-space:nowrap;" value="#{cc.attrs.lmSrgKey.startDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                   timeZone="#{GlobalUtilities.india_standard_time}"
                                                   />
                            </h:outputText></td>
                        <td class="static-text-label" align="right">End Date:</td>
                        <td><h:outputText style="white-space:nowrap;" value="#{cc.attrs.lmSrgKey.endDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"
                                                   timeZone="#{GlobalUtilities.india_standard_time}"
                                                   />
                            </h:outputText></td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Print Order:</td>
                        <td>#{cc.attrs.lmSrgKey.printOrder}</td>
                        <td class="static-text-label" align="right">Print in Payslip:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.printInPaySlipFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.printInPaySlipFlag=='N'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Application Required:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.applicationRequired=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.applicationRequired=='N'}"/>
                        </td>
                        <td class="static-text-label" align="right">Virtual Leave:</td>
                        <td>
                            <h:outputText  value="Leave" rendered="#{cc.attrs.lmSrgKey.virtualLeave=='L'}"/>
                            <h:outputText  value="While on Tour/Training" rendered="#{cc.attrs.lmSrgKey.virtualLeave=='T'}"/>
                            <h:outputText  value="None" rendered="#{cc.attrs.lmSrgKey.virtualLeave=='N'}"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Parentable:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.parentable=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.parentable=='N'}"/></td>
                        <td class="static-text-label" align="right">While on Tour/Training Parentable:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.TTrParent=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.TTrParent=='N'}"/></td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Holiday Flag:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.holidayFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.holidayFlag=='N'}"/></td>
                        <td class="static-text-label" align="right">Multiple Rule Flag:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.multipleRuleFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.multipleRuleFlag=='N'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Print in Report if 0 consumed:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.printIf0Cons=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.printIf0Cons=='N'}"/></td>
                        <td class="static-text-label" align="right">Consider Leave during Resign Relieve:</td>
                        <td>
                            <h:outputText  value="Yes" rendered="#{cc.attrs.lmSrgKey.resignRelieveConsFlag=='Y'}"/>
                            <h:outputText  value="No" rendered="#{cc.attrs.lmSrgKey.resignRelieveConsFlag=='N'}"/></td>
                        <td class="static-text-label" align="right"></td>
                    </tr>
                </table>       
            </p:panel>

        </div>
    </cc:implementation>
</html>

