<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface> 
        <cc:attribute name="lrSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <p:panel>            
                <table class="element-table" width="100%">
                    <tr>
                        <td class="static-text-label" width="1px">
                            Manageable Group:
                        </td>        
                        <td  class="static-text-detail" width="35%">                                                                    
                            #{cc.attrs.lrSrgKey.rmgmSrgKey.managGroupDesc}
                        </td>
                        <td class="static-text-label"  align="right">
                            Leave Code:
                        </td>
                        <td class="static-text-detail"   width="35%">                         
                            #{cc.attrs.lrSrgKey.lmSrgKey.leavecd} #{cc.attrs.lrSrgKey!=null?'-':''} #{cc.attrs.lrSrgKey.lmSrgKey.leaveDesc}
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">
                            Gender Selection:
                        </td>
                        <td>
                            #{cc.attrs.lrSrgKey.genderFlag=='M'?'Male':(cc.attrs.lrSrgKey.genderFlag=='F'?'Female':(cc.attrs.lrSrgKey.genderFlag=='A'?'All':''))}
                        </td>
                    </tr>
                </table>       
            </p:panel>
            <br/>
            <p:accordionPanel multiple="true">
                <p:tab title="Leave Limits Information">
                    <table class="element-table" width="100%">
                        <tr>
                            <td class="static-text-label">
                                Entitlement:
                            </td>
                            <td class="static-text-detail"  width="35%">
                                #{cc.attrs.lrSrgKey.noOfLeave}        
                            </td>
                            <td class="static-text-label" align="right">
                                Entitlement Flag:
                            </td>
                            <td width="35%">
                                <span style="#{cc.attrs.lrSrgKey.balanceEarnType==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.balanceEarnType=='P'?'Pre':(cc.attrs.lrSrgKey.balanceEarnType=='O'?'Post':(cc.attrs.lrSrgKey.balanceEarnType=='C'?'Continuous':(cc.attrs.lrSrgKey.balanceEarnType=='M'?'Manual':'')))}</span>                            
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label" style="white-space: normal">
                                Days per Leave Balance Comparison:
                            </td>
                            <td class="static-text-detail"  width="35%">
                                #{cc.attrs.lrSrgKey.daysPerLeaveBalComparison}        
                            </td>
                            <td class="static-text-label" align="right"></td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Frequency Period:
                            </td>
                            <td class="static-text-detail">
                                <span style="#{cc.attrs.lrSrgKey.freqPerPeriod==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.freqPerPeriod} <b> time(s) per </b> #{cc.attrs.lrSrgKey.freqPeriod} <b>#{cc.attrs.lrSrgKey.freqPeriodUnit=='Y'?'Year(s)':(cc.attrs.lrSrgKey.freqPeriodUnit=='C'?'On Contract End':(cc.attrs.lrSrgKey.freqPeriodUnit=='B'?'From Date of Birth':''))}</b></span>

                            </td>
                            <td class="static-text-label" align="right" style="white-space: normal">
                                Frequency Considered From:
                            </td>
                            <td>
                                #{cc.attrs.lrSrgKey.freqConsFrom==null?'':(cc.attrs.lrSrgKey.freqConsFrom=='R'?'Rule Starting Date':(cc.attrs.lrSrgKey.freqConsFrom=='A'?'Application Starting Date':(cc.attrs.lrSrgKey.freqConsFrom=='B'?'Balance Starting Date':'')))}                            

                            </td>                        
                        </tr>
                        <tr>                       
                            <td class="static-text-label">
                                Applicable Min. Leave: 
                            </td>
                            <td class="static-text-detail">                         
                                #{cc.attrs.lrSrgKey.minTaken}
                            </td>
                            <td class="static-text-label" align="right">
                                Applicable Max. Leave:
                            </td>
                            <td>                            
                                #{cc.attrs.lrSrgKey.maxTaken}
                            </td>                        
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Start Date: 
                            </td>
                            <td class="static-text-detail">                         
                                <h:outputText value="#{cc.attrs.lrSrgKey.startDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </td>
                            <td class="static-text-label" align="right">
                                End Date: 
                            </td>
                            <td>                            
                                <h:outputText value="#{cc.attrs.lrSrgKey.endDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </td>                        
                        </tr>
                        <tr>
                            <td class="static-text-label">With Effect From:</td>
                            <td class="static-text-detail"> <h:outputText value="#{cc.attrs.lrSrgKey.wefDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Proportionate Balance:
                            </td>
                            <td class="static-text-detail">                         
                                #{cc.attrs.lrSrgKey.proportionateBalance=='Y'?'Yes':(cc.attrs.lrSrgKey.proportionateBalance=='N'?'No':'')}                      
                            </td>   
                            <td class="static-text-label" align="right">
                                Fix Month:
                            </td>
                            <td class="static-text-detail">                         
                                #{cc.attrs.lrSrgKey.fixMonth=='F'?'Fix Month':(cc.attrs.lrSrgKey.fixMonth=='J'?'From Joining':'')}
                            </td>                                          
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Start Month:
                            </td>
                            <td class="static-text-detail">                         
                                #{PIS_GlobalSettings.getMonthFullNameFromDate(cc.attrs.lrSrgKey.startMonth)}
                            </td>
                            <td class="static-text-label" align="right">
                                End Month:
                            </td>
                            <td>                            
                                #{PIS_GlobalSettings.getMonthFullNameFromDate(cc.attrs.lrSrgKey.endMonth)}
                            </td>                        
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Balance Check in Application:
                            </td>
                            <td>                            
                                #{cc.attrs.lrSrgKey.balCheckedInAppliFlag=='Y'?'Yes':(cc.attrs.lrSrgKey.balCheckedInAppliFlag=='N'?'No':'')}
                            </td>  
                            <td class="static-text-label" align="right">
                                Exhaust balance leave in Club Application:
                            </td>
                            <td class="static-text-detail">     
                                #{cc.attrs.lrSrgKey.leaveLapsInClubFlag=='Y'?'Yes':(cc.attrs.lrSrgKey.leaveLapsInClubFlag=='N'?'No':'')}                                
                            </td>
                        </tr> 
                        <tr>
                            <td class="static-text-label">
                                Required Balance on Retirement:
                            </td>
                            <td>                            
                                #{cc.attrs.lrSrgKey.reqBalOnRelieve}
                            </td>  
                            <td class="static-text-label" align="right">
                                Exhaust All Balance of other Leave?
                            </td>
                            <td class="static-text-detail">     
                                #{cc.attrs.lrSrgKey.exhaustOtherLeaveFlag=='Y'?'Yes':(cc.attrs.lrSrgKey.exhaustOtherLeaveFlag=='N'?'No':'')}                                
                            </td>
                        </tr> 
                    </table>
                </p:tab>
                <p:tab title="Leave's General Properties">
                    <table class="element-table" width="100%" border="0">
                        <tr>
                            <td class="static-text-label" width="1px">
                                Deduct Payable Days:
                            </td>        
                            <td  class="static-text-detail" width="30%">                                                                    
                                <span style="#{cc.attrs.lrSrgKey.deductDays==null?'display:none':cc.attrs.lrSrgKey.deductDays=='0'?'display:none':'display:block'}"> #{cc.attrs.lrSrgKey.deductDays} <b> Day(s) per </b>  #{cc.attrs.lrSrgKey.deductLeaves} <b>Available Leaves</b></span>
                            </td>
                            <td class="static-text-label"  align="right">
                                Max Accumulation:
                            </td>
                            <td class="static-text-detail"   width="35%">                         
                                #{cc.attrs.lrSrgKey.accumulation}
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Halfday Applicable:
                            </td>
                            <td class="static-text-detail">                         
                                <span  style="#{cc.attrs.lrSrgKey.halfdayApplicable==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.halfdayApplicable==null?'':(cc.attrs.lrSrgKey.halfdayApplicable=='Y'?'Yes':'No')}</span>
                            </td>
                            <td class="static-text-label" align="right">
                                Holiday Embedded:
                            </td>
                            <td>                            
                                <span style="#{cc.attrs.lrSrgKey.holidayEmbedded==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.holidayEmbedded==null?'':(cc.attrs.lrSrgKey.holidayEmbedded=='Y'?'Yes':'No')}</span>
                            </td>                        
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Included in Earning Leave:
                            </td>
                            <td class="static-text-detail">
                                <span style="#{cc.attrs.lrSrgKey.earnIncludeFlag==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.earnIncludeFlag=='Y'?'Yes':(cc.attrs.lrSrgKey.earnIncludeFlag=='N'?'No':'')}</span>
                            </td>
                            <td class="static-text-label" align="right">Earn Leaves:</td>
                            <td class="static-text-detail">
                                <span style="#{cc.attrs.lrSrgKey.earnLeavePerPeriod==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.earnLeavePerPeriod}<b> leave(s) per </b> #{cc.attrs.lrSrgKey.earnLeavePeriod} <b> #{cc.attrs.lrSrgKey.earnLeavePeriodUnit=='D'?'Day(s)':(cc.attrs.lrSrgKey.earnLeavePeriodUnit=='M'?'Month(s)':(cc.attrs.lrSrgKey.earnLeavePeriodUnit=='Y'?'Year(s)':''))}</b></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Carry Forwardable:
                            </td>
                            <td class="static-text-detail">                         
                                <span style="#{cc.attrs.lrSrgKey.carryForward==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.carryForward=='Y'?'Yes':'No'}</span>
                            </td>
                            <td  style="#{cc.attrs.lrSrgKey.carryForward=='Y'?'display:block':'display:none'}" colspan="2">
                                <table class="sub-element-table">
                                    <tr>
                                        <td class="static-text-label" >Carry Forward Max.:</td>
                                        <td class="static-text-detail">
                                            #{cc.attrs.lrSrgKey.carryForwardMax}
                                        </td>
                                        <td class="static-text-label" align="right">
                                            <span style="padding-left: 20px">Remaining Balance:</span>
                                        </td>
                                        <td class="static-text-detail">                            
                                            #{cc.attrs.lrSrgKey.carryForwardRemaining==null?'':(cc.attrs.lrSrgKey.carryForwardRemaining=='E'?'Encash':(cc.attrs.lrSrgKey.carryForwardRemaining=='L'?'Laps':''))}
                                        </td>   
                                    </tr>
                                </table>
                            </td>
                        </tr>   
                        <tr>
                            <td class="static-text-label" style="white-space: normal">
                                Contract due Carry Forwardable::
                            </td>
                            <td class="static-text-detail">                         
                                <span style="#{cc.attrs.lrSrgKey.contrdueCarryForwrd==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.contrdueCarryForwrd=='Y'?'Yes':'No'}</span>
                            </td>
                            <td colspan="2" style="#{cc.attrs.lrSrgKey.contrdueCarryForwrd=='Y'?'display:block':'display:none'}">
                                <table class="sub-element-table">
                                    <tr>
                                        <td class="static-text-label" >Carry Forward Max.:</td>
                                        <td class="static-text-detail">
                                            #{cc.attrs.lrSrgKey.contrdueCarryForwrdMax}
                                        </td>
                                        <td class="static-text-label" align="right">
                                            <span style="padding-left: 20px">Remaining Balance:</span>
                                        </td>
                                        <td class="static-text-detail">                            
                                            #{cc.attrs.lrSrgKey.contrdueCarryforwrdRemaining==null?'':(cc.attrs.lrSrgKey.contrdueCarryforwrdRemaining=='E'?'Encash':(cc.attrs.lrSrgKey.contrdueCarryforwrdRemaining=='L'?'Laps':''))}
                                        </td>   
                                    </tr>
                                </table>
                            </td>
                        </tr>  
                        <tr>
                            <td class="static-text-label">
                                Remarks:
                            </td>
                            <td class="static-text-detail">                         
                                <span style="#{cc.attrs.lrSrgKey.remarks==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.remarks=='Y'?'Yes':cc.attrs.lrSrgKey.remarks=='N'?'No':''}</span>
                            </td>                        
                        </tr>   
                    </table>
                </p:tab>
                <p:tab title="Encashment">                
                    <p:selectBooleanCheckbox value="#{cc.attrs.lrSrgKey.encashment=='Y'}"
                                             disabled="true"
                                             itemLabel="Encash ?"
                                             style="font-weight: bold"/>                
                    <br/>
                    <table class="element-table" width="100%" style="#{cc.attrs.lrSrgKey.encashment=='Y'?'display:block':'display:none'}">
                        <tr>
                            <td class="static-text-label">                            
                                Minimum Leave:
                            </td>
                            <td class="static-text-detail"  width="35%">                            
                                #{cc.attrs.lrSrgKey.encashMinLeave}        
                            </td>
                            <td class="static-text-label" align="right">                            
                                Maximum Leave:
                            </td>
                            <td width="35%">                            
                                #{cc.attrs.lrSrgKey.encashMaxLeave}        
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label">
                                Frequency:
                            </td>
                            <td class="static-text-detail">                                                        
                                <span style="#{cc.attrs.lrSrgKey.encashFreq==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.encashFreq} <b>#{cc.attrs.lrSrgKey.encashFreqPeriod!=null?'time(s) per':''}</b> #{cc.attrs.lrSrgKey.encashFreqPeriod} <b>#{cc.attrs.lrSrgKey.encashFreqPeriodUnit=='D'?'Day(s)':(cc.attrs.lrSrgKey.encashFreqPeriodUnit=='M'?'Month(s)':(cc.attrs.lrSrgKey.encashFreqPeriodUnit=='Y'?'Year(s)':(cc.attrs.lrSrgKey.encashFreqPeriodUnit=='R'?'On Retirement':'')))}</b></span>
                            </td>
                            <td class="static-text-label" align="right" style="white-space: normal"></td>
                            <td></td>                        
                        </tr>
                        <tr>
                            <td class="static-text-label">Auto Encash ?</td>
                            <td class="static-text-detail"><span style="#{cc.attrs.lrSrgKey.encashAutoFlag==null?'display:none':'display:block'}">#{cc.attrs.lrSrgKey.encashAutoFlag=='Y'?'Yes':(cc.attrs.lrSrgKey.encashAutoFlag=='N'?'No':'')}</span></td>
                            <td class="static-text-label">Auto Encash Month:</td>
                            <td class="static-text-detail">
                                #{PIS_GlobalSettings.getMonthFullNameFromDate(cc.attrs.lrSrgKey.encashAutoMonth)}                             
                            </td>
                        </tr>
                    </table>
                </p:tab>
                <p:tab title="Leave Eligibility">  
                    <p:selectBooleanCheckbox value="#{cc.attrs.lrSrgKey.eligibilityApplicable=='Y'}"
                                             disabled="true"
                                             itemLabel="Leave Eligibility ?"
                                             style="font-weight: bold"/> 
                    <table class="element-table" style="display: #{(cc.attrs.lrSrgKey.eligibilityApplicable=='Y'?'block':'none')}">
                        <tr>
                            <td class="static-text-label">Considered From:</td>
                            <td class="static-text-detail">
                                #{cc.attrs.lrSrgKey.eligibilityPeriod} <b>#{cc.attrs.lrSrgKey.eligibilityUnit=='D'?'Day(s)':(cc.attrs.lrSrgKey.eligibilityUnit=='M'?'Month(s)':(cc.attrs.lrSrgKey.eligibilityUnit=='Y'?'Year(s)':''))}</b> <b>#{cc.attrs.lrSrgKey.eligibilityConsidered=='J'?'After Joining':''} </b>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </p:tab>
                <p:tab title="Parent Detail" rendered="false">                
                    <table class="element-table" width="100%">
                        <tr>
                            <td class="static-text-label">
                                Parent Rule:
                            </td>
                            <td class="static-text-detail"  width="35%">                            
                                #{cc.attrs.lrSrgKey.parentLrSrgKey.rmgmSrgKey.managGroupDesc}        
                            </td>
                            <td class="static-text-label" align="right" style="white-space: normal">
                                Child-Parent Leave Ratio:
                            </td>
                            <td width="35%">                            
                                #{cc.attrs.lrSrgKey.parentLeaveRatio}                            
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label">Carry Forward Parent Balance?:</td>
                            <td colspan="2">
                                <table class="sub-element-table" style="#{cc.attrs.lrSrgKey.parentCarryForward=='Y'?'display:block':'display:none'}">
                                    <tr>
                                        <td>
                                            #{cc.attrs.lrSrgKey.parentCarryForward=='Y'?'Yes':(cc.attrs.lrSrgKey.parentCarryForward=='N'?'No':'')}
                                        </td>
                                        <td class="static-text-label carry-forward-parent-bal">Maximum Parent Balance:</td>
                                        <td>#{cc.attrs.lrSrgKey.parentCarryForwardMax}
                                        </td>
                                    </tr>
                                </table>                                                            
                            </td>
                            <td class="static-text-label carry-forward-parent-bal"  style="#{cc.attrs.lrSrgKey.parentCarryForward=='Y'?'display:block':'display:none'}">Remaining Parent Balance:</td>
                            <td  style="#{cc.attrs.lrSrgKey.parentCarryForward=='Y'?'display:block':'display:none'}">#{cc.attrs.lrSrgKey.parentCarryforwardRemaining=='L'?'Laps':(cc.attrs.lrSrgKey.parentCarryforwardRemaining=='E'?'Encash':'')}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </p:tab>
            </p:accordionPanel>
        </div>
    </cc:implementation>
</html>

