<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface> 
        <cc:attribute name="lstEmp" required="true"/>          
        <cc:attribute name="prependIdValue"/>
        <cc:attribute name="selectedUser"/>        
    </cc:interface>
    <cc:implementation>        
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">                          
            <br/>
            <p:dataTable id="tbl_emplist"                             
                         value="#{cc.attrs.lstEmp}"
                         var="item"
                         rows="5"
                         paginator="true"  
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                         rowsPerPageTemplate="5,10,25,50"
                         paginatorPosition="top"
                         selectionMode="single"
                         selection="#{cc.attrs.selectedUser}"                         
                         >
                <p:ajax  event="rowSelect"  onerror="ShowConnectionError('GeneralDialog');"                        
                         process="@this"
                        update="@(.emplist-selection)"
                        oncomplete="pw_dlg_emplist.hide()"/>
                <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                <p:ajax event="page"  global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                <p:column headerText="User Id" sortBy="#{item.userId}" filterBy="#{item.userId}" style="width:1px">#{item.userId}</p:column>
                <p:column headerText="User Name" sortBy="#{item.userName}" filterBy="#{item.userName}" filterMatchMode="contains" styleClass="emplist-selection-name">#{item.userName}</p:column>
                <p:column headerText="Posting Ou" sortBy="#{item.postingOumUnitSrno.oumName}" filterBy="#{item.postingOumUnitSrno.oumName}" filterMatchMode="contains">#{item.postingOumUnitSrno.oumName}</p:column>
            </p:dataTable>


            <br/>
        </div>
    </cc:implementation>
</html>

