<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">    
    <cc:interface>               
        <cc:attribute name="prependIdValue"/>  
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}" align="left">   
            <br/>   

            <h:panelGroup rendered="#{dtl_attendance_summary.selectedUser.userId!=null}">      
                <h:panelGroup id="pnl_print_area">

                    <style type="text/css">
                        .out-leavecd-list{font-weight: bold;}
                        @media screen{.printing-elements{display:none;}}
                        @media print {
                            .ui-widget-content{background: none;}
                            .non-printing-elements{visibility: hidden;} 

                            .element-table td{padding:0px;}
                            .ui-column-title{font-weight: bold;}
                            .pnl-attendance-summary .component-margin{margin-top:7px;}
                            .entry-component-label,
                            .entry-component-detail,
                            .static-text-label,
                            .static-text-detail,
                            .ui-state-default, .ui-widget-content .ui-state-default,
                            .ui-widget-header .ui-state-default,
                            .ui-widget-content{font-size:10px;color:black;}
                            .hasDatepicker{border:none;}
                            .clone-datatable td, td.clone-datatable,.ui-datatable-tablewrapper td,.ui-datatable tbody td{border-color:black;}
                            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:none;border:none;}}

                    </style>

                    <table class="element-table" width="100%">
                        <tr>
                            <td colspan="5" class="printing-elements" align="center" style="font-weight:bold">
                                Attendance Summary
                            </td>
                        </tr>
                        <tr>
                            <td class="entry-component-label">User:</td>
                            <td colspan="3" class="entry-component-detail">

                                #{dtl_attendance_summary.selectedUser.userId} - #{dtl_attendance_summary.selectedUser.userName}
                                <p:inputText style="visibility: hidden"/>
                            </td>
                            <td align="right">
                                <p:commandButton styleClass="non-printing-elements" value="Print"  type="button" icon="ui-icon-print" style="display:block;">
                                    <p:printer target="pnl_print_area" />
                                </p:commandButton>
                            </td>

                        </tr>
                        <tr>
                            <td width="1px" class="entry-component-label">
                                From Date:
                            </td>
                            <td width="1px">
                                <p:calendar id="cal_from_date"
                                            value="#{dtl_attendance_summary.cal_from_date}"
                                            navigator="true"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            readonlyInput="true">
                                    <p:ajax event="dateSelect"
                                            listener="#{dtl_attendance_summary.cal_from_date_changed}"
                                            process="cal_from_date"                                                        
                                            update="cal_from_date,cal_to_date,pnl_summary"
                                            />
                                </p:calendar>
                            </td>
                            <td width="1px"  class="entry-component-label">
                                To Date:
                            </td>
                            <td>
                                <p:calendar id="cal_to_date"
                                            value="#{dtl_attendance_summary.cal_to_date}"
                                            navigator="true"
                                            pattern="#{GlobalUtilities.dateFormat}"
                                            readonlyInput="true">
                                    <p:ajax event="dateSelect"
                                            listener="#{dtl_attendance_summary.cal_to_date_changed}"
                                            process="cal_to_date"                                                        
                                            update="cal_from_date,cal_to_date,pnl_summary"
                                            />
                                </p:calendar>
                            </td>
                        </tr>                
                    </table>
                    <h:panelGroup id="pnl_summary" styleClass="pnl-attendance-summary">
                        <div class="component-margin">
                            <p:dataTable id="tbl_attendance_summary"
                                         value="#{dtl_attendance_summary.tbl_attendance_summary}"
                                         var="item"
                                         >                                
                                <p:column headerText="Date" style="width:80px;text-align: center;white-space: nowrap">
                                    <h:outputText value="#{item.attddt}">
                                        <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="First Half" style="width:50px;text-align: center">

                                    #{item.ftasDaily.pendingHalf1LmSrgKey==null?(item.ftasDaily.half1LmSrgKey==null?'#':item.ftasDaily.half1LmSrgKey.leavecd):item.ftasDaily.pendingHalf1LmSrgKey.leavecd}
                                </p:column>
                                <p:column headerText="Second Half" style="width:50px;text-align: center">
                                    #{item.ftasDaily.pendingHalf2LmSrgKey==null?(item.ftasDaily.half2LmSrgKey==null?'#':item.ftasDaily.half2LmSrgKey.leavecd):item.ftasDaily.pendingHalf2LmSrgKey.leavecd}
                                </p:column>
                                <p:column headerText="Leave/Tour/Training Reason">
                                    <h:outputText value="#{item.description}"
                                                  escape="false"/>
                                </p:column>
                                <p:column headerText="Tour Place">
                                    <h:outputText value="#{item.place}"
                                                  escape="false"/>
                                </p:column>
                            </p:dataTable>                
                        </div>
                        <div class="component-margin">                    
                            <span class="static-text-label" style="text-decoration: underline">
                                Attendance Summary from 
                                <h:outputText value="#{dtl_attendance_summary.cal_from_date}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                                to
                                <h:outputText value="#{dtl_attendance_summary.cal_to_date}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </span>
                            <br/><br/>

                            <table class="clone-datatable">
                                <tr>
                                    <td class="static-text-label">
                                        Presents:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalPresents}
                                    </td>
                                    <td class="static-text-label">
                                        Field Visits:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalFieldVisits}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="static-text-label">
                                        Tours:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalTours}
                                    </td>
                                    <td class="static-text-label">
                                        Trainings:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalTrainings}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="static-text-label">
                                        Leaves:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalLeaves}
                                    </td>

                                    <td class="static-text-label">
                                        Holidays:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalHolidays}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="static-text-label">
                                        Pending Days:
                                    </td>
                                    <td class="static-text-detail" align="right">
                                        #{dtl_attendance_summary.totalPending}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="static-text-label">
                                        Total Days:
                                    </td>
                                    <td class="static-text-detail" colspan="3" align="right">
                                        #{dtl_attendance_summary.totalDays}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div  class="component-margin static-text-detail" style="white-space: normal;">
                            <span style="font-weight: bold;text-decoration: underline">Leave Code List:</span>
                            <br/><br/>
                            <ui:repeat value="#{dtl_attendance_summary.leaveCdList}" var="item">
                                <span class="out-leavecd-list">#{item.leavecd}</span> - #{item.leaveDesc},  
                            </ui:repeat>

                        </div>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </div>                        
    </cc:implementation>
</html>

