<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">    
    <cc:interface> 
        <cc:attribute name="edmSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation> 
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <table class="element-table" width="100%" border="0">
                <tbody>
                    <tr>
                        <td width="1px" class="static-text-label">Earn-Deduction Code:</td>
                        <td width="300px;">                        
                            #{cc.attrs.edmSrgKey.earndedncd}
                        </td>
                        <td width="15%" class="static-text-label">Earn-Deduction Name:</td>
                        <td width="300px;">
                            #{cc.attrs.edmSrgKey.earndednName}
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Start Date:</td>
                        <td>
                            <h:outputText value="#{cc.attrs.edmSrgKey.startDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText>
                        </td>
                        <td class="static-text-label">End Date:</td>
                        <td>
                            <h:outputText value="#{cc.attrs.edmSrgKey.endDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Earn-Deduction Flag:</td>
                        <td>
                            <h:outputText value="Earning" rendered="#{cc.attrs.edmSrgKey.earndednFlag=='E'}"/>
                            <h:outputText value="Deduction" rendered="#{cc.attrs.edmSrgKey.earndednFlag=='D'}"/>
                            <h:outputText value="Employer's Contribution" rendered="#{cc.attrs.edmSrgKey.earndednFlag=='B'}"/>
                            <h:outputText value="Reimbusrement" rendered="#{cc.attrs.edmSrgKey.earndednFlag=='R'}"/>
                            <h:outputText value="Calculation" rendered="#{cc.attrs.edmSrgKey.earndednFlag=='C'}"/>
                        </td>
                        <td class="static-text-label">Earn-Deduction Type:</td>
                        <td>
                            <h:outputText value="Occasional" rendered="#{cc.attrs.edmSrgKey.earndednType=='O'}"/>
                            <h:outputText value="Regular" rendered="#{cc.attrs.edmSrgKey.earndednType=='R'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Base Code Flag:</td>
                        <td>
                            <h:outputText value="Yes" rendered="#{cc.attrs.edmSrgKey.basecodeFlag=='Y'}"/>
                            <h:outputText value="No" rendered="#{cc.attrs.edmSrgKey.basecodeFlag=='N'}"/>
                            <h:outputText value="Secondary" rendered="#{cc.attrs.edmSrgKey.basecodeFlag=='S'}"/>
                        </td>
                        <td class="static-text-label">Print Order.:</td>
                        <td>
                            #{cc.attrs.edmSrgKey.printOrder}
                        </td>
                    </tr>                                                       
                    <tr>
                        <td class="static-text-label">Level No.:</td>
                        <td>
                            #{cc.attrs.edmSrgKey.levelNo}                        
                        </td>
                        <td class="static-text-label">Preference No.:</td>
                        <td>
                            #{cc.attrs.edmSrgKey.preferenceNo}                        
                        </td>
                    </tr> 
                    <tr>
                        <td class="static-text-label">Taxable Flag:</td>
                        <td class="static-text-detail">
                            <h:outputText value="Yes" rendered="#{cc.attrs.edmSrgKey.taxableFlag=='Y'}"/>                        
                            <h:outputText value="No" rendered="#{cc.attrs.edmSrgKey.taxableFlag=='N'}"/>
                        </td>
                        <td class="static-text-label">Statutory Flag:</td>
                        <td class="static-text-detail">
                            <h:outputText value="Yes" rendered="#{cc.attrs.edmSrgKey.statutoryFlag=='Y'}"/>                        
                            <h:outputText value="No" rendered="#{cc.attrs.edmSrgKey.statutoryFlag=='N'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Print In Pay Slip:</td>
                        <td>
                            <h:outputText value="Yes" rendered="#{cc.attrs.edmSrgKey.printInPaySlip=='Y'}"/>                        
                            <h:outputText value="No" rendered="#{cc.attrs.edmSrgKey.printInPaySlip=='N'}"/>                        
                        </td>
                        <td class="static-text-label">Print If Zero:</td>
                        <td>
                            <h:outputText value="Yes" rendered="#{cc.attrs.edmSrgKey.printIf0Flag=='Y'}"/>
                            <h:outputText value="No" rendered="#{cc.attrs.edmSrgKey.printIf0Flag=='N'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Payable on Value:</td>
                        <td>
                            <h:outputText value="Organization Payable Days" rendered="#{cc.attrs.edmSrgKey.payableOnValue=='OP'}"/>
                            <h:outputText value="Employee Payable Days" rendered="#{cc.attrs.edmSrgKey.payableOnValue=='EP'}"/>
                            <h:outputText value="Organization Working Days" rendered="#{cc.attrs.edmSrgKey.payableOnValue=='OW'}"/>
                            <h:outputText value="Employee Working Days" rendered="#{cc.attrs.edmSrgKey.payableOnValue=='EW'}"/>
                            <h:outputText value="Monthly Variable Values" rendered="#{cc.attrs.edmSrgKey.payableOnValue=='MV'}"/>
                        </td>
                        <td class="static-text-label">First Entry Flag:</td>
                        <td>
                            <h:outputText value="Manual" rendered="#{cc.attrs.edmSrgKey.firstEntryFlag=='M'}"/>
                            <h:outputText value="Automatic" rendered="#{cc.attrs.edmSrgKey.firstEntryFlag=='A'}"/>                        
                        </td>
                    </tr> 
                    <tr>
                        <td class="static-text-label">To use in Contract Type:</td>
                        <td class="static-text-detail">
                            <h:outputText value="Main" rendered="#{cc.attrs.edmSrgKey.contractTypeFlag=='M'}"/>
                            <h:outputText value="Supplement" rendered="#{cc.attrs.edmSrgKey.contractTypeFlag=='S'}"/>
                        </td>
                        <td class="static-text-label"></td>
                        <td class="static-text-detail"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </cc:implementation>
</html>

