<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">    
    <cc:interface>        
        <cc:attribute name="absSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <ui:param name="selectedApplication" value="#{cc.attrs.absSrgKey}"/>

            <table class="element-table" width="100%">
                <tbody>
                    <tr>
                        <td width="1px" class="static-text-label">Unique Srno:</td>
                        <td colspan="3" class="static-text-detail">
                            #{selectedApplication.absSrgKey}
                        </td>                                                                                               
                    </tr>
                    <tr>
                        <td width="1px" class="static-text-label">User:</td>
                        <td colspan="3" class="static-text-detail">
                            #{selectedApplication.userId.userId} - #{selectedApplication.userId.userName}
                        </td>                                                                                               
                    </tr>
                    <tr>
                        <td width="1px" class="static-text-label">From:</td>
                        <td class="static-text-detail">
                            <h:outputText value="#{selectedApplication.fromDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText>                                
                            (<h:outputText value="#{(selectedApplication.fromhalf==0)?'FULLDAY':(selectedApplication.fromhalf==1)?'FIRST HALF':(selectedApplication.fromhalf==2)?'SECOND HALF':(selectedApplication.fromhalf==3)?'BEFORE OFFICE HRS':(selectedApplication.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                        </td>                                                                                               
                        <td width="1px" class="static-text-label">To:</td>
                        <td class="static-text-detail">
                            <h:outputText value="#{selectedApplication.toDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText>                                
                            (<h:outputText value="#{(selectedApplication.tohalf==0)?'FULLDAY':(selectedApplication.tohalf==1)?'FIRST HALF':(selectedApplication.tohalf==2)?'SECOND HALF':(selectedApplication.tohalf==3)?'BEFORE OFFICE HRS':(selectedApplication.tohalf==4)?'AFTER OFFICE HRS':''}" />)
                        </td>    

                    </tr>
                    <tr>
                        <td class="static-text-label">
                            Leave/Tour/Training:
                        </td>                        
                        <td class="static-text-detail">
                            <ui:repeat value="#{selectedApplication.ftasAbsenteesDtlCollection}" rendered="#{selectedApplication.ftasAbsenteesDtlCollection.size()==1}" var="dtl">
                                #{dtl.lmSrgKey.leavecd} - #{dtl.lmSrgKey.leaveDesc}
                            </ui:repeat>
                            <h:outputText value="CLUB" rendered="#{selectedApplication.ftasAbsenteesDtlCollection.size()>1}"/>
                        </td>
                        <td class="static-text-label">
                            Days:
                        </td>                        
                        <td class="static-text-detail">
                            #{selectedApplication.days}
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Reason:</td>
                        <td class="static-text-detail" colspan="3"><h:outputText value="#{selectedApplication.reason1}" style="white-space: normal" escape="false"/></td>
                    </tr>
                     <tr>
                        <td class="static-text-label">Created By:</td>
                        <td class="static-text-detail"><h:outputText value="#{selectedApplication.createby.userId} - #{selectedApplication.createby.userName}" escape="false"/></td>
                        
                    </tr>
                    <tr>
                        <td class="static-text-label">Action By:</td>
                        <td class="static-text-detail"><h:outputText value="#{selectedApplication.actnby.userId} - #{selectedApplication.actnby.userName}" escape="false"/></td>
                        <td class="static-text-label">Application Date:</td>
                        <td class="static-text-detail"><h:outputText value="#{selectedApplication.appliDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText>
                        </td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Approve/Reject Comment:</td>
                        <td class="static-text-detail" colspan="3"><h:outputText value="#{selectedApplication.arcomment}" style="white-space: normal"/></td>
                    </tr>
                </tbody>
            </table>
            <h:panelGroup rendered="#{selectedApplication.applicationFlag=='L'}">

                <div class="component-margin">
                    <p:dataTable
                        value="#{selectedApplication.ftasAbsenteesDtlCollection}"
                        var="leave_dtl">
                        <f:facet name="header">
                            Leave Detail
                        </f:facet>
                        <p:column headerText="From">
                            <h:outputText value="#{leave_dtl.fromDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText><br/>
                            (<h:outputText value="#{(leave_dtl.fromhalf==0)?'FULLDAY':(leave_dtl.fromhalf==1)?'FIRST HALF':(leave_dtl.fromhalf==2)?'SECOND HALF':(leave_dtl.fromhalf==3)?'BEFORE OFFICE HRS':(leave_dtl.fromhalf==4)?'AFTER OFFICE HRS':''}" />)
                        </p:column>
                        <p:column headerText="To" sortBy="#{leave_dtl.toDate}">
                            <h:outputText value="#{leave_dtl.toDate}">
                                <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                            </h:outputText><br/>
                            (<h:outputText value="#{(leave_dtl.tohalf==0)?'FULLDAY':(leave_dtl.tohalf==1)?'FIRST HALF':(leave_dtl.tohalf==2)?'SECOND HALF':(leave_dtl.tohalf==3)?'BEFORE OFFICE HRS':(leave_dtl.tohalf==4)?'AFTER OFFICE HRS':''}" />)
                        </p:column>
                        <p:column headerText="Leave">                        
                            <h:panelGroup rendered="#{leave_dtl.ttrLmSrgKey==null}">                        
                                #{leave_dtl.lmSrgKey.leavecd} -#{leave_dtl.lmSrgKey.leaveDesc}                                                
                            </h:panelGroup>
                            <h:panelGroup rendered="#{leave_dtl.ttrLmSrgKey!=null and leave_dtl.childLmSrgKey!=null}">                                                    
                                #{leave_dtl.childLmSrgKey.leavecd} - #{leave_dtl.childLmSrgKey.leaveDesc}<br/>
                                (#{leave_dtl.ttrLmSrgKey.leaveDesc})                        
                            </h:panelGroup>
                            <h:panelGroup rendered="#{leave_dtl.ttrLmSrgKey!=null and leave_dtl.childLmSrgKey==null}">                        
                                #{leave_dtl.actualLmSrgKey.leavecd} - #{leave_dtl.actualLmSrgKey.leaveDesc}<br/>                            
                                (#{leave_dtl.ttrLmSrgKey.leaveDesc})                        
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Parent Leave">
                            <h:panelGroup rendered="#{leave_dtl.parentLmSrgKey!=null}">
                                #{leave_dtl.parentLmSrgKey.leavecd} - #{leave_dtl.parentLmSrgKey.leaveDesc}
                            </h:panelGroup>
                        </p:column>
                        <p:column headerText="Days" style="width:1px">
                            #{leave_dtl.days}
                        </p:column>
                        <p:column headerText="Leave Balance Laps" style="width:1px;white-space: nowrap">
                            #{leave_dtl.leaveBalLaps}
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{selectedApplication.applicationFlag=='T'}">
                <div class="component-margin">
                    <h:panelGroup id="pnl_tour_detail">
                        <p:dataTable id="tbl_tour_detail"
                                     value="#{selectedApplication.ftasTourScheduleDtlCollection}"
                                     var="tour_dtl"
                                     sortBy="#{tour_dtl.tosdSrgKey}">
                            <f:facet name="header">
                                Tour Detail
                            </f:facet>
                            <p:column headerText="From Date-Time">
                                <h:outputText value="#{tour_dtl.fromDatetime}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateTimeFormat}"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="From Place">#{tour_dtl.fromplace}</p:column>
                            <p:column headerText="To Date-Time">
                                <h:outputText value="#{tour_dtl.toDatetime}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateTimeFormat}"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="To Place">#{tour_dtl.toplace}</p:column>
                            <p:column headerText="Purpose">#{tour_dtl.purpose}</p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{selectedApplication.applicationFlag=='R'}">

z
                <div class="component-margin">
                    <h:panelGroup id="pnl_training_detail">
                        <p:dataTable id="tbl_training_detail"
                                     value="#{selectedApplication.ftasTrainingScheduleDtlCollection}"
                                     var="training"
                                     sortBy="#{training.trsdSrgKey}">
                            <f:facet name="header">
                                Training Detail
                            </f:facet>
                            <p:column headerText="From Date-Time">
                                <h:outputText value="#{training.fromDatetime}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateTimeFormat}"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="To Date-Time">
                                <h:outputText value="#{training.toDatetime}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateTimeFormat}"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Description">#{training.description}</p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </div>

            </h:panelGroup>

            <div class="component-margin">
                <h:panelGroup rendered="#{!cc.attrs.absSrgKey.ftasCancelabsCollection.isEmpty()}">

                    <p:separator/>
                    <div class="component-margin">                    
                        <span class="static-text-label" style="font-weight: bold">Cancellation Application(s):</span>
                        <br/><br/>
                        <p:dataTable value="#{cc.attrs.absSrgKey.ftasCancelabsCollection}" 
                                     var="cabs"
                                     sortBy="#{cabs.createdt}">                            
                            <p:column headerText="Application Date">
                                <h:outputText value="#{cabs.createdt}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </p:column>            
                            <p:column headerText="From">
                                <h:outputText value="#{cabs.fromDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                                <br/>
                                (<h:outputText value="Full Day" rendered="#{cabs.fromhalf=='0'}"/>
                                <h:outputText value="First Half" rendered="#{cabs.fromhalf=='1'}"/>                                
                                <h:outputText value="Second Half" rendered="#{cabs.fromhalf=='2'}"/>)
                            </p:column>
                            <p:column headerText="To">
                                <h:outputText value="#{cabs.toDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                                <br/>
                                (<h:outputText value="Full Day" rendered="#{cabs.tohalf=='0'}"/>
                                <h:outputText value="First Half" rendered="#{cabs.tohalf=='1'}"/>                                
                                <h:outputText value="Second Half" rendered="#{cabs.tohalf=='2'}"/>)
                            </p:column>

                            <p:column headerText="Reason">
                                #{cabs.reason}
                            </p:column>                        
                            <p:column headerText="Action By">
                                #{cabs.actnby.userName}
                            </p:column>        
                            <p:column headerText="Status">
                                #{cabs.aprvcomm==null?'Pending':(cabs.aprvcomm=='Y'?'Approved':'Rejected')}
                            </p:column>
                            <p:column headerText="Aprove/Reject Comment">
                                #{cabs.arcomment}
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:panelGroup>
            </div>

        </div>                
    </cc:implementation>
</html>

