<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui">    
    <cc:interface>        
        <cc:attribute name="edSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
        <cc:attribute name="edmSrgKeyTarget" required="true"/>        
        <cc:attribute name="edmSrgKeyUpdateId" required="true"/>        
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <p:panel>
                <table border="0" class="element-table" width="100%">
                    <tbody>
                        <tr>
                            <td width="1px" class="static-text-label">Rule Group:</td>
                            <td width="35%">
                                #{cc.attrs.edSrgKey.rmgmSrgKey.managGroupDesc}                        
                            </td>                                                                   
                            <td class="static-text-label" width="1px">Earn-Deduction Code:</td>
                            <td>
                                <p:commandLink value="#{cc.attrs.edSrgKey.edmSrgKey.earndednName}"
                                               process="@this"
                                               update="#{cc.attrs.edmSrgKeyUpdateId}"
                                               title="View Detail"
                                               >
                                    <f:setPropertyActionListener value="#{cc.attrs.edSrgKey.edmSrgKey}"
                                                                 target="#{cc.attrs.edmSrgKeyTarget}"/>                                    
                                </p:commandLink>
                            </td>                    
                        </tr>
                        <tr>
                            <td class="static-text-label">Formula/Amount?:</td>
                            <td>
                                <h:outputText  value="Formula" rendered="#{cc.attrs.edSrgKey.formulaAmtFlag=='F'}"/>
                                <h:outputText  value="Amount" rendered="#{cc.attrs.edSrgKey.formulaAmtFlag=='V'}"/>
                                <h:outputText  value="Block" rendered="#{cc.attrs.edSrgKey.formulaAmtFlag=='B'}"/>
                            </td>
                            <td class="static-text-label">Rule Config Unit:</td>
                            <td>
                                <h:outputText  value="Day" rendered="#{cc.attrs.edSrgKey.ruleConfigUnit=='D'}"/>
                                <h:outputText  value="Month" rendered="#{cc.attrs.edSrgKey.ruleConfigUnit=='M'}"/>
                                <h:outputText  value="Year" rendered="#{cc.attrs.edSrgKey.ruleConfigUnit=='Y'}"/>
                            </td>
                        </tr>                                                
                        <tr>
                            <td  class="static-text-label" valign="top"  style="white-space: normal">Formula/Amount Value:</td>
                            <td>
                                #{cc.attrs.edSrgKey.formulaAmtValue}
                            </td>
                        </tr>
                        <tr>
                            <td class="static-text-label">Start Date:</td>
                            <td>
                                <h:outputText value="#{cc.attrs.edSrgKey.startDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </td>
                            <td class="static-text-label">End Date:</td>
                            <td>
                                <h:outputText value="#{cc.attrs.edSrgKey.endDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </td>
                        </tr>                                                       
                        <tr>
                            <td class="static-text-label">WEF Date:</td>
                            <td>
                                <h:outputText value="#{cc.attrs.edSrgKey.wefDate}">
                                    <f:convertDateTime pattern="#{GlobalUtilities.dateFormat}"/>
                                </h:outputText>
                            </td>
                            <td class="static-text-label"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="static-text-label">Designation Dependent:</td>
                            <td>
                                <h:outputText  value="Yes" rendered="#{cc.attrs.edSrgKey.desigDependent=='Y'}"/>
                                <h:outputText  value="No" rendered="#{cc.attrs.edSrgKey.desigDependent=='N'}"/>
                            </td>
                            <td class="static-text-label">Ou Dependent:</td>
                            <td>
                                <h:outputText  value="Yes" rendered="#{cc.attrs.edSrgKey.ouDependent=='Y'}"/>
                                <h:outputText  value="No" rendered="#{cc.attrs.edSrgKey.ouDependent=='N'}"/>                                
                            </td>

                        </tr>
                        <tr>
                            <td class="static-text-label">State Dependent:</td>
                            <td>
                                <h:outputText  value="Yes" rendered="#{cc.attrs.edSrgKey.stateDependent=='Y'}"/>
                                <h:outputText  value="No" rendered="#{cc.attrs.edSrgKey.stateDependent=='N'}"/>
                            </td>
                            <td class="static-text-label">Range Dependent:</td>
                            <td>
                                <h:outputText  value="Yes" rendered="#{cc.attrs.edSrgKey.rangeDependent=='Y'}"/>
                                <h:outputText  value="No" rendered="#{cc.attrs.edSrgKey.rangeDependent=='N'}"/>
                            </td>

                        </tr>
                        <tr>
                            <td class="static-text-label">Period Dependent:</td>
                            <td>
                                <h:outputText  value="Yes" rendered="#{cc.attrs.edSrgKey.periodDependent=='Y'}"/>
                                <h:outputText  value="No" rendered="#{cc.attrs.edSrgKey.periodDependent=='N'}"/>
                            </td>
                            <td class="static-text-label"></td>
                            <td></td>                                                    
                        </tr>
                    </tbody>
                </table>
            </p:panel>
        </div>                
    </cc:implementation>
</html>

