<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">    
    <cc:interface>        
        <cc:attribute name="trannSrgKey" required="true"/>          
        <cc:attribute name="prependIdValue"/>
    </cc:interface>
    <cc:implementation>           
        <div id="#{cc.attrs.prependIdValue!=null?cc.attrs.prependIdValue:''}#{cc.id}">   
            <table border="0" width="100%" class="element-table">
                <tbody>
                    <tr>
                        <td class="static-text-label" width="20%">Announcement Type:</td>
                        <td class="static_text_detail" width="37%">#{cc.attrs.trannSrgKey.announcementType.catValueDesc}</td>
                        <td class="static-text-label" width="1" align="right" rowspan="2">Subject:</td>
                        <td class="static_text_detail" rowspan="2">#{cc.attrs.trannSrgKey.subject}</td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Category Type:</td>
                        <td class="static_text_detail">#{cc.attrs.trannSrgKey.categoryType.catValueDesc}</td>
                    </tr>
                    <tr>
                        <td class="static-text-label">Co-ordinator's Name:</td>
                        <td class="static_text_detail">#{cc.attrs.trannSrgKey.coOrdinatorSalut.catValueDesc} #{cc.attrs.trannSrgKey.coOrdinatorFName} #{cc.attrs.trannSrgKey.coOrdinatorLName}</td>
                        <td class="static-text-label" align="right">Contact:</td>
                        <td class="static_text_detail">#{cc.attrs.trannSrgKey.coOrdinatorContact}</td>
                    </tr>
                    <tr><td colspan="4"></td></tr>
                </tbody>
            </table>
            <div class="scrolling-div">
                <h:panelGroup id="pnl_addresses">
                    <table class="element-table ui-datatable clone-datatable" width="99%">
                        <tr>
                            <td></td>
                            <td class="static-text-label">Name:<label class="mandatory-text">*</label></td>
                            <td class="static-text-label">Address:<label class="mandatory-text">*</label></td>
                            <td class="static-text-label">City<label class="mandatory-text">*</label></td>
                            <td class="static-text-label">State<label class="mandatory-text">*</label></td>
                            <td class="static-text-label">Pincode</td>
                            <td class="static-text-label">Country<label class="mandatory-text">*</label></td>
                        </tr>                                                
                        <tr>
                            <td class="static-text-label">Institute:<label class="mandatory-text">*</label></td>
                            <td class="static_text_detail">#{cc.attrs.trannSrgKey.instituteName}</td>
                            <td>#{cc.attrs.trannSrgKey.instituteAddress}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.instituteCity}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.instituteState}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.institutePincode}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.instituteCountry}</td>
                        </tr>
                        <tr>
                            <td class="static-text-label">Institute Contacts:</td>
                            <td colspan="8" valign="top">#{cc.attrs.trannSrgKey.instituteContact}</td>

                        </tr>
                        <tr>
                            <td>                                                
                                <span  class="static-text-label">Venue:</span>
                            </td>
                            <td class="static_text_detail">#{cc.attrs.trannSrgKey.venueName}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.venueAddress}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.venueCity}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.venueState}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.venuePincode}</td>
                            <td valign="top">#{cc.attrs.trannSrgKey.venueCountry}</td>
                        </tr>
                        <tr>
                            <td class="static-text-label">Venue Contacts:</td>
                            <td colspan="8" valign="top">#{cc.attrs.trannSrgKey.venueContact}</td>
                        </tr>                                                
                    </table>
                </h:panelGroup>  
            </div>                         
        </div>  
        <table border="0" width="100%" class="element-table">
            <tbody>
                <tr>                    
                    <td class="static-text-label" width="20%">Objective:</td>
                    <td class="static_text_detail" width="37%">#{cc.attrs.trannSrgKey.objective}</td>
                    <td class="static-text-label" rowspan="4" colspan="2">
                        <table class="element-table" align="right">
                            <tr align="right">
                                <td class="static-text-label">Tuition Fees:</td>
                                <td class="static_text_detail">#{cc.attrs.trannSrgKey.tuitionFees}</td>                                
                            </tr>
                            <tr align="right">
                                <td class="static-text-label">Tuition Fees + Lodging Fees:</td>
                                <td class="static_text_detail">#{cc.attrs.trannSrgKey.tuitionLodgingFees}</td>
                            </tr>
                            <tr align="right">
                                <td class="static-text-label">Tuition Fees + Lodging Fees + Boarding Fees:</td>
                                <td class="static_text_detail">#{cc.attrs.trannSrgKey.tuitionLodgingBoardingFees}</td>
                            </tr>
                            <tr align="right">
                                <td class="static-text-label">Any Other Fees Description:#{cc.attrs.trannSrgKey.otherFeesDesc}</td>
                                <td class="static_text_detail">Amount:#{cc.attrs.trannSrgKey.otherFeesAmount}</td>
                            </tr>
                        </table>
                    </td>                    
                </tr>                
                <tr>
                    <td class="static-text-label">Topics Included:</td>
                    <td class="static_text_detail">#{cc.attrs.trannSrgKey.topicsIncluded}</td>
                </tr>
                <tr>
                    <td class="static-text-label">Benefits:</td>
                    <td class="static_text_detail">#{cc.attrs.trannSrgKey.benefits}</td>
                </tr>
                <tr>
                    <td class="static-text-label">Eligibility:</td>
                    <td class="static_text_detail">#{cc.attrs.trannSrgKey.eligibility}</td>
                </tr>
                <tr>
                    <td class="static-text-label"></td>
                    <td class="static_text_detail"></td>
                </tr>
            </tbody>
        </table>
        <div class="component-margin" style="margin-bottom: 15px;">
            <div style="font-weight: bolder;">Schedule Detail:</div>
            <h:panelGroup id="pnl_tbl_view_training_schedule">
                <p:dataTable id="tbl_view_training_schedule"
                             value="#{cc.attrs.trannSrgKey.ftasTrainingAnnDetailCollection}"
                             var="item_view_tr_schedule" sortBy="#{item_view_tr_schedule.tradSrgKey}">
                    <p:column headerText="From Date-Time">
                        <h:outputText  value="#{item_view_tr_schedule.fromDatetime}">
                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="To Date-Time">
                        <h:outputText  value="#{item_view_tr_schedule.toDatetime}">
                            <f:convertDateTime type="date" pattern="#{GlobalUtilities.dateTimeFormat}" timeZone="#{GlobalUtilities.india_standard_time}"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Description">#{item_view_tr_schedule.description}</p:column>
                </p:dataTable>
            </h:panelGroup>
        </div>             
    </cc:implementation>
</html>

