<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:fhrd="http://java.sun.com/jsf/composite/components">
    <body>
        <ui:composition template="../../template.xhtml">
            <ui:define name="head">
                <style type="text/css">
                    .component-width input.hasDatepicker  ,.component-width,.component-width select{
                        width:200px;
                    } 
                    .training {
                        color: #043c9b;
                    }
                    .tour {
                        color: #9b0422;
                    }
                    .leave {
                        color: #000504;
                    }
                </style>
                <script type="text/javascript">
                    //<![CDATA[  
                                
                    function openWindow(url){
                        var params  = 'width='+screen.width;
                        params += ', height='+screen.height;
                        params += ', top=0, left=0'
                        params += ', scrollbars=1';
                        window.open(url,'_blank',params)
                    } 
                    $(function() {
                        blinkeffect('#popup_blink');
                    })
                    function blinkeffect(selector) {
                        $(selector).delay(800).fadeOut('slow', function() {
                            $(this).fadeIn('slow', function() {
                                blinkeffect(this);
                            });
                        });
                    }
                    //]]>
                </script>
            </ui:define>
            <ui:define name="content">   
                <h:form id="form1" prependId="false" >
                    <p:breadCrumb styleClass="component-margin">  
                        <p:menuitem value="Home" url="#{PIS_GlobalSettings.brPis_system}" />  
                        <p:menuitem value="View" url="#{PIS_GlobalSettings.brView}" />
                        <p:menuitem value="Personnel Information system" url="#{PIS_GlobalSettings.brView_pis}" />   
                        <p:menuitem value="Resigned Employees" url="#" />  
                    </p:breadCrumb>  
                    <div align="center">
                        <div class="component-margin" align="left">
                            <h:panelGroup id="pnl_filter_tbl_emp" rendered="#{PIS_GlobalSettings.create_master_tbl_record_fhrd}">
                                <table class="element-table">
                                    <tr>
                                        <td class="entry-component-label">
                                            Verification Status:     
                                        </td>
                                        <td>
                                            <p:selectOneMenu id="ddl_status"
                                                             value="#{PIS_View_Resign_Relieve.ddl_status}"
                                                             valueChangeListener="#{PIS_View_Resign_Relieve.ddl_status_changed}"
                                                             styleClass="component-width">
                                                <f:selectItem itemValue="" itemLabel="--- All ---"/>
                                                <f:selectItem itemValue="R" itemLabel="Resigned"/>
                                                <f:selectItem itemValue="L" itemLabel="Relieved"/>                                            
                                                <p:ajax event="change"
                                                        process="ddl_status"
                                                        update="pnl_tbl_emp_info"
                                                        oncomplete="pw_tbl_emp_info.filter();return false"/>
                                            </p:selectOneMenu>

                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </h:panelGroup>
                        </div>
                        <div class="component-margin">
                            <div align="right" >
                                <p:commandButton 
                                    id="btn_refresh"
                                    value="Refresh"
                                    process="@this"
                                    update="pnl_tbl_emp_info"
                                    oncomplete="pw_tbl_emp_info.filter();return false"
                                    actionListener="#{PIS_View_Resign_Relieve.refreshTable}"
                                    />
                            </div>
                            <h:panelGroup id="pnl_tbl_emp_info">
                                <p:dataTable
                                    id="tbl_emp_info"
                                    widgetVar="pw_tbl_emp_info"
                                    value="#{PIS_View_Resign_Relieve.tbl_emp_info}"
                                    var="item"
                                    paginator="true"
                                    rows="10"
                                    filterDelay="300"
                                    paginatorPosition="top"
                                    styleClass="p-datatable-with-refresh ui-datatable-hor-scroll"
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
                                    rowsPerPageTemplate="10,15,20"                                    
                                    rowKey="#{item.userId}"
                                    filteredValue="#{PIS_View_Resign_Relieve.tbl_emp_info_filtered}">
                                    <p:ajax event="page" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="filter" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:ajax event="sort" global="false" onerror="ShowConnectionError('GeneralDialog');"/>
                                    <p:column sortBy="#{item.userId}"
                                              filterBy="#{item.userId}"
                                              filterMatchMode="contains"
                                              headerText="User Id" style="width: 10px;">
                                        #{item.userId}
                                    </p:column>
                                    <p:column sortBy="#{item.empno}"
                                              filterBy="#{item.empno}"
                                              filterMatchMode="contains"
                                              headerText="EmpNo" style="width: 10px;">
                                        #{item.empno}
                                    </p:column>
                                    <p:column sortBy="#{item.userName}" 
                                              filterBy="#{item.userName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="UserName">
                                        #{item.userName}
                                    </p:column>
                                    <p:column sortBy="#{item.userFirstName}" 
                                              filterBy="#{item.userFirstName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="FirstName">
                                        #{item.userFirstName}
                                    </p:column>
                                    <p:column sortBy="#{item.userLastName}" 
                                              filterBy="#{item.userLastName}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="LastName">
                                        #{item.userLastName}
                                    </p:column>
                                    <p:column sortBy="#{item.servicetype}"  
                                              filterBy="#{item.servicetype}"
                                              filterStyle="text-transform:uppercase"
                                              filterMatchMode="contains"
                                              headerText="Service Type">
                                        <h:outputText value="#{item.servicetype== 'O'?'Contract':''}"/>
                                        <h:outputText value="#{item.servicetype== 'P'?'Probation':''}"/>
                                        <h:outputText value="#{item.servicetype== 'R'?'Resigned':''}"/>
                                        <h:outputText value="#{item.servicetype== 'T'?'Trainee':''}"/>
                                        <h:outputText value="#{item.servicetype== 'Z'?'Retired':''}"/>
                                        <h:outputText value="#{item.servicetype== 'C'?'Confirm':''}"/>
                                        <h:outputText value="#{item.servicetype== 'D'?'Deputation':''}"/>                                        
                                    </p:column>
                                    <p:column width="1" sortBy="#{item.postingOumUnitSrno.oumUnitSrno}" 
                                              filterBy="#{item.postingOumUnitSrno.oumUnitSrno}"
                                              filterMatchMode="contains"
                                              headerText="Posting Ou">
                                        #{item.postingOumUnitSrno.oumUnitSrno}
                                    </p:column>
                                    <p:column sortBy="#{item.postingOumUnitSrno.oumName}" 
                                              filterBy="#{item.postingOumUnitSrno.oumName}"
                                              filterMatchMode="contains"
                                              headerText="Posting Ou">
                                        #{item.postingOumUnitSrno.oumName}
                                    </p:column>
                                    <p:column > 
                                        <f:facet name="header">
                                            <center>
                                                <span class="ui-icon ui-icon-search"/>
                                            </center>
                                        </f:facet>     
                                        <p:commandButton icon="ui-icon-search" 
                                                         title="View User Detail"
                                                         style="white-space:nowrap;"
                                                         process=":form1:pnl_tbl_emp_info" 
                                                         action="#{PIS_View_Resign_Relieve.returnUrlToView}">
                                            <f:setPropertyActionListener value="#{item.userId}"
                                                                         target="#{PIS_GlobalSettings.employeeForView}"/>
                                        </p:commandButton>
                                    </p:column>     
                                </p:dataTable>
                            </h:panelGroup>
                        </div>   
                        <p:growl id="growl1" showDetail="true" globalOnly="true" sticky="true"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>       
    </body>
</html>

